{% load account_tags %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% user_display request.user %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url account_settings %}"><i class="icon-user"></i> Settings</a></li>
                <li><a href="{% url tutorials %}"><i class="icon-user"></i> NRP Tutorials</a></li>
				{% if user.is_staff %}
	                <li><a href="/admin/"><i class="icon-wrench"></i> Admin</a></li>
	                <li><a href="{% url maintain_patterns %}"><i class="icon-cog"></i> Patterns</a></li>
	                <li><a href="{% url exchange_types %}"><i class="icon-cog"></i> Exchange Types</a></li>
	                
				{% endif %}

				{% if user.is_superuser %}
                    {% comment %}
	                <li><a href="{% url create_user_and_agent %}"><i class="icon-user"></i> Create Agent and User</a></li>
                    {% endcomment %}
	                <li><a href="{% url misc %}"><i class="icon-cog"></i> Miscellaneous pages</a></li>
				{% endif %}

                <li class="divider"></li>
                <li><a href="{% url account_logout %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li>
            {% if request.path = '/' %}
                <a href="{% url account_login %}">
            {% else %}
                <a href="{% url account_login %}?next={% firstof request.path '/' %}">
            {% endif %}
            Log in</a>
        </li>
        <li><a href="{% url tutorials %}"> NRP Tutorials</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li class="navbar-text">or</li>
            <li><a href="{% url account_signup %}">Sign up</a></li>
        {% endif %}
    {% endif %}
</ul>
