{% load i18n %}
{% load thumbnail %}

{% if layout.work_panel_headline %}
    {{ layout.work_panel_headline|safe|urlize|linebreaks }}
{% else %}
    <legend> Work to do </legend>
    <p style="font-style: italic;" >
        Your work will be eligible for income sharing.
    </p>
{% endif %}

<ul>
    {% for item in work_to_do %}
        <li>
            {% trans "Type of work" %}: <b>{{ item.resource_type.name }}:</b> {% trans "due" %} {{ item.due_date }}</br>
            {% if item.process %}
                <i>{% trans "Purpose:" %} {{ item.description }}</i>
                <p style="margin-left: 1em; margin-bottom: 0; font-size: 90%;">
                    <a href="{% url unfold_commitment commitment_id=item.id %}">Learn more...</a>
                </p>
                
                    {% comment %}
                    <div style="display: inline;" >
                        <a href="" role="button" class="btn btn-info" title="This button does not work yet. It will soon.">
                            {% trans "do this work?" %}
                        </a>
                    </div>                
                    <p style="margin-left: 1em; margin-bottom: 0; font-size: 90%;">
                        {% trans "for process" %}: <a href="{% url unfold process_id=item.process.id %}">{{ item.process.name }}</a>
                    </p>
                    {% endcomment %}
            {% endif %}
        </li>
    {% endfor %}
</ul>