{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "A Value Network..." %}</h1>
    <p>
        {% trans "is people creating value together, by contributing work, money and goods, and sharing the income." %} 
        <a href="http://valuenetwork.referata.com/wiki/Main_Page" target="_blank">{% trans "Learn more" %}</a>
    </p>
    <p style="margin-top: 1em;">
        {% trans "The information below is now test data. Will soon be real opportunities to join the network." %}
    </p>


{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#home').addClass('active');

	}); // end document.ready
    </script>

{% endblock %}
