{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "A Value Network..." %}</h1>
    <p>
        {% trans "is people creating value together, by contributing work, money and goods, and sharing the income." %} 
        <a href="http://valuenetwork.referata.com/wiki/Main_Page" target="_blank">{% trans "Learn more" %}</a>
    </p>


{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#home').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
        })


	}); // end document.ready
    </script>

{% endblock %}

