{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% trans "Thank you for your request to join this project" %}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" media="all">
  <link rel="stylesheet" href="{% static 'css/coop.css' %}">

</head>
<body style="background-image: url({% static 'img/photo-OCP-verd-1600x900.jpg' %}); text-align:center;">
<div class="container">
        {% include "_messages.html" %}
	<p>&nbsp;</p>
        <h2>
            {% trans "Thank you for your request to join this project!" %}
        </h2>

        <div class="row-fluid">
            <h5>{% trans "A project coordinator will send you an email soon with your OCP login credentials." %}</h5>
        </div>
	<h4><a href="https://freedomcoop.eu"><img src="{% static 'img/logoFreedomCoop_terebum4_widealpha_white--.png' %}" title="{% trans "Freedom Coop" %}"></a></h4>
</div>
</body>
</html>

