{% extends "work_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Map" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<style>

.currentLoc {
    color: firebrick;
}

</style>
{% endblock %}

{% block body_class %}map{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
    <legend>
        
        {% if agent %}
            {% if agent.primary_location %}
                {% trans "Current work location" %}: <span class="currentLoc">{{ agent.primary_location }}.</span> &nbsp;&nbsp;
                <span id="locPrompt">{% trans "To change, select a marker on the map, or add a new one." %}</span>
            {% else %}
                {% trans "Where are you working? " %} 
                <span id="locPrompt">{% trans "Select a marker on the map, or add a new one." %}</span>
            {% endif %}
            
            <form id="locationForm" method="POST" action="{% url add_location_to_worker agent_id=agent.id %}">
                 {% csrf_token %}
                
                <span id="newLoc">
                    <input type="text" id="address" name="address" value="new location" />
                    </span>
                <span id="addToLoc"></span>
            
                <input type="hidden" id="agentLatitude" name="agentLatitude" value="" />
                <input type="hidden" id="agentLongitude" name="agentLongitude" value="" />
                <span id="buttons">
                    <input type="submit" name="save" value="{% trans 'Save new work location' %}" class="btn btn-primary" />
                    <button class="btn btn-warning" id="cancel">{% trans "Cancel" %}</button>
                </span>
            
            </form>
            
            <span id="mapError" style="font-size: 70%;" ></span>
            
        {% else %}
            {% trans "Map" %}
        {% endif %}
    </legend>

    <div class="row-fluid">
        <div class="span12">
            <div id="mapDiv" style="width: 98%; height: 600px"></div>
        </div>
        
        
        
    
	</div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
   
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>

{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){
	
        $("#buttons").hide();
	
        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        L.mapbox.accessToken = 'pk.eyJ1IjoiYmhhdWdlbiIsImEiOiIxMjdjMTUzNjNmOWIzNmEwMGUzZjgxYjg4NzZmZTZiYiJ9.2vafy9xqJJRFUGg_O6tAOg';

        var map = L.map('mapDiv')
            .setView([{{ latitude }},{{ longitude }}], {{ zoom }})
            //.addControl(L.mapbox.geocoderControl('mapbox.places'))
            ;
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'bhaugen.3f30d361',
            accessToken: 'pk.eyJ1IjoiYmhhdWdlbiIsImEiOiIxMjdjMTUzNjNmOWIzNmEwMGUzZjgxYjg4NzZmZTZiYiJ9.2vafy9xqJJRFUGg_O6tAOg'
        }).addTo(map);
        
        var geocoder = L.mapbox.geocoder('mapbox.places');

        $("#address").focus(clearHint);
        
        function clearHint(event) {
            var target = event.target;
            if (target.value == "new location") {
                target.value = "";
            }
        }
        
        
        $("#address").blur(geocodeAddress);
        
        $('#address').on('keypress', function(e) {
            var keyCode =  e.which;
            if (keyCode == 13){
                e.preventDefault();
                $('#address').trigger( "blur" );
                return false;
            }
        });
        
        var agentAddress = "{{ agent.address }}";
        if (agentAddress) 
        {
            geocoder.query(agentAddress, showMap);
        }

        function geocodeAddress(event) {
            var address = event.target.value;
            
            geocoder.query(address, showMap);
        }
        
        function showMap(err, data) {
            // The geocoder can return an area, like a city, or a
            // point, like an address. Here we handle both cases,
            // by fitting the map bounds to an area or zooming to a point.
            if (!data.latlng){
                $("#mapError").css("color","red"); 
                $("#mapError").text("Can't find address");
            }
            else
            {
                
                if (data.latlng) {
                    map.setView([data.latlng[0], data.latlng[1]], {{ zoom }});
                    var content = "<h2>" + $("#address").val() + "</h2>";
                    var marker = L.marker(data.latlng)
                        .addTo(map).bindPopup(content)
                        .on('popupopen', showUrls)
                        .on('popupclose', hideUrls);
                    
                    $("#agentLatitude").val(data.latlng[0]);
                    $("#agentLongitude").val(data.latlng[1]);
                    $("#mapError").css("color","green"); 
                    $("#mapError").text("");
                    
                    $("#locPrompt").hide();
                    $("#buttons").show();
                }

            }
        }

        
        $("#agents").hide();
        $("#resources").hide();

        {% for loc in locations %}
            {% if loc.latitude and loc.longitude %}
                var locName = "{{ loc.name|safe }}";
                var locAddress = "{{ loc.address }}";
                var agents = [];
                var agentString = ""
                {% for agnt in loc.agents %}
                    agents.push("{{ agnt.name }}");
                    agentString += "{{ agnt.nick }}" + ", ";
                {% endfor %}
                var end = agentString.lastIndexOf(",");
                agentString = agentString.substring(0, end);
                var latlong = [ {{ loc.latitude }}, {{ loc.longitude }}];
                
                var content = "<h2>" + locName+ "</h2><p>" + locAddress + "</p>";
                if (agentString){
                    content += "Working here: " + agentString;
                }

                var marker = L.marker(latlong, {title: locName })
                    .addTo(map).bindPopup(content)
                    .on('popupopen', showUrls)
                    .on('popupclose', hideUrls);
                {% if agent %}
                    marker.addAgentUrl = "{% url add_worker_to_location location_id=loc.id agent_id=agent.id %}";
                {% endif %}
                marker.name = locName;
                marker.agents = agents;
                marker.resources = [];
                {% for res in loc.resources %}
                    marker.resources.push("{{ res }}");
                {% endfor %}
            {% endif %}
        {% endfor %}
        
        function showUrls(event) {
            var target = event.target;
            var location_id = target.location_id
            {% if agent %}
                var addAnchor = '&nbsp;&nbsp;&nbsp;<a href="' + target.addAgentUrl + '" >Add me, ' + '{{ agent.nick }}' +  ', to this Location</a>';
            {% endif %}
            
            $("#locPrompt").hide();
            $("#newLoc").hide();
            $("#buttons").hide();
            $("#addToLoc").empty();
            $("#addToLoc").append(addAnchor);
            $("#addToLoc").show();

        }
        
        $("#cancel").click(function(event) {
            event.preventDefault();
            location.reload();
        });
        
        function hideUrls(event) {
            $("#addToLoc").hide();
            $("#buttons").hide();
            $("#locPrompt").show();
            $("#newLoc").show();
        }
        
	}); // end document.ready

     
    </script>
/*
{% endblock %}
