{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">

<link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
<link href="{% static "css/buttons.css" %}" rel="stylesheet">

<style>

.errorlist {
    color: red;
    list-style-type: none;
}

</style>
<title>{% trans "Request membership in Freedom Coop" %}</title>

<div class="container">

        <h1>
            {% trans "Request membership in Freedom Coop" %}
        </h1>

        <div>
        
            <div>
                <form id="membershipForm" class="validateMe" action="." method="POST" >
                    {% csrf_token %}
                    {{ membership_form|as_bootstrap }}
                    <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" /> 
                </form>
            </div>
        </div>
</div>

</html>