{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load comments %}

{% block head_title %}{% trans "Freedom Coop Membership Request for " %} {{ mbr_req.name }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.heading {
    margin: 1em .5em 0 .5em;
    color: firebrick;
    font-size: 1.5em;
    font-weight: bold;
}
.showhide {
    font-size: .6em;
    color: gray;
    margin-left: 4px;
}

.showhide:hover {
    cursor: pointer;
}

.agents li {
    margin-left: 3em;
}
.btn {
    margin-left: 2em;
}
.modal {
    width: 600px;
}
th
{
    background-color:#C8D6E8;
}
#id_honeypot{display:none;}
</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
    <div>
        <legend>
            {% trans "Freedom Coop membership request for " %} {{ mbr_req.name }}
        </legend>

      <div id="member-request-block">
        {% with mbr_req as req %}
        <table style="/*display:block; max-width:1024px; width:100%;*/" class="table table-bordered table-hover table-condensed" >
          <tbody style="display:block;">
            <tr>
                <th>{% trans "Date" %}:</th>
                <td>{{ req.request_date }}</td>
            </tr>
            <tr>
                <th>{% trans "Name" %}:</th>
                <td>{{ req.name }} {{ req.surname }}  </td>
            </tr>
            <tr>
                <th style="display:block; width:180px;">{% trans "Requested username" %}:</th>
                <td>{{ req.requested_username }}</td>
            </tr>
            <tr>
                <th>{% trans "Type" %}:</th>
                <td>{{ req.type_of_membership }}</td>
            </tr>
            <tr>
                <th>{% trans "Shares" %}:</th>
                <td>{{ req.number_of_shares }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}:</th>
                <td>{{ req.email_address }}</td>
            </tr>
            <tr>
                <th>{% trans "Phone" %}:</th>
                <td>{{ req.phone_number }}</td>
            </tr>
            <tr>
                <th>{% trans "Address" %}:</th>
                <td style="/*display: block;  width: 100%;*/">{{ req.address }}</td>
            </tr>
            <tr>
                <th>{% trans "Website" %}:</th>
                <td>{{ req.website }}</td>
            </tr>
            <tr>
                <th>{% trans "Languages" %}:</th>
                <td>{{ req.native_language }}</td>
            </tr>
            <tr>
                <th>{% trans "FairNetwork" %}:</th>
                <td>{{ req.fairnetwork }}</td>
            </tr>
            <tr>
                <th>{% trans "UseFaircoin" %}:</th>
                <td>{{ req.usefaircoin }}</td>
            </tr>
            <tr>
                <th>{% trans "FairMarket" %}:</th>
                <td>{{ req.fairmarket }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}:</th>
                <td style="/*display:block;*/">{{ req.description }}</td>
            </tr>
            <tr>
                <th>{% trans "References" %}:</th>
                <td>{{ req.known_member }}</td>
            </tr>
                <th>{% trans "Other comments" %}:</th>
                <td>{{ req.comments_and_questions }}</td>
            </tr>
          </tbody>
        </table>
        {% endwith %}
      </div>

    <p>&nbsp;</p>

    <div id="member-request-comments">
      <legend>
          {% trans "Comments about the membership of " %} {{ mbr_req.name }}
      </legend>

      {% get_comment_count for mbr_req as num_comm  %}
      {% if num_comm > 0 %}
        <div class="row-fluid">
          {% trans "You have " %} {{ num_comm }} {% trans " comments:" %}
          {% render_comment_list for mbr_req %}
        </div>
      {% endif %}
      <div class="row-fluid">
        {% trans "Write a new comment:" %}
        {% get_comment_form for mbr_req as form %}
        <form action="{% comment_form_target %}" method="POST">
          {% csrf_token %}
          {{ form.comment }}
          <br />
          {{ form.honeypot }}
          {{ form.content_type }}
          {{ form.object_pk }}
          {{ form.timestamp }}
          {{ form.security_hash }}
          <input type="hidden" name="next" value="{% url 'membership_discussion' mbr_req.id %}" />
          <input type="submit" class="btn btn-primary" value="Add comment" id="id_submit" />
        </form>
      </div>
    </div>

    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){


    }); // end document.ready

    </script>
{% endblock %}
