{% load i18n %}
{% load bootstrap_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">

<title>{% trans "Thank you for your membership request" %}</title>

<div class="container">
        {% include "_messages.html" %}

        <legend>
            {% trans "Thank you for your membership request" %}
        </legend>

        <div class="row-fluid">
            {% trans "A Freedom Coop administrator will send you an email soon." %}
        </div>
</div>

</html>