{% extends "work_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}
{% load staticfiles %}

{% block head_title %}{% trans "Profile" %}: {{ agent.name }}{% endblock %}

{% block extra_head %}

<style>

.btn-info {
    margin-left: 10px;
}
.btn {
    margin-top: 1px;
    margin-bottom: 1px;
}
#id_notes {
  width: 500px;
  height: 100px;
}
.modal {
    width: 600px;
}
.text-center {
    text-align: center;
}
.assoc {
    margin-top: 1em;
}
.assoc li {
    margin-left: 3em;
}
.indent {
    margin-left: .9em;
}
.down {
    margin-top: 10px;
}
h3 {
    /*color: firebrick;*/
    margin-bottom: 5px;
}
ul {
    list-style-type: none;
}
label {
    display: inline;
}

.share-explanation {
    margin-bottom: 1em;
    color: green;
    font-weight: bold;
    border: 2px solid green;
    padding: 4px;

}
.pay_for_shares {
    margin: 2px;
}

</style>


{% endblock %}

{% block body_class %}profile{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

        <legend>
            {% trans "Profile for " %} {{ agent.name }}

        </legend>

        <div class="row-fluid">

            <div class="span4">
                <h3>{% trans "Personal Information" %}
                    {% if agent and change_form %}
                        <a href="#agentChangeForm" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Change" %}</a>
                    {% endif %}
                </h3>

                {% if agent and change_form %}
                    <div class="modal hide fade" id="agentChangeForm" tabindex="-1" role="dialog" aria-labelledby="agent-change-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="agent-change-label">{% trans "Change" %} {{ agent.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <form id="agentForm" class="validateMe" enctype="multipart/form-data" action="{% url "change_personal_info" agent_id=agent.id %}" method="POST" >
                                {% csrf_token %}
                                {{ change_form|as_bootstrap }}

                                <div class="modal-footer">
                                <button class="btn cancel" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <table class="table table-bordered" >
                    <tr>
                        <th style="text-align: right;">{% trans "Identifier" %}</th>
                        <td>{{ agent.nick }}</td>
                    </tr>
                    {% if agent.username %}
                        <tr>
                            <th style="text-align: right;">{% trans "Username" %}</th>
                            <td>{{ agent.username }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: right;">{% trans "Name" %}</th>
                        <td>{{ agent.name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Type" %}</th>
                        <td>{{ agent.agent_type.name }}</td>
                    </tr>
                    {% if faircoin_account %}
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "FairCoin account" %}</th>
                            <td>
                                <a href="{% url "manage_faircoin_account" resource_id=faircoin_account.id %}">{% trans "Manage Account" %}</a></br>
                                {% trans "Balance" %}: {{ balance }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if agent.unit_of_claim_value %}
                        <tr>
                            <th style="text-align: right;">{% trans "Unit of claim value" %}</th>
                            <td>{{ agent.unit_of_claim_value }}</td>
                        </tr>
                    {% endif %}
                    {% if agent.url %}
                        <tr>
                            <th style="text-align: right;">{% trans "URL" %}</th>
                            <td><a href="{{ agent.url }}">{% trans "Open" %}</a></td>
                        </tr>
                    {% endif %}
                    {% if agent %}
                        {% if agent.email %}
                            <tr>
                                <th style="text-align: right; vertical-align: top; ">{% trans "Email" %}</th>
                                <td>{{ agent.email }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Work Location" %}</th>
                            <td>
                                {% if agent.primary_location %}
                                    {{ agent.primary_location.address }}
                                {% else %}
                                    <a href="{% url "map" %}">{% trans "Add on map" %}</a>
                                {% endif %}
                            </td>
                        </tr>

                    {% endif %}
                    {% if agent.description %}
                        <tr>
                            <th style="text-align: right;">{% trans "More about me" %}</th>
                            <td>{{ agent.description|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}

{% comment %}
                    {% if agent.reputation %}
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Reputation" %}</th>
                            <td>{{ agent.reputation }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: right;">{% trans "Record created date" %}</th>
                        <td>{{ agent.created_date }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Record created by" %}</th>
                        <td>{{ agent.created_by }}</td>
                    </tr>
{% endcomment %}

                </table>

            </div>

            <div class="span4">
                <form class="register" name="register" enctype="multipart/form-data" action="{% url "update_skills" agent_id=agent.id %}" method="POST" >
                    <h3>{% trans "Registered Skills" %}
                        {% if agent %}
                            <button class="btn btn-primary indent">{% trans "Save" %}</button>
                        {% endif %}
                    </h3>
                    {% csrf_token %}
                    <ul>
                    {% for skill in skills %}
                        <li><input type="checkbox" name="skillChoice" value="{{ skill.id }}" {% if skill.checked %} checked="checked" {% endif %} /> {{ skill }}</li>
                    {% endfor %}
                        <li> {{ other_form|as_bootstrap }} </li>
                    </ul>
                </form>
                {% if suggestions %}
                    <h4>{% trans "You previously suggested" %}:</h4>
                    <ul>
                        {% for suggestion in suggestions %}
                            <li>{{ suggestion }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="span4">

                <h3>{% trans "Picture" %}
                    {% if agent %}
                        <a href="#uploadPicture" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Upload" %}</a>
                    {% endif %}
                </h3>

                {% if agent %}
                    <div class="modal hide fade" id="uploadPicture" tabindex="-1" role="dialog" aria-labelledby="upload-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="upload-label">{% trans "Upload Picture for " %} {{ agent.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <form enctype="multipart/form-data" action="{% url "upload_picture" agent_id=agent.id %}" method="POST" >
                                {% csrf_token %}
                                {{ upload_form|as_bootstrap }}

                                <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Upload" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>

                {% endif %}

                {% if agent.photo %}
                    <img src="{% thumbnail agent.photo photo_size %}" />
                {% elif agent.photo_url %}
                    <img src="{{ agent.photo_url }}" width="128" height="96" />
                {% endif %}



                <div class="assoc">
                    <h4 class="hdg"> {{ agent.name }} {% trans "is associated with " %}: </h4>
                    <ul>
                    {% for assoc in is_associated_with  %}
                        {% ifchanged assoc.association_type %}
                            <h4> {{ assoc.association_type.label }}: </h4>
                        {% endifchanged %}
                        {% comment %}
                        <li><a href="{{ assoc.has_associate.get_absolute_url }}">{{ assoc.has_associate.name }}</a>
                        {% endcomment %}
                        <li>{{ assoc.has_associate.name }}
                            {% if assoc.state == "potential" %} ({{ assoc.get_state_display }}) {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% if has_associations %}
                        <h4 class="hdg">{{ agent.name }} {% trans "has these associates " %}: </h4>
                        <ul>
                        {% for assoc in has_associations %}
                            {% ifchanged assoc.association_type %}
                                <h4>{{ assoc.association_type.inverse_label }}: </h4>
                            {% endifchanged %}
                            {% comment %}
                            <li><a href="{{ assoc.is_associate.get_absolute_url }}">{{ assoc.is_associate.name }}</a></li>
                            {% endcomment %}
                            <li>{{ assoc.is_associate.name }}</li>
                        {% endfor %}
                        </ul>

                </div>
                {% endif %}

            </div>


        </div>

    </div>

{% endblock %}

{% block extra_script %}
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}


{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

        $('#projects').addClass('active');

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $('td.td-role > select').addClass('select-role');
        $('td.td-agent > select').addClass('select-agent');

        $.validator.addMethod("agentRequired", function (value, element) {
            alert("value " + value + " element " + element);
            //agent = element.closest(".select-agent");
            //alert("agent " + agent);

            return true;
        }, "Both role and agent must be entered.");

        $.validator.addClassRules("select-role", { agentRequired: true });
        $.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("email", { email: true });

        jQuery.validator.setDefaults({
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });

        $('.validateMe').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });


    }); // end document.ready



    </script>

{% endblock %}
