*.pyc
local_settings.py
*.sqlite
*.py~
*.*~
*.html~
*~
*.swp
*.swo
*.log
faircoins.log.*
.vagrant
bin/
cmd/create-user.sh
include/
lib/
media/logos/*.jpg
media/avatars/*.jpg
media/logos/*.png
media/avatars/*.png
django_rea/site_media/media/photos/*.jpg
django_rea/site_media/media/photos/*.png
faircoin_nrp/daemon/daemon.conf
faircoin_nrp/daemon/daemon.py
faircoin_nrp/daemon/daemon_service
docs/build