{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log Equipment Use" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

#id_notes
{
  width: 32em;
}


</style>
{% endblock %}

{% block body_base %}
<div class="container">
    {% include "_messages.html" %}
    <div>
        <legend>{% trans "Log Equipment Use" %}</legend>
{% comment %}
        <form id="equipForm" method="POST" action="">
            {% csrf_token %}
            <div class="span12">
                {{ equip_form|as_bootstrap }}
                <div class="form-actions">
                    <input type="submit" name="save" value="{% trans 'Save and go to step 2' %}" class="btn btn-primary" /> 
                </div>
            </div>
            <input type="hidden" id="use-case" name="next" value= "{{ use_case.identifier }}" />
        </div>
        </form>
{% endcomment %}
    </div>
</div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){
    
        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });

        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });

        $( "#equipForm" ).validate({
            rules: {
                url: {
                    url: true
                },
                process_pattern: {
                    required: true
                },
                start_date: {
                    required: true,
                    date: true
                },
            },
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');
            },
        });

    }); // end document.ready
    
 {% endblock %}
