{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<title>{% trans "Log Equipment Use" %}</title>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href="{% static "css/buttons.css" %}" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<style>

.title {
    font-size: 1.9em;
    font-weight: bold;
    color: #669999;
    margin-bottom: 5px;
    margin-top: 10px;
}
.eform {
    border: solid 1px lightgray;
    padding: 15px;
}
td {
    padding-left:5px;
}
input-small {
    width: 6em;
}
.notes {
    font-style: italic;
    padding: 0;
    margin: 0 0 4px 0;
}
.lbl {
    margin-top: 5px;
    font-weight: bold;
}
.quantity {
    width: 6em;
}
.date-entry {
    width: 10em;
}
.inline {
    display: inline;
    margin-bottom: 3px;
}
.form-group {
    margin-bottom: 7px;
}
label {
    margin-bottom: 2px;
}
body {
    font-size: 13px;
}

</style>

</head>

<body>

    <div class="container-fluid">
        {% include "_messages.html" %}
        <div class="row">
          <div class="col-xs-12">
            <div class="title">{% trans "Log Use of " %} {{ equipment.identifier }}</div>
            <div class="notes">Access rules: {{ equipment.access_rules }}</div>
            <form class="validateMe" id="equipForm" method="POST" action="">
                {% csrf_token %}
                <div class="eform">
                    {% if scenario == '2' %}
                        <div class="form-group">
                            <label for="id_process">What project process will this be used in?</label>
                            {{ process_form.process }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="id_from_agent">Who is paying</label>
                        {{ equip_form.from_agent }}
                    </div>
                    <div class="form-group">
                        <label for="id_event_date">Date of use</label>
                        {{ equip_form.event_date }}
                    </div>
                    <div class="form-group">
                        <label for="id_quantity">Equipment hours used</label>
                        {{ equip_form.quantity }}
                    </div>
                    <div class="form-group">
                        <label for="id_quantity">Technician (if applicable)</label>
                        {{ equip_form.technician }}
                    </div>  <div class="form-group">
                        <label for="id_quantity">Technician hours spent</label>
                        {{ equip_form.technician_hours }}
                    </div>
                    <p class="lbl">Consumed</p>
                    <table>
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        <tr>
                            <td>{{ form.resource_id }}</td>
                            <td>{{ form.identifier }}</td>
                            <td>{{ form.quantity }} {{ consumable_rt.unit.abbrev }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <input type='hidden' id='submitted' name='submitted' value='' />
                    <input type="submit" name="save" id="submitButton" value="{% trans 'Save and Continue' %}" class="btn btn-primary" /> 
                </div>
            </div>
            </form>
          </div>
        </div>
    </div>
    
</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script src="{% static 'js/chosen.jquery.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
    
        var submitted = $("#submitted").val();
        if (submitted)
        {
            disableSubmit();
        }

        $(".chzn-select").chosen();

        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });
        
        jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 1000000 with no more than 2 decimal places"
        );
        /*

        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });
        */
        $.validator.addClassRules("quantity", { required: true, quantity: true, });
        $.validator.addClassRules("date-entry", { required: true, date: true });

        $('.validateMe').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });
        
        $("#equipForm").submit(function(event) {
 
            event.preventDefault();
            $("#submitted").val("true");
            disableSubmit();
            this.submit();
            
        });

    }); // end document.ready
    
    function disableSubmit()
    {
        $("#submitButton").attr("disabled", "disabled");
    }

</script>

</html>
