{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<title>{% trans "Log Additional Inputs" %}</title>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
<link href="{% static "css/buttons.css" %}" rel="stylesheet">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.title {
    font-size: 1.9em;
    font-weight: bold;
    color: #669999;
    margin-bottom: 5px;
    margin-top: 10px;
}
.eform {
    border: solid 1px lightgray;
    padding: 8px;
}
input-small {
    width: 6em;
}
.notes {
    font-style: italic;
    padding: 0;
    margin: 0 0 4px 0;
}
.section {
    border: solid 1px gainsboro;
    background-color: beige;
    margin-bottom: 10px;
    padding: 7px;
}
.done {
    border: solid 2px #8A8A5C;
    padding: 3px;
    color: #8A8A5C;
    font-weight: bold;
}

</style>

</head>

<body>

    <div class="container">
        {% include "_messages.html" %}
        <div>
            <div class="title">{% trans "Log More Inputs" %}</div>
            <div class="notes">Process: {{ process }}</div>
            {% if done %}
                <div class="done">
                    <h4>Process input events</h4>
                    <ul>
                    {% for event in process.incoming_events %}
                        <li>{{ event }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <form class="validateMe" id="moreForm" method="POST" action="">
                    {% csrf_token %}
                    <div class="eform">
                        <div class="section">
                            Design to cite<br />
                            {{ cite_form.resource }}<br />
                            Allocate for citation<br />
                            {{ cite_form.quantity }} {{ cite_unit }}<br />
                            <input type="submit" name="cite" value="{% trans 'Save Citation' %}" class="btn btn-primary" /> 
                        </div>
                        <div class="section">
                            Type of work<br />
                            {{ work_form.resource_type }}<br />
                            Who worked<br />
                            {{ work_form.from_agent }}<br />
                            Hours worked<br />
                            {{ work_form.quantity }}<br />
                            <input type="submit" name="work" value="{% trans 'Save Work' %}" class="btn btn-primary" />
                        </div>
                        <input type="submit" name="done" value="{% trans 'Done' %}" class="btn btn-info" />
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    
</body>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script src="{% static 'js/chosen.jquery.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function(){

        $(".chzn-select").chosen();
        
        jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,2}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 100 with no more than 2 decimal places"
        );
        /*

        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });
        */
        $.validator.addClassRules("quantity", { required: true, quantity: true, });

        $('.validateMe').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

    }); // end document.ready

</script>

</html>
