

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}

<style>

body {
    font-family: Arial, sans-serif;
    width: 600px;
    margin: 0 auto;
}

.btn {
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: bold;
}

.log {
    padding: 0;

}
legend {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 15px;
}

</style>

{% endblock %}

{% block body %}
    <div class="row">
        <legend>{% trans "Log in to the OCP" %}</legend>
        <div class="log">
            <form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-actions">
                    <a href="{% url "account_password_reset" %}" class="btn">{% trans "Forgot your password?" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                </div>
            </form>
        </div>
        <div class="span4">
            {% include "account/_login_sidebar.html" %}
        </div>
    </div>
{% endblock %}