{% load account_tags %}
{% load i18n %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if request.user.agent.agent.name %}
                {{ request.user.agent.agent.name }}
              {% else %}
                {% user_display request.user %}
              {% endif %}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {% if user.is_staff or user.is_superuser %}
                    <li><a href="{% url "start" %}"><i class="icon-wrench"></i> {% trans 'Coop Admin App' %}</a></li>
                    <li class="divider"></li>
                {% endif %}

                {% if request.user.agent.agent.faircoin_resource %}
                    <li id="my-wallet" >
                      <a href="{% url "manage_faircoin_account" resource_id=request.user.agent.agent.faircoin_resource.id %}"
                      title="{% trans 'Your personal faircoin account in OCP' %}"
                      ><i class="icon-tasks"></i> {% trans 'Faircoin Account' %}</a>
                    </li>
                {% endif %}


                <li id="my-profile" >
                      <a href="{% url 'profile' %}"
                      title="{% trans 'Your profile information and skills' %}"
                      ><i class="icon-user"></i> {% trans 'Profile' %}</a>
                </li>
                
                <li id="new-features">
                    <a href="{% url 'new_features' %}"
                      title="{% trans 'New OCP Features' %}"
                      ><i class="icon-star"></i> {% trans 'New Features' %}</a>
                </li>

                <li><a href="{% url "work_account_settings" %}"><i class="icon-cog"></i> {% trans "Settings" %}</a></li>

                {% with request.user.agent.agent.membership_request.id as id %}
                   {% if id %}
                      <li id="membership" >
                        <a href="{% url 'membership_discussion' membership_request_id=id %}"
                        title="{% trans 'Your coop feedback page' %}"
                        ><i class="icon-time"></i>
                          {% if request.user.agent.agent.is_active_freedom_coop_member %}
                            {% trans "Coop Feedback" %}
                          {% else %}
                            {% trans 'Membership' %}
                          {% endif %}
                        </a>
                      </li>
                   {% endif %}
                {% endwith %}

                <li class="divider"></li>
                <li><a href="{% url "account_logout" %}?next={% firstof request.path '/' %}"><i class="icon-off"></i> {% trans 'Log Out' %}</a></li>
            </ul>
        </li>
    {% else %}
        <li>
            {% if request.path == '/' %}
                <a href="{% url "account_login" %}">
            {% else %}
                <a href="{% url "account_login" %}?next={% firstof request.path '/' %}">
            {% endif %}
            Log in</a>
        </li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li class="navbar-text">{% trans 'or' %}</li>
            <li><a href="{% url "account_signup" %}">{% trans 'Sign up' %}</a></li>
        {% endif %}
    {% endif %}
</ul>
