{% load i18n %}
{% load bootstrap_tags %}

<span class="prefix process-prefix">{% trans "Process" %}:</span> <a href="{{ process.get_absolute_url }}">{{ process }}</a>
<ul>
    {% if process.independent_demand %}
        {% if process.independent_demand.order_type != 'holder' %}
            <li class="for" >
                <span class="prefix for-prefix">{% trans "For" %}:</span> {{ process.independent_demand }}
            </li>
        {% endif %}
    {% endif %}
    
    {% if process.outgoing_commitments %}
        <li class="section deliverables-section">{% trans "Deliverables" %}:</li>
        <ul>
		    {% for item in process.outgoing_commitments %}	
			    <li class="deliverable" >
				    <span class="name deliverable-name">{{ item.resource_type.name }}:</span> {{ item.quantity }} {{ item.unit_of_quantity }}
			    </li>
			    {% if item.fulfilling_events %}
			        <ul>
				        {% for event in item.fulfilling_events %}
					        <li class="subline" >
						        <span class="prefix created-prefix">{% trans "Created" %}:</span> 
						        <a href="{% url resource resource_id=event.resource.id %}">{{ event.resource_type.name }} {{ event.resource.label }}</a>
						        {{ event.quantity }} {{ event.unit_of_quantity }}
					        </li>
				        {% endfor %}
				    </ul>
			    {% endif %}
			    {% if item.resource_type.wanting_commitments %}
			        <ul>
				        {% for wanter in item.resource_type.wanting_commitments %}
					        <li class="subline" >
						        <span class="prefix created-prefix">{% trans "Wanted by" %}:</span> 
						        <a href="{{ wanter.process.get_absolute_url }}">{{ wanter.process.name }}</a> 
						        {{ wanter.quantity }} {{ wanter.unit_of_quantity }} {{ wanter.due_date }} 
					        </li>
				        {% endfor %}
				    </ul>
			    {% endif %}
			{% endfor %}
		</ul>
	{% endif %}

    {% if process.unfinished_work_requirements %}
        <li class="section work-section">{% trans "Work requirements" %}:</li>
		<ul>
			{% for item in process.unfinished_work_requirements %}
				<li class="work">
					<span class="name deliverable-name">{{ item.resource_type.name }}:</span> {{ item.quantity }} {{ item.unit_of_quantity }}
					
					{% if item.from_agent %}
					    <span class="taken">{% trans "Taken by" %} {{ item.from_agent.nick }}</span>
					{% else %}
					     <span class="due">{% trans "due" %} {{ item.due_date }}</span>
					    {% if agent %}
						    <div style="display: inline;" >
							    <a href="#commitmentForm{{ item.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
								    {% trans "Take this task" %}
							    </a>
						    </div>

						    <div class="modal hide fade commitmentForm" id="commitmentForm{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								    <h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
							    </div>
							    <div class="modal-body">

								    <form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
									    {% csrf_token %}
									    {{ item.commitment_form|as_bootstrap }}
									    <input type="hidden" name="next" value="{% url work %}" />
								      <div class="modal-footer">
									    <input type="cancel" class="btn" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
									    <input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
									    <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
								      </div>
								    </form>
						      </div>

						    </div>

					    {% endif %}
					    {% if item.description %}
						    <ul>
	                            <li class="work-description">{{ item.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                            </ul>
                        {% endif %}
					{% endif %}

				</li>

			{% endfor %}
		</ul>
    {% endif %}
    
    {% if process.material_requirements %}
        <li class="section materials-section" >{% trans "Material requirements" %}:</li>
        <ul>
		    {% for reqmt in process.material_requirements %}	
			    <li class="material" >
				    <span class="name material-name">{{ reqmt.resource_type.name }}:</span>  {{ reqmt.quantity }} {{ reqmt.unit_of_quantity }}
			    </li>
			    {% if reqmt.resource_type.onhand %}
			        <ul>
				        {% for resource in reqmt.resource_type.onhand %}
					        <li class="subline" >
						        <span class="prefix onhand-prefix">{% trans "Onhand" %}:</span> 
						        <a href="{% url resource resource_id=resource.id %}">{{ resource.resource_type.name }} {{ resource.label }}</a> 
						        {{ resource.quantity }} {{ resource.unit_of_quantity }}
					        </li>
				        {% endfor %}
				    </ul>
			    {% elif reqmt.resource_type.producing_commitments %}
			        <ul>
				        {% for ct in reqmt.resource_type.producing_commitments %}
					        <li class="subline" >
						        <span class="prefix scheduled-prefix">{% trans "Scheduled" %}:</span> 
						        <a href="{{ ct.process.get_absolute_url }}">{{ ct.quantity }} {{ ct.unit_of_quantity }}</a> <span class="due">{{ ct.due_date }}</span>
					        </li>
				        {% endfor %}
				    </ul>
			    {% elif reqmt.resource_type.producing_agent_relationships %}
			        <ul>
				        {% for source in reqmt.resource_type.producing_agent_relationships %}
					        <li class="subline" >
						        <span class="prefix source-prefix">{% trans "Possible source" %}:</span> {{ source.agent.name }} 
						        {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
					        </li>
				        {% endfor %}
				    </ul>
			    {% endif %}
		    {% endfor %}
		</ul>
	{% endif %}

	{% if process.tool_requirements %}	
		<li class="section tools-section" >{% trans "Tool Requirements" %}:</li>
		<ul>
		    {% for reqmt in process.tool_requirements %}	
			    <li class="subline" >

				    <span class="name tool-name">{{ reqmt.resource_type.name }}:</span> {{ reqmt.quantity }}{{ reqmt.unit_of_quantity }}
			    </li>
			    {% if reqmt.resource_type.onhand %}
		            <ul>
			            {% for resource in reqmt.resource_type.onhand %}
				            <li class="subline" >
					            <span class="prefix onhand-prefix">{% trans "Onhand" %}:</span> 
					            <a href="{% url resource resource_id=resource.id %}">{{ resource.resource_type.name }} {{ resource.label }}</a> 
					            {{ resource.quantity }} {{ resource.unit_of_quantity }}
				            </li>
			            {% endfor %}
			        </ul>
		        {% elif reqmt.resource_type.producing_commitments %}
		            <ul>
			            {% for ct in reqmt.resource_type.producing_commitments %}
				            <li class="subline" >
					            <span class="prefix scheduled-prefix">{% trans "Scheduled" %}:</span> 
					            {{ ct.quantity }} {{ ct.unit_of_quantity }} <span class="due">{{ ct.due_date }}</span> 
				            </li>
			            {% endfor %}
			        </ul>
		        {% elif reqmt.resource_type.producing_agent_relationships %}
		            <ul>
			            {% for source in reqmt.resource_type.producing_agent_relationships %}
				            <li class="subline" >
					            <span class="prefix source-prefix">{% trans "Possible source" %}:</span> {{ source.agent.name }} 
					            {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
				            </li>
			            {% endfor %}
			        </ul>
		        {% endif %}
		    {% endfor %}
		</ul>
	{% endif %}

</ul>
