{% load i18n %}
{% load bootstrap_tags %}

<ul class="no-indent">

    {% if process.outgoing_commitments %}
        <li class="section deliverables-section">{% trans "Deliverables" %}:</li>
        <ul>
		    {% for item in process.outgoing_commitments %}	
			    <li class="deliverable" >
				     <span class="name deliverable-name">
                        {{ item.resource_type.name }}
                        {% if item.stage %}
                            @{{ item.stage.name }}
                        {% endif %}
                        :</span> 
                        {{ item.quantity }} {{ item.unit_of_quantity }}
				    {% if item.description %}
					    <ul>
                            <li class="req-description">{{ item.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                        </ul>
                    {% endif %}
			    </li>
			    {% if item.fulfilling_events %}
			        <ul>
				        {% for event in item.fulfilling_events %}
					        <li class="subline" >
						        <span class="prefix created-prefix">{{ event.event_type.name }}:</span> 
						        {{ event.from_agent }} 
						        {% if event.resource %}
                                    <a href="{% url resource resource_id=event.resource.id %}" target="_blank">{{ event.resource_type.name }} {{ event.resource.label }}</a>
                                {% else %}
                                    <a href="{% url resource_type resource_type_id=event.resource_type.id %}" target="_blank">{{ event.resource_type.name }}</a>
                                {% endif %}
						        {{ event.quantity }} {{ event.unit_of_quantity }}
					        </li>
				        {% endfor %}
				    </ul>
			    {% endif %}

			    {% if item.associated_wanting_commitments %}
			        <ul>
				        {% for wanter in item.associated_wanting_commitments %}
                            {% if wanter.process or wanter.exchange %}
                                <li class="subline" >
                                    <span class="dependency">{% trans "Wanted by" %}:</span> 
                                    {% if wanter.process %}
                                        <a href="{{ wanter.process.get_absolute_url }}" target="_blank">{{ wanter.process.name }}</a> 
                                    {% elif wanter.exchange %}
                                        <a href="{{ wanter.exchange.get_absolute_url }}" target="_blank">{{ wanter.exchange }}</a>
                                    {% endif %}
                                    {{ wanter.quantity }} {{ wanter.unit_of_quantity }} {{ wanter.due_date }} 
                                </li>
                            {% endif %}
				        {% endfor %}
				    </ul>
			    {% endif %}

			{% endfor %}
		</ul>
	{% endif %}

    {% if process.unfinished_work_requirements %}
        <li class="section work-section">{% trans "Work requirements" %}:</li>
		<ul>
			{% for item in process.unfinished_work_requirements %}
				<li class="work">
					<span class="name deliverable-name">{{ item.resource_type.name }}:</span> {{ item.quantity }} {{ item.unit_of_quantity }}
					
					{% if item.from_agent %}
					    <span class="taken">{% trans "Taken by" %} {{ item.from_agent.nick }}</span>
					    {% if agent == item.from_agent and work_now %}
					        <a href="{% url work_now process_id=item.process.id commitment_id=item.id %}" role="button" class="btn btn-info btn-mini" target="_blank">{% trans "Work Now" %}</a>
					    {% endif %}
					{% else %}
					     <span class="due">{% trans "due" %} {{ item.due_date }}</span>
					    {% if agent %}
						    <div style="display: inline;" >
							    <a href="#commitmentModal{{ item.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
								    {% trans "Take this task" %}
							    </a>
						    </div>

						    <div class="modal hide fade commitmentModal" id="commitmentModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								    <h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
							    </div>
							    <div class="modal-body">

								    <form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
									    {% csrf_token %}
									    {{ item.commitment_form|as_bootstrap }}
									    <input type="hidden" name="next" value="{% url work %}" />
								      <div class="modal-footer">
									    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									    <input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
									    {% if work_now %}
									        <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
									    {% endif %}
								      </div>
								    </form>
						      </div>

						    </div>

					    {% endif %}
					    {% if item.description %}
						    <ul>
	                            <li class="req-description">{{ item.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                            </ul>
                        {% endif %}
					{% endif %}

				</li>

			{% endfor %}
		</ul>
    {% endif %}

    {% if process.citation_requirements %}
        <li class="section materials-section">{% trans "Citation requirements" %}: </li>
            <ul>
		    {% for item in process.citation_requirements %}
		        <li class="material" >
		            <span class="name material-name" ><b>{{ item.resource_type.name }}</b></span>
		            {% if item.description %}
		                <ul>
		                    <li class="req-description"> {{ item.description|urlize|linebreaks }}</li>
		                </ul>
	                {% endif %}

			    </li>
			    
			    {% if item.onhand %}
			        <ul>
				    {% for resource in item.onhand %}
					    <li class="subline" >
					        <span class="prefix onhand-prefix">{% trans "Onhand" %}:</span> 
					        <a class="resource" href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource }}</a>
				        </li>
					    
				    {% endfor %}
				    </ul>
			    {% endif %}
		    {% endfor %}	
		    </ul>				
        </li>
    {% endif %}
    
    {% if process.consumed_input_requirements %}
        <li class="section materials-section" >{% trans "Consumable Requirements" %}:</li>
        <ul>
		    {% for reqmt in process.consumed_input_requirements %}	
			    <li class="material" >
				    <span class="name material-name">{{ reqmt.resource_type.name }}:</span>  {{ reqmt.quantity }} {{ reqmt.unit_of_quantity }}
			    </li>
			    {% if reqmt.description %}
				    <ul>
                        <li class="req-description">{{ reqmt.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                    </ul>
                {% endif %}
			    {% if reqmt.onhand %}
			        <ul>
				        {% for resource in reqmt.onhand %}
					        <li class="subline" >
						        <span class="prefix onhand-prefix">{% trans "Onhand" %}:</span> 
						        <a href="{% url resource resource_id=resource.id %}" target="_blank">{{ resource.resource_type.name }} {{ resource.label }}</a> 
						        {{ resource.quantity }} {{ resource.unit_of_quantity }}
					        </li>
				        {% endfor %}
				    </ul>

			    {% elif reqmt.associated_producing_commitments %}
			        <ul>
				        {% for ct in reqmt.associated_producing_commitments %}
					        <li class="subline" >
						        <span class="dependency">{% trans "Promised" %}:</span> 
						         {{ ct.quantity }} {{ ct.unit_of_quantity }} <span class="due">{{ ct.due_date }}</span> 
						         <a href="{{ ct.process.get_absolute_url }}" target="_blank">{% trans "by Process" %}: {{ ct.process.name }}</a> 
					        </li>
				        {% endfor %}
				    </ul>

			    {% elif reqmt.resource_type.producing_agent_relationships %}
			        <ul>
				        {% for source in reqmt.resource_type.producing_agent_relationships %}
					        <li class="subline" >
						        <span class="prefix source-prefix">{% trans "Possible source" %}:</span> {{ source.agent.name }} 
						        {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
					        </li>
				        {% endfor %}
				    </ul>
			    {% endif %}
		    {% endfor %}
		</ul>
	{% endif %}

	{% if process.used_input_requirements %}	
		<li class="section tools-section" >{% trans "Usable Requirements" %}:</li>
		<ul>
		    {% for reqmt in process.used_input_requirements %}	
			    <li class="subline" >

				    <span class="name tool-name">{{ reqmt.resource_type.name }}:</span> {{ reqmt.quantity }}{{ reqmt.unit_of_quantity }}
			    </li>
			    {% if reqmt.description %}
				    <ul>
                        <li class="req-description">{{ reqmt.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                    </ul>
                {% endif %}
			    {% if reqmt.onhand %}
		            <ul>
			            {% for resource in reqmt.onhand %}
				            <li class="subline" >
					            <span class="prefix onhand-prefix">{% trans "Onhand" %}:</span> 
					            <a href="{% url resource resource_id=resource.id %}" target="_blank">{{ resource.resource_type.name }} {{ resource.label }}</a> 
					            {{ resource.quantity }} {{ resource.unit_of_quantity }}
				            </li>
			            {% endfor %}
			        </ul>

		        {% elif reqmt.associated_producing_commitments %}
		            <ul>
			            {% for ct in reqmt.associated_producing_commitments %}
				            <li class="subline" >
					            <span class="dependency">{% trans "Promised" %}:</span> 
					            {{ ct.quantity }} {{ ct.unit_of_quantity }} <span class="due">{{ ct.due_date }}</span> 
					            <a href="{{ ct.process.get_absolute_url }}" target="_blank">{% trans "by Process" %}: {{ ct.process.name }}</a>
				            </li>
			            {% endfor %}
			        </ul>

		        {% elif reqmt.resource_type.producing_agent_relationships %}
		            <ul>
			            {% for source in reqmt.resource_type.producing_agent_relationships %}
				            <li class="subline" >
					            <span class="prefix source-prefix">{% trans "Possible source" %}:</span> {{ source.agent.name }} 
					            {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
				            </li>
			            {% endfor %}
			        </ul>
		        {% endif %}
		    {% endfor %}
		</ul>
	{% endif %}

</ul>
