{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Agent" %}: {{ agent.name }}{% endblock %}

{% block extra_head %}

<style>

.labnote {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}
.btn-info {
    margin-left: 10px;
}
.hdg {
    color: firebrick;
}
.btn {
    margin-top: 1px;
    margin-bottom: 1px;
}
#id_notes, #id_access_rules {
  width: 500px;
  height: 100px;    
}
.modal {
    width: 600px;
}
.text-center {
    text-align: center;
}
.assoc li {
    margin-left: 3em;
}
.indent {
    margin-left: .9em;
    }
#chart_div0 {
    margin-top: 25px;
}
.chart-heading{
    text-align: center;
}
#chart_div1 {
    margin-bottom: 25px;
}
#chart_div2 {
    margin-bottom: 25px;
}
#chart_div3 {
    margin-bottom: 25px;
    height: {{ roles_height }}px;
}
#balance {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 1em;
}
.down {
    margin-top: 10px;
}
.smaller {
    font-size: .9em;
}
.button-row {
    margin-top: 0;
    margin-bottom: 10px;
}
legend {
    margin-bottom: 5px;;
}

</style>

{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

		<legend>
			{{ agent.agent_type }}: {{ agent.name }}
            {% if agent.is_individual %}
                    <a class="indent smaller" href="{% url contribution_history agent_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
                {% else %}
                    <a class="indent smaller" href="{% url contributions project_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
            {% endif %}
                {% if agent.is_context_agent %}
                    <a class="indent smaller" href="{% url distributions agent_id=agent.id %}">{% trans "Distributions" %}</a>
                    <a class="indent smaller" href="{% url orders agent_id=agent.id %}">{% trans "Active Orders" %} </a>
                    <a class="indent smaller" href="{% url context_timeline context_id=agent.id %}">Timeline</a>
                {% endif %}
            <a class="indent smaller" href="{% url radial_graph agent_id=agent.id %}">{% trans "Association Graph" %}</a>
            <a class="indent smaller" href="{% url agent_associations agent_id=agent.id %}">{% trans "Maintain Associations" %}</a>
            <a class="indent smaller" href="{% url agents %}">{% trans "All Agents" %}</a>

		</legend>
		<div class="button-row">
            {% if user_agent %}
                <a href="#agentChangeForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>

            {% endif %}
            
            {% if user.is_staff and agent.is_deletable %}
                <form
                    style="display: inline;" 
                    class="delete-agent-form indent" 
                    id="deleteAgentForm" 
                    action="{% url delete_agent agent_id=agent.id %}" 
                    method="POST" >
                    {% csrf_token %}
                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete Agent" >Delete</button>
                </form>
            {% endif %}

            {% if user.is_staff and user_form %}
                <a href="#createUserForm" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Create User" %}</a>
            {% endif %}
            
            {% if agent.is_context and user_agent %}
                <form style="display: inline;" class="indent" id="exchangeForm" method="POST" action="">
                    {% csrf_token %}
                    Create an internal exchange in this context: <span style="vertical-align: middle;">{{ nav_form.exchange_type }}</span>
                    <input style="display: inline;" type="submit" name="submit" value="{% trans 'Create Exchange' %}" class="btn btn-primary" /> 
                </form>
            {% endif %}  

            {% if user_agent %}
                <div class="modal hide fade" id="agentChangeForm" tabindex="-1" role="dialog" aria-labelledby="agent-change-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="agent-change-label">{% trans "Change" %} {{ agent.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="{% url change_agent agent_id=agent.id %}" method="POST" >
                            {% csrf_token %}
                            {{ change_form|as_bootstrap }}
                            <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if user.is_superuser and user_form %}
                <div class="modal hide fade" id="createUserForm" tabindex="-1" role="dialog" aria-labelledby="create-user-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="create-user-label">{% trans "Create login user for" %} {{ agent.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form id="userForm" enctype="multipart/form-data" action="{% url create_user agent_id=agent.id %}" method="POST" >
                            {% csrf_token %}
                            {{ user_form|as_bootstrap }}

                            <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save user" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        
            {% if agent.is_context_agent %}
                <div class="row-fluid" tyle="margin-bottom:2em;">
                    <hr />
                    <h3>Cumulative Time</h3>
                    <div class="row-fluid">
                        <div class="span6">
                            <h4 class="chart-heading">Last 2 months</h4>
                            <div id="chart_div1"></div>
                        </div>
                        <div class="span6">
                            <h4 class="chart-heading">Forever</h4>
                            <div id="chart_div2"></div>
                        </div>
                    </div>
                    <h3>Roles</h3>
                    <div id="chart_div3"></div>

                </div>
            {% endif %}

        </div>
		<div class="row-fluid">
		
		    <div class="span4">
		
	            <table class="table table-bordered" >
	                <tr>
                        <th style="text-align: right;">{% trans "Identifier" %}</th>
                        <td>{{ agent.nick }}</td>
                    </tr>
                    {% if user_agent and agent.username %}
                        <tr>
                            <th style="text-align: right;">{% trans "Username" %}</th>
                            <td>{{ agent.username }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: right;">{% trans "Name" %}</th>
                        <td>{{ agent.name }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Type" %}</th>
                        <td>{{ agent.agent_type.name }}</td>
                    </tr>
                    {% if agent.unit_of_claim_value %}
                        <tr>
                            <th style="text-align: right;">{% trans "Unit of claim value" %}</th>
                            <td>{{ agent.unit_of_claim_value }}</td>
                        </tr>
                    {% endif %}
	                {% if agent.url %}
	                    <tr>
	                        <th style="text-align: right;">{% trans "URL" %}</th>
	                        <td><a href="{{ agent.url }}">Open</a></td>
                        </tr>
                    {% endif %}
	                {% if agent.description %}
	                    <tr>
	                        <th style="text-align: right;">{% trans "Description" %}</th>
	                        <td>{{ agent.description|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}
                    {% if user_agent %}
                        {% if agent.email %}
                            <tr>
                                <th style="text-align: right; vertical-align: top; ">{% trans "Email" %}</th>
                                <td>{{ agent.email }}</td>
                            </tr>
                        {% endif %}
                        {% if agent.address or agent.primary_location %}
                            <tr>
                                <th style="text-align: right; vertical-align: top; ">{% trans "Address" %}</th>
                                <td>
                                    {% if agent.primary_location %}
                                        {{ agent.primary_location.address }}</br>
                                        <a href="{% url change_location location_id=agent.primary_location.id agent_id=agent.id %}">{% trans "Change on Map" %} </a>
                                    {% else %}
                                        {{ agent.address }}</br>
                                        <a href="{% url create_location agent_id=agent.id %}">{% trans "Add to Map" %} </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if agent.photo %}
	                	<tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
	                        <td><img src="{% thumbnail agent.photo photo_size %}" /></td>
                        </tr>
                	{% elif agent.photo_url %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
	                        <td><img src="{{ agent.photo_url }}" width="128" height="96" /></td>
                        </tr>
	                {% endif %}
                    {% if agent.reputation %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Reputation" %}</th>
	                        <td>{{ agent.reputation }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: right;">{% trans "Record created date" %}</th>
                        <td>{{ agent.created_date }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Record created by" %}</th>
                        <td>{{ agent.created_by }}</td>
                    </tr>

	            </table>
	        
	        </div>
	        
	        <div class="span4 assoc">
                <h4 class="hdg"> {{ agent.name }} {% trans "is associated with " %}: </h4>
                <ul>
                {% for assoc in is_associated_with  %}
                    {% ifchanged assoc.association_type %} 
                        <h4> {{ assoc.association_type.label }}: </h4>
                    {% endifchanged %}
                    <li><a href="{{ assoc.has_associate.get_absolute_url }}">{{ assoc.has_associate.name }}</a>
                        {% if assoc.state == "potential" %} (potential) {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% if has_associations %}
                    <h4 class="hdg">{{ agent.name }} {% trans "has these associates " %}: </h4>             
                    <ul>
                    {% for assoc in has_associations %}
                        {% ifchanged assoc.association_type %} 
                            <h4>{{ assoc.association_type.inverse_label }}: </h4>
                        {% endifchanged %}   
                        <li><a href="{{ assoc.is_associate.get_absolute_url }}">{{ assoc.is_associate.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
	        
	        </div>
	        
	        <div class="span4">
	        
{% comment %}
                <h3 class="hdg">Virtual Account for {{ agent.name }}:</h3>
                <span id="balance">Current balance: 1750.63</span> 
                <a href="#">Details</a><br />
                <button class="btn btn-primary down" title="Request a payout from your virtual account" >Request a Payout</button>
{% endcomment %}
            </div>
            
            {% if agent.is_individual %}
                <div class="span8">
                    <h4 class="hdg"> Cumulative Contributions</h4>
                    <div id="chart_div0"></div>
                </div>
            {% endif %}

		</div>

        <div class="row-fluid" tyle="margin-top:2em;">
            <div class="span6">
            <h3 class="hdg">{% trans "Resources" %}:</h3>
            {% if agent.resources_created %}
                <h4 class="hdg">{% trans "Resources Created" %}:</h4>
                <ul>
                    {% for resource in agent.resources_created %}
                        <li>
                            <a href="{{ resource.get_absolute_url }}"> {{ resource.resource_type.name }}: {{ resource.identifier }}</a>
                        </li>

                    {% endfor %}
                </ul>
            {% endif %}
            {% if agent.resource_relationships %}
                <h4 class="hdg">{% trans "Resource Relationships" %}:</h4>
                <ul>
                    {% for rel in agent.resource_relationships %}
                        {% ifchanged rel.role %} 
                            <h4>{{ rel.role.name }} </h4>
                        {% endifchanged %}
                        <li>
                            <a href="{{ rel.resource.get_absolute_url }}"> {{ rel.resource }}</a>
                        </li>

                    {% endfor %}
                </ul>
            {% endif %}

            </div>

            <div class="span6">
              <h3 class="hdg">{% trans "Active Processes" %}:</h3>

              {% if agent.active_processes %}
                <ul>
                    {% for process in agent.active_processes %}
                        <li>
                            <a href="{{ process.get_absolute_url }}"> {{ process }}</a>
                        </li>

                    {% endfor %}
                </ul>
              {% else %}
                    <p>None</p>

              {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}


{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

		$('#projects').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $('td.td-role > select').addClass('select-role');   
        $('td.td-agent > select').addClass('select-agent');  

        $.validator.addMethod("agentRequired", function (value, element) {
            alert("value " + value + " element " + element);
            //agent = element.closest(".select-agent");
            //alert("agent " + agent);

            return true;
        }, "Both role and agent must be entered.");

        $.validator.addClassRules("select-role", { agentRequired: true });
        
        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });
       

        $( "#userForm" ).validate({
            rules: {
                username: {
                    required: true
                },
                password1: {
                    required: true
                },
                password2: {
                    required: true,
                    equalTo: "#id_password1"
                },               
            },
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');   
            },
        });


    }); // end document.ready

	$('.resource-change-form').each( function(){
		var form = $(this);
		form.validate({
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			}

		});
	});

        
        google.load("visualization", "1", {packages:["corechart"]});
        {% if agent.is_individual %}
            google.setOnLoadCallback(drawChartIndividualStats);
            function drawChartIndividualStats() {
                var data = google.visualization.arrayToDataTable([
                ['Resource Type', 'Quantity'],
                {% for rtype, qty in individual_stats %}
                    ['{{ rtype.name }}',  {{ qty }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Resource Type',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div0'));
                chart.draw(data, options);
            }
        {% else %}
            google.setOnLoadCallback(drawChart_recent);
            function drawChart_recent() {
                var data = google.visualization.arrayToDataTable([
                ['Member', 'Hours'],
                {% for member, hours in member_hours_recent %}
                    ['{{ member }}',  {{ hours }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Member',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
                chart.draw(data, options);
            }
            
            google.setOnLoadCallback(drawChart_stats);
            function drawChart_stats() {
                var data = google.visualization.arrayToDataTable([
                ['Member', 'Hours'],
                {% for member, hours in member_hours_stats %}
                    ['{{ member }}',  {{ hours }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Member',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                chart.draw(data, options);
            }
            
            google.setOnLoadCallback(drawChart_roles);
            function drawChart_roles() {
                var data = new google.visualization.DataTable();
                {% for head in headings %}
                    {% if forloop.first %}
                        data.addColumn('string','{{ head }}');
                    {% else %}
                        data.addColumn('number','{{ head|safe }}');
                    {% endif %}
                {% endfor %}
                var rows = [];
                {% for row in member_hours_roles %}
                    var thisRow = [];
                    {% for cell in row %}
                        {% if forloop.first %}
                            thisRow.push('{{ cell|safe }}');
                        {% else %}
                            thisRow.push({{ cell }});
                        {% endif %}
                    {% endfor %}
                    rows.push(thisRow);
                {% endfor %}
                data.addRows(rows);

                var chart = new google.visualization.BarChart(
                    document.getElementById('chart_div3'));
                chart.draw(data, 
                    {
                        'isStacked': true, 
                        'legend': 'top',
                        'hAxis': {'title': 'Hours'},
                        'chartArea':{'width': '80%', 'height':'100%'}
                    }
                );
            }
            {% endif %}

    </script>
    
{% endblock %}
