{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Agents" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

.heading {
    margin: 1em .5em 0 .5em;
    color: firebrick;
    font-size: 1.5em;
    font-weight: bold;
}
.showhide {
    font-size: .6em;
    color: gray;
    margin-left: 4px;
}

.showhide:hover {
    cursor: pointer;
}

.agents li {
    margin-left: 3em;
}
.btn {
    margin-left: 2em;
}
.modal {
    width: 600px;
}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
      <div>

        <legend>
            {% trans "Agents" %}  
            {% if user_agent %} 
                <a href="#create-agent" role="button" class="btn btn-primary" data-toggle="modal">Create New Agent</a>
                
                <div class="modal hide fade" id="create-agent" tabindex="-1" role="dialog" aria-labelledby="agent-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="agent-label">{% trans "Create a New Agent" %}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="validateMe" id="agentForm" enctype="multipart/form-data" action="{% url create_agent %}" method="POST" >
                            {% csrf_token %}
                            {{ agent_form|as_bootstrap }}
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </legend>

        <div class="agents" >
            {% for agent in agents %}
                {% ifchanged agent.agent_type %} 
                    </ul>
                    <div class="heading"> {{ agent.agent_type.name }}s <span class="showhide" id="sh-{{ agent.agent_type.id }}" >(Hide)</span></div>
                    <ul class="list" id="list-{{ agent.agent_type.id }}" >
                {% endifchanged %}

                <li>
                        <b><a href="{{ agent.get_absolute_url }}">{{ agent.name }}</a></b> 
                        &nbsp;&nbsp;&nbsp;
                        {% if agent.contributions_count %}
                            {% if agent.is_individual %}
                                <a href="{% url contribution_history agent_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
                            {% else %}
                                <a href="{% url contributions project_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
                            {% endif %}
                        {% endif %}

                        {% if agent.description %}
                            <div class="description" >{{ agent.description|urlize|linebreaks }}</div>
                        {% endif %}
                </li>

            {% endfor %}
            </ul>
        </div>
     </div>
    </div>

{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){

        $('#projects').addClass('active');

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        $(".list").show();
       
        $(".showhide").click(function(event)
        {
            var id = event.target.id;
            var listId = '#list-' + id.split('-')[1];
            $(listId).slideToggle(200);
            $(this).text($(this).text() == '(Show)' ? '(Hide)' : '(Show)');
        });
        
        function html_unescape(text) {
            // Unescape a string that was escaped using django.utils.html.escape.
            text = text.replace(/&lt;/g, '<');
            text = text.replace(/&gt;/g, '>');
            text = text.replace(/&quot;/g, '"');
            text = text.replace(/&#39;/g, "'");
            text = text.replace(/&amp;/g, '&');
            return text;
        }
        
        var nickArray = html_unescape("{{ nicks }}").split("~");
        
        jQuery.validator.addMethod("unique", function(value, element, param) {
            return this.optional(element) || $.inArray(value, param) < 0; // <-- Check if the value is not in the array.
        }, "ID is not unique.");

        $('#agentForm').validate(
        {
            rules: {
                nick: {
                    required: true,
                    maxlength: 32,
                    unique: nickArray
                }
            },
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');
            }

        });

    }); // end document.ready
    
    </script>
{% endblock %}

