{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Contributions from " %} {{ agent }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}

	th
	{
		background-color:#C8D6E8;
	}

    #saving {
	    color: green;
    }

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
            <span style="vertical-align: top;" >
                {% trans "Contributions from " %} {{ agent }} &nbsp;&nbsp;&nbsp;
                <a href="{% url agent_value_accounting agent_id=agent.id %}" style="vertical-align: top;">{% trans "Value Accounting" %}</a>
            </span>
        </legend>
        <div>
            <form id="filterForm" action="." method="POST" style="display: inline;" >
                {% csrf_token %}
                <div id="div_id_start_date" class="control-group" style="display: inline;" >     
                    <label for="id_start_date" class="control-label required-field" style="display: inline;" >
                        {% trans "Show contributions from " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ filter_form.start_date }}
                    </div>
                </div>
                <div id="div_id_end_date" class="control-group" style="display: inline;" >     
                    <label for="id_end_date" class="control-label required-field" style="display: inline;" >
                        {% trans " through " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ filter_form.end_date }}
                    </div>
                </div>
                <div id="div_id_event_types" class="control-group" style="display: inline;" >
                    <label for="id_event_types" class="control-label" style="display: inline;" >
                        {% trans "Event Types" %}
                    </label>
                    <div class="controls" style="display: inline; vertical-align: bottom;" >
                        {{ filter_form.event_types }}
                    </div>                    
                </div>&nbsp;
                <input type="submit" name="submit" class="btn btn-info" style="display: inline;" value="{% trans 'Filter' %}" />
            </form>
            {% if event_ids and agent %}
                <a 
                    href=" {% url contribution_events_csv %}?event-ids={{ event_ids }}" 
                    id="btn-export" 
                    class="btn btn-primary" 
                    title="Export filtered list to csv (comma separated value) format" 
                    style="display: inline; vertical-align: middle;"
                    >{% trans "Export CSV File" %}
                </a>
            {% endif %}
        
        </div>
        
		
		{% if user_is_agent %}
            <p>
                {% trans "You can change date or qty inline and it will be automatically saved." %} <span id="saving"></span>
            </p>
	    {% endif %}
		<table class="table table-bordered table-hover table-condensed" >
			<thead>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Type" %}</th>
				<th>{% trans "Project" %}</th>
				<th>{% trans "Resource Type" %}</th>
				<th>{% trans "Qty" %}</th>
				<th>{% trans "URL" %}</th>
				<th>{% trans "Description" %}</th>
				<th>{% trans "Process" %}</th>
				<th>{% trans "Deliverables" %}</th>
				{% if user_is_agent %}
                    <th>&nbsp;</th>
                {% endif %}
			</thead>
			<tbody>	
				{% for event in events %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>
                            {% if user_is_agent %}
						    <form class="eventDateForm" id="eventDateForm-{{ event.id }}" >
								{% csrf_token %}
								{% with event.change_date_form as form %}
								    {{ form.id }}
								    {{ form.event_date }}
							    {% endwith %}
							</form>
							{% else %}
                                {{ event.event_date }}
							{% endif %}
						</td>
						<td>{{ event.event_type }}</td>
						<td>{{ event.context_agent }}</td>
						<td>{{ event.resource_type }}</td>
						{% comment %}
						<td style="text-align: right;" >{{ event.quantity_formatted }}</td>
						{% endcomment %}
						<td style="white-space:nowrap;" >
                            {% if user_is_agent %}
						    <form class="eventQtyForm" id="eventQtyForm-{{ event.id }}" >
								{% csrf_token %}
								{% with event.change_quantity_form as form %}
								    {{ form.id }}
								    {{ form.quantity }} {{ event.unit_of_quantity.abbrev }}
							    {% endwith %}
							</form>
							{% else %}
                                {{ event.quantity }} {{ event.unit_of_quantity.abbrev }}
                            {% endif %}
						</td>
						<td>
							{% if event.url %}
								<a href="{{ event.url }}" target="_blank">Open</a>
							{% endif %}
						</td>
						<td>{% if event.description %}{{ event.description|urlize }}
                            {% else %} {{ event.commitment.description|urlize }} {% endif %}
                       </td>
						<td>
							{% if event.process %}
								<a href="{{ event.process.get_absolute_url }}" target="_blank">{{ event.process.name }}</a>
							{% endif %}
						</td>
						<td>
						    {% for d in event.process.deliverables %}
						        <a href="{% url resource resource_id=d.id %}">{{ d }}</a></br >
					        {% endfor %}
					    </td>
					    {% if user_is_agent %}
                            <td>
                                <form
                                    class="change-form" 
                                    id="changeForm{{ event.id }}" 
                                    action="{% url change_event event_id=event.id %}" 
                                    method="GET" >
                                    <input type='hidden' class="page" id='changePage{{ event.id }}' name='page' value='' />
                                    <button class="btn btn-info btn-mini" title="Change" ><i class="icon-edit icon-white"></button>
                                </form>
                                <form
                                    class="delete-form" 
                                    id="deleteForm{{ event.id }}" 
                                    action="{% url delete_event event_id=event.id %}" 
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type='hidden' class="page" id='deletePage{{ event.id }}' name='page' value='' />
                                    <input type='hidden' id='next' name='next' value='contributions' />
                                    <button class="btn btn-warning btn-mini" title="Delete" ><i class="icon-remove icon-white"></button>
                                </form>
                            </td>
					    {% endif %}
					</tr>
				{% endfor %}
			<tbody>	
		</table>
<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ events.number }} {% trans "of" %} {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

<script type="text/javascript">

    $(document).ready(function(){

        $.extend({
          getUrlVars: function(){
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
              hash = hashes[i].split('=');
              vars.push(hash[0]);
              vars[hash[0]] = hash[1];
            }
            return vars;
          },
          getUrlVar: function(name){
            return $.getUrlVars()[name];
          }
        });

        var pageNumber = $.getUrlVar('page');

        $( ".page" ).each(function() {
            $(this).val(pageNumber);
        });

        $("select").chosen();
        
        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });
        $('.filter-date').datepicker({ dateFormat: "yy-mm-dd" });

        $('.date-entry').change(saveDate);
        $('.quantity').change(saveQuantity);

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        {% for event in events %}
            $("#eventDateForm-{{ event.id }}").validate({
			    rules: {
				    "{{ event.id }}-event_date": {
					    required: true, 
                        date: true
				    }
			    },
			    highlight: function(label) {
				    $(label).closest('.control-group').addClass('error');
			    }
		    });
		    $("#eventQtyForm-{{ event.id }}").validate({
			    rules: {
				    "{{ event.id }}-quantity": {
					    required: true, 
                        number: true, 
                        max: 999999.99
				    }
			    },
			    highlight: function(label) {
				    $(label).closest('.control-group').addClass('error');
			    }
		    });
		{% endfor %}


    }); // end document.ready

    function notifySaving()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saving...");
	}

	function notifySaved()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saved");
	}

	function notifyProblem()
	{
		$("#saving").css("color","red"); 
		$("#saving").text("Problem saving");
	}

    function saveDate(event)
    {
        var field = event.target;
        var formId = "#" + field.form.id;
        eventId = formId.split("-")[1];
        var formData = $(formId).serialize();
        var eventId = "&eventId=" + eventId;
        formData += eventId;
        
        var url = "{%url change_event_date %}";

        notifySaving();

        var jqxhr = $.post( url, formData,
            function( data ) {
                notifySaved();
            })
            .fail(function() 
            { 
                notifyProblem(); 
            }
        );
    }

    function saveQuantity(event)
    {
        var field = event.target;
        var formId = "#" + field.form.id;
        eventId = formId.split("-")[1];
        var formData = $(formId).serialize();
        var eventId = "&eventId=" + eventId;
		formData += eventId;
        
        var url = "{%url change_event_qty %}";

		notifySaving();

		var jqxhr = $.post( url, formData,
			function( data ) {
				notifySaved();
			})
			.fail(function() 
			{ 
				notifyProblem(); 
			}
		);
    }

	$(document).ajaxSend(function(event, xhr, settings) 
	{
		function getCookie(name) 
		{
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') 
			{
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) 
				{
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) 
					{
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
    	}

		function sameOrigin(url) 
		{
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}

		function safeMethod(method) 
		{
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) 
		{
		    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});
    </script>

{% endblock %}
