{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "All Contributions" %}{% endblock %}

{% block extra_head %}
<style>

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}

	th
	{
		background-color:#C8D6E8;
	}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "All Contributions" %}</legend>
		<table style="width: 100%;" class="table table-bordered table-hover table-condensed" >
			<thead>
				<th>{% trans "Date" %}</th>
				<th>{% trans "Type" %}</th>
				<th>{% trans "From" %}</th>
				<th>{% trans "Project" %}</th>
				<th>{% trans "Resource Type" %}</th>
				<th>{% trans "Qty" %}</th>
				<th>{% trans "URL" %}</th>
				<th>{% trans "Description" %}</th>
				<th>{% trans "Process" %}</th>
				<th>{% trans "Deliverables" %}</th>
				
			</thead>
			<tbody>	
				{% for event in events %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>{{ event.event_date }}</td>
						<td>{{ event.event_type }}</td>
						<td>{{ event.from_agent }}</td>
						<td>{{ event.context_agent }}</td>
						<td>{{ event.resource_type }}</td>
						<td style="text-align: right;" >{{ event.quantity_formatted }}</td>
						<td>
							{% if event.url %}
								<a href="{{ event.url }}" target="_blank">Open</a>
							{% endif %}
						</td>
						<td>{% if event.description %}{{ event.description|urlize }}
                            {% else %} {{ event.commitment.description|urlize }} {% endif %}
                       </td>
						<td>
							{% if event.process %}
								<a href="{{ event.process.get_absolute_url }}" target="_blank">{{ event.process.name }}</a>
							{% endif %}
						</td>
						<td>
						    {% for d in event.process.deliverables %}
						        <a href="{% url resource resource_id=d.id %}">{{ d }}</a></br >
					        {% endfor %}
					    </td>
					</tr>
				{% endfor %}
			</tbody>	
		</table>
<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ events.number }} {% trans "of" %} {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

	</div>
    </div>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#projects').addClass('active');

	}); // end document.ready

    </script>
{% endblock %}
