{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Filter demo" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>
.event-table, .event-table th, .event-table td {
    border: solid 1px gainsboro;
    padding-left: 5px;
    padding-right: 5px;
}


</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div>
            <legend>
                {% trans "Value Equation Bucket Filter demo" %} &nbsp;&nbsp;&nbsp;
                <a href="{% url bucket_filter_header %}">{% trans "Start over" %}</a>
            </legend>
            <p>
                Filter set: {{ filter_set }}, Context: {{ context_agent }}, Event type: {{ event_type }}, Pattern: {{ pattern }}
            </p>
            
            <form id="filterForm" action="." method="POST" >
                {% csrf_token %}
                {{ filter_form|as_bootstrap }}
                <input type="submit" name="submit" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Submit' %}" />
            </form>
            
            {% if events %}
                <h3>{{count }} {% trans "Events" %}</h3>
                <div>
                    <table class="event-table">
                        <thead>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Event Type" %}</th>
                            <th>{% trans "From" %}</th>
                            <th>{% trans "To" %}</th>
                            <th>{% trans "What" %}</th>
                            <th>{% trans "Process" %}</th>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.event_date }} </td>
                                    <td>{{ event.event_type }} </td>
                                    <td>{{ event.from_agent }} </td>
                                    <td>
{% comment %}
                                        {% if event.from_agent != event.to_agent %}
                                            {{ event.to_agent }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
{% endcomment %}
                                        {{ event.to_agent }}
                                    </td>
                                    <td>
                                        {{ event.quantity }} {{ event.unit_of_quantity.abbrev }} 
                                        {% trans "of" %} {{ event.resource_type }} 
                                    </td>
                                    <td>
                                        {% if event.process %}
                                            <a href="{{ event.process.get_absolute_url }}">{{ event.process.name }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

        $(".chzn-select").chosen();
        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

    }); // end document.ready
    
    </script>

{% endblock %}
