{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cash Report" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>

tr.even td 
{
    color:#000000;
    background-color:#EAF2D3;
}

th
{
    background-color:#C8D6E8;
}

.hdg, .bal, .total {
    color:  #7D1818;
    font-weight: bold;
}
.first-total td {
    border-top: 3px solid lightgray;
}
.event {
    margin-left: 1em;
}
.desc {
    font-style: italic;
    font-size: .9em;
}
li {
    list-style-type: none;
    margin: o;
    padding:0;
}
ul {
    margin: 0;
    padding: 0;
}
.table {
    margin-left: 0;
}
.btn-primary {
    margin-bottom: 5px;
}
#btn-filter1 {
    margin-top: 0;
    margin-bottom: 5px;
}
.title {
    font-size: 1.1em;
    font-weight: bold;
}
.nav-tabs a {
    font-weight: bold;
    font-size: 1.1em;
}
</style>

{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Cash Flow Report" %}</legend>

        <div class="row-fluid">
        <div class="span9">
            <ul class="nav nav-tabs">
                <li id="S"><a href="javascript:showSummary()">Summary Report</a></li>
                <li id="D"><a href="javascript:showDetail()">Detail Report</a></li>
            </ul>

            <table id="summary-table" style="width: 100%;" class="table table-bordered table-hover table-condensed" >
                <thead>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Amount" %}</th>
                </thead>
                <tbody> 
                    {% for k,v in summary_list %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}

                    <tr class="total first-total">
                        <td>Total In</td>
                        <td>{{ in_total }}</td>
                    </tr>
                    <tr class="total">
                        <td>Total Out</td>
                        <td>{{ out_total }}</td>
                    </tr>
                    <tr class="bal">
                        <td>Balance (starting = {{ starting_balance }})</td>
                        <td>{{ balance }}</td>
                    </tr>
                </tbody>    
            </table>

            <table id="detail-table" style="width: 100%;" class="table table-bordered table-hover table-condensed" >
                <thead>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Category" %}</th>
                    <th>{% trans "Virtual Account" %}</th>
                    <th>{% trans "Cash In" %}</th>
                    <th>{% trans "Cash Out" %}</th>
                    <th>{% trans "Project" %}</th>
                    <th>{% trans "To or From" %}</th>
                    <th>{% trans "Reference" %}</th>
                </thead>
                <tbody>	
                    {% for event in events %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ event.event_date }}</td>
                            <td>{% if event.exchange %}<a href="{% url exchange_logging exchange_type_id=0 exchange_id=event.exchange.id %}">{{ event.account }}</a>
                                {% else %} {{ event.account }} {% endif %}
                            </td>
                            <td>{{ event.virtual_account }}</td>
                            {% if event.in_out == "in" %}
                                <td>{{ event.quantity }}</td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                            {% if event.in_out == "out" %}
                                <td>{{ event.quantity }}</td>
                            {% else %}
                                <td>&nbsp;</td>
                            {% endif %}
                            <td>{{ event.context_agent }}</td>
                            {% if event.in_out == "in" %}
                                <td>{{ event.from_agent }}</td>
                            {% else %}
                                <td>{{ event.to_agent }}</td>
                            {% endif %}
                            <td>
                                {% if event.event_reference %}
                                    {{ event.event_reference }}
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}

                    <tr class="total first-total">
                        <td>Totals</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>{{ in_total }}</td>
                        <td>{{ out_total }}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="bal">
                        <td>Balance (starting = {{ starting_balance }})</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        {% if balance > 0 %}
                            <td>{{ balance }}</td>
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        {% if balance > 0 %}
                            <td>&nbsp;</td>
                        {% else %}
                            <td>{{ balance }}</td>
                        {% endif %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>	
            </table>

        </div>

        <div class="span3 filter">
            {% if events %}
                <div>
                    <a href=" {% url cash_events_csv %}?event-ids={{ event_ids }}" id="btn-export" class="btn btn-primary" title="Export filtered detail list to csv (comma separated value) format" >{% trans "Export CSV File" %}</a>
                </div>
            {% endif %}
            <form id="filter-form" action="." method="POST">
                {% csrf_token %}
                <label for="id_starting_bal" class="control-label" style="display: inline; vertical-align: text-bottom;" >
                    {% trans "Starting balance " %}
                </label>    
                <div class="controls" style="display: inline;" >
                    {{ balance_form.starting_balance }}
                </div>               
                <h3>{% trans "Filter the List" %}</h3>
                <div id="div_id_start_date" class="control-group" style="display: inline;" > 
                    <label for="id_start_date" class="control-label required-field" style="display: inline; vertical-align: text-bottom;" >
                        {% trans "Start date " %}
                    </label>    
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.start_date }}
                    </div>
                </div>
                <div id="div_id_end_date" class="control-group" > 
                    <label for="id_end_date" class="control-label required-field" style="display: inline;  vertical-align: text-bottom; " >
                        {% trans "End date  " %}
                    </label>    
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.end_date }}
                    </div>
                </div>
                <input type="submit" id="btn-filter1" name="submit" class="btn btn-info" value="{% trans 'Filter' %}" />
                <p><input type="checkbox" class="category" id="all" name="all" value="all" {% if select_all %} checked="yes" {% endif %} /> {% trans "All in the date range" %}</p>
{% comment %}
                <p class="title"> {% trans "External Accounts" %} </p>
                {% for ba in external_accounts %}
                    <p><input type="checkbox" class="category" id="{{ ba.id }}" name="{{ ba.id }}" value="{{ ba.id }}" /> {{ ba.identifier }}</p>
                {% endfor %}
{% endcomment %}                
                <p class="title"> {% trans "Virtual Accounts" %} </p>
                {% for va in virtual_accounts %}
                    <p><input type="checkbox" class="category" id="{{ va.id }}" name="{{ va.id }}" value="{{ va.id }}" /> {{ va.identifier }}</p>
                {% endfor %}
                <input type='hidden' id='selected-vas' name='selected-vas' value=' {{ selected_vas }} ' />
                <input type='hidden' id='option' name='option' value='{{ option }}' />
                <input type="submit" id="btn-filter2" name="submit" class="btn btn-info" value="{% trans 'Filter' %}" />
            </form>
        </div>

    </div>
    </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		//$('#projects').addClass('active');

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

        var selectedVas = "{{ selected_vas }}";

        {% if option == "S" %}
            $('#S').addClass('active');
            $('#detail-table').hide();
            $('#summary-table').show();
        {% else %}
            $('#D').addClass('active');
            $('#detail-table').show();
            $('#summary-table').hide();
        {% endif %}

        $('.category').each(function()
        {
            var cat = $(this)[0];
            if (selectedVas.indexOf(cat.name) > -1)
            {
                $(this).prop('checked', true);
            }
        });

        $('.category').click(function() 
        {
            var checkedCats = [];
            var checkedBox = $(this)[0];
            var allBox = $('#all')[0];
            if (checkedBox == allBox)
            {
                $('.category').each(function()
                {
                    $(this).prop('checked', false);
                });
                $('#all').prop('checked', true);
                checkedCats.push('all');
            }
            else
            {
                $('#all').prop('checked', false);
                $('.category').each(function()
                {
                    var cat = $(this)[0];
                    if (cat.checked)
                    {
                        checkedCats.push(cat.value);
                    }
                });
            }
            $('#selected-vas').prop('value', checkedCats);
        })

	}); // end document.ready


        function showSummary() {
            $('#detail-table').hide();
            $('#summary-table').show();
            $('#S').addClass('active');
            $('#D').removeClass('active');
            $('#option').val('S');
        }

        function showDetail() {
            $('#detail-table').show();
            $('#summary-table').hide();
            $('#D').addClass('active');
            $('#S').removeClass('active');
            $('#option').val('D');
        }

    </script>
{% endblock %}
