{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change R&amp;D Project" %}: {{ rand }}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

#id_notes
{
  width: 32em;
}

#id_url
{
  width: 32em;
}

.item-description
{
	width: 32em;
    height: 40px;
}

.formset-top
{
	padding-top: 1em;
}

.formset-bottom
{
	border-bottom-style:solid;
	border-width:1px;
	border-color:lightgrey;
}
.section {
    color: firebrick;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Change R&amp;D Project" %}: {{ rand }}</legend>
		<form id="processForm" method="POST" action="">
			{% csrf_token %}
		<div class="row-fluid">
			<div class="span6">
				{{ rand_form|as_bootstrap }}

				{{ process_form|as_bootstrap }}
				<div class="form-actions">
					<input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" />  
					<input type="submit" name="keep-going" value="{% trans 'Save and continue editing' %}" class="btn btn-primary" />
					<span id="outputError" style="color: red;"> </span> 
			   	</div>
			</div>
			<div class="span6">
				<legend class="section">{% trans "Outputs" %}:</legend>
				{{ output_formset.management_form }}
				{% for form in output_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
					</div>
{% comment %}
					<div class="row-fluid">
						{% trans "Event Type" %}: {{ form.event_type }} {% trans "Relationship" %}: {{ form.relationship }} 
					</div>
{% endcomment %}
					<div class="row-fluid">
						{% trans "Quantity" %}: {{ form.quantity }} {% trans "Unit" %}: {{ form.unit_of_quantity }} 
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}
				<legend style="margin-top: 1em;" class="section" >{% trans "Inputs" %}:</legend>
				{{ input_formset.management_form }}
				{% for form in input_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
					</div>
{% comment %}
					<div class="row-fluid">
						{% trans "Event Type" %}: {{ form.event_type }} {% trans "Relationship" %}: {{ form.relationship }} 
					</div>
{% endcomment %}
					<div class="row-fluid">
						{% trans "Quantity" %}: {{ form.quantity }} {% trans "Unit" %}: {{ form.unit_of_quantity }} 
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}
			</div>
		</div>
		</form>
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% comment %}
	<script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endcomment %}

	<script src="{% static 'js/RelatedObjectLookups.js' %}"></script>


{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$(".resource-type-selector").change(getUnit);

		function getUnit(event)
		{
            var targetId = event.target.id;
            // todo: must change to "use" or "other"
			if (targetId.search("output") >= 0)
			{
				direction = "out";
			}
			else
			{
				direction = "in";
			}
			var prefix = targetId.split('-')[0] + '-' + targetId.split('-')[1];
			var resourceId = event.target.value;
			if (resourceId)
			{
			    var unitName = "#" + prefix + "-unit_of_quantity";
			    var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			    $.get(jsonUrl,
				    function(data){
					    var unit = data["unit"];
                        $(unitName).val(unit);
				    });
		    }
		}


        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ 
			dateFormat: "yy-mm-dd",
    		onClose: function() {
      			$( this ).valid();
			}
		 });


		jQuery.validator.addMethod("equalToOrGreaterThan", 
		function(value, element, params) {

			if (!/Invalid|NaN/.test(new Date(value))) {
				return new Date(value) >= new Date($(params).val());
			}

			return isNaN(value) && isNaN($(params).val()) 
				|| (Number(value) >= Number($(params).val())); 
		},'Must be equal to or greater than start date.');

		$( "#processForm" ).validate({
			rules: {
				name: {
					required: true
				},
				url: {
					url: true
				},
				project: {
					required: true
				},
				start_date: {
					required: true,
					date: true
				},
				end_date: {
					date: true,
					equalToOrGreaterThan: '#id_start_date'
				},
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
			success: function(label) {
				label
					.text('OK!').addClass('valid')
					.closest('.control-group').addClass('success');
			}
		});

		$("#processForm").submit(function(event) {
 
			event.preventDefault();
            var hasOutput = false;
			$("#outputError").text("");
			var errorMessage = "Must have at least one output";

			$(".quantity").each(function() 
			{
				var id = this.id;

                var isOutput = (id.search("output") >= 0);
                if (isOutput)
				{
					var quantity = parseFloat(this.value);
					if (quantity)
					{
						var rtId = "#" + id.replace("quantity", "resource_type");
						var rtField = $(rtId)[0];
		                var rt = rtField.value;
                        if (rt)
						{
							hasOutput = true;
						}
						else
						{
							errorMessage = "Must have at least one output quantity with a Resource Type";
						}
					}
				}

			});

			if (hasOutput)
			{
				this.submit();
			}
			else
			{
				$("#outputError").text(errorMessage);
			}


		});


	}); // end document.ready
    </script>

{% endblock %}
