{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change Process" %}: {{ process }}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

#id_notes
{
  width: 28em;
}

.item-description
{
	width: 32em;
    height: 40px;
}

.formset-top
{
	padding-top: 1em;
}

.formset-middle
{
	padding-top: 2px;
	padding-bottom: 2px;
}

.formset-bottom
{
	border-bottom-style:solid;
	border-width:1px;
	border-color:lightgrey;
}
.section {
    color: firebrick;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Change Process Plan for " %}: {{ process }}</legend>
			{% if process.independent_demand %}
			    <p>{% trans "for" %}: {{ process.independent_demand }}</p>
		    {% endif %}
		
		<form class="form-horizontal" id="processForm" method="POST" action="">
			{% csrf_token %}
		<div class="row-fluid">
			<div class="span6">
			    <legend class="section">{% trans "Order" %}:</legend>
				{{ rand_form|as_bootstrap }}
				{% if demand_form %}
				    <p style="margin-left: 14em;">Or</p>
				    {{ demand_form|as_bootstrap }}
			    {% endif %}
				<legend class="section">{% trans "Process" %}:</legend>
				{{ process_form|as_bootstrap }}
				<div class="form-actions">
					<input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" /> 
					<input type="submit" name="keep-going" value="{% trans 'Save and continue editing' %}" class="btn btn-primary" />
			   	</div>
			</div>
			<div class="span6">
				<legend class="section">{% trans "Planned Outputs" %}:</legend>
				{{ output_formset.management_form }}
				{% for form in output_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
					</div>
					<div class="row-fluid formset-middle">
						{% trans "Quantity" %}: {{ form.quantity }} {% trans "Unit" %}: {{ form.unit_of_quantity }} 
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}

				<legend style="margin-top: 1em;"  class="section">{% trans "Planned Citables" %}:</legend>
				{{ citation_formset.management_form }}
				{% for form in citation_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
						{% trans "Cite" %}: {{ form.quantity }}
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}

				<legend style="margin-top: 1em;"  class="section">{% trans "Planned Work" %}:</legend>
				{{ work_formset.management_form }}
				{% for form in work_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Type of work" %}: {{ form.resource_type }} 
					</div>
					<div class="row-fluid formset-middle">
						{% trans "Hours" %}: {{ form.quantity }}
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}

				<legend style="margin-top: 1em;"  class="section">{% trans "Planned Consumables" %}:</legend>
				{{ consumable_formset.management_form }}
				{% for form in consumable_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
					</div>
					<div class="row-fluid formset-middle">
						{% trans "Quantity" %}: {{ form.quantity }} {% trans "Unit" %}: {{ form.unit_of_quantity }} 
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}

				<legend style="margin-top: 1em;"  class="section">{% trans "Planned Usables" %}:</legend>
				{{ usable_formset.management_form }}
				{% for form in usable_formset %}
					{{ form.id }}
					<div class="row-fluid formset-top">
						{% trans "Resource Type" %}: {{ form.resource_type }} 
					</div>
					<div class="row-fluid formset-middle">
						{% trans "Quantity" %}: {{ form.quantity }} {% trans "Unit" %}: {{ form.unit_of_quantity }} 
					</div>
					<div class="row-fluid formset-bottom">
						{% trans "Description" %}: {{ form.description }} 
					</div>
				{% endfor %}
				
			</div>
		</div>
		</form>
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

        $("select").chosen();

		$(".resource-type-selector").change(getUnit);
		$("#id_receiver").change(receiverChanged);

		function receiverChanged(event)
		{
            var receiver = event.target.value;
            if (receiver)
            {
                $("#id_create_order").prop('checked', false);
            }

		}

		function getUnit(event)
		{
            var targetId = event.target.id;
            // todo: must change to "use" or "other"
			if (targetId.search("usable") >= 0)
			{
				direction = "use";
			}
			else
			{
				direction = "other";
			}
			var prefix = targetId.split('-')[0] + '-' + targetId.split('-')[1];
			var resourceId = event.target.value;
			if (resourceId)
			{
			    var unitName = "#" + prefix + "-unit_of_quantity";
			    var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			    $.get(jsonUrl,
				    function(data){
					    var unit = data["unit"];
                        $(unitName).val(unit);
                        $(unitName).trigger("liszt:updated");
				    });
		    }
		}

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });


        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ 
			dateFormat: "yy-mm-dd",
    		onClose: function() {
      			$( this ).valid();
			}
		 });


		jQuery.validator.addMethod("equalToOrGreaterThan", 
		function(value, element, params) {

			if (!/Invalid|NaN/.test(new Date(value))) {
				return new Date(value) >= new Date($(params).val());
			}

			return isNaN(value) && isNaN($(params).val()) 
				|| (Number(value) >= Number($(params).val())); 
		},'Must be equal to or greater than start date.');

		$( "#processForm" ).validate({
			rules: {
				name: {
					required: true
				},
				url: {
					url: true
				},
				context_agent: {
					required: true
				},
				start_date: {
					required: true,
					date: true
				},
				end_date: {
					date: true,
					equalToOrGreaterThan: '#id_start_date'
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

	}); // end document.ready
    </script>

{% endblock %}
