{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Cleanup Resource Types" %}{% endblock %}

{% block extra_head %}

<style>

</style>
{% endblock %}

{% block body_class %}cleanup{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>

    <h2>Orphan Resource Types</h2>
    <ul>
        {% for orphan in orphans %}
            <li>
                <a href="{{ orphan.get_absolute_url }}">{{ orphan }}</a> created by: {{ orphan.created_by }} created date: {{ orphan.created_date }}
                <form
                    style="display: inline;" 
                    class="delete-resourcetype-form" 
                    id="deleteResourceTypeForm{{ orphan.id }}" 
                    action="{% url delete_resource_type resource_type_id=orphan.id %}" 
                    method="POST" >
                    {% csrf_token %}
                	<input type="hidden" id="next" name="next" value="cleanup-resourcetypes" />
                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete Resource Type" >X</button>
                </form>
            </li>
        {% endfor %}
    </ul>

	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){


	}); // end document.ready

     
    </script>

{% endblock %}
