{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Cleanup" %}{% endblock %}

{% block extra_head %}

<style>

</style>
{% endblock %}

{% block body_class %}cleanup{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
        <p><a href="{% url cleanup_processes %}">Orphan Processes</a></p>
        <p><a href="{% url cleanup_old_processes %}">Old Unfinished Processes</a></p>
        <p><a href="{% url cleanup_resourcetypes %}">Orphan Resource Types</a></p>
        <p><a href="{% url cleanup_resources %}">Orphan Resources</a></p>
        <p><a href="{% url cleanup_work_resourcetypes %}">Work Resource Types without value</a></p>
        <p><a href="{% url cleanup_unsourced_resources %}">Consumed but unsourced Resources</a></p>
        <p><a href="{% url cleanup_unvalued_resources %}">Used but unvalued Resources</a></p>
    
	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){


	}); // end document.ready

     
    </script>

{% endblock %}
