{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Closed Work Orders" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>
.btn {
    margin-bottom: 1px;
}
.report {
    margin-left: 2em;
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block body_class %}demand{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
    <div>
        <legend>{% trans "Closed Work Orders" %}</legend>
        <ul>
            {% for rand in rands %}
                <li>
                    <a href="{% url order_schedule order_id=rand.id %}">{{ rand }}</a>  {% trans "created by" %} {{ rand.created_by }}
                    {% if user = rand.created_by %} 
                        <form
                            style="display: inline;"  
                            action="{% url change_order order_id=rand.id %}" 
                            method="GET" >
                            {% csrf_token %}
                            <input type="hidden" id="next" name="next" value="closed_work_orders" />
                            <input type="hidden" id="from" name="from" value="report" />
                            <button style="display: inline;"  class="btn btn-info" title="Change Order" >Change</button>
                        </form> 
                        <form
                            style="display: inline;"  
                            action="{% url delete_order_confirmation order_id=rand.id %}" 
                            method="POST" >
                            {% csrf_token %}
                            <input type="hidden" id="next" name="next" value="closed_work_orders" />
                            <button style="display: inline;"  class="btn btn-warning" title="Delete Order" >Delete</button>
                        </form>                    
                    {% else %}
                        {% if agent %}
                            {% if user.is_superuser %}
                                <form
                                    style="display: inline;"  
                                    action="{% url delete_order_confirmation order_id=rand.id %}" 
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" id="next" name="next" value="closed_work_orders" />
                                    <button style="display: inline;"  class="btn btn-warning" title="Delete Order" >Delete</button>
                                </form>                            
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if rand.description %}
                        <p>{{ rand.description|urlize|linebreaks }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

        $('#demand').addClass('active');


    }); // end document.ready
    </script>

{% endblock %}
