{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Distribution" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>


.item-description
{
	width: 32em;
    height: 40px;
}

</style>
{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
	{% if context_agent %}
        <legend>{% trans "Distribution in" %} {{ context_agent }} </legend>
		<form id="exchangeForm" method="POST" action="">
			{% csrf_token %}
			<div class="span12">
				{{ exchange_form|as_bootstrap }}
				<div class="form-actions">
					<input type="submit" name="save" value="{% trans 'Save and go to step 2' %}" class="btn btn-primary" /> 
			   	</div>
			</div>
            <input type="hidden" id="use-case" name="next" value= "{{ use_case.identifier }}" />
		</div>
		</form>
    {% else %}
        <h2>You need a {{ context_types }}.</h2>
        <p>
            Read the 
            <a href="https://docs.google.com/presentation/d/1ztnDX-Cf-PmQPUNxAfntNBBpLH9mhsQ2lrJ77Ty8Plw/edit?usp=sharing" target= "_blank">
                Network Setup tutorial</a> 
            and create one.
        </p>
    {% endif %}
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/RelatedObjectLookups.js' %}"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){
	
        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        $(".chzn-select").chosen();
        
        jQuery.validator.setDefaults({ 
            success: function(label) {
				label
					.text('').addClass('valid')
					.closest('.control-group').addClass('success');
			}
        });

        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });

    	$( "#exchangeForm" ).validate({
			rules: {
				process_pattern: {
					required: true
				},
				start_date: {
					required: true,
					date: true
				},
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

		$("#id_context_agent").change(getCustomers);        

	}); // end document.ready
	
    </script>

{% endblock %}
