{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block head_title %}{% trans "Create Location" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<style>

</style>

{% endblock %}

{% block body_class %}locations{% endblock %}

{% block body_base %}
<div class="container">
    {% include "_messages.html" %}

    <legend>
        {% trans "Create Location" %} 
    </legend>

    <div class="row-fluid">
        <div class="span6">
            <form id="locationForm" method="POST" action="">
                 {% csrf_token %}

                {{ location_form|as_bootstrap }}
                
                {% if agent %}
                    <input type="hidden" id="agentId" name="agentId" value="{{ agent.id }}" />
                {% else %}
                    <input type="hidden" id="agentId" name="agentId" value="" />
                {% endif %}
                <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" /> 

           </form>
        </div>
        <div class="span6">
            <div id="map" style="width: 98%; height: 600px" ></div>

        </div>
    </div>
        

</div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){
    
        L.mapbox.accessToken = 'pk.eyJ1IjoiYmhhdWdlbiIsImEiOiIxMjdjMTUzNjNmOWIzNmEwMGUzZjgxYjg4NzZmZTZiYiJ9.2vafy9xqJJRFUGg_O6tAOg';

        var map = L.map('map').setView([{{ latitude }},{{ longitude }}], {{ zoom }});
        
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'bhaugen.3f30d361',
            accessToken: 'pk.eyJ1IjoiYmhhdWdlbiIsImEiOiIxMjdjMTUzNjNmOWIzNmEwMGUzZjgxYjg4NzZmZTZiYiJ9.2vafy9xqJJRFUGg_O6tAOg'
        }).addTo(map);
        
        // Initialize the geocoder control and add it to the map.
        /*
        var geocoderControl = L.mapbox.geocoderControl('mapbox.places');
        geocoderControl.addTo(map);
        */
        
        var geocoder = L.mapbox.geocoder('mapbox.places');

        $("#id_address").blur(geocodeAddress);
        
        var agentAddress = "{{ agent.address }}";
        if (agentAddress) 
        {
            geocoder.query(agentAddress, showMap);
        }

        function geocodeAddress(event) {
            var address = event.target.value;
            
            geocoder.query(address, showMap);
        }
        
        function showMap(err, data) {
            // The geocoder can return an area, like a city, or a
            // point, like an address. Here we handle both cases,
            // by fitting the map bounds to an area or zooming to a point.
            if (data.lbounds) {
                map.fitBounds(data.lbounds);
            } else if (data.latlng) {
                map.setView([data.latlng[0], data.latlng[1]], 13);
            }
            L.marker(data.latlng).addTo(map);
            $("#id_latitude").val(data.latlng[0]);
            $("#id_longitude").val(data.latlng[1]);
            //var lat = $("#id_latitude").val();
            //var lng = $("#id_longitude").val();
        }


	    $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
        })

        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $(".chzn-select").chosen();
 
        function updateList(event)
        {
            $(".chzn-select").trigger("liszt:updated");
        }

		$( "#locationForm" ).validate({
			rules: {
			    'address': {
                    required: true
				},
				'name': {
                    required: true
                },
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});


    }); // end document.ready



    </script>
    
{% endblock %}
