{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Distribution" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.name {
    font-weight: bold;
    font-size: 1.1em;
}
.bucket {
    margin-top: 15px;
}
#filters {
    margin-bottom: 20px;
}
.to {
    margin-left: 2em;
    font-style: italic;
}
.filt {
    margin-left: 2em;
}
.pct {
    margin-left: 1em;
}
.hdg {
    font-weight: bold;
    font-size: 1.2em;
    color: firebrick;
}
.item-description
{
	width: 70em;
    height: 40px;
}
td {
    padding-right: 3em;
}
.spc {
    padding-top: 8px;
}
.top {
    vertical-align: top;
    padding-top: 8px;
}
</style>
{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
	{% if context_agent %}
        <legend>{% trans "Distribute Income for " %} {{ context_agent }} </legend>
				
        <p class="hdg">Distribution:</p>
        <form id="headerForm" class="validateMe" action="." method="POST" >
            {% csrf_token %}
            <p>Value Equation</p>
            <p>{{ header_form.value_equation }}</p>
            <table>
              <tr><td>Select one or more Cash Receipts</td><td><b>OR</b></td><td>Amount to distribute</td></tr>
              <tr>
                <td class="top">{{ header_form.cash_receipts }}</td><td>&nbsp;</td>
                <td><span class="spc"> {{ header_form.money_to_distribute }}</span><br />Cash resource account<br /><span class="spc">{{ header_form.resource }}</span></td>
              </tr>
            </table>
{% comment %}
            <p>Distribution date</p>
            <p>{{ header_form.start_date }}</p>
{% endcomment %}
            <p>Comments</p>
            <p>{{ header_form.notes }}</p>
            <div id="filters">
                <span class="hdg">Bucket filters:</span>
                {% for bucket in buckets %}
                    <div class="bucket"><span class="name">{{ bucket.name }}</span><span class="pct"> {{ bucket.percentage }}</span>%</div>
                    {% if bucket.distribution_agent %}<div class="to"> Distribute to <span class="dist-to">{{ bucket.distribution_agent.name }}</span></div> {% endif %}
                    {% if bucket.filter_method %}
                        <div class="filt">
                        {% if bucket.filter_method == 'dates' %}
                            <p>Enter start and end dates (both optional)</p>
                            <div id="div-start_date" class="control-group  " style="display:inline;" >

                                <div class="controls" style="display:inline;">
                                    {{ bucket.form.start_date }} 
                                </div>
                            </div>                                    
                            through
                            <div id="div-end_date" class="control-group  " style="display:inline;">

                                <div class="controls" style="display:inline;">
                                    {{ bucket.form.end_date }}
                                </div>
                            </div>
                            <div id="div-context_agent" class="control-group">
                                <div class="controls">
                                    {{ bucket.form.context_agent }}
                                </div>
                            </div>
                        {% else %}
                            {{ bucket.form|as_bootstrap }} 
                        {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <input id="calculate" type="submit" name="submit" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Create Distribution' %}" />
        </form>

    {% else %}
        <h2>You need a {{ context_types }}.</h2>
        <p>
            Read the 
            <a href="https://docs.google.com/presentation/d/1ztnDX-Cf-PmQPUNxAfntNBBpLH9mhsQ2lrJ77Ty8Plw/edit?usp=sharing" target= "_blank">
                Network Setup tutorial</a> 
            and create one.
        </p>
    {% endif %}
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){
	
        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        $(".chzn-select").chosen();
        
        jQuery.validator.setDefaults({ 
            success: function(label) {
				label
					.text('').addClass('valid')
					.closest('.control-group').addClass('success');
			}
        });

        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });

    	$( "#exchangeForm" ).validate({
			rules: {
                value_equation: {
                    required: true
                },
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});
		
		$("#id_value_equation").change(reloadPage);
		
		function reloadPage()
		{
            var selectedVE = document.getElementById('id_value_equation').value;
            var url = '/accounting/value-equation-sandbox/' + selectedVE + '/'
            window.location.replace(url);
            }
 
	}); // end document.ready
	
    </script>

{% endblock %}
