{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Demand" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>
.btn {
    margin-bottom: 1px;
}
.report {
    margin-left: 2em;
    margin-bottom: 0;
}
</style>
{% endblock %}

{% block body_class %}demand{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
        <legend>{% trans "Demand" %}
            <a class="report" href="{% url closed_work_orders %}">{% trans "Closed Work Orders" %}</a>
            <a class="report" href="{% url demand_exchanges %}">{% trans "Exchange List" %}</a>
		</legend>
        {% if agent %}
            <p>
                <a class="btn btn-primary" href="{% url create_order %}">{% trans "Create Customer Order" %}</a>
                <a class="btn btn-primary" href="{% url process_selections rand=1 %}">{% trans "Plan Work" %}</a>
                <a class="btn btn-primary" href="{% url plan_from_recipe %}">{% trans "Plan Work Using Recipe" %}</a>
                <form id="exchangeForm" style="display: inline;" method="POST" action="">
                    {% csrf_token %}
                    Choose a type to create a new exchange: {{ nav_form.exchange_type }}
                    <input style="display: inline; vertical-align: top;" type="submit" name="submit" value="{% trans 'Exchange Without Order' %}" class="btn btn-primary" /> 
                </form>
            </p>
        {% endif %}
        {% if orders %}
            <h3 style="margin-bottom: 4px;" >{% trans "Open Customer Orders" %}:</h3>
            <ul>
                {% for order in orders %}
                    <li>
                        <a href="{% url order_schedule order_id=order.id %}">{{ order }}</a> {% trans "created by" %} {{ order.created_by }}
                        {% if user = order.created_by or user.is_superuser %}
                            <form
                                style="display: inline;"  
                                action="{% url delete_order_confirmation order_id=order.id %}" 
                                method="POST" >
                                {% csrf_token %}
                                <input type="hidden" id="next" name="next" value="demand" />
                                <button style="display: inline;"  class="btn btn-warning" title="Delete Order" >Delete</button>
                            </form>
                        {% endif %}
                        <form 
                            style="display: inline;" 
                            id="sale{{ order.id }}" 
                            action="{% url exchange_logging exchange_type_id=0 exchange_id=order.exchange.id %}" 
                            method="GET" >
                            <button style="display: inline;"  class="btn btn-info" title="Outgoing exchange for this order" >Fulfill this order</button>
                        </form>
                        {% if order.description %}
                            <p>{{ order.description|urlize|linebreaks }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if rands %}
            <h3 style="margin-bottom: 4px;" >{% trans "Open Work Orders" %}:</h3>
            <ul>
                {% for rand in rands %}
                    <li>
                        <a href="{% url order_schedule order_id=rand.id %}">{{ rand }}</a>  {% trans "created by" %} {{ rand.created_by }}
                        {% if user = rand.created_by or user.is_superuser %}
                            <form
                                style="display: inline;"  
                                action="{% url change_order order_id=rand.id %}" 
                                method="GET" >
                                {% csrf_token %}
                                <input type="hidden" id="next" name="next" value="demand" />
                                <input type="hidden" id="from" name="from" value="report" />
                                <button style="display: inline;"  class="btn btn-info" title="Change Order" >Change</button>
                            </form>
                            <form
                                style="display: inline;"  
                                action="{% url delete_order_confirmation order_id=rand.id %}" 
                                method="POST" >
                                {% csrf_token %}
                                <input type="hidden" id="next" name="next" value="demand" />
                                <button style="display: inline;"  class="btn btn-warning" title="Delete Order" >Delete</button>
                            </form>
                        {% else %}
                            {% if agent %}
                                {% if user.is_superuser %}
                                    <form
                                        style="display: inline;"  
                                        action="{% url delete_order_confirmation order_id=rand.id %}" 
                                        method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" id="next" name="next" value="demand" />
                                        <button style="display: inline;"  class="btn btn-warning" title="Delete Order" >Delete</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if rand.description %}
                            <p>{{ rand.description|urlize|linebreaks }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}


	</div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#demand').addClass('active');

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready
    </script>

{% endblock %}
