{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Demand" %}{% endblock %}

{% block body_class %}demand{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Demand" %}</legend>
			{% if user.is_authenticated %}
				<p>
					<a class="btn btn-primary" href="{% url create_order %}">{% trans "Create Order" %}</a>
					<a class="btn btn-primary" href="{% url create_rand %}">{% trans "Create R&amp;D Project" %}</a>
				</p>
			{% endif %}
			{% if orders %}
		        <h3 style="margin-bottom: 4px;" >{% trans "Open Orders" %}:</h3>
				<ul>
				    {% for order in orders %}
						<li>
                            <a href="{% url order_schedule order_id=order.id %}">{{ order }}</a> {% trans "created by" %} {{ order.created_by }}
							{% if user = order.created_by or user.is_superuser %}
                            	<a class="btn btn-warning" href="{% url delete_order_confirmation order_id=order.id %}">{% trans "Delete" %}</a>
							{% endif %}
                        </li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if rands %}
		        <h3 style="margin-bottom: 4px;" >{% trans "Open R&amp;D Projects" %}:</h3>
				<ul>
				    {% for rand in rands %}
						<li>
                            <a href="{% url order_schedule order_id=rand.id %}">{{ rand }}</a>  {% trans "created by" %} {{ rand.created_by }}
							{% if user = rand.created_by %}
                            	<a class="btn btn-info" href="{% url change_rand rand_id=rand.id %}">{% trans "Change" %}</a> 
                            	<a class="btn btn-info" href="{% url copy_rand rand_id=rand.id %}">{% trans "Copy" %}</a> 
                            	<a class="btn btn-warning" href="{% url delete_order_confirmation order_id=rand.id %}">{% trans "Delete" %}</a>
							{% else %}
							    {% if user.is_authenticated %}
							        {% if user.is_superuser %}
							            <a class="btn btn-warning" href="{% url delete_order_confirmation order_id=rand.id %}">{% trans "Delete" %}</a>
							        {% endif %}
                            	    <a class="btn btn-info" href="{% url copy_rand rand_id=rand.id %}">{% trans "Copy" %}</a>
                        	    {% endif %}
							{% endif %}
                        </li>
					{% endfor %}
				</ul>
			{% endif %}


	</div>
    </div>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#demand').addClass('active');

	}); // end document.ready
    </script>

{% endblock %}
