{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Value Equation" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.name {
    font-weight: bold;
    font-size: 1.1em;
}
.ve {
    background-color: #E1EBCD; /*#CCF5CC;*/
    border: solid 1px gainsboro;
    padding: 4px;
    margin-bottom: 7px; 
}
.veb {
    background-color: honeydew;
    border: solid 1px gainsboro;
    padding: 4px;
    margin: 0 5px 7px 5px; 
}
.vebr {
    background-color: #E6EFEF;
    border: solid 1px gainsboro;
    padding: 4px;
    margin: 0 5px 7px 5px;
}
.notes {
    margin-left: 1em;
    font-style: italic;
}
.btn-primary, .indent {
    margin-left: 1em;
}
.indent2 {
    margin-left: 2em;
}
.create-vebr textarea {
    height: 40px;
}
h3 {
    color: firebrick;
}
textarea {
    width: 550px;
    height: 60px;
}
.hdg {
    font-weight: bold;
    font-size: 1.2em;
    color: firebrick;
}
tr.even td 
{
    color:#000000;
    background-color:#EAF2D3;
}
th
{
    background-color:#C8D6E8;
}
#create-ve, #change-ve {
    width: 600px;
}
.cvebr {
    width: 610px;
    /*height: 550px;*/
}
.modal-body {
    max-height: 460px;
}

</style>
{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
       
        <legend>
            {% if value_equation %}
                {% trans "Edit Value Equation" %} {{ value_equation }}
                <a class="indent" href="{% url value_equation_sandbox value_equation_id=value_equation.id %}">Value Equation Sandbox</a> 
                {% if value_equation.live and user.is_staff %}
                    <a class="indent" href="{% url create_distribution_using_value_equation agent_id=value_equation.context_agent.id value_equation_id=value_equation.id %}">Distribute Income</a>
                {% endif %}
            {% else %}
                {% trans "Create Value Equation" %}
            {% endif %}
            <a class="indent" href="{% url value_equations %}">Value Equations List</a>
        </legend>

        {% if not value_equation %}
            {% if agent %}
                <div>
                    <a href="#create-ve" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Create New Value Equation" %}</a>
                </div>

                <div class="modal hide fade" id="create-ve" tabindex="-1" role="dialog" aria-labelledby="create-ve-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="create-ve-label">{% trans "Create Value Equation" %}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="validateMe" action="{% url create_value_equation %}" method="POST" >
                            {% csrf_token %}
                            {{ value_equation_form }}
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% else %}
          <div class="row-fluid">
           <div class="span7 ve">

                <span class="name">{{ value_equation }}</span>
                {% if user == value_equation.created_by or user.is_superuser %}
                    <div style="display: inline;" >
                        <a href="#change-ve" role="button" class="btn btn-primary btn-mini" data-toggle="modal">{% trans "Change" %}</a>
                    </div>
                    <div style="display: inline;" >
                        <a href="#create-veb" role="button" class="btn btn-info btn-mini" data-toggle="modal">{% trans "Add a Bucket" %}</a>
                    </div>

                    <div class="modal hide fade" id="change-ve" tabindex="-1" role="dialog" aria-labelledby="change-ve-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="change-ve-label">{% trans "Change Value Equation" %} </h3>
                        </div>
                        <div class="modal-body">
                            <form class="validateMe"  action="{% url change_value_equation value_equation_id=value_equation.id %}" method="POST" >
                                {% csrf_token %}
                                {{ value_equation_form|as_bootstrap }}
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
        
                    <div class="modal hide fade" id="create-veb" tabindex="-1" role="dialog" aria-labelledby="create-veb-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="create-veb-label">{% trans "Create Value Equation Bucket" %} </h3>
                        </div>
                        <div class="modal-body">
                            <form class="validateMe"  action="{% url create_value_equation_bucket value_equation_id=value_equation.id %}" method="POST" >
                                {% csrf_token %}
                                {{ value_equation_bucket_form|as_bootstrap }}
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <div style="float:right">
{% comment %}
                    <form
                        style="display: inline;" 
                        class="test-form" 
                        id="test-ve" 
                        action="{% url value_equation_sandbox value_equation_id=value_equation.id %}" 
                        method="GET" >
                        <button style="display: inline;"  class="btn btn-info btn-mini" title="Test this value equation" >Value Equation Sandbox</button>
                    </form>
{% endcomment %}
                    {% if user.is_superuser %}
                    <form
                        style="display: inline;" 
                        class="indent" 
                        id="make-live" 
                        action="{% url value_equation_live_test value_equation_id=value_equation.id %}" 
                        method="POST" >
                        {% csrf_token %}
                        <button style="display: inline;"  class="btn btn-primary btn-mini" title="Make value equation live or test" >
                            {% if value_equation.live %} Make This Test {% else %} Make This Live {% endif %}
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div>Context: <b>
                    {% if value_equation.context_agent %}
                        {{ value_equation.context_agent.nick }}
                    {% else %}
                        None
                    {% endif %}</b>
                </div>
                <div class="indent">
                    Bucket percentages are calculated using the method: <b>{{ value_equation.get_percentage_behavior_display }}</b>
                </div>
                {% if value_equation.description %}
                    <div class="notes"> {{ value_equation.description|urlize|linebreaks }} </div>
                {% endif %}    
     
                {% if value_equation.buckets.all %}
                    {% for bucket in value_equation.buckets.all %}
                        <div class="veb">
                            <span class="name">{{ bucket }}</span>

                            {% if user = value_equation.created_by or user.is_superuser %}
                                <div style="display: inline;" >
                                    <a href="#change-veb{{ bucket.id }}" role="button" class="btn btn-primary btn-mini" data-toggle="modal">{% trans "Change" %}</a>
                                </div>
                                <form
                                    style="display: inline;" 
                                    class="delete-form" 
                                    id="deleteBucketForm{{ bucket.id }}" 
                                    action="{% url delete_value_equation_bucket bucket_id=bucket.id %}" 
                                    method="POST" >
                                    {% csrf_token %}
                                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete this value equation bucket" >Delete</button>
                                </form>

                                <div class="modal hide fade" id="change-veb{{ bucket.id }}" tabindex="-1" role="dialog" aria-labelledby="change-veb-label" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="change-veb-label">{% trans "Change Value Equation Bucket" %} </h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="validateMe"  action="{% url change_value_equation_bucket bucket_id=bucket.id %}" method="POST" >
                                            {% csrf_token %}
                                            {{ bucket.change_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                    
                                {% if bucket.filter_method %}
                                  <div style="display: inline;" >
                                    <a href="#create-vebr{{ bucket.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">{% trans "Add a Bucket Rule" %}</a>
                                  </div>
                                  <div class="modal hide fade cvebr" id="create-vebr{{ bucket.id }}" tabindex="-1" role="dialog" aria-labelledby="create-vebr-label{{ bucket.id }}" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="create-vebr-label{{ bucket.id }}">{% trans "Create Bucket Rule for " %}{{ bucket.name }} </h3>
                                    </div>
                                    <div class="modal-body cvebr-body">
                                        <form class="validateMe" action="{% url create_value_equation_bucket_rule bucket_id=bucket.id %}" method="POST" >
                                            {% csrf_token %}
                                            {{ bucket.rule_form|as_bootstrap }}
                                            {{ bucket.rule_filter_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                {% endif %}
                            {% endif %}

                            {% if bucket.filter_method %}<div class="indent2">Filter method: <b>{{ bucket.get_filter_method_display }}</b></div>{% endif %}
                            {% if bucket.distribution_agent %}<div class="indent2">Distribute directly to: <b>{{ bucket.distribution_agent }}</b></div>{% endif %}
                        
                            {% if bucket.bucket_rules.all %}
                                {% for rule in bucket.bucket_rules.all %}                            
                                    <div class="vebr">
                                        Rule for: <b>{{ rule.event_type.name }}</b> 

                                        {% if user = value_equation.created_by or user.is_superuser %}
                                            <div style="display: inline;" >
                                                <a href="#change-vebr{{ rule.id }}" role="button" class="btn btn-primary btn-mini" data-toggle="modal">{% trans "Change" %}</a>
                                            </div>
                                            <form
                                                style="display: inline;" 
                                                class="delete-form" 
                                                id="deleteBucketRuleForm{{ rule.id }}" 
                                                action="{% url delete_value_equation_bucket_rule rule_id=rule.id %}" 
                                                method="POST" >
                                                {% csrf_token %}
                                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete this value equation bucket rule" >Delete</button>
                                            </form>

                                            <div class="modal hide fade cvebr" id="change-vebr{{ rule.id }}" tabindex="-1" role="dialog" aria-labelledby="change-vebr-label" aria-hidden="true">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h3 id="change-vebr-label">{% trans "Change Rule for " %} {{ bucket.name }} - {{ rule.event_type.name }} </h3>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url change_value_equation_bucket_rule rule_id=rule.id %}" method="POST" >
                                                        {% csrf_token %}
                                                        {{ rule.change_form|as_bootstrap }}
                                                        {{ rule.change_filter_form|as_bootstrap }}
                                                        <div class="modal-footer">
                                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                            <button class="btn btn-primary">{% trans "Save" %}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if agent %}
                                        <div style="float:right">                
                                            <form
                                                style="display: inline;" 
                                                class="test-form" 
                                                id="test-vebr{{ rule.id }}" 
                                                action="." 
                                                method="POST" >
                                                {% csrf_token %}
                                                <input type="hidden" id="test{{ rule.id }}" name="test" value= "{{ rule.id }}" />
                                                <input type="submit" name="submit" style="display: inline;"  class="btn btn-info btn-mini" value="{% trans 'Test Rule' %}" title="Test this value equation bucket rule" />
                                            </form>
                                        </div>
                                        {% endif %}
                                        <div class="indent">Claim calculation: <b>{{ rule.get_claim_rule_type_display }}, {{ rule.claim_creation_equation }}</b></div>
                                        <div class="indent">Filter by: <b>{{ rule.filter_rule_display_list }}</b></div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="span5" id="test-results">

                {% if test_results %}
                    <span class="hdg">Recent events for {{ rpt_heading }}</span>
                    <table class="table table-bordered table-condensed" >
                        <thead>
                            <th>{% trans "Event Date" %}</th>
                            <th>{% trans "Contributor" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Value" %}</th>
                            <th>{% trans "Claim Value" %}</th>
                        </thead>
                        <tbody> 
                            {% for tr in test_results %}
                                <tr class="{% cycle 'odd' 'even' %}">
                                    <td>{{ tr.event_date }}</td>
                                    <td>{{ tr.from_agent }}</td>
                                    <td>{% if tr.quantity > 0 %}{{ tr.quantity }} {{ tr.unit_of_quantity }}{% endif %}</td>
                                    <td>{% if tr.value > 0 %}{{ tr.value }} {{ tr.unit_of_value }}{% endif %}</td>
                                    <td>{{ tr.claim_amount }}</td>
                                </tr>
                            {% endfor %}
                        <tbody> 
                    </table>
                {% endif %}

            </div>
         
          </div>
        {% endif %}

    </div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){
    
        $('#distribution').addClass('active');

        $(".chzn-select").chosen();

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        $.validator.addClassRules("event-type-selector", { required: true });
        $.validator.addClassRules("required-field", { required: true });
        $.validator.addClassRules("integer", { digits: true });

        jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number with no more than 2 decimal places"
        );

        $.validator.addClassRules("quantity", { 
            required: true, 
            quantity: true,
        });

        $('.validateMe').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

        $(".event-type-selector").change(getDefaultEquation);
        
        function getDefaultEquation(event)
        {
            var eventTypeId = event.target.value;
            if (eventTypeId)
            {
                var targetId = event.target.id;
                var prefix = targetId.split('-')[0];
                var equationFieldName = "#" + prefix + "-claim_creation_equation";
                
                var jsonUrl = encodeURI("/accounting/json-default-equation/" + eventTypeId + "/");
                $.get(jsonUrl,
                    function(data){
                        var equation = data;
                        $(equationFieldName).val(equation);
                    });
            }
        }

    }); // end document.ready
    </script>

{% endblock %}
