{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

{% block head_title %}{% trans " Edit Recipe for " %} {{ resource_type }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>
h4 {
	margin-top: 1em; 
	margin-bottom: 1em;
} 
h4 a {
	font-size: 1.4em;
}

.score {
	font-weight: normal;
	font-style: italic;
}


ul {
	list-style-type:none;
	margin-left: 0;
}

.xb ul {
	margin-top: .8em;
}

.xb li {
	border: 1px solid gainsboro; 
	padding: 1em;
	font-weight: bold;
}

.economic-resource-type {
	background-color: lightyellow;
}

.feature {
	background-color: lightyellow;
}

.process-type {
	background-color: beige;
}

.option {
    background-color: whitesmoke;
}

.economic-agent {
    background-color: #EDDCCC;
}

.description {
	font-style: italic;
	font-weight: normal;
}

.node-description {
	font-weight: normal;
}


.facets, .pattern {
    margin-left: 1em;
	font-weight: normal;
}


.btn-info {
	margin-top: 2px;
}

.days, .hours, .minutes {
	width: 24px;
}

.modal-line {
    font-weight: normal;
    margin-top: .2em;
    margin-bottom: 3px; 
}
.desc textarea {
    width: 90%;
    height: 100px;
}
.facet {
    font-weight: bold;
    font-size: 1.1em;
}
.facet-name {
    padding-right: 1em;
    text-align: right;
}
.facets {
    font-weight: bold;
}


</style>
{% endblock %}

{% block body_class %}recipe{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Edit Recipe for " %} {{ resource_type }}</legend>

        <h4>
            {% trans "Produces" %} {{ output_ctype.quantity }} {{ output_ctype.unit_of_quantity.abbrev }} {% trans "of" %}
			{% if resource_type.url %}
				<a href="{{ resource_type.url }}" target="blank">{{ resource_type }}</a>
			{% else %}
				{{ resource_type }}
			{% endif %}
			{% if resource_type.photo %}
				<img src="{% thumbnail resource_type.photo big_photo_size %}" />
			{% elif resource_type.photo_url %}
        	    		<img src="{{ resource_type.photo_url }}" width="200" height="128" />
			{% endif %}
		

			<div style="display: inline;" >
				<a href="#resourceChangeForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change Resource Type" %}</a>
			</div>

        </h4>
        
			<div class="modal hide fade" id="resourceChangeForm" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="resource-change-label">{% trans "Change" %} {{ resource_type }}</h3>
				</div>
				<div class="modal-body">
					<form class="resource-change-form" enctype="multipart/form-data" action="{% url change_resource_type resource_type_id=resource_type.id %}" method="POST" >
						{% csrf_token %}
						{{ resource_type_form }}
						<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
					  <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						<button class="btn btn-primary">{% trans "Save changes" %}</button>
					  </div>


					</form>
			  </div>

			</div>

		{% if resource_type.facet_list %}
			<div class="facets" >{{ resource_type.facet_list }}</div>
		{% endif %}

		{% if resource_type.description %}
			<div class="description" >{{ resource_type.description|urlize|linebreaks }}</div>
		{% endif %}
		
		{% comment %}#todo pr: shd this use own or own_or_parent_recipes?{% endcomment %}
        {% if not resource_type.producing_process_type_relationships %}
		    <div style="margin-bottom: 2px;" >
			    <a href="#processForm{{ resource_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
					    {% blocktrans %}Add a process type to create {{ resource_type }}{% endblocktrans %}
			    </a>
		    </div>
        {% endif %}

		<div class="modal hide fade processForm" id="processForm{{ resource_type.id }}" tabindex="-1" role="dialog" aria-labelledby="process-label" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="process-label">{% blocktrans %}Add a process type to create {{ resource_type }}{% endblocktrans %}</h3>
		  </div>
		  <div class="modal-body">
				<form class="process-form" action="{% url create_process_type_for_resource_type resource_type_id=resource_type.id %}" method="POST">
						{% csrf_token %}
					{{ resource_type.process_create_form }}
					<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
				  <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
					<button class="btn btn-primary">{% trans "Save changes" %}</button>
				  </div>


				</form>
		  </div>

		</div>

		{% for node in nodes %}
			{% if not node.open and not node.close %}
				</li>
			{% endif %}
    
			{% if node.open %}
    				<ul class="xb" >
			{% endif %}

			{% with xb_type=node.xbill_class xbill_object=node.xbill_object xbill_node=node.node node_id=node.node.id object_node_id=node.xbill_object.id %}

				<li  class="xb  {{ xb_type }}" >

{% comment %}
					<p>xbill_node: {{ xbill_node }} Id: {{ node_id }} xb_type: {{ xb_type }}</p>
					<p>xbill_object: {{ xbill_object }} Id: {{ object_node_id }}</p>
{% endcomment %}

					{{ node.xbill_explanation }}: {{ node.xbill_label }}

					{% if xbill_object.url %}
						<a href="{{ xbill_object.url }}" target="blank">{{ xbill_object }}</a>
					{% else %}
						 {{ xbill_object }}
					{% endif %}

					{% if xbill_node.score %}
						<span class="score" > Score: {{ xbill_node.score }} </span>
					{% endif %}

					{% if xbill_object.photo %}
						<img src="{% thumbnail xbill_object.photo photo_size %}" />
					{% elif node.xbill_object.photo_url %}
		        	    <img src="{{ node.xbill_object.photo_url }}" width="128" height="96" />
					{% endif %}

					{% if xb_type == "process-type" %}
						<div style="display: inline;" >
							<a href="#processChangeForm{{ object_node_id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
						</div>


						<div class="modal hide fade processForm" id="processChangeForm{{ object_node_id }}" tabindex="-1" role="dialog" aria-labelledby="process-change-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="process-change-label">{% trans "Change" %} {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="process-change-form" action="{% url change_mfg_process_type process_type_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_object.xbill_change_form }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									<button class="btn btn-primary">{% trans "Save changes" %}</button>
								  </div>


								</form>
						  </div>

						</div>

						<div style="display: inline;" >
							<a href="{% url delete_process_type_confirmation process_type_id=xbill_object.id resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >Delete</a>
						</div>

					{% endif %}

					{% if xb_type == "economic-resource-type" %}
						<div style="display: inline;">
							<a href="#changeInputForm{{ node_id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
						</div>


						<div class="modal hide fade" id="changeInputForm{{ node_id }}" tabindex="-1" role="dialog" aria-labelledby="change-input-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="change-input-label">{% trans "Change" %} {{ xbill_node }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="change-input-form" action="{% url change_process_type_input input_id=xbill_node.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_node.xbill_change_form }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									<button class="btn btn-primary">{% trans "Save changes" %}</button>
								  </div>


								</form>
						  </div>

						</div>

						<div style="display: inline;" >
							<a href="{% url delete_process_input process_input_id=xbill_node.id resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >
								{% trans "Delete" %}
							</a>
						</div>

					{% endif %}


					{% if xb_type == "economic-agent" %}

						<div style="display: inline;" >
							<a href="#changeSourceForm{{ node_id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>							
						</div>

						<div class="modal hide fade sourceForm" id="changeSourceForm{{ node_id }}" tabindex="-1" role="dialog" aria-labelledby="change-source-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="change-source-label">{% trans "Change" %} {{ xbill_node }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="change-source-form form-horizontal" action="{% url change_agent_resource_type agent_resource_type_id=xbill_node.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_node.xbill_change_form }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									<button class="btn btn-primary">{% trans "Save changes" %}</button>
								  </div>

								</form>
						  </div>

						</div>

						<div style="display: inline;" >
							<a href="{% url delete_source source_id=xbill_node.id resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >
								{% trans "Delete" %}
							</a>
						</div>

					{% endif %}

					{% if xbill_object.facet_list %}
						<div class="facets" >{{ xbill_object.facet_list }}</div>
					{% endif %}

					{% if xbill_node.description %}
						<div class="description" >{{ xbill_node.description|urlize|linebreaks }}</div>
					{% endif %}

{% comment %}
					{% if xbill_object.description %}
						<div class="description" >{{ xbill_object.description|urlize|linebreaks }}</div>
					{% endif %}
{% endcomment %}

					{% if xb_type == "economic-resource-type" %}
						<div>
                            {% with rtype=xbill_object %}
						        {% if rtype.is_process_output %}
						        
                                    {% comment %}#todo pr: shd this use own or own_or_parent_recipes?{% endcomment %}
                                    {% if not rtype.producing_process_type_relationships %}
							            <div style="display: inline;" >
								            <a href="#processForm{{ rtype.node_id }}" role="button" class="btn btn-info" data-toggle="modal">
									            {% blocktrans %}Add a process type to produce {{ rtype }}{% endblocktrans %}
								            </a>
							            </div>
                                    {% endif %}

							        <div class="modal hide fade processForm" id="processForm{{ rtype.node_id }}" tabindex="-1" role="dialog" aria-labelledby="process-label" aria-hidden="true">
							          <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								        <h3 id="process-label">{% blocktrans %}Add a process type to produce {{ rtype }}{% endblocktrans %}</h3>
							          </div>
							          <div class="modal-body">
									        <form class="process-form form-horizontal" action="{% url create_process_type_for_resource_type resource_type_id=rtype.id %}" method="POST" >
										        {% csrf_token %}
										        {{ rtype.process_create_form }}
										        <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
									          <div class="modal-footer">
										        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
										        <button class="btn btn-primary">{% trans "Save changes" %}</button>
									          </div>


									        </form>
							          </div>

							        </div>
						        {% endif %}

                                {% if not xbill_node.event_type.relationship == "work" %}
                                
                                    {% comment %}#todo pr: shd this use own or own_or_parent_recipes?{% endcomment %}
                                    {% if not rtype.producing_process_type_relationships %}
						                <div style="display: inline;" >
							                <a href="#sourceForm{{ rtype.node_id }}" role="button" class="btn btn-info" data-toggle="modal">
							                    Add a source for {{ rtype }}
					                        </a>							
						                </div>

						                <div class="modal hide fade sourceForm" id="sourceForm{{ rtype.node_id }}" tabindex="-1" role="dialog" aria-labelledby="source-label" aria-hidden="true">
						                  <div class="modal-header">
							                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							                <h3 id="source-label">{% blocktrans %}Add a source for {{ rtype }}{% endblocktrans %}</h3>
						                  </div>
						                  <div class="modal-body">
								                <form class="source-form form-horizontal" action="{% url create_agent_resource_type resource_type_id=rtype.id %}" method="POST" >
									                {% csrf_token %}
									                {{ rtype.source_create_form }}
									                <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								                  <div class="modal-footer">
									                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									                <button class="btn btn-primary">{% trans "Save changes" %}</button>
								                  </div>

								                </form>
						                  </div>

						                </div>
					                {% endif %}
						        {% endif %}
						        
						    {% endwith %}
						</div>
						{% endif %}

						{% if xb_type == "process-type" %}
						    {% with ptype=xbill_object %}
						        {% with xbill_consumable_prefix=ptype.xbill_consumable_prefix %}
						            <div style="display: inline;" >
							            <a href="#consumableForm{{ xbill_consumable_prefix }}" role="button" class="btn btn-info" data-toggle="modal">
								            {% trans "Add consumable" %}
							            </a>
						            </div>

						            <div class="modal hide fade" id="consumableForm{{ xbill_consumable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="consumable-label" aria-hidden="true">
						              <div class="modal-header">
							            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							            <h3 id="consumable-label">{% blocktrans %}Add a consumable input to {{ ptype }}{% endblocktrans %}</h3>
						              </div>
						              <div class="modal-body">
								            <form class="consumable-form" action="{% url create_process_type_input process_type_id=ptype.id slot='c' %}" method="POST" >
									            {% csrf_token %}
                                                {% with iform=ptype.xbill_consumable_form %}
					                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                                    <p>{{ iform.resource_type }} 
							                        <a href="#createResourceForm{{ xbill_consumable_prefix }}" role="button" class="add-another" data-toggle="modal">
								                        <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
							                        </a> </p> 
							                        <p class="modal-line">{% trans "at stage" %} </p>
                                                    <p>{{ iform.stage }} </p>
					                                <p class="modal-line">{% trans "Quantity" %} </p>
                                                    <p>{{ iform.quantity }} </p>
                                                    <p class="modal-line">{% trans "Unit of Quantity" %} </p>
                                                    <p>{{ iform.unit_of_quantity }}</p>
                                                    <p class="modal-line">{% trans "Description" %} </p>
                                                    <p class="desc">{{ iform.description }} </p>
                                                {% endwith %}
									            <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								              <div class="modal-footer">
									            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									            <button class="btn btn-primary">{% trans "Save changes" %}</button>
								              </div>

								            </form>
						              </div>

						            </div>

				                    <div class="modal hide fade rtmodal" id="createResourceForm{{ xbill_consumable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="resource-consumable-create-label{{ xbill_consumable_prefix }}" aria-hidden="true">
					                    <div class="modal-header">
						                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						                    <h3 id="resource-consumable-create-label{{ xbill_consumable_prefix }}">{% trans "Create a new Resource Type" %}</h3>
					                    </div>
					                    <div class="modal-body">
						                    <form class="resource-create-form" id="formconsume{{ xbill_consumable_prefix }}" enctype="multipart/form-data" action="." method="POST" >
							                    {% csrf_token %}
							                    {{ ptype.xbill_consumable_rt_form }}
                                                {% with facet_formset=ptype.xbill_consumable_rt_facet_formset %}
                                                    {{ facet_formset.management_form }}
                                                    <table>
                                                        {% for form in facet_formset %}
                                                            <tr><td class="facet-name"> {{ form.facet_name }} </td><td> {{ form.value }} {{ form.facet_id }} </td></tr>
                                                        {% endfor %}
                                                    </table>
                                                {% endwith %}
    {% comment %}							                <input type="hidden" name="next" value="{% url edit_extended_bill %}" /> {% endcomment %}

						                      <div class="modal-footer">
							                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
							                    <input type="submit" name="submit" id="consume~{{ xbill_consumable_prefix }}" value="{% trans 'Save changes' %}" class="btn btn-primary save-resource-type" /> 
							                    {% comment %}
							                    <button class="btn btn-primary save-resource-type" id="consume~{{ xbill_consumable_prefix }}">{% trans "Save changes" %}</button>
							                    {% endcomment %}
                                                <input type="hidden" name="pt-id" value="{{ ptype.node_id }}" />
                                                <input type="hidden" name="slot" value="consume" />
						                      </div>

						                    </form>

				                        </div>
                                    </div>
                                {% endwith %}

                                {% with xbill_usable_prefix=ptype.xbill_usable_prefix %}
						            <div style="display: inline;" >
							            <a href="#usableForm{{ xbill_usable_prefix }}" role="button" class="btn btn-info" data-toggle="modal">
								            {% trans "Add usable" %}
							            </a>
						            </div>

						            <div class="modal hide fade" id="usableForm{{ xbill_usable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="usable-label" aria-hidden="true">
						              <div class="modal-header">
							            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							            <h3 id="usable-label">{% blocktrans %}Add a usable input to {{ ptype }}{% endblocktrans %}</h3>
						              </div>
						              <div class="modal-body">
								            <form class="usable-form" action="{% url create_process_type_input process_type_id=ptype.id slot='u' %}" method="POST" >
									            {% csrf_token %}
                                                {% with iform=ptype.xbill_usable_form %}
					                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                                    <p>{{ iform.resource_type }} 
							                        <a href="#createResourceForm{{ xbill_usable_prefix }}" role="button" class="add-another" data-toggle="modal">
								                        <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
							                        </a> </p>                   
					                                <p class="modal-line">{% trans "Quantity" %} </p>
                                                    <p>{{ iform.quantity }} </p>
                                                    <p class="modal-line">{% trans "Unit of Quantity" %} </p>
                                                    <p>{{ iform.unit_of_quantity }}</p>
                                                    <p class="modal-line">{% trans "Description" %} </p>
                                                    <p class="desc">{{ iform.description }} </p>
                                                {% endwith %}
									            <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								              <div class="modal-footer">
									            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									            <button class="btn btn-primary">{% trans "Save changes" %}</button>
								              </div>

								            </form>
						              </div>

						            </div>

				                    <div class="modal hide fade rtmodal" id="createResourceForm{{ xbill_usable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="resource-usable-create-label{{ xbill_usable_prefix }}" aria-hidden="true">
					                    <div class="modal-header">
						                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						                    <h3 id="resource-usable-create-label{{ xbill_usable_prefix }}">{% trans "Create a new Resource Type" %}</h3>
					                    </div>
					                    <div class="modal-body">
						                    <form class="resource-create-form" id="formuse{{ xbill_usable_prefix }}" enctype="multipart/form-data" action="." method="POST" >
							                    {% csrf_token %}
							                    {{ ptype.xbill_usable_rt_form }}
                                                {% with facet_formset=ptype.xbill_usable_rt_facet_formset %}
                                                    {{ facet_formset.management_form }}
                                                    <table>
                                                        {% for form in facet_formset %}
                                                            <tr><td class="facet-name"> {{ form.facet_name }} </td><td> {{ form.value }} {{ form.facet_id }} </td></tr>
                                                        {% endfor %}
                                                    </table>
                                    {% endwith %}
    {% comment %}							                <input type="hidden" name="next" value="{% url edit_extended_bill %}" /> {% endcomment %}

						                      <div class="modal-footer">
							                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
							                    <input type="submit" name="submit" id="use~{{ xbill_usable_prefix }}" value="{% trans 'Save changes' %}" class="btn btn-primary save-resource-type" /> 
							                    {% comment %}
							                    <button class="btn btn-primary save-resource-type" id="use~{{ xbill_usable_prefix }}">{% trans "Save" %}</button>
							                    {% endcomment %}
                                                <input type="hidden" name="pt-id" value="{{ ptype.node_id }}" />
                                                <input type="hidden" name="slot" value="use" />
						                      </div>

						                    </form>

				                        </div>
                                    </div>
                                {% endwith %}

                                {% with citable_prefix=ptype.xbill_citable_prefix %}
						            <div style="display: inline;" >
							            <a href="#citeForm{{ citable_prefix }}" role="button" class="btn btn-info" data-toggle="modal">
								            {% trans "Add citable" %}
							            </a>
						            </div>

						            <div class="modal hide fade" id="citeForm{{ citable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="cite-label" aria-hidden="true">
						              <div class="modal-header">
							            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							            <h3 id="cite-label">{% blocktrans %}Add a citable to {{ ptype }}{% endblocktrans %}</h3>
						              </div>
						              <div class="modal-body">
								            <form class="cite-form" action="{% url create_process_type_citable process_type_id=ptype.id %}" method="POST" >
									            {% csrf_token %}
                                                {% with cform=ptype.xbill_citable_form %}
					                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                                    <p>{{ cform.resource_type }} 
							                        <a href="#createResourceForm{{ citable_prefix }}" role="button" class="add-another" data-toggle="modal">
								                        <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
							                        </a> </p>                   
                                                    <p class="modal-line">{% trans "Description" %} </p>
                                                    <p class="desc">{{ cform.description }} </p>
                                                {% endwith %}
									            <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								              <div class="modal-footer">
									            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									            <button class="btn btn-primary">{% trans "Save changes" %}</button>
								              </div>

								            </form>
						              </div>

						            </div>

				                    <div class="modal hide fade rtmodal" id="createResourceForm{{ citable_prefix }}" tabindex="-1" role="dialog" aria-labelledby="resource-citable-create-label{{ citable_prefix }}" aria-hidden="true">
					                    <div class="modal-header">
						                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						                    <h3 id="resource-citable-create-label{{ ptype.node_id }}">{% trans "Create a new Resource Type" %}</h3>
					                    </div>
					                    <div class="modal-body">
						                    <form class="resource-create-form" id="formcite{{ citable_prefix }}" enctype="multipart/form-data" action="{% url create_resource_type %}" method="POST" >
							                    {% csrf_token %}
							                    {{ ptype.xbill_citable_rt_form }}
                                                {% with facet_formset=ptype.xbill_citable_rt_facet_formset %}
                                                    {{ facet_formset.management_form }}
                                                    <table>
                                                        {% for form in facet_formset %}
                                                            <tr><td class="facet-name"> {{ form.facet_name }} </td><td> {{ form.value }} {{ form.facet_id }} </td></tr>
                                                        {% endfor %}
                                                    </table>
                                                {% endwith %}
    {% comment %}							                <input type="hidden" name="next" value="{% url edit_extended_bill %}" /> {% endcomment %}

						                      <div class="modal-footer">
							                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
							                    <button type="submit" class="btn btn-primary save-resource-type" id="cite~{{ citable_prefix }}">{% trans "Save" %}</button>
                                                <input type="hidden" name="pt-id" value="{{ ptype.node_id }}" />
                                                <input type="hidden" name="slot" value="cite" />
						                      </div>

						                    </form>

				                        </div>
                                    </div>
                                {% endwith %}


						        <div style="display: inline;" >
							        <a href="#workForm{{ ptype.node_id }}" role="button" class="btn btn-info" data-toggle="modal">
								        {% trans "Add work" %}
							        </a>
						        </div>

						        <div class="modal hide fade" id="workForm{{ ptype.node_id }}" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
						          <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h3 id="work-label">{% blocktrans %}Add work to {{ ptype }}{% endblocktrans %}</h3>
						          </div>
						          <div class="modal-body">
								        <form class="work-form" action="{% url create_process_type_work process_type_id=ptype.id %}" method="POST" >
									        {% csrf_token %}
					                        {{ ptype.xbill_work_form }}
									        <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								          <div class="modal-footer">
									        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									        <button class="btn btn-primary">{% trans "Save changes" %}</button>
								          </div>

								        </form>
						          </div>

						        </div>
{% comment %}
						        <div style="display: inline;" >
							        <a href="#featureForm{{ ptype.node_id }}" role="button" class="btn btn-info" data-toggle="modal">
								        {% trans "Add feature" %}
							        </a>
						        </div>

						        <div class="modal hide fade" id="featureForm{{ ptype.node_id }}" tabindex="-1" role="dialog" aria-labelledby="feature-label" aria-hidden="true">
						          <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h3 id="feature-label">{% blocktrans %}Add a feature to {{ ptype }}{% endblocktrans %}</h3>
						          </div>
						          <div class="modal-body">
								        <form class="feature-form" action="{% url create_process_type_feature process_type_id=ptype.id %}" method="POST" >
									        {% csrf_token %}
									        {{ feature_form }}
									        <input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								          <div class="modal-footer">
									        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									        <button class="btn btn-primary">{% trans "Save changes" %}</button>
								          </div>

								        </form>
						          </div>

						        </div>
{% endcomment %}
						        
                                <div class="pattern" >{% trans "Pattern:" %} {{ ptype.process_pattern }}</div>
                                
						        {% if ptype.description %}
						            <div class="description" >{{ ptype.description|urlize|linebreaks }}</div>
					            {% endif %}
					        {% endwith %}

						{% endif %}

						{% if xb_type == "feature" %}

						<div style="display: inline;" >
							<a href="#changeFeatureForm{{ object_node_id }}" role="button" class="btn btn-primary" data-toggle="modal">Change</a>							
						</div>

						<div class="modal hide fade" id="changeFeatureForm{{ object_node_id }}" tabindex="-1" role="dialog" aria-labelledby="change-feature-label" aria-hidden="true">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="change-feature-label">{% trans "Change" %} {{ xbill_object }}</h3>
						  </div>
						  <div class="modal-body">
								<form class="change-feature-form" action="{% url change_feature feature_id=xbill_object.id %}" method="POST" >
									{% csrf_token %}
									{{ xbill_object.xbill_change_form }}
									<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
								  <div class="modal-footer">
									<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
									<button class="btn btn-primary">{% trans "Save changes" %}</button>
								  </div>

								</form>
						  </div>

						</div>

						<div style="display: inline;" >
							<a href="{% url delete_feature_confirmation feature_id=xbill_object.id resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >
								{% trans "Delete" %}
							</a>
						</div>


							{% if xbill_object.options.all %}
								<div>
									<a href="#optionChangeForm{{ object_node_id }}" role="button" class="btn btn-info" data-toggle="modal">
										{% blocktrans %}Change options for {{ xbill_object }}{% endblocktrans %}
									</a>
								</div>

								<div class="modal hide fade" id="optionChangeForm{{ object_node_id }}" tabindex="-1" role="dialog" aria-labelledby="options-change-label" aria-hidden="true">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="options-change-label">{% blocktrans %}Change options for {{ xbill_object }}{% endblocktrans %}</h3>
								  </div>
								  <div class="modal-body">
										<form class="options-change-form" action="{% url change_options_for_feature feature_id=xbill_object.id %}" method="POST" >
											{% csrf_token %}
											{{ xbill_object.options_change_form }}
											<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
										  <div class="modal-footer">
											<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
											<button class="btn btn-primary">{% trans "Save changes" %}</button>
										  </div>

										</form>
								  </div>

								</div>

							{% else %}
								<div>
									<a href="#optionsForm{{ object_node_id }}" role="button" class="btn btn-info" data-toggle="modal">
										{% blocktrans %}Select options for {{ xbill_object }}{% endblocktrans %}
									</a>
								</div>

								<div class="modal hide fade" id="optionsForm{{ object_node_id }}" tabindex="-1" role="dialog" aria-labelledby="options-label" aria-hidden="true">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="options-label">{% blocktrans %}Select options for {{ xbill_object }}{% endblocktrans %}</h3>
								  </div>
								  <div class="modal-body">
										<form class="options-form" action="{% url create_options_for_feature feature_id=xbill_object.id %}" method="POST" >
											{% csrf_token %}
											{{ xbill_object.options_form }}
											<input type="hidden" name="next" value="{% url edit_extended_bill resource_type_id=resource_type.id %}" />
										  <div class="modal-footer">
											<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
											<button class="btn btn-primary">{% trans "Save changes" %}</button>
										  </div>

										</form>
								  </div>

								</div>
							{% endif %}


						{% endif %}

				{% for close in node.close %}
					</li>
					</ul>
				{% endfor %}

			{% endwith %}

		{% endfor %}

	</div>

    </div>

{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>

{% endblock %}

{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){
	
        $('#inventory').addClass('active');

	    function html_unescape(text) {
            // Unescape a string that was escaped using django.utils.html.escape.
            text = text.replace(/&lt;/g, '<');
            text = text.replace(/&gt;/g, '>');
            text = text.replace(/&quot;/g, '"');
            text = text.replace(/&#39;/g, "'");
            text = text.replace(/&amp;/g, '&');
            return text;
        }

        var nameArray = html_unescape("{{ resource_names }}").split("~");

	    $("select").chosen({placeholder_text_single: ""});

	   $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $(".existing-name").change(setupUniqueTest);

        function setupUniqueTest(event)
        {
            var field = event.target;
            var oldValue = field.defaultValue;
            var newValue = field.value;
            if (newValue != oldValue)
            {
                var fieldId = "#" + field.id;
                $(fieldId).addClass("unique-name");
            }
        }

        jQuery.validator.addMethod("unique", function(value, element, param) {
            return this.optional(element) || $.inArray(value, param) < 0; // <-- Check if the value is not in the array.
        }, "Name is not unique.");

        $.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("unique-name", { required: true, unique: nameArray });
        $.validator.addClassRules("name", { required: true });

        $.validator.addClassRules("resource-type-selector", { required: true });

        $.validator.addClassRules("numeric", { number: true });
		$.validator.addClassRules("quantity", { required: true, number: true });
		$.validator.addClassRules("days", { required: true, number: true });
		$.validator.addClassRules("hours", { 
			required: true,
			number: true,
			min: 0,
			max: 24
		});
		$.validator.addClassRules("minutes", { 
			required: true,
			number: true,
			min: 0,
			max: 60
		});

		$(".resource-type-selector").change(getUnit);
		
		$(".staged-selector").change(getStages);

		function getUnit(event)
		{
			var prefix = event.target.id.split('-')[0];
			var resourceId = event.target.value;
			var unitName = "#" + prefix + "-unit_of_quantity";
			if (prefix.search("USE") >= 0)
		    {
			    direction = "use";
		    }
		    else
		    {
			    direction = "other";
		    }
			var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			$.get(jsonUrl,
				function(data){
					var unit = data["unit"];
                    $(unitName).val(unit);
                    $(unitName).trigger("liszt:updated");
				});
		}
		

        function getStages(event)
        {
            var prefix = event.target.id.split('-')[0];
            var resourceId = event.target.value;
            var stageFieldName = "#" + prefix + "-stage";
            var jsonUrl = encodeURI("/accounting/json-resourcetype-stages/" + resourceId + "/");
            $(stageFieldName).empty();
            var sf = $(stageFieldName);
            $.get(jsonUrl,
                function(data){
                    if (data.length)
                    {
                        for(var i=0 ; i<data.length ; i++)
                        {
                            var id = data[i]['pk'];
                            var name = data[i].fields['name']; 
                            $(stageFieldName).append('<option value="' + id + '">' + name + '</option>') 
                        }
                    }
                    else
                    {
                        $(stageFieldName).append('<option value="' + '' + '">' + '--------' + '</option>')
                    }
                    $(stageFieldName).trigger("liszt:updated");
                });
        }

        jQuery.validator.setDefaults({ 
            success: function(label) {
				label
					.text('').addClass('valid')
					.closest('.control-group').addClass('success');
			}
        });

        $('.resource-create-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.work-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});
        

		$('.resource-change-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.feature-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					quantity: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.change-feature-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					quantity: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.source-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.change-source-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.process-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$('.process-change-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});


		$('.consumable-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});

		});

		$('.usable-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});

		});

		$('.change-input-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					quantity: {
						number: true
					},
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		$(document).ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
				    var cookies = document.cookie.split(';');
				    for (var i = 0; i < cookies.length; i++) {
				        var cookie = jQuery.trim(cookies[i]);
				        // Does this cookie string begin with the name we want?
				        if (cookie.substring(0, name.length + 1) == (name + '=')) {
				            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				            break;
				        }
				    }
				}
				return cookieValue;
			}
			function sameOrigin(url) {
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
				    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
				    // or any other URL that isn't scheme relative or absolute i.e relative.
				    !(/^(\/\/|http:|https:).*/.test(url));
			}
			function safeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}

			if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});

        $(".save-resource-type").click(function(event) {
            event.preventDefault();
            var btn = event.target;
            var id = btn.id.split('~')
            var nodeId = id[1];
            var slot = id[0];
		    var $form = $("#form" + slot + nodeId);
		    if ($form.valid())
		    {
		        var formData = $form.serialize();
		        var selId = "#id_" + nodeId + "-resource_type";
		        var modalId = "#createResourceForm" + nodeId;
		        var modal = $(modalId);
                var url = "{%url create_resource_type_ajax %}";
		        var jqxhr = $.post( url, formData,
			        function( data ) {
                        for(var i=0 ; i<data.length ; i++) //will be only one
                        {
                            var id = data[i]['pk'];
                            var name = data[i].fields['name']; 
                            var selx = $(selId);
                            selx.append('<option value="' + id + '" selected="selected">' + name + '</option>');
                            selx.trigger("liszt:updated");
                            selx.trigger("change");
                        }
                        $(modalId).modal('hide');
                        $form.trigger( "reset" );
			        })
			        .fail(function() 
			        { 
				        alert("Check your name field.");
			        }
		        );
	        }
		});

	}); // end document.ready
    </script>
{% endblock %}
