{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap_tags %}

{% block head_title %}{% trans " Edit Workflow Recipe for " %} {{ resource_type }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>
h4 {
    margin-top: 1em; 
    margin-bottom: 1em;
} 
h4 a, h4 {
    font-size: 1.4em;
}
textarea {
    width: 500px;
}
.modal {
    width: 550px;
}
.score {
    font-weight: normal;
    font-style: italic;
}
.economic-resource-type {
    background-color: whitesmoke;
    border: 1px solid gainsboro; 
    padding: 1em 1em .5em 1em;
    font-weight: bold;
}
.change-resource-type {
    background-color: mintcream;
    border: 1px solid gainsboro; 
    padding: 1em;
    font-weight: bold;
}
.inputs, .outputs {
    background-color: #E5E5E5;
    border: solid 1px gainsboro;
    padding: 5px;
    margin-top: 4px;
}
.process-type {
    background-color: beige;
    border: solid 1px gainsboro;
    padding: 10px;
}
.process-hdr {
    color: firebrick;
    font-size: 1.2em;
}
.description {
    font-style: italic;
    font-weight: normal;
    padding-left: 2em;
}
.node-description {
    font-weight: normal;
}
.facets, .pattern {
    margin-left: 1em;
    font-weight: normal;
}
.btn-info {
    margin-top: 1px;
    margin-bottom: 1px;
}
.days, .hours, .minutes {
    width: 24px;
}
.modal-line {
    font-weight: normal;
    margin-top: .2em;
    margin-bottom: 3px; 
}
.desc textarea {
    width: 90%;
    height: 100px;
}
.facet {
    font-weight: bold;
    font-size: 1.1em;
}
.facet-name {
    padding-right: 1em;
    text-align: right;
}
.bottom-space {
    margin-bottom: 4px;
}
.align-center {
    text-align: center;
}
    
</style>
{% endblock %}

{% block body_class %}recipe{% endblock %}

{% block body_base %}
    <div class="container-fluid">
        {% include "_messages.html" %}
      <div>
        <legend>{% trans "Edit Workflow Recipe for " %} {{ resource_type }}</legend>

        <h4>
            {% if resource_type.url %}
                <a href="{{ resource_type.url }}" target="blank">{{ resource_type }}</a>
            {% else %}
                {{ resource_type }}
            {% endif %}
            {% if resource_type.photo %}
                <img src="{% thumbnail resource_type.photo photo_size %}" />
            {% elif resource_type.photo_url %}
                        <img src="{{ resource_type.photo_url }}" width="200" height="128" />
            {% endif %}

            <div style="display: inline;" >
                <a href="#resourceChangeForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
            </div>

        </h4>
        
        <div class="modal hide fade" id="resourceChangeForm" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="resource-change-label">{% trans "Change" %} {{ resource_type }}</h3>
            </div>
            <div class="modal-body">
                <form class="resource-change-form" enctype="multipart/form-data" action="{% url change_resource_type resource_type_id=resource_type.id %}" method="POST" >
                    {% csrf_token %}
                    {{ resource_type_form }}
                    <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                        <button class="btn btn-primary">{% trans "Save changes" %}</button>
                    </div>
                </form>
            </div>

        </div>

        {% if resource_type.facet_list %}
            <div class="facets" >{{ resource_type.facet_list }}</div>
        {% endif %}

        {% if resource_type.description %}
            <div class="description" >{{ resource_type.description|urlize|linebreaks }}</div>
        {% else %}
            <br />
        {% endif %}
        
        {% for process_type in process_types %}
         {% if process_type.input_stream_resource_type_relationship.count > 0 %}
          <div class="row-fluid">
           <div class="span12">
           
            <div class="bottom-space">
                <a href="#insertProcessForm{{ process_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
                {% blocktrans %}Insert a process type here {% endblocktrans %}
                </a>
            </div>
            
            <div class="modal hide fade processForm" id="insertProcessForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="process-insert-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="process-insert-label">{% blocktrans %}Insert process type for {% endblocktrans %} {{ resource_type }} </h3>
                </div>
                <div class="modal-body">
                    <form class="process-form" action="{% url create_process_type_for_streaming resource_type_id=resource_type.id process_type_id=process_type.id %}" method="POST">
                        {% csrf_token %}
                        {{ process_type.stream_process_type_create_form }}
                        <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save changes" %}</button>
                        </div>
                    </form>
                </div>
            </div>            
           </div>
          </div>
         {% endif %}
          
         <div class="process-type">
 
          <div class="row-fluid">
           <div class="span12">
            <div class="process-hdr" style="display: inline;"> {{ process_type.name }} </div>

            <div style="display: inline;" >
                <a href="#processChangeForm{{ process_type.id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
            </div>

            <div class="modal hide fade processForm" id="processChangeForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="process-change-label" aria-hidden="true">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="process-change-label">{% trans "Change" %} {{ xbill_object }}</h3>
                </div>
                <div class="modal-body">
                    <form class="process-change-form" action="{% url change_process_type process_type_id=process_type.id %}" method="POST" >
                        {% csrf_token %}
                        {{ process_type.recipe_change_form }}
                        <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                        <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                        <button class="btn btn-primary">{% trans "Save changes" %}</button>
                        </div>
                    </form>
                </div>
            </div>
    
            <form style="display: inline;" action="{% url delete_process_type_confirmation process_type_id=process_type.id resource_type_id=resource_type.id %}" method="POST" >
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                <button class="btn btn-warning" title="Delete process type" >Delete</button>
            </form>
            
            {% if "Time Contribution" in process_type.process_pattern.non_change_event_type_names %}
                <div style="display: inline;" >
                    <a href="#workForm{{ process_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
                    {% trans "Add work" %}
                    </a>
                </div>
            
                <div class="modal hide fade" id="workForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="work-label">{% blocktrans %}Add work to {% endblocktrans %} {{ process_type.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="work-form" action="{% url create_process_type_work process_type_id=process_type.id %}" method="POST" >
                            {% csrf_token %}
                            {{ process_type.xbill_work_form }}
                            <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
            
            {% if "Resource Consumption" in process_type.process_pattern.non_change_event_type_names %}
                <div style="display: inline;" >
                    <a href="#consumableForm{{ process_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
                    {% trans "Add consumable" %}
                    </a>
                </div>
            
                <div class="modal hide fade" id="consumableForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="consumable-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="consumable-label">{% blocktrans %}Add a consumable input to {% endblocktrans %} {{ process_type.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="consumable-form" action="{% url create_process_type_input process_type_id=process_type.id slot='c' %}" method="POST" >
                            {% csrf_token %}
                            {% with iform=process_type.xbill_consumable_form %}
                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                <p>{{ iform.resource_type }} 
                                {% comment %}
                                <a href="#createResourceForm{{ process_type.id }}" role="button" class="add-another" data-toggle="modal">
                                <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
                                </a> 
                                {% endcomment %}
                                </p>                   
                                <p class="modal-line">{% trans "Quantity" %} </p>
                                <p>{{ iform.quantity }} </p>
                                <p class="modal-line">{% trans "Unit of Quantity" %} </p>
                                <p>{{ iform.unit_of_quantity }}</p>
                                <p class="modal-line">{% trans "Description" %} </p>
                                <p class="desc">{{ iform.description }} </p>
                            {% endwith %}
                            <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        
                        </form>
                    </div>
                </div>
            {% endif %}
            
            {% if "Resource use" in process_type.process_pattern.non_change_event_type_names %}
                <div style="display: inline;" >
                    <a href="#usesForm{{ process_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
                    {% trans "Add usable" %}
                    </a>
                </div>
                
                <div class="modal hide fade" id="usesForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="uses-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="uses-label">{% blocktrans %}Add a usable input to {% endblocktrans %} {{ process_type.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="uses-form" action="{% url create_process_type_input process_type_id=process_type.id slot='u' %}" method="POST" >
                            {% csrf_token %}
                            {% with iform=process_type.xbill_usable_form %}
                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                <p>{{ iform.resource_type }} 
                                {% comment %}
                                <a href="#createResourceForm{{ process_type.id }}" role="button" class="add-another" data-toggle="modal">
                                <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
                                </a> 
                                {% endcomment %}
                                </p>                   
                                <p class="modal-line">{% trans "Quantity" %} </p>
                                <p>{{ iform.quantity }} </p>
                                <p class="modal-line">{% trans "Unit of Quantity" %} </p>
                                <p>{{ iform.unit_of_quantity }}</p>
                                <p class="modal-line">{% trans "Description" %} </p>
                                <p class="desc">{{ iform.description }} </p>
                            {% endwith %}
                            <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}           
            
            {% if "Citation" in process_type.process_pattern.non_change_event_type_names %}
                <div style="display: inline;" >
                    <a href="#citesForm{{ process_type.id }}" role="button" class="btn btn-info" data-toggle="modal">
                    {% trans "Add citable" %}
                    </a>
                </div>
                
                <div class="modal hide fade" id="citesForm{{ process_type.id }}" tabindex="-1" role="dialog" aria-labelledby="cites-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="cites-label">{% blocktrans %}Add a citable input to {% endblocktrans %} {{ process_type.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="cites-form" action="{% url create_process_type_citable process_type_id=process_type.id %}" method="POST" >
                            {% csrf_token %}
                            {% with iform=process_type.stream_recipe_citable_form %}
                                <p class="modal-line">{% trans "Resource Type" %} </p>
                                <p>{{ iform.resource_type }} 
                                {% comment %} 
                                <a href="#createResourceForm{{ process_type.id }}" role="button" class="add-another" data-toggle="modal">
                                <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
                                </a> 
                                {% endcomment %} 
                                </p>                  
                                <p class="modal-line">{% trans "Description" %} </p>
                                <p class="desc">{{ iform.description }} </p>
                            {% endwith %}
                            <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}   
            
            
            {% if process_type.description %}
                <div class="description" >{{ process_type.description|urlize|linebreaks }}</div>
            {% endif %}
          </div>
  
          <div class="row-fluid">
          
            <div class="span6 inputs">
                <h5 class="align-center">Inputs</h5>
                
                {% for ptrt in process_type.to_be_changed_resource_type_relationships %}                
                    <div class="change-resource-type">
                        {{ ptrt.stream_label }}
                        {% if ptrt.resource_type.facet_list %}
                            <div class="facets" >{{ ptrt.resource_type.facet_list }}</div>
                        {% endif %}
                        {% if ptrt.description %}
                            <div class="description" >{{ ptrt.description|urlize|linebreaks }}</div>
                        {% endif %}
                    </div>
                {% endfor %} 
                
                {% for ptrt in process_type.all_input_except_change_resource_type_relationships %}
                  <div class="economic-resource-type">
                    <div style="display: inline;">
                        {{ ptrt.stream_label }}
                    </div>
                    <div style="display: inline;">
                        <a href="#changeInputForm{{ ptrt.id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
                    </div>

                    <div class="modal hide fade" id="changeInputForm{{ ptrt.id }}" tabindex="-1" role="dialog" aria-labelledby="change-input-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="change-input-label">{% trans "Change" %} {{ ptrt }}</h3>
                        </div>
                        <div class="modal-body">
                            <form class="change-input-form" action="{% url change_process_type_input input_id=ptrt.id %}" method="POST" >
                                {% csrf_token %}
                                {{ ptrt.xbill_change_form }}
                                <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                    <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div style="display: inline;" >
                      <form style="display: inline;" action="{% url delete_process_type_input process_input_id=ptrt.id resource_type_id=resource_type.id %}" method="POST" >
                        {% csrf_token %}
                        <button class="btn btn-warning" title="Delete input item" >Delete</button>
                        <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                      </form>
                    </div>
                    
                    {% if ptrt.resource_type.facet_list %}
                        <div class="facets" >{{ ptrt.resource_type.facet_list }}</div>
                    {% endif %}
                    {% if ptrt.description %}
                        <div class="description" >{{ ptrt.description|urlize|linebreaks }}</div>
                    {% endif %}
                    
                  </div>
                {% endfor %}
            </div>

            <div class="span6 outputs">
            <h5  class="align-center">Output</h5>
                {% for ptrt in process_type.produced_resource_type_relationships %}
                    <div class="change-resource-type">
                        {{ ptrt.stream_label }}
                        {% if ptrt.resource_type.facet_list %}
                            <div class="facets" >{{ ptrt.resource_type.facet_list }}</div>
                        {% endif %}
                        {% if ptrt.description %}
                            <div class="description" >{{ ptrt.description|urlize|linebreaks }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            
           </div> 
          </div>
         </div>
     
         <div class="row-fluid">
           <div class="span12">
            <img src="{% static 'img/bullet-arrow-down-icon.png' %}" />
           </div>
         </div>
 
       {% endfor %}
 
        <div >
            <a href="#processForm0" role="button" class="btn btn-info" data-toggle="modal">
            {% blocktrans %}Add a process type to change {{ resource_type }}{% endblocktrans %}
            </a>
        </div>
        
        <div class="modal hide fade processForm" id="processForm0" tabindex="-1" role="dialog" aria-labelledby="process-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="process-label">{% blocktrans %}Add next process type for {% endblocktrans %} {{ resource_type }} </h3>
            </div>
            <div class="modal-body">
                <form class="process-form" action="{% url create_process_type_for_streaming resource_type_id=resource_type.id %}" method="POST">
                    {% csrf_token %}
                    {{ resource_type.process_stream_create_form }}
                    <input type="hidden" name="next" value="{% url edit_stream_recipe resource_type_id=resource_type.id %}" />
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                        <button class="btn btn-primary">{% trans "Save changes" %}</button>
                    </div>
                </form>
            </div>
        </div>  
    
    </div>

{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>

{% endblock %}

{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){
    
        $('#inventory').addClass('active');

        function html_unescape(text) {
            // Unescape a string that was escaped using django.utils.html.escape.
            text = text.replace(/&lt;/g, '<');
            text = text.replace(/&gt;/g, '>');
            text = text.replace(/&quot;/g, '"');
            text = text.replace(/&#39;/g, "'");
            text = text.replace(/&amp;/g, '&');
            return text;
        }

        var nameArray = html_unescape("{{ resource_names }}").split("~");

        $("select").chosen();

       $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $(".existing-name").change(setupUniqueTest);

        function setupUniqueTest(event)
        {
            var field = event.target;
            var oldValue = field.defaultValue;
            var newValue = field.value;
            if (newValue != oldValue)
            {
                var fieldId = "#" + field.id;
                $(fieldId).addClass("unique-name");
            }
        }

        jQuery.validator.addMethod("unique", function(value, element, param) {
            return this.optional(element) || $.inArray(value, param) < 0; // <-- Check if the value is not in the array.
        }, "Name is not unique.");

        $.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("name", { required: true });
        $.validator.addClassRules("unique-name", { required: true, unique: nameArray });

        $.validator.addClassRules("resource-type-selector", { required: true });

        $.validator.addClassRules("numeric", { number: true });
        $.validator.addClassRules("quantity", { required: true, number: true });
        $.validator.addClassRules("days", { required: true, number: true });
        $.validator.addClassRules("hours", { 
            required: true,
            number: true,
            min: 0,
            max: 23
        });
        $.validator.addClassRules("minutes", { 
            required: true,
            number: true,
            min: 0,
            max: 59
        });

        $(".resource-type-selector").change(getUnit);

        function getUnit(event)
        {
            var prefix = event.target.id.split('-')[0];
            var resourceId = event.target.value;
            var unitName = "#" + prefix + "-unit_of_quantity";
            if (prefix.search("USE") >= 0)
            {
                direction = "use";
            }
            else
            {
                direction = "other";
            }
            var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
            $.get(jsonUrl,
                function(data){
                    var unit = data["unit"];
                    $(unitName).val(unit);
                    $(unitName).trigger("liszt:updated");
                });
        }

        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });

        $('.resource-create-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

        $('.work-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });
        

        $('.resource-change-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

        $('.process-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

        $('.process-change-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });


        $('.consumable-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });

        });
        
        $('.cites-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });

        });

        $('.uses-form').each( function(){
            var form = $(this);
            form.validate({
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });

        });

        $('.change-input-form').each( function(){
            var form = $(this);
            form.validate({
                rules: {
                    quantity: {
                        number: true
                    },
                },
                highlight: function(label) {
                    $(label).closest('.control-group').addClass('error');
                }
            });
        });

        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });

        $(".save-resource-type").click(function(event) {
            event.preventDefault();
            var btn = event.target;
            var id = btn.id.split('~')
            var nodeId = id[1];
            var slot = id[0];
            var $form = $("#form" + slot + nodeId);
            if ($form.valid())
            {
                var formData = $form.serialize();
                var selId = "#id_" + nodeId + "-resource_type";
                var modalId = "#createResourceForm" + nodeId;
                var modal = $(modalId);
                var url = "{%url create_resource_type_ajax %}";
                var jqxhr = $.post( url, formData,
                    function( data ) {
                        for(var i=0 ; i<data.length ; i++) //will be only one
                        {
                            var id = data[i]['pk'];
                            var name = data[i].fields['name']; 
                            var selx = $(selId);
                            selx.append('<option value="' + id + '" selected="selected">' + name + '</option>');
                            selx.trigger("liszt:updated");
                            selx.trigger("change");
                        }
                        $(modalId).modal('hide');
                        $form.trigger( "reset" );
                    })
                    .fail(function() 
                    { 
                        alert("Check your name field.");
                    }
                );
            }
        });

    }); // end document.ready
    </script>
{% endblock %}
