{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Exchange" %}: {{ exchange }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.event {
    margin-left: 2em; 
    margin-bottom: 4px;
}
.btn {
    margin-left: 10px;
}
h3, h4 {
    color: firebrick;
}
.modal {
    width: 600px;
}
.subsection-label {
    font-weight: bold;
}
.detail-line {
    margin: 0 0 0 2em;
}
li {
    list-style-type: none;
}
.log-section {
    border: solid 1px gainsboro;
    background-color: beige; 
    padding: 4px;
    margin-bottom: 7px;   
}
.event-label {
    color: green;
    font-weight: bold;
    font-style: normal;
}
.indent {
    margin-left: 3em;
}
.unplanned {
    color: 	#7D1818;
}
#id_notes, #id_url {
    width: 32em;
}
.notes {
    margin-left: 4em;
    padding-right: 2em;
    font-style: italic;
}
.total {
    float: right;
    color: green;
    font-size: 10pt;
}
.btn-mini {
    margin-top: 1px;
    margin-bottom: 1px;
}

</style>

{% endblock %}

{% block body_class %}exchange{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
	<legend>
		{% trans "Exchange" %}: <span>{{ exchange }}</span>
	</legend>

	<div class="row-fluid">

	  <div class="span7">
        {% if exchange.receipt_events or "receive" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Receipt" %}:  
		        {% if logger %}
		            <a href="#addReceiptCommitModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a resource to be received">
		                {% trans "Add an order line item" %}
	                </a>
	            {% endif %}
	            {% if agent %}
	                <a href="#unorderedReceiptModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt with no order record" >
		                {% trans "Log a receipt" %}
	                </a>
	            {% endif %}
                <span class="total">Total: {{ receipt_total }}</span>
	        </h3>
            {% if exchange.receipt_events %}
		        {% for event in exchange.receipt_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Received" %}: </span> 
				            <b>{{ event.value }} {{ event.unit_of_value}}</b> for <b>{{ event.resource_type }}</b> from {{ event.from_agent.nick }} {{ event.event_date }}</span>
     	                {% if user == event.created_by  %}
                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Receipt Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_receipt_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}
					                    {{ event.changeform|as_bootstrap }}
					                    <input type="hidden" id="next" name="next" value="exchange" />
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete expense" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}          
			        </div>
		        {% endfor %}
            {% endif %}
          </div>
        {%endif%}

        {% if exchange.expense_events or "expense" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Expense" %}:  
	            {% if agent %}
	                <a href="#expenseModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log an expense (no receipt of resource)" >
		                {% trans "Log an expense" %}
	                </a>
	            {% endif %}
                <span class="total">Total: {{ expense_total }}</span>
	        </h3>

            {% if exchange.expense_events %}
		        {% for event in exchange.expense_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Expensed" %}: </span> 
				            <b>{{ event.value }} {{ event.unit_of_value}}</b> for <b>{{ event.resource_type }}</b> from {{ event.from_agent.nick }} {{ event.event_date }}</span>
     	                {% if user == event.created_by  %}
                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Expense Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_expense_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}
					                    {{ event.changeform|as_bootstrap }}
					                    <input type="hidden" id="next" name="next" value="exchange" />
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete expense" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}                       
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
        {%endif%}

        {% if exchange.payment_events or "pay" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Payment" %}:  
	            {% if agent %}
	                <a href="#unplannedPaymentModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a payment" >
		                {% trans "Log a payment" %}
	                </a>
	             {% endif %}
	        </h3>

            {% if exchange.uncommitted_payment_events %}
                <!--<h4 class="unplanned">{% trans "Payments" %}:</h4>-->
		        {% for event in exchange.uncommitted_payment_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Paid" %}: </span> 
				            <b>{{ event.quantity }} {{ event.unit_of_quantity }}</b> from {{ event.from_agent.nick }} to <b>{{ event.to_agent.nick }}</b> {{ event.event_date }}</span>
     	                {% if agent == event.from_agent or user == event.created_by  %}
                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Payment Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_unplanned_payment_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}
					                    {{ event.changeform|as_bootstrap }}
					                    <input type="hidden" id="next" name="next" value="exchange" />
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete payment" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}  
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
	    {% endif %}

        {% if exchange.matl_contr_events or "resource" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Material Contribution" %}:  
	            {% if agent %}
	                <a href="#unplannedResourceModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt of a material contribution" >
		                {% trans "Log a contributed resource" %}
	                </a>
	             {% endif %}
	        </h3>

          </div>
        {%endif%}

        {% if exchange.cash_contr_events or "cash" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Cash Contribution" %}:  
	            {% if agent %}
	                <a href="#unplannedResourceModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt of a cash contribution" >
		                {% trans "Log a cash contribution" %}
	                </a>
	             {% endif %}
	        </h3>

          </div>
        {%endif%}

        {% if exchange.work_events or "work" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Work" %}:  
		        {% if logger %}
		            <a href="#addWorkModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Add work done for this exchange.">
		                {% trans "Log a work event" %}
	                </a>
	             {% endif %}
            </h3>

            {% for event in work_events %}
	            <div >
		            <span class="event" ><span class="event-label">{% trans "Work event" %}: </span><b> {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }} <span class="taken">{% trans "Done by" %} {{ event.from_agent.nick }}</span></span>
 	                {% if agent == event.from_agent or user == event.created_by  %}
                        
		                <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			               <i class="icon-edit"></i>
		                </a>
	
		                <div class="modal hide fade workEventModal" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                <h3 id="event-label">{% trans "Change Time Contribution" %}</h3>
			                </div>
			                <div class="modal-body">
				                <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_unplanned_work_event event_id=event.id %}" method="POST" >
					                {% csrf_token %}
					                {{ event.changeform|as_bootstrap }}
					                <input type="hidden" id="next" name="next" value="exchange" />
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                    </div>
				                </form>
			                </div>
		                </div>

		                <form
                            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="exchange" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete work contribution!" >X</button>
                        </form>
                    {% endif %}
     			    {% if event.description %}
	                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
                    {% endif %}  		            
	            </div>
            {% endfor %}

          </div>
        {% endif%}

        {% if exchange.cash_contribution_events or "cash contribution" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Cash contribution" %}:  
		        {% if logger %}
		            <a href="#addCashModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Add cash contribution.">
		                {% trans "Add a cash contribution" %}
	                </a>
	             {% endif %}
            </h3>
            {% if logger %}        
                <div class="modal hide fade addCashModal" id="addCashModal" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="cash-label">{% trans "Cash Contribution" %}</h3>
                    </div>
                    <div class="modal-body">
                        <form class="work-form validateMe" id="workForm" enctype="multipart/form-data" action="{% url add_cash_for_exchange exchange_id=exchange.id %}" method="POST" >
	                        {% csrf_token %}
	                        {{ add_work_form|as_bootstrap }}
                          <div class="modal-footer">
	                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	                        <button class="btn btn-primary">{% trans "Save" %}</button>
                          </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% for event in cash_contribution_events %}
	            <div >
		            <span class="event" ><span class="event-label">{% trans "Work event" %}: </span><b> {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }} <span class="taken">{% trans "Done by" %} {{ event.from_agent.nick }}</span></span>
 	                {% if agent == event.from_agent or user == event.created_by  %}
                        
		                <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			               <i class="icon-edit"></i>
		                </a>
	
		                <div class="modal hide fade workEventModal" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                <h3 id="event-label">{% trans "Change Time Contribution" %}</h3>
			                </div>
			                <div class="modal-body">
				                <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_unplanned_work_event event_id=event.id %}" method="POST" >
					                {% csrf_token %}
					                {{ event.changeform|as_bootstrap }}
					                <input type="hidden" id="next" name="next" value="exchange" />
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                    </div>
				                </form>
			                </div>
		                </div>

		                <form
                            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="exchange" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete work contribution!" >X</button>
                        </form>
                    {% endif %}
		            
	            </div>
            {% endfor %}

          </div>
        {% endif%}

	    </div>

	    <div class="span5">
		  <form id="exchangeForm" method="POST" action="">
            {% csrf_token %}

            {{ exchange_form|as_bootstrap }}

            <div class="form-actions">
				<input type="submit" name="save" value="{% trans 'Save changes' %}" class="btn btn-primary" /> 
			</div>
          </form>
	    </div>
    </div>


    {% if logger %} <!-- general modals -->

     <div class="modal hide fade" id="unorderedReceiptModal" tabindex="-1" role="dialog" aria-labelledby="unordered-receipt" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="unordered-receipt">{% trans "Log a Receipt (Not Ordered)" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" enctype="multipart/form-data" action="{% url add_unordered_receipt exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_receipt_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
              </div>
            </form>
        </div>
    </div>


       <div class="modal hide fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expense" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="expense">{% trans "Log an Expense" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" enctype="multipart/form-data" action="{% url add_expense exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_expense_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
       </div>
   
       <div class="modal hide fade" id="unplannedPaymentModal" tabindex="-1" role="dialog" aria-labelledby="unplanned-payment" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="unplanned-payment">{% trans "Log a Payment" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" enctype="multipart/form-data" action="{% url add_unplanned_payment exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_payment_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
       </div>
    
        <div class="modal hide fade addWorkModal" id="addWorkModal" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="work-label">{% trans "Add Work Done for This Transaction" %}</h3>
            </div>
            <div class="modal-body">
                <form class="validateMe" id="workForm" enctype="multipart/form-data" action="{% url add_work_for_exchange exchange_id=exchange.id %}" method="POST" >
                    {% csrf_token %}
                    {{ add_work_form|as_bootstrap }}
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                    <button class="btn btn-primary">{% trans "Save" %}</button>
                  </div>
                </form>
            </div>
        </div>

    {% endif %}


 
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		//$('#work').addClass('active');

		$(".chzn-select").chosen();

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		$(".res-ajax").change(getResources);

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $.validator.addClassRules("quantity", { required: true, number: true, });
		$.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("resourceType", { required: true});
        $.validator.addClassRules("hours", { 
			required: true,
			number: true,
			min: 0,
			max: 24
		});
		$.validator.addClassRules("minutes", { 
			required: true,
			number: true,
			min: 0,
			max: 60
		});


        //$( ".validateMe" ).validate();
        $('.validateMe').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

		

	    $(".resource-type-selector").change(getUnit);

		function getUnit(event)
		{
	        $(".chzn-select").trigger("liszt:updated");
		    var resourceId = event.target.value;
		    if (resourceId)
		    {
                var targetId = event.target.id;
			    if (targetId.search("usable") >= 0)
			    {
				    direction = "use";
			    }
			    else
			    {
				    direction = "other";
			    }
			    var prefix = targetId.split('-')[0];
			    var unitName = "#" + prefix + "-unit_of_quantity";
			    var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			    $.get(jsonUrl,
				    function(data){
					    var unit = data["unit"];
                        $(unitName).val(unit);
				    });
		    }
	    }


    	$( "#addWorkForm" ).validate({
			rules: {
			    'input-resource_type': {
                    required: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});



		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })


	}); // end document.ready

    
    </script>

{% endblock %}
