{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Exchange" %}: {{ exchange }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.event {
    margin-left: 2em; 
    margin-bottom: 4px;
}
.btn {
    margin-left: 10px;
}
h3, h4 {
    color: firebrick;
}
.modal {
    width: 600px;
}
.subsection-label {
    font-weight: bold;
}
.detail-line {
    margin: 0 0 0 2em;
}
li {
    list-style-type: none;
}
.log-section {
    border: solid 1px gainsboro;
    background-color: beige; 
    padding: 4px;
    margin-bottom: 7px;   
}
.event-label {
    color: green;
    font-weight: bold;
    font-style: normal;
}
.indent {
    margin-left: 3em;
}
.unplanned {
    color: 	#7D1818;
}
#id_notes, #id_url {
    width: 32em;
}
.notes {
    margin-left: 4em;
    padding-right: 2em;
    font-style: italic;
}
.total {
    float: right;
    color: green;
    font-size: 10pt;
}
.btn-mini {
    margin-top: 1px;
    margin-bottom: 1px;
}
.item-description {
    height: 100px;
    width: 480px;
}

</style>

{% endblock %}

{% block body_class %}exchange{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
	<legend>
		<span>{{ exchange }}</span>
	</legend>

	<div class="row-fluid">

	  <div class="span7">
        {% if receipt_events or "receive" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Receipt" %}:
{% comment %}  
		        {% if logger %}
		            <a href="#addReceiptCommitModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a resource to be received">
		                {% trans "Add an order line item" %}
	                </a>
	            {% endif %}
{% endcomment %}
	            {% if agent %}
	                <a href="#unorderedReceiptModal" role="button" id="btnAddReceipt" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt that creates a new resource" >
		                {% trans "Receive a new resource" %}
	                </a>
	                <a href="#addToResourceModal" role="button" id="btnAddReceipt" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt that adds to an existing resource" >
                        {% trans "Add to an existing resource" %}
                    </a>
	            {% endif %}
                <span class="total">Total: {{ receipt_total }}</span>
	        </h3>
            {% if receipt_events %}
		        {% for event in receipt_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Received" %}: </span> 
				            <b>{{ event.value }} {{ event.unit_of_value}}</b> for <b>{{ event.resource_type }}</b> from {{ event.from_agent.nick }} {{ event.event_date }}
                        </span>
     	                {% if agent == event.from_agent or logger  %}
{% comment%}                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Receipt Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="validateMe" enctype="multipart/form-data" action="{% url change_receipt_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}
					                    {{ event.changeform|as_bootstrap }}
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
{% endcomment %}
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete receipt" >X</button>
                            </form>
		                {% endif %}
                        {% if event.resource %} 
                            <div class="notes"> 
                                <a href="{{ event.resource.get_absolute_url }}">
                                    {{ event.resource.identifier }} 
                                    {% if event.resource.current_location %}
                                        at {{ event.resource.current_location }}
                                    {% endif %}
                                </a>
                            </div>
                            <div class = "notes">Receipt quantity = {{ event.quantity }} {{ event.unit_of_quantity }} </div>
                        {% endif %} 
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}          
			        </div>
		        {% endfor %}
            {% endif %}
          </div>
        {%endif%}

        {% if expense_events or "expense" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Expense" %}:  
	            {% if agent %}
	                <a href="#expenseModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log an expense (no receipt of resource)" >
		                {% trans "Log an expense" %}
	                </a>
	            {% endif %}
                <span class="total">Total: {{ expense_total }}</span>
	        </h3>

            {% if expense_events %}
		        {% for event in expense_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Expensed" %}: </span> 
				            <b>{{ event.value }} {{ event.unit_of_value}}</b> for <b>{{ event.resource_type }}</b> from {{ event.from_agent.nick }} {{ event.event_date }}</span>
     	                {% if agent == event.from_agent or logger  %}
                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Expense Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="validateMe" enctype="multipart/form-data" action="{% url change_expense_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}
					                    {{ event.changeform|as_bootstrap }}
					                    <input type="hidden" id="next" name="next" value="exchange" />
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete expense" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}                       
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
        {%endif%}

        {% if payment_events or "pay" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Payment" %}:  
	            {% if agent %}
	                <a href="#unplannedPaymentModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a payment" >
		                {% trans "Log a payment" %}
	                </a>
	             {% endif %}
	        </h3>

            {% if payment_events %}
                <!--<h4 class="unplanned">{% trans "Payments" %}:</h4>-->
		        {% for event in payment_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Paid" %}: </span> 
				            <b>{{ event.quantity }} {{ event.unit_of_quantity }}</b> from {{ event.from_agent.nick }} to <b>{{ event.to_agent.nick }}</b> {{ event.event_date }}</span>
     	                {% if agent == event.from_agent or logger  %}
                            
		                    <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			                   <i class="icon-edit"></i>
		                    </a>
	
		                    <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                    <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                    <h3 id="event-label">{% trans "Change Payment Event" %}</h3>
			                    </div>
			                    <div class="modal-body">
				                    <form class="validateMe" enctype="multipart/form-data" action="{% url change_unplanned_payment_event event_id=event.id %}" method="POST" >
					                    {% csrf_token %}  
					                    {{ event.changeform|as_bootstrap }}
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
				                    </form>
			                    </div>
		                    </div>
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete payment" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}  
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
	    {% endif %}

        {% if material_events or "resource" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Material Contribution" %}:  
	            {% if agent %}
	                <a href="#addResourceModal" role="button" id="btnAddMaterial" class="btn btn-info btn-mini" data-toggle="modal" title="Log a receipt of a material contribution" >
		                {% trans "Log a contributed resource" %}
	                </a>
	             {% endif %}
	        </h3>
            {% if material_events %}
		        {% for event in material_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Contributed" %}: </span> 
				            <b>{{ event.resource_type }}</b> from {{ event.from_agent.nick }} {{ event.event_date }}
                        </span>
     	                {% if logger or event.from_agent = agent  %}
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete cash contribution" >X</button>
                            </form>
		                {% endif %}
                        {% if event.resource %} 
                            <div class = "notes">Resource created quantity = {{ event.quantity }} {{ event.unit_of_quantity }} </div>
                        {% endif %} 
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}                       
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
        {%endif%}

        {% if cash_events or "cash" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Cash Contribution" %}:  
	            {% if agent %}
	                <a href="#addCashModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log receipt of a cash contribution" >
		                {% trans "Log a cash contribution" %}
	                </a>
	             {% endif %}
	        </h3>
            {% if cash_events %}
		        {% for event in cash_events %}
			        <div>
				        <span class="event" ><span class="event-label">{% trans "Contributed" %}: </span> 
				            <b>{{ event.value }} {{ event.unit_of_value}}</b> from <b>{{ event.from_agent.nick }}</b> {{ event.event_date }}</span>
     	                {% if logger or event.from_agent = agent  %}
		                    <form
				                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                            	<input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete cash contribution" >X</button>
                            </form>
		                {% endif %}
         			    {% if event.description %}
		                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
	                    {% endif %}                       
			        </div>
		        {% endfor %}
	        {% endif %}
          </div>
        {%endif%}

        {% if work_events or "work" in slots %}
          <div class="log-section">
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Work" %}:  
		        {% if logger %}
		            <a href="#addWorkModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Add work done for this exchange.">
		                {% trans "Log a work event" %}
	                </a>
	             {% endif %}
            </h3>

            {% for event in work_events %}
	            <div >
		            <span class="event" ><span class="event-label">{% trans "Work event" %}: </span><b> {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }} <span class="taken">{% trans "Done by" %} {{ event.from_agent.nick }}</span></span>
 	                {% if agent == event.from_agent or logger  %}
                        
		                <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
			               <i class="icon-edit"></i>
		                </a>
	
		                <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
			                <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                <h3 id="event-label">{% trans "Change Time Contribution" %}</h3>
			                </div>
			                <div class="modal-body">
				                <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_exchange_work_event event_id=event.id %}" method="POST" >
					                {% csrf_token %}
					                {{ event.changeform|as_bootstrap }}
					                <input type="hidden" id="next" name="next" value="exchange" />
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                        <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                    </div>
				                </form>
			                </div>
		                </div>

		                <form
                            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="exchange" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete work contribution!" >X</button>
                        </form>
                    {% endif %}
     			    {% if event.description %}
	                   <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
                    {% endif %}  		            
	            </div>
            {% endfor %}

          </div>
        {% endif%}

	    </div>

	    <div class="span5">
		  <form id="exchangeForm" method="POST" action="">
            {% csrf_token %}

            {{ exchange_form|as_bootstrap }}

            <div class="form-actions">
				<input type="submit" name="save" value="{% trans 'Save changes' %}" class="btn btn-primary" /> 
			</div>
          </form>
	    </div>
    </div>


    {% if logger %} <!-- add modals -->

     <div class="modal hide fade" id="unorderedReceiptModal" tabindex="-1" role="dialog" aria-labelledby="unordered-receipt" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="unordered-receipt">{% trans "Log a Receipt" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" id="receiptForm" enctype="multipart/form-data" action="{% url add_unordered_receipt exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_receipt_form|as_bootstrap }}
                <div class="hideShow">    
                    {{ create_receipt_role_formset.management_form }}
                    Resource access roles<br />
                    {% for form in create_receipt_role_formset %}
                        <tr>
                            <td>{{ form.role }}</td>
                            <td>{{ form.agent }}</td>
	                        <td>{{ form.is_contact }} Is contact</td>
                        </tr>
                   	{% endfor %}
                </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
    </div>
    
    <div class="modal hide fade" id="addToResourceModal" tabindex="-1" role="dialog" aria-labelledby="add-to-resource" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="add-to-resource">{% trans "Add Receipt to Resource" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" id="addToResourceForm" enctype="multipart/form-data" action="{% url add_receipt_to_resource exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_to_resource_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
    </div>


       <div class="modal hide fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expense" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="expense">{% trans "Log an Expense" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" id="expenseForm" enctype="multipart/form-data" action="{% url add_expense exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_expense_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
       </div>
   
       <div class="modal hide fade" id="unplannedPaymentModal" tabindex="-1" role="dialog" aria-labelledby="unplanned-payment" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="unplanned-payment">{% trans "Log a Payment" %}</h3>
        </div>
        <div class="modal-body">
            <form class="validateMe" id="paymentForm" enctype="multipart/form-data" action="{% url add_unplanned_payment exchange_id=exchange.id %}" method="POST" >
                {% csrf_token %}
                {{ add_payment_form|as_bootstrap }}
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
              </div>
            </form>
        </div>
       </div>
    
        <div class="modal hide fade" id="addWorkModal" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="work-label">{% trans "Add Work Done for This Transaction" %}</h3>
            </div>
            <div class="modal-body">
                <form class="validateMe" id="workForm" enctype="multipart/form-data" action="{% url add_work_for_exchange exchange_id=exchange.id %}" method="POST" >
                    {% csrf_token %}
                    {{ add_work_form }}
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                    <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                  </div>
                </form>
            </div>
        </div>
    
        <div class="modal hide fade" id="addCashModal" tabindex="-1" role="dialog" aria-labelledby="cash-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="cash-label">{% trans "Add Cash Contribution" %}</h3>
            </div>
            <div class="modal-body">
                <form class="validateMe" id="cashForm" enctype="multipart/form-data" action="{% url add_cash_contribution exchange_id=exchange.id %}" method="POST" >
                    {% csrf_token %}
                    {{ add_cash_form|as_bootstrap }}
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                    <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                  </div>
                </form>
            </div>
        </div>
    
        <div class="modal hide fade" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="resource-label" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="resource-label">{% trans "Add Material Contribution" %}</h3>
            </div>
            <div class="modal-body">
                <form class="validateMe" id="materialForm" enctype="multipart/form-data" action="{% url add_material_contribution exchange_id=exchange.id %}" method="POST" >
                    {% csrf_token %}
                    {{ add_material_form|as_bootstrap }}
                    <div class="hideShow">
                        {{ create_material_role_formset.management_form }}
                        Resource access roles<br />
                        {% for form in create_material_role_formset %}
                            <tr>
                                <td>{{ form.role }}</td>
                                <td>{{ form.agent }}</td>
	                            <td>{{ form.is_contact }} Is contact</td>
                            </tr>
                       	{% endfor %}
                    </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                    <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                  </div>
                  <input type="hidden" id="use-case" name="next" value= "{{ exchange.use_case.identifier }}" />
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$(".chzn-select").chosen();

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });
		
		jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 1000000 with no more than 2 decimal places"
        );

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $.validator.addClassRules("quantity", { required: true, quantity: true, });
        $.validator.addClassRules("value", { required: true, number: true });
		$.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("resourceType", { required: true});
        $.validator.addClassRules("hours", { 
			required: true,
			number: true,
			min: 0,
			max: 24
		});
		$.validator.addClassRules("minutes", { 
			required: true,
			number: true,
			min: 0,
			max: 60
		});
        $.validator.addClassRules("date-entry", { required: true, date: true });

        $('.validateMe').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

        $("#btnAddReceipt").click(setReceiptModal);
        $("#btnAddMaterial").click(setMaterialModal);

        function setReceiptModal()
        {
            var targetId = "id_unorderedreceipt-resource_type";
            var resourceTypeId = $("#id_unorderedreceipt-resource_type").val()
            //alert("onload rtid " + resourceTypeId);
            JsonSetUnitAndRule(resourceTypeId, targetId);
        }

        function setMaterialModal()
        {
            var targetId = "id_material-resource_type";
            var resourceTypeId = $("#id_material-resource_type").val()
            //alert("onload rtid " + resourceTypeId);
            JsonSetUnitAndRule(resourceTypeId, targetId);
        }

	    $(".resource-type-selector").change(getUnitAndRule);

		function getUnitAndRule(event)
		{
	        $(".chzn-select").trigger("liszt:updated");
		    var resourceTypeId = event.target.value;
            //alert("rt " + resourceTypeId);
		    if (resourceTypeId)
		    {
                var targetId = event.target.id;
                //alert("targetId " + targetId);
                JsonSetUnitAndRule(resourceTypeId, targetId);
		    }
	    }
	    
	    $(".resource-type-for-resource").change(getResources);
        
        function getResources(event)
        {
            var resourceTypeId = event.target.value;
            if (resourceTypeId)
            {
                var targetId = event.target.id;
                var prefix = targetId.split('-')[0];
                var resourceFieldId = "#" + prefix + "-resource";
                $(resourceFieldId).empty();
                var jsonUrl = encodeURI("/accounting/json-resourcetype-resources-locations/" + resourceTypeId + "/");
                $.get(jsonUrl,
                    function(data){
                    for(var i=0 ; i<data.length ; i++)
                    {
                        var id = data[i].fields['pk'];
                        var name = data[i].fields['identifier']; 
                        var loc = data[i].fields['location']; 
                        if (loc){
                            name = name + " at " + loc;
                        }
                        $(resourceFieldId).append('<option value="' + id + '">' + name + '</option>') 
                    }
                    $(".chzn-select").trigger("liszt:updated");
                });
            }
        }
        

        if($( '#use-case' ).val() == 'res_contr' || $( '#use-case' ).val() == 'cash_contr')
        {
            $( '#div_id_supplier' ).hide();
        } else {
            $( '#div_id_supplier' ).show();
        }

        $('#receiptForm').click(function (event) {
            var isValid = $("#receiptForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#paymentForm').click(function (event) {
            var isValid = $("#paymentForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#expenseForm').click(function (event) {
            var isValid = $("#expenseForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#workForm').click(function (event) {
            var isValid = $("#workForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#cashForm').click(function (event) {
            var isValid = $("#cashForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#materialForm').click(function (event) {
            var isValid = $("#materialForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })


	}); // end document.ready

    function JsonSetUnitAndRule(resourceTypeId, targetId)
    {
	    if (targetId.search("usable") >= 0)
	    {
		    direction = "use";
	    }
	    else
	    {
		    direction = "other";
	    }
	    var prefix = targetId.split('-')[0];
	    var unitName = "#" + prefix + "-unit_of_quantity";
	    var jsonUrl = encodeURI("/accounting/json-directional-unit-and-rule/" + resourceTypeId + "/" + direction + "/");
	    $.get(jsonUrl,
		    function(data){
			    var unit = data["unit"];
                $(unitName).val(unit);
                var inventory_rule = data["rule"];
                //alert(inventory_rule);
                if (inventory_rule == "yes") {
                    //$('#div_id_unorderedreceipt-quantity').show(); 
                    //$('#div_id_unorderedreceipt-unit_of_quantity').show(); 
                    $('#div_id_unorderedreceipt-identifier').show(); 
                    $('#div_id_unorderedreceipt-url').show(); 
                    $('#div_id_unorderedreceipt-photo_url').show(); 
                    $('#div_id_unorderedreceipt-notes').show(); 
                    $('#div_id_unorderedreceipt-current_location').show(); 
                    $('#div_id_unorderedreceipt-access_rules').show(); 
                    $('.hideShow').show(); 
                } else {
                    //$('#div_id_unorderedreceipt-quantity').hide(); 
                    //$('#div_id_unorderedreceipt-unit_of_quantity').hide(); 
                    $('#div_id_unorderedreceipt-identifier').hide(); 
                    $('#div_id_unorderedreceipt-url').hide(); 
                    $('#div_id_unorderedreceipt-photo_url').hide(); 
                    $('#div_id_unorderedreceipt-notes').hide();  
                    $('#div_id_unorderedreceipt-current_location').hide(); 
                    $('#div_id_unorderedreceipt-access_rules').hide(); 
                    $('.hideShow').hide();                            
                }                    
		    });
    }

    </script>

{% endblock %}
