{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Exchange" %}: {{ exchange }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.event {
    margin-left: 2em; 
    margin-bottom: 4px;
}
.btn {
    margin-left: 10px;
}
h3, h4 {
    color: firebrick;
    margin-bottom: 4px;
}
.modal {
    width: 600px;
}
.subsection-label {
    font-weight: bold;
}
.detail-line {
    margin: 0 0 0 2em;
}
li {
    list-style-type: none;
}
.log-section {
    border: solid 1px gainsboro;
    background-color: beige; 
    padding: 4px;
    margin-bottom: 7px;   
}
.event-label {
    color: green;
    font-weight: bold;
    font-style: normal;
}
.hdg {
    font-weight: bold;
    font-size: 1.1em;
    color: #7D1818;
}
.onhand, .indent {
    margin-left: 3em;
}
.unplanned {
    color: 	#7D1818;
}
#id_notes, #id_url {
    width: 32em;
}
.notes {
    margin-left: 3em;
    padding-right: 2em;
    font-style: italic;
}
.total {
    float: right;
    color: green;
    font-size: 10pt;
    margin-bottom: 0;
    margin-top: 2px;
}
.info {
    float: right;
    margin-left: 5px;
}
.btn-mini {
    margin-top: 1px;
    margin-bottom: 1px;
}
.item-description {
    height: 100px;
    width: 480px;
}
.totals {
    border: solid 2px firebrick;
    background-color: oldlace;
    margin-bottom: 12px;
    padding-left: 1em;
}
.total-top {
    font-weight: bold;
    padding-right: 2em;
}
.bold {
    font-weight: bold;
}
.commitment {
    margin-left: 1em;
}
.trt {
    border: solid 1px gainsboro;
    background-color: lightyellow; 
    padding: 4px;
    margin-bottom: 7px;   
}
.trtheading {
    color: #7D1818;
    font-style: italic;
    font-size: 1.2em;
}

</style>

{% endblock %}

{% block body_class %}exchange{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
	<legend>
        {% if exchange %}
            {{ exchange }}
        {% else %}
            New {{ exchange_type.name }}
        {% endif %}
        {% if exchange.order %}
            <form 
                style="display: inline;" 
                id="order" 
                action="{% url order_schedule order_id=exchange.order.id %}" 
                method="GET" >
                <button style="display: inline;"  class="btn btn-info" title="Order for this sale" >Go to Order</button>
            </form>
        {% endif %}
	</legend>

	<div class="row-fluid">
	
        <div class="span5">
            <div class="totals">
                <span class="total-top">{% trans "Total transfer value" %}: {{ total_t }} </span> 
                <span class="total-top">{% trans "Total reciprocal transfer value" %}: {{ total_rect }} </span> 
            </div>
            <form id="exchangeForm" method="POST" action="">
                {% csrf_token %}
                {{ exchange_form|as_bootstrap }}
                {% if agent %}
                <div class="form-actions">
                    <input type="submit" name="save" value="{% trans 'Save changes' %}" class="btn btn-primary" /> 
                </div>
                {% endif %}
            </form>
               
        </div>
        
        <div class="span7">
            <div class="trt">
                <h3 class="trtheading">Transfers</h3>
                {% for slot in slots %}
                    {% if not slot.is_reciprocal %}
                        <div class="log-section">
                            <h3>
                                {{ slot.name }}
                                {% if agent and exchange %}
                                    <a href="#addCommitModal{{ slot.id }}" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Log a new commitment or plan for a transfer" >
                                        {% trans "New Commitment" %}
                                    </a>
                                    <div class="modal hide fade" id="#addCommitModal{{ slot.id }}" tabindex="-1" role="dialog" aria-labelledby="commit" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="commit">{% trans "Log a Delivered Resource" %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form class="validateMe" id="commitForm" enctype="multipart/form-data" action="{% url add_transfer_commitment exchange_id=exchange.id transfer_type_id=slot.id %}" method="POST" >
                                                {% csrf_token %}
                                                {{ add_commit_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                    <a href="#addTransferModal{{ slot.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a new transfer" >
                                        {% trans "New Transfer" %}
                                    </a>
                                    <div class="modal hide fade" id="#addTransferModal{{ slot.id }}" tabindex="-1" role="dialog" aria-labelledby="xfer{{ slot.id }}" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="xfer{{ slot.id }}">{% trans "Log a Delivered Resource" %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form class="validateMe" id="commitForm" enctype="multipart/form-data" action="{% url add_transfer exchange_id=exchange.id transfer_type_id=slot.id %}" method="POST" >
                                                {% csrf_token %}
                                                {{ add_xfer_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                <span class="info"> <a href="#" id="cr-info" data-toggle="popover" data-trigger='hover' title="{{ slot.name }}"  
                                    data-content="{{ slot.description }}">
                                    <img src="{% static 'img/information-icon.png' %}" /></a>
                                </span>
                                <span class="total">Total: {{ slot.total }}</span>
                            </h3> 
                            {% for xfer in slot.xfers %}
                                <div class="event">
                                    <span ><span class="event-label">{% trans "Transferred" %}: </span> 
                                    {{ xfer }}</span>
                                    {% if agent == xfer.from_agent or logger  %}
                                        
                                        <a href="#xferModal{{ xfer.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
                                        <i class="icon-edit"></i>
                                        </a>
                
                                        <div class="modal hide fade" id="xferModal{{ xfer.id }}" tabindex="-1" role="dialog" aria-labelledby="xfer-label" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="xfer-label">{% trans "Change Transfer" %}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form class="validateMe" enctype="multipart/form-data" action="{% url change_transfer transfer_id=xfer.id %}" method="POST" >
                                                    {% csrf_token %}  
                                                    {{ xfer.changeform|as_bootstrap }}
                                                    <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                        <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <form
                                            style="display: inline;" 
                                            class="delete-form" 
                                            id="deleteForm{{ event.id }}" 
                                            action="{% url delete_transfer transfer_id=xfer.id %}" 
                                            method="POST" >
                                            {% csrf_token %}
                                            <input type="hidden" id="next" name="next" value="exchange" />
                                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete transfer" >X</button>
                                        </form>
                                    {% endif %}
                                    {% if event.description %}
                                    <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
                                    {% endif %}  
                                </div>
                            {% endfor %}
                            
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="trt">    
                <h3 CLASS="trtheading">Reciprocal Transfers</h3>
                {% for slot in slots %}
                    {% if slot.is_reciprocal %}
                        <div class="log-section">
                            <h3>
                                {{ slot.name }}
                                {% if agent and exchange %}
                                    <a href="#addCommitModal{{ slot.id }}" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Log a new commitment or plan for a transfer" >
                                        {% trans "New Commitment" %}
                                    </a>
                                    <div class="modal hide fade" id="#addCommitModal{{ slot.id }}" tabindex="-1" role="dialog" aria-labelledby="commit" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="commit">{% trans "Log a Delivered Resource" %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form class="validateMe" id="commitForm" enctype="multipart/form-data" action="{% url add_transfer_commitment exchange_id=exchange.id transfer_type_id=slot.id %}" method="POST" >
                                                {% csrf_token %}
                                                {{ add_commit_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    
                                    <a href="#addTransferModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Log a new transfer" >
                                        {% trans "New Transfer" %}
                                    </a>
                                    <div class="modal hide fade" id="#addTransferModal{{ slot.id }}" tabindex="-1" role="dialog" aria-labelledby="xfer{{ slot.id }}" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h3 id="xfer{{ slot.id }}">{% trans "Log a Delivered Resource" %}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form class="validateMe" id="commitForm" enctype="multipart/form-data" action="{% url add_transfer exchange_id=exchange.id transfer_type_id=slot.id %}" method="POST" >
                                                {% csrf_token %}
                                                {{ add_xfer_form|as_bootstrap }}
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                <span class="info"> <a href="#" id="cr-info" data-toggle="popover" data-trigger='hover' title="{{ slot.name }}"  
                                    data-content="{{ slot.description }}">
                                    <img src="{% static 'img/information-icon.png' %}" /></a>
                                </span>
                                <span class="total">Total: {{ slot.total }}</span>
                            </h3>  
                            
                            {% for xfer in slot.xfers %}
                                <div class="event">
                                    <span ><span class="event-label">{% trans "Transferred" %}: </span> 
                                    {{ xfer }}</span>
                                    {% if agent == xfer.from_agent or logger %}
                                        
                                        <a href="#xferModal{{ xfer.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
                                        <i class="icon-edit"></i>
                                        </a>
                
                                        <div class="modal hide fade" id="xferModal{{ xfer.id }}" tabindex="-1" role="dialog" aria-labelledby="xfer-label" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="xfer-label">{% trans "Change Transfer" %}</h3>
                                            </div>
                                            <div class="modal-body">
                                                <form class="validateMe" enctype="multipart/form-data" action="{% url change_transfer transfer_id=xfer.id %}" method="POST" >
                                                    {% csrf_token %}  
                                                    {{ xfer.changeform|as_bootstrap }}
                                                    <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                        <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <form
                                            style="display: inline;" 
                                            class="delete-form" 
                                            id="deleteForm{{ event.id }}" 
                                            action="{% url delete_transfer transfer_id=xfer.id %}" 
                                            method="POST" >
                                            {% csrf_token %}
                                            <input type="hidden" id="next" name="next" value="exchange" />
                                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete transfer" >X</button>
                                        </form>
                                    {% endif %}
                                    {% if event.description %}
                                    <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
                                    {% endif %}  
                                </div>
                            {% endfor %}
                                                
                        </div>                    

                    {% endif %}
                {% endfor %}        
            </div>   
        
            <div class="log-section">
                <h3 style="margin-bottom: 4px;" >
                    {% trans "Work" %}:  
                    {% if logger %}
                        <a href="#addWorkModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Add work done for this exchange.">
                            {% trans "Log a work event" %}
                        </a>
                    {% endif %}
                    <span class="info"> <a href="#" id="work-info" data-toggle="popover" data-trigger='hover' title="Work Event" 
                        data-content="Enter the time you spent on this exchange. This might be preparing paperwork, 
                        communicating, traveling, even logging the exchange.">
                        <img src="{% static 'img/information-icon.png' %}" /></a>
                    </span>
                </h3>

                {% for event in work_events %}
                    <div class="event" >
                        <span ><span class="event-label">{% trans "Work event" %}: </span><b> {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }} <span class="taken">{% trans "Done by" %} {{ event.from_agent.nick }}</span></span>
                        {% if agent == event.from_agent or logger  %}
                            
                            <a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
                            <i class="icon-edit"></i>
                            </a>
        
                            <div class="modal hide fade" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="event-label" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="event-label">{% trans "Change Time Contribution" %}</h3>
                                </div>
                                <div class="modal-body">
                                    <form class="eventForm{{ event.id }} validateMe" enctype="multipart/form-data" action="{% url change_exchange_work_event event_id=event.id %}" method="POST" >
                                        {% csrf_token %}
                                        {{ event.changeform|as_bootstrap }}
                                        <input type="hidden" id="next" name="next" value="exchange" />
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <form
                                style="display: inline;" 
                                class="delete-form" 
                                id="deleteForm{{ event.id }}" 
                                action="{% url delete_event event_id=event.id %}" 
                                method="POST" >
                                {% csrf_token %}
                                <input type="hidden" id="next" name="next" value="exchange" />
                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete work contribution!" >X</button>
                            </form>
                        {% endif %}
                        {% if event.description %}
                        <div class="notes"> {{ event.description|urlize|linebreaks }} </div>
                        {% endif %}                     
                    </div>
                {% endfor %}
            </div> 
        </div>
    </div>


{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$(".chzn-select").chosen();

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

        $('#work-info').popover()
        $('#cr-info').popover()
        $('#rec-info').popover()
        $('#pay-info').popover()
        $('#ship-info').popover()
        $('#matl-info').popover()
        $('#cash-info').popover()
        $('#exp-info').popover()
        $('#purch-info').popover()
        $('#dist-info').popover()
        $('#disb-info').popover()
        $('#fee-info').popover()
        $('#xfer-info').popover()
		
		jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 1000000 with no more than 2 decimal places"
        );

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $.validator.addClassRules("quantity", { required: true, quantity: true, });
        $.validator.addClassRules("value", { required: true, number: true });
		$.validator.addClassRules("url", { url: true });
        $.validator.addClassRules("resourceType", { required: true});
        $.validator.addClassRules("hours", { 
			required: true,
			number: true,
			min: 0,
			max: 24
		});
		$.validator.addClassRules("minutes", { 
			required: true,
			number: true,
			min: 0,
			max: 60
		});
        $.validator.addClassRules("date-entry", { required: true, date: true });

        $('.validateMe').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});

        $("#btnAddReceipt").click(setReceiptModal);
        $("#btnAddMaterial").click(setMaterialModal);

        function setReceiptModal()
        {
            var targetId = "id_unorderedreceipt-resource_type";
            var resourceTypeId = $("#id_unorderedreceipt-resource_type").val()
            //alert("onload rtid " + resourceTypeId);
            JsonSetUnitAndRule(resourceTypeId, targetId);
        }

        function setMaterialModal()
        {
            var targetId = "id_material-resource_type";
            var resourceTypeId = $("#id_material-resource_type").val()
            //alert("onload rtid " + resourceTypeId);
            JsonSetUnitAndRule(resourceTypeId, targetId);
        }

	    $(".resource-type-selector").change(getUnitAndRule);

		function getUnitAndRule(event)
		{
	        $(".chzn-select").trigger("liszt:updated");
		    var resourceTypeId = event.target.value;
            //alert("rt " + resourceTypeId);
		    if (resourceTypeId)
		    {
                var targetId = event.target.id;
                //alert("targetId " + targetId);
                JsonSetUnitAndRule(resourceTypeId, targetId);
		    }
	    }
	    
	    $(".resource-type-for-resource").change(getResources);
        
        function getResources(event)
        {
            var resourceTypeId = event.target.value;
            if (resourceTypeId)
            {
                var targetId = event.target.id;
                var prefix = targetId.split('-')[0];
                var resourceFieldId = "#" + prefix + "-resource";
                $(resourceFieldId).empty();
                var jsonUrl = encodeURI("/accounting/json-resourcetype-resources-locations/" + resourceTypeId + "/");
                $.get(jsonUrl,
                    function(data){
                    for(var i=0 ; i<data.length ; i++)
                    {
                        var id = data[i].fields['pk'];
                        var name = data[i].fields['identifier']; 
                        var loc = data[i].fields['location']; 
                        if (loc){
                            name = name + " at " + loc;
                        }
                        $(resourceFieldId).append('<option value="' + id + '">' + name + '</option>') 
                    }
                    $(".chzn-select").trigger("liszt:updated");
                });
            }
        }
        

        if($( '#use-case' ).val() == 'res_contr' || $( '#use-case' ).val() == 'cash_contr')
        {
            $( '#div_id_supplier' ).hide();
        } else {
            $( '#div_id_supplier' ).show();
        }

        $('#receiptForm').click(function (event) {
            var isValid = $("#receiptForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#paymentForm').click(function (event) {
            var isValid = $("#paymentForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#expenseForm').click(function (event) {
            var isValid = $("#expenseForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#workForm').click(function (event) {
            var isValid = $("#workForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#cashForm').click(function (event) {
            var isValid = $("#cashForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

        $('#materialForm').click(function (event) {
            var isValid = $("#materialForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })
        
        {% if use_case.identifier == 'sale' %}
            $("#id_context_agent").change(getCustomers);
        {% endif %}


	}); // end document.ready

    function JsonSetUnitAndRule(resourceTypeId, targetId)
    {
	    if (targetId.search("usable") >= 0)
	    {
		    direction = "use";
	    }
	    else
	    {
		    direction = "other";
	    }
	    var prefix = targetId.split('-')[0];
	    var unitName = "#" + prefix + "-unit_of_quantity";
	    var jsonUrl = encodeURI("/accounting/json-directional-unit-and-rule/" + resourceTypeId + "/" + direction + "/");
	    $.get(jsonUrl,
		    function(data){
			    var unit = data["unit"];
                $(unitName).val(unit);
                var inventory_rule = data["rule"];
                //alert(inventory_rule);
                if (inventory_rule == "yes") {
                    //$('#div_id_unorderedreceipt-quantity').show(); 
                    //$('#div_id_unorderedreceipt-unit_of_quantity').show(); 
                    $('#div_id_unorderedreceipt-identifier').show(); 
                    $('#div_id_unorderedreceipt-url').show(); 
                    $('#div_id_unorderedreceipt-photo_url').show(); 
                    $('#div_id_unorderedreceipt-notes').show(); 
                    $('#div_id_unorderedreceipt-current_location').show(); 
                    $('#div_id_unorderedreceipt-access_rules').show(); 
                    $('.hideShow').show(); 
                } else {
                    //$('#div_id_unorderedreceipt-quantity').hide(); 
                    //$('#div_id_unorderedreceipt-unit_of_quantity').hide(); 
                    $('#div_id_unorderedreceipt-identifier').hide(); 
                    $('#div_id_unorderedreceipt-url').hide(); 
                    $('#div_id_unorderedreceipt-photo_url').hide(); 
                    $('#div_id_unorderedreceipt-notes').hide();  
                    $('#div_id_unorderedreceipt-current_location').hide(); 
                    $('#div_id_unorderedreceipt-access_rules').hide(); 
                    $('.hideShow').hide();                            
                }                    
		    });
    }
    
    {% if use_case.identifier == 'sale' %}
    function getCustomers()
    {
        $(".chzn-select").trigger("liszt:updated");
        var selectedAgent = document.getElementById('id_context_agent').value;
        var jsonUrl = encodeURI("/accounting/json-context-agent-customers/" + selectedAgent + "/");
        var selectedCustomer = document.getElementById('id_customer').value;
        //var customerField =  $("#id_customer");
        $("#id_customer").empty();
        $.get(jsonUrl,
        function(data){
            $("#id_customer").append('<option value="">' + '--------' + '</option>'); 
            for(var i=0 ; i<data.length ; i++)
            {
                var id = data[i]['pk'];
                var name = data[i].fields['nick']; 
                if (selectedCustomer == id) {
                    $("#id_customer").append('<option value="' + id + '" selected>' + name + '</option>');
                } else {
                    $("#id_customer").append('<option value="' + id + '">' + name + '</option>'); 
                }
            }
            $(".chzn-select").trigger("liszt:updated");
        });
    }
    {% endif %}

    </script>

{% endblock %}
