{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Explore" %}{% endblock %}

{% block extra_head %}

<style>

</style>
{% endblock %}

{% block body_class %}explore{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div id="connections" >
		<ul>
		    <li id="l1" >Something <button id="c1" class="btn btn-info btn-mini" >{% trans "Connections" %}</button> </li>
		</ul>


	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

    $("#connections").on( "click", "button", connect );

	}); // end document.ready

	function connect(event)
	{
	    var target = event.target;
	    var li = target.parentNode;
	    var nbr = parseInt(target.id[1]);
	    nbr += 1;
	    var lid = "#" + li.id;
	    var nextLid = 'l' + nbr;
	    nextLid = '"' + nextLid + '"';
	    var nextBid = 'c' + nbr;
	    nextBid = '"' + nextBid + '"';
	    var insert = '<ul><li id=' + nextLid + '>Something else <button id='+ nextBid + ' class="btn btn-info btn-mini" >Connections</button></li></ul>';
	    $(lid).after(insert);
	    
    }
      
    </script>

{% endblock %}
