{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Incoming value flows for " %} {{ resource }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>
.type {
    font-weight: bold;
}
.work-item {
    font-style: italic;
    color: green;
}
.process {
    color: blue;
}
.work {
    color: green;
}
.resource, .out {
    color: firebrick;
}
.cite, .consume, .use {
    color: purple;
}
.line {
    margin-bottom: 3px;
}
.span9 {
    margin-left: 0;
}

</style>
{% endblock %}

{% block body_class %}demand{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	  <div>
		<legend>{% trans "Incoming Value Flows for " %} <a href="{% url resource resource_id=resource.id %}">{{ resource }}</a></legend>

		<div class="span9">

          {% for flow in flows %}
            <p style="margin-left: {{ flow.depth }}em;" class="line">
                <span class="type {{ flow.flow_class }}" >{{ flow.flow_type }}:</span>
                {% if flow.flow_type == "Process" %}
                    <a href="{{ flow.get_absolute_url }}">{{ flow.flow_description }}</a>
                {% elif flow.flow_type == "Time Contribution" %}
                    <span class="work-item">{{ flow.flow_description }}</span>
                {% else %}
                    {{ flow.flow_description }}
                {% endif %}
             </p>
          {% endfor %}

		</div>

        <div class="span3">

        </div>

	  </div>
	</div>
{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help"); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready

    </script>
{% endblock %}
