{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Incoming value flows for " %} {{ resource }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block body_class %}demand{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Incoming value flows for " %} {{ resource }}</legend>

		<div>

        {% for flow in flows %}
            <p class="{{ flow.flow_type }}" style="margin-left: {{ flow.depth }}em;">
                <span class="type" >{{ flow.flow_type }}:</span> {{ flow.flow_description }}
             </p>
        {% endfor %}

		</div>
	</div>
	</div>
{% endblock %}
