{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Inventory" %}{% endblock %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% block extra_head %}

<style>

.rtype {
    font-size: 1.2em;
    color: firebrick;
}
.res {
    margin-left: 2em;
}
.info {
    margin-left: 6em;
}
ul {
    list-style-type: none;
}
container li {
	padding: 3px;
}
.facet {
    font-size: 1.1em;
    font-weight: bold;
}
img {
    margin-bottom: 2px;
}
</style>
{% endblock %}

{% block body_class %}inventory{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div class="row-fluid">
		<div class="span9">
		    <legend>
			    {% trans "Inventory" %}
			    &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url resource_types %}">{% trans "Resource Types" %}</a>
			    &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url locations %}">{% trans "Locations" %}</a>
		    </legend>
            {% for rt in resource_types %}
                <div class="rtype"> <a href="{% url resource_type resource_type_id=rt.id %}">{{ rt.name }}</a> ( {{ rt.facet_list }} )</div>
                {% for resource in rt.onhand %}
                    <div class="res">
                     <a href="{% url resource resource_id=resource.id %}" title="
                        {{ resource.notes }}
                        {{ resource.access_rules }}
                        ">{{ resource.label }}
                    </a>
		             {% if resource.photo %}
		            	<img src="{% thumbnail resource.photo photo_size %}" />
	            	 {% elif resource.photo_url %}
		            	<img src="{{ resource.photo_url }}" width="128" height="96" />
                    {% endif %}
                    {% if resource.stage %}
                        ~ Stage: {{ resource.stage }}
                    {% endif %}
                    ~ {{ resource.quantity }} {{ resource.unit_of_quantity }}
                    {% if resource.current_location %}
                        ~ Location: {{ resource.current_location }}
                    {% endif %}
                    {% if resource.agent_resource_roles.all %}
                        {% for item in resource.agent_resource_roles.all %}
                            ~ {{ item.role.name }}: {{ item.agent.nick }} 
                        {% endfor %}
                    {% endif %}

                    {% if resource.url %}
                        ~ <a href="{{ resource.url }}">Documentation</a>
                    {% endif %}
                    </div>
                    {% comment %}<div class="info">Quality: {{ resource.quality }} </div>{% endcomment %}
                                        
                {% endfor %}
            {% endfor %}
		</div>
		<div class="span3 filter">
            {% include "valueaccounting/_facet_filter.html" %}
		</div>
	</div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#inventory').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help"); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })

		var selectedCats = "{{ selected_values }}";

		$('.category').each(function()
		{
			var cat = $(this)[0];
            if (selectedCats.indexOf(cat.name) > -1)
			{
				$(this).prop('checked', true);
			}
		});

		$('.category').click(function() 
		{
			var checkedCats = [];
			var checkedBox = $(this)[0];
			var allBox = $('#all')[0];
			if (checkedBox == allBox)
			{
				$('.category').each(function()
				{
		            $(this).prop('checked', false);
				});
				$('#all').prop('checked', true);
				checkedCats.push('all');
			}
			else
			{
				$('#all').prop('checked', false);
				$('.category').each(function()
				{
					var cat = $(this)[0];
		            if (cat.checked)
					{
						checkedCats.push(cat.value);
					}
				});
			}
			$('#categories').prop('value', checkedCats);
		});

	}); // end document.ready

    </script>
{% endblock %}
