{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Labnotes for Process" %}: {{ process }}{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Labnotes for Process" %}: {{ process }} {% if process.started %} - {% trans "Started" %} {{ process.started }}{% endif %} 
		</legend>

		<p>
			<b>{% trans "for" %}:</b> {{ process.independent_demand }}
		</p>

		<div class="row-fluid">

				<div class="span6">
				
					<h4>{% trans "Previous processes" %}</h4>
					{% for proc in process.previous_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>

				<div class="span6">

					<h4>{% trans "Next processes" %}</h4>
					{% for proc in process.next_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>
		</div>

		<h3 style="margin-bottom: 4px;" >{% trans "Labnotes" %}:</h3>
		{% for commitment in process.work_requirements %}
			<p>
				<b>{% trans "From" %}: {{ commitment.from_agent }}</b> {{ commitment.resource_type }}
			</p>
			<p style="margin-left: 2em;">
				{{ commitment.description|urlize|linebreaks }}
			</p>

			<h4>{% trans "Time contributions" %}:</h4>		
			{% for event in commitment.fulfillment_events.all %}
				<p style="margin-left: 2em;">
					{{ event.event_date }}: {{ event.quantity }} {{ event.unit_of_quantity }} 
				</p>
			{% endfor %}
		{% endfor %}


	</div>
    </div>
{% endblock %}
