{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Work Notes for " %} {{ process.name }} {% trans "from " %} {{ commitment.from_agent.name }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.days, .hours, .minutes {
	width: 24px;
}

</style>

{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Work Notes for " %} 
			    <a href="{{ process.get_absolute_url }}">{{ process.name }}</a>  
			    {% trans "from " %} {{ commitment.from_agent.name }}
			{% if author %}
			    <a href="{% url work_now process_id=process.id commitment_id=commitment.id %}" role="button" class="btn btn-info" >{% trans "Work Now" %}</a> 
			    <a class="btn btn-info" href="{% url change_process process_id=commitment.process.id %}">{% trans "Change Process" %}</a>
			{% endif %}
		</legend>

		<div class="row-fluid">
			<div class="span7">
				{{ commitment.description|urlize|linebreaks }}
			</div>
			<div class="span5">

				<h3>{% trans "Time contributions" %}:</h3>
				{% for event in work_events %}
					<p>
					    {{ event.event_date }} {{ event.quantity }} {{ event.unit_of_quantity.name  }}
					    {% if author %}
					        
							<a href="#eventModal{{ event.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
								{% trans "Change" %}
							</a>
						
							<div class="modal hide fade eventModal" id="eventModal{{ event.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h3 id="event-label">{% trans "Change Time Contribution" %}</h3>
								</div>
								<div class="modal-body">
									<form class="eventForm{{ event.id }}" enctype="multipart/form-data" action="{% url change_work_event event_id=event.id %}" method="POST" >
										{% csrf_token %}
										{{ event.work_event_change_form|as_bootstrap }}
									  <div class="modal-footer">
										<input type="cancel" class="btn" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
										<input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
									  </div>
									</form>
								</div>
							</div>
					    {% endif %}
				    </p>
				{% endfor %}

				{% if outputs %}
					<h3>{% trans "Outputs created by " %} {{ commitment.from_agent.name }}:</h3>
					{% for event in outputs %}
						<p>{{ event.event_date }} {{ event.resource }} {{ event.quantity }} {{ event.unit_of_quantity.name  }}</p>
					{% endfor %}
				{% endif %}

				{% if citations %}
					<h3>{% trans "Citations by " %} {{ commitment.from_agent.name }}:</h3>
					{% for event in citations %}
						<p>{{ event.event_date }} {{ event.resource }}</p>
					{% endfor %}
				{% endif %}

				{% if consumed %}
					<h3>{% trans "Inputs consumed by " %} {{ commitment.from_agent.name }}:</h3>
					{% for event in consumed %}
						<p>{{ event.event_date }} {{ event.resource }} {{ event.quantity }} {{ event.unit_of_quantity.name  }}</p>
					{% endfor %}
				{% endif %}


				{% if used %}
					<h3>{% trans "Inputs used by " %} {{ commitment.from_agent.name }}:</h3>
					{% for event in used %}
						<p>{{ event.event_date }} {{ event.resource }} {{ event.quantity }} {{ event.unit_of_quantity.name  }}</p>
					{% endfor %}
				{% endif %}

				{% if failures %}
					<h3>{% trans "Failed outputs posted by " %} {{ commitment.from_agent.name }}:</h3>                 
					{% for event in failures %}
						<p>{{ event.event_date }} {{ event.resource }} {{ event.quantity }} {{ event.unit_of_quantity.name  }}</p>
						<p><b>{% trans "Reason" %}:</b></p>
						<p>{{ event.description|urlize|linebreaks }}</p>					
					{% endfor %}
				{% endif %}

			</div>
		</div>


	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

	    $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

	    $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready

	</script>

{% endblock %}
