{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Work Notes for Process" %}: {{ process }}{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Work Notes for Process" %}: {{ process }} {% if process.started %} - {% trans "Started" %} {{ process.started }}{% endif %} 
		</legend>

		<p>
			<b>{% trans "for" %}:</b> {{ process.independent_demand }}
		</p>

		<div class="row-fluid">

				<div class="span6">
				
					<h4>{% trans "Previous processes" %}</h4>
					{% for proc in process.previous_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>

				<div class="span6">

					<h4>{% trans "Next processes" %}</h4>
					{% for proc in process.next_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>
		</div>

		<h3 style="margin-bottom: 4px;" >{% trans "Work Notes" %}:</h3>
		{% for commitment in process.work_requirements %}
		    {% if commitment.fulfilling_events %}
			    <p>
				    <a href="{% url labnote commitment_id=commitment.id %}">
				        <b>{% trans "From" %}: {{ commitment.from_agent }}</b> {{ commitment.resource_type }}
			        </a>
			        {% if commitment.from_agent = agent %}
			        <a href="{% url work_now process_id=process.id commitment_id=commitment.id %}" role="button" class="btn btn-info" >{% trans "Open" %}</a>
			        {% endif %}
			    </p>
			    <p style="margin-left: 2em;">
				    {{ commitment.description|urlize|linebreaks }}
			    </p>

			    {% with commitment.fulfilling_events as events %}
				    {% if events %}
					    <h4>{% trans "Time contributions" %}:</h4>		
					    {% for event in commitment.fulfillment_events.all %}
						    <p style="margin-left: 2em;">
							    {{ event.event_date }}: {{ event.quantity }} {{ event.unit_of_quantity }} 
						    </p>
					    {% endfor %}
				    {% endif %}
			    {% endwith %}
		    {% endif %}
		{% endfor %}


	</div>
    </div>
{% endblock %}
