{% extends "site_base.html" %}

{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}


{% block head_title %}{% trans "Log Design Contributions" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.item-description
{
	width: 90%;
    height: 4em;
}
#id_url
{
  width: 90%;
}
.save {
    margin-top: 3em;
}


</style>

{% endblock %}

{% block body_class %}log{% endblock %}

{% block body_base %}
<div class="container">
    {% include "_messages.html" %}
	<legend>{% trans "Log Design Contributions for " %} {{ member.name }}</legend>

                <h1>UNDER CONSTRUCTION!!!  DO NOT USE!!!</h1>
                <br /><br />
    <form id="simpleForm" method="POST" action="">
	    {% csrf_token %}
        <div class="row-fluid">
            <div class="span6">
				<legend style="margin-top: 1em;" >{% trans "Resource Created" %}:</legend>
				{{ output_form|as_bootstrap }}
				{{ output_resource_form|as_bootstrap }}
            </div>
            <div class="span6">
				<legend style="margin-top: 1em;" >{% trans "Work Done" %}:</legend>
				{{ work_form|as_bootstrap }}

				<legend style="margin-top: 1em;" >{% trans "Citations" %}:</legend>
                <a href="#addCiteModal" role="button" class="btn" data-toggle="modal">{% trans "+ cite" %}</a>



            </div>
	   	</div>

        <div class="row-fluid">
            <div class="span12 save">
			    <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" /> 
			</div>
	   	</div>

        <!--modal for adding citations-->
        <div class="modal hide fade" id="addCiteModal" tabindex="-1" role="dialog" aria-labelledby="cite-label" aria-hidden="true">
            <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="cite-label">{% trans "Add a citation" %}</h3>
            </div>
            <div class="modal-body">
{% comment %}
	              {{ add_citation_form|as_bootstrap }}
{% endcomment %}
	              <div class="modal-footer">
		            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
		            <button class="btn btn-primary">{% trans "Add citation" %}</button>
	              </div>
            </div>
        </div>

    </form>

</div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

	    $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
        })

        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });


    }); // end document.ready

    </script>
    
{% endblock %}
