{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Labnotes for " %} {{ commitment.from_agent.name }} doing {{ commitment.resource_type.name }} on {{ process.name }}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

#labnotesForm textarea {
  width: 100%;
  height: 600px;
}

.days, .hours, .minutes {
	width: 24px;
}

.failureModal .modal-body {
	max-height: 400px;
}

.failureModal textarea {
  width: 100%;
  height: 200px;
}

.detailModal .modal-body {
    width: 95%;
	max-height: 400px;
}

.detailModal {
    width: 600px;
}

.detailModal textarea {
  width: 90%;
  height: 200px;
}

#saving {
	color: green;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Labnotes for " %} <i>{{ commitment.from_agent.name }}</i>
			<span style="font-size: 60%;" > 
			    {% trans "doing" %}: <i>{{ commitment.resource_type.name }}</i> {% trans "on Process" %}:  <i>{{ process.name }}</i> {% trans "due" %}:  <i>{{ process.end_date }}</i> 
				{% trans "Estimated duration" %}: <i>{{ commitment.quantity }} {{ commitment.unit_of_quantity.abbrev }}</i>
				{% trans "Project" %}: <i>{{ process.project }}</i>
                &nbsp;&nbsp;&nbsp;&nbsp;
				<span id="saving"></span>
			</span>
		</legend>

		<div class="row-fluid">
			<div class="span8">

			<form id="labnotesForm" method="POST" action="">
				{% csrf_token %}
				{{ wb_form.id }}
				<div class="control-group">
					<label><b>{% trans "Description of work done" %}:</b></label>
					{{ wb_form.description }}
				</div>
			</div>
			<div class="span4">
			    <div class="row-fluid">
			        <div class="span12">
			            <div class="control-group">
					        <b>{% trans "Event date" %}:</b> 
					        {{ wb_form.event_date }}
				        </div>

				        <div class="control-group">
					        <label><b>{% trans "Time spent" %}:</b></label>
					        {{ wb_form.quantity }}&nbsp;&nbsp;&nbsp;&nbsp;
					        {% if prev %}Previously: {{ prev }}{% endif %}
					        <span class="help-block">{{ wb_form.quantity.help_text }}</span>
				        </div>

				        <div style="margin-bottom: 1em;">
				            <button class="btn btn-primary" type="submit">{% trans "Close" %}</button>
				        </div>

				    </div>
			    </div>
            </form>
                <div class="row-fluid">
			        <div class="span12">
			            <a href="#addOutputModal" role="button" class="btn" data-toggle="modal">{% trans "Add an output" %}</a>

			            {% comment %}
                            Todo: request to create a work input addition function called "invite a friend" - see issue #6
			            {% endcomment %}
			            <a href="#addInputModal" role="button" class="btn" data-toggle="modal">{% trans "Add an input" %}</a>
			            
			            <div class="modal hide fade" id="addOutputModal" tabindex="-1" role="dialog" aria-labelledby="output-label" aria-hidden="true">
				            <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

				                <h3 id="output-label">{% trans "Add an output" %}</h3>
				                
				            </div>
				            <div class="modal-body">
					            <form class="output-form" enctype="multipart/form-data" id="addOutputForm" action="{% url new_process_output commitment_id=commitment.id %}" method="POST" >
						            {% csrf_token %}

					                    {{ add_output_form|as_bootstrap }}

                                	<input type='hidden' id='outputRunning' name='wasRunning' value='' />
			                        <input type='hidden' id='outputRetrying' name='wasRetrying' value='' />
			                        <input type="hidden" name="reload" value="pastwork" />
			                        <input type="hidden" id="outputDate" name="outputDate" value="{{ event_date|date:'Y-m-d' }}" />
					              <div class="modal-footer">
						            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						            <button class="btn btn-primary">{% trans "Add output" %}</button>
					              </div>


					            </form>
                            </div>
                        </div>

                        <div class="modal hide fade" id="addInputModal" tabindex="-1" role="dialog" aria-labelledby="input-label" aria-hidden="true">
				            <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

				                <h3 id="output-label">{% trans "Add an input" %}</h3>
				                
				            </div>
				            <div class="modal-body">
					            <form class="input-form" enctype="multipart/form-data" id="addInputForm" action="{% url new_process_input commitment_id=commitment.id %}" method="POST" >
						            {% csrf_token %}

					                    {{ add_input_form|as_bootstrap }}

                                	<input type='hidden' id='inputRunning' name='wasRunning' value='' />
			                        <input type='hidden' id='inputRetrying' name='wasRetrying' value='' />
			                        <input type="hidden" name="reload" value="pastwork" />
			                        <input type="hidden" id="inputDate" name="inputDate" value="{{ event_date|date:'Y-m-d' }}" />
					              <div class="modal-footer">
						            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						            <button class="btn btn-primary">{% trans "Add input" %}</button>
					              </div>


					            </form>
                            </div>
                        </div>

				    </div>
				</div>

				<div>
					<h4>{% trans "Output" %}:</h4>
					<ul>
						{% for item in process.outgoing_commitments %}
						    {% with item.output_resource as resource %}
							<li>
								<b>{{ item.resource_type.name }}:</b> {% trans "Planned" %}: {{ item.quantity }} {{ item.unit_of_quantity }}
								{% if item.is_deletable %}
								    <form style="display: inline;" 
								        class="delete-form" 
								        id="deleteForm{{ item.id }}" 
								        action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								        method="POST" >
					                    {% csrf_token %}
                                    	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                <input type="hidden" name="reload" value="pastwork" />
					                    <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                    </form>
								{% endif %}
								</br>
								{% trans "Actual" %}: <input class="input-mini output-quantity" id="{{ item.id }}" name="{{ resource.id }}" type="text" size="6" value="{{ item.fulfilled_quantity }}" />
								{% if item.creates_resources %}
								    <div style="display: inline;" >
								        <span id="label{{ item.id }}">{{ resource.label }}</span>
									    &nbsp;&nbsp; 
									    <a href="#detailModal{{ item.id }}" role="button" class="btn btn-info" data-toggle="modal">{% trans "Details" %}</a>
								    </div>
								{% endif %}
								<div style="" >
									<a href="#failureForm{{ item.id }}" role="button" class="btn btn-warning" data-toggle="modal">{% trans "Failed" %}</a>
								</div>
								
								{% if item.failed_outputs %}
									<div id="failDiv{{ item.id }}" style="margin-left: 1em;" >
								{% else %}
									<div id="failDiv{{ item.id }}" style="margin-left: 1em; display: none;" >
								{% endif %}
								{% trans "Failures" %}: <span id="failures{{ item.id }}">{{ item.failed_output_qty }}</span></div>
								

							</li>

							
							    <div class="modal hide fade detailModal" id="detailModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="detail-label" aria-hidden="true">
						            <div class="modal-header">
							            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

						                <h3 id="detail-label">{% trans "Details for " %} {{ item.resource_type.name }}</h3>
						                
						            </div>
						            <div class="modal-body">
							            <form class="detail-form" enctype="multipart/form-data" id="detailForm{{ item.id }}" action="{% url resource_event_for_commitment commitment_id=item.id %}" method="POST" >
								            {% csrf_token %}
{% comment %}
								            {% if resource %}
							                    {{ resource.change_form|as_bootstrap }}
						                    {% else %}
							                    {{ item.resource_type.resource_create_form|as_bootstrap }}
						                    {% endif %}
{% endcomment %}

								            {% if resource %}
							                    {{ item.resource_change_form|as_bootstrap }}
						                    {% else %}
							                    {{ item.resource_create_form|as_bootstrap }}
						                    {% endif %}
						                    
                                        	<input type="hidden" name="itemId" value="{{ item.id }}" />					            
								            <input type="hidden" name="next" value="{% url work_commitment commitment_id=commitment.id %}" />
							              <div class="modal-footer">
								            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
								            <button class="btn btn-primary">{% trans "Save changes" %}</button>
							              </div>


							            </form>
                                    </div>
                                </div>
                            

                            <div class="modal hide fade failureModal" id="failureForm{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="failure-label" aria-hidden="true">
						        <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h3 id="failure-label">{% trans "Failed" %} {{ item.resource_type.name }}</h3>
						        </div>
						        <div class="modal-body">
							        <form class="failure-form" id="failForm{{ item.id }}" action="{% url failed_outputs commitment_id=item.id %}" method="POST" >
								        {% csrf_token %}
								        {{ failure_form|as_bootstrap }}
								        <input type="hidden" name="next" value="{% url work_commitment commitment_id=commitment.id %}" />
							          <div class="modal-footer">
								        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
								        <button class="btn btn-primary">{% trans "Save changes" %}</button>
							          </div>


							        </form>
                                </div>
                            </div>
                            {% endwith %}
                    
						{% endfor %}
					</ul>

				{% if process.intellectual_requirements %}
					<div>
						<h4>{% trans "Design inputs" %}:</h4>
						{% for item in process.intellectual_requirements %}
						<ul>
						    <li><b>{{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }}
						        {% if item.is_deletable %}
								    <form style="display: inline;" 
								        class="delete-form" 
								        id="deleteForm{{ item.id }}" 
								        action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								        method="POST" >
					                    {% csrf_token %}
                                    	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                <input type="hidden" name="reload" value="pastwork" />
					                    <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                    </form>
								{% endif %}
						    </li>
							<ul>
							{% if item.onhand %}
								{% for resource in item.onhand_with_fulfilled_quantity %}
									<li>
										<b>{% trans "Available" %}: <a href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a></b> <span id="onhand-{{resource.id}}">{{ resource.quantity }}</span> {{ resource.unit_of_quantity }}</br>
										{% trans "Used" %}: <input class="input-mini used-quantity" id="{{ item.id }}" name="{{ resource.id }}" type="text" size="6" value="{{ resource.fulfilled_quantity }}" /></br>
									</li>
								{% endfor %}
							{% elif item.resource_type.producing_commitments %}
								{% for ct in item.resource_type.producing_commitments %}
									<li>
										<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b>
										<a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}</a>
									</li>
								{% endfor %}
							{% else %}
								<li>
									<b>{% trans "Not purchased yet" %}: {{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }}
								</li>
		                        <ul>
									{% for source in item.resource_type.producing_agent_relationships %}
										<li>
											{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
							
							</ul>
						</ul>
						{% endfor %}
						
					</div>
				{% endif %}
							  
				{% if process.material_requirements %}
					<div>
						<h4>{% trans "Material inputs" %}:</h4>
						{% for item in process.material_requirements %}
						<ul>
						    <li><b>{{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }}
						        {% if item.is_deletable %}
								    <form style="display: inline;" 
								        class="delete-form" 
								        id="deleteForm{{ item.id }}" 
								        action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								        method="POST" >
					                    {% csrf_token %}
                                    	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                <input type="hidden" name="reload" value="pastwork" />
					                    <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                    </form>
								{% endif %}
						    </li>
							<ul>
							{% if item.onhand %}
								{% for resource in item.onhand_with_fulfilled_quantity %}
									<li>
										<b>{% trans "Onhand" %}: <a href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a></b> 
										<span id="onhand-{{resource.id}}">{{ resource.quantity }}</span> {{ resource.unit_of_quantity }}</br>
										{% trans "Used" %}: <input class="input-mini used-quantity" id="{{ item.id }}" name="{{ resource.id }}" type="text" size="6" value="{{ resource.fulfilled_quantity }}" /></br>
									</li>
								{% endfor %}
							{% elif item.resource_type.producing_commitments %}
								{% for ct in item.resource_type.producing_commitments %}
									<li>
										<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b>
										<a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}</a>
									</li>
								{% endfor %}
							{% else %}
								<li>
									<b>{% trans "Not purchased yet" %}: {{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }}
								</li>
		                        <ul>
									{% for source in item.resource_type.producing_agent_relationships %}
										<li>
											{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
										</li>
									{% endfor %}
								</ul>
							{% endif %}
							
							</ul>
						</ul>
						{% endfor %}
						
					</div>
				{% endif %}

				{% if process.tool_requirements %}
					<div>
						<h4>{% trans "Tool inputs" %}:</h4>
						{% for item in process.tool_requirements %}
		                    <ul>
				                <li><b>{{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }}
				                    {% if item.is_deletable %}
								        <form style="display: inline;" 
								            class="delete-form" 
								            id="deleteForm{{ item.id }}" 
								            action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								            method="POST" >
					                        {% csrf_token %}
                                        	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                    <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                    <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                    <input type="hidden" name="reload" value="pastwork" />
					                        <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                        </form>
								{% endif %}
				                </li>
								<ul>
									{% if item.onhand %}
										{% for resource in item.onhand_with_fulfilled_quantity %}
											<li>
												<b>{% trans "Onhand" %}: <a href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a></b></br>
												{% trans "Used" %}: <input class="input-mini time-used" id="{{ item.id }}" name="{{ resource.id }}" type="text" size="6" value="{{ resource.fulfilled_quantity }}" /></br>
											</li>
										{% endfor %}

									{% elif item.resource_type.producing_commitments %}
										{% for ct in item.resource_type.producing_commitments %}
											<li>
												<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b>
												<a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}</a>
											</li>
										{% endfor %}
									{% else %}
										<li>
											<b>{% trans "Not purchased yet" %}: {{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }}
										</li>
						                <ul>
											{% for source in item.resource_type.producing_agent_relationships %}
												<li>
													{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
												</li>
											{% endfor %}
										</ul>
									{% endif %}

								</ul>
							</ul>
						{% endfor %}
					</div>
				{% endif %}

				{% if process.space_requirements %}
					<div>
						<h4>{% trans "Space inputs" %}:</h4>
						{% for item in process.space_requirements %}
		                    <ul>
				                <li><b>{{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }}
				                    {% if item.is_deletable %}
								        <form style="display: inline;" 
								            class="delete-form" 
								            id="deleteForm{{ item.id }}" 
								            action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								            method="POST" >
					                        {% csrf_token %}
                                        	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                    <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                    <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                    <input type="hidden" name="reload" value="pastwork" />
					                        <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                        </form>
								    {% endif %}
				                </li>
								<ul>
									{% if item.onhand %}
										{% for resource in item.onhand_with_fulfilled_quantity %}
											<li>
												<b>{% trans "Available" %}: <a href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a></b></br>
												{% trans "Used" %}: <input class="input-mini time-used" id="{{ item.id }}" name="{{ resource.id }}" type="text" size="6" value="{{ resource.fulfilled_quantity }}" /></br>
											</li>
										{% endfor %}

									{% elif item.resource_type.producing_commitments %}
										{% for ct in item.resource_type.producing_commitments %}
											<li>
												<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b>
												<a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}</a>
											</li>
										{% endfor %}
									{% else %}
										<li>
											<b>{% trans "Not purchased yet" %}: {{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }}
										</li>
						                <ul>
											{% for source in item.resource_type.producing_agent_relationships %}
												<li>
													{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
												</li>
											{% endfor %}
										</ul>
									{% endif %}

								</ul>
							</ul>
						{% endfor %}
					</div>
				{% endif %}

				{% if others_working %}
					<h4 style="margin-left: 1em; margin-bottom: 2px;" >{% trans "Others working on this process" %}:</h4>
					<ul>
						{% for item in others_working %}
							<li>
								<b>{{ item.from_agent }}</b> {% trans "doing" %} {{ item.resource_type }}
                                {% if item.has_labnotes %}
									<a href="{% url labnote commitment_id=item.id %}" target="_blank">Labnotes</a>
								{% endif %}
							</li>

						{% endfor %}
					</ul>

				{% endif %}

				{% if other_work_reqs %}
					<h4 style="margin-left: 1em; margin-bottom: 2px;" >{% trans "Other work requirements" %}:</h4>
					<ul>
						{% for item in other_work_reqs %}
							<li>
								<b>{{ item.resource_type }}</b> {{ item.quantity }} {{ item.unit_of_quantity.abbrev }}
								{% if item.is_deletable %}
								    <form style="display: inline;" 
								        class="delete-form" 
								        id="deleteForm{{ item.id }}" 
								        action="{% url delete_commitment commitment_id=item.id labnotes_id=commitment.id %}" 
								        method="POST" >
					                    {% csrf_token %}
                                    	<input type='hidden' id='deleteRunning{{ item.id }}' name='wasRunning' value='' />
		                                <input type='hidden' id='deleteRetrying{{ item.id }}' name='wasRetrying' value='' />
		                                <input type="hidden" id="eventDate{{ item.id }}" name="eventDate" value="{{ event_date|date:'Y-m-d' }}" />
		                                <input type="hidden" name="reload" value="pastwork" />
					                    <button class="btn btn-warning btn-mini" title="Delete" >{% trans "X" %}</button>
				                    </form>
								{% endif %}
							</li>

						{% endfor %}
					</ul>

				{% endif %}
			</div>
		</div>


	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/RelatedObjectLookups.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    var commitment_id = {{ commitment.id }};
    var returnUrl = "{% url work_commitment commitment_id=commitment.id %}";
	var start = new Date();
    var duration = {{ duration }};
    var description = "";
    var daysValue = 0;
    var hoursValue = 0;
    var minutesValue = 0;
	var used = {};
	var running = false;
    var runTimer = null;
	var retrying = false;
    var retryTimer = null;
    var contributionSaved = true;
    var outputsSaved = true;
    var inputsSaved = true;
    var timeInputsSaved = true;
    var failSaved = true;
    var resourceSaved = true;
    var wasRunning = {{ was_running }};
    var wasRetrying = {{ was_retrying }};
    {% if event_date %}
        var eventDate = "{{ event_date|date:'Y-m-d' }}"
    {% else %}
        var eventDate = ""
    {% endif %}


	$(document).ready(function(){
	
        {% if event_date %}
            $("#id_event_date").attr('disabled', 'disabled');
        {% else %}
	        $("input").attr('disabled', 'disabled');
	        $("button").attr('disabled', 'disabled');
	        $("textarea").attr('disabled', 'disabled');
	        $("a").attr('disabled', 'disabled');

            $("#id_event_date").removeAttr('disabled');
            
	        $("#id_event_date").change(gotDate);

	        function gotDate(event)
	        {
	            eventDate = event.target.value;
                $("input").removeAttr('disabled');
	            $("button").removeAttr('disabled');
	            $("textarea").removeAttr('disabled');
	            $("a").removeAttr('disabled');
	            $("#id_event_date").attr('disabled', 'disabled');
	            saveContribution();
	            
	        }
	        
        {% endif %}


        $('#labnotesForm').validate(
		{
			rules: {
			    quantity_0: {
                    required: true, 
					number: true
				},
				quantity_1: {
                    required: true, 
					number: true
				},
				quantity_2: {
                    required: true, 
					number: true
				},
				event_date: {
                    required: true, 
					date: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			}
		});
		

	    $(".resource-type-selector").change(getUnit);

		function getUnit(event)
		{
                        var targetId = event.target.id;
			if (targetId.search("output") >= 0)
			{
				direction = "out";
			}
			else
			{
				direction = "in";
			}
			var prefix = targetId.split('-')[0];
			var resourceId = event.target.value;
			var unitName = "#" + prefix + "-unit_of_quantity";
			var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			$.get(jsonUrl,
				function(data){
					var unit = data["unit"];
                    $(unitName).val(unit);
				});
		}

        jQuery.validator.setDefaults({ 
            onfocusout: true,
            onkeyup: false,
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });


		description = $("#id_description").val();
		daysValue = parseInt($("#id_quantity_0").val());
		hoursValue = parseInt($("#id_quantity_1").val());
		minutesValue = parseInt($("#id_quantity_2").val());

	    if (wasRunning)
        {
            startTimer();
        }

		$("#id_description").blur(function() 
		{
			var newDescription = this.value;
            
            if (description != newDescription)
			{
                description = newDescription;
				saveContribution();
			}
		});

		$("#id_quantity_0").blur(function() 
		{
            var newDays = parseInt(this.value);
            if (daysValue != newDays)
			{
				daysValue = newDays;
				recomputeDuration();
				saveContribution();
			}
		});

		$("#id_quantity_1").blur(function() 
		{
            var newHours = parseInt(this.value);
            if (hoursValue != newHours)
			{
				hoursValue = newHours;
				recomputeDuration();
				saveContribution();
			}
		});

		$("#id_quantity_2").blur(function() 
		{
            var newMinutes = parseInt(this.value);
            if (minutesValue != newMinutes)
			{
				minutesValue = newMinutes;
				recomputeDuration();
				saveContribution();
			}
		});


		$(".used-quantity").each( function(){
			var id = this.id;
			var resourceId = this.name;
			var qty = this.value;
            used[resourceId] = qty;
		});

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		$('#failForm').validate(
		{
			rules: {
				quantity: {
                    required: true, 
					number: true
				},
				description: {
                    required: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			}
		});

        {% for item in process.outgoing_commitments %}
		    $("#detailForm{{ item.id }}").submit(function(event) {
		
		        event.preventDefault();
                var itemId = {{ item.id }};
			    var $form = $( this ),
			        qtyInputId = $form.find( 'input[name="itemId"]' ).val(),
			        identifier = $form.find( 'input[name*="identifier"]' ).val(),
				    url = $form.attr( 'action' );

			    var formData = $form.serialize();
			    saveResource(url, itemId, qtyInputId, identifier, formData); 

		    });
		    $("#failForm{{ item.id }}").submit(function(event) {
		
		        event.preventDefault();
                var itemId = {{ item.id }};
			    var $form = $( this ),
				    qty = $form.find( 'input[name="quantity"]' ).val(),
				    url = $form.attr( 'action' );

			    var formData = $form.serialize();
			    saveFail(qty, itemId, url, formData);
		    });
        {% endfor %}

		$("#start").click(function(event) {
            startTimer();  
		});

		$("#stop").click(function(event) {
            event.preventDefault();
            var stop = new Date();
			duration += Math.round((stop - start) / 60000);
            running = false;
			clearInterval(runTimer);
        	var days = Math.floor(duration / 1440);
        	var hours = Math.floor((duration - (days * 1440)) / 60);
            var mins = Math.round(duration - (days * 1440) - (hours * 60));
			$("#id_quantity_0").val(days);
			$("#id_quantity_1").val(hours);
			$("#id_quantity_2").val(mins);
			$("#stop").attr("disabled", "disabled");
			$("#start").removeAttr("disabled"); 
			saveContribution();
		});

        $("#addOutputForm").submit(function(event) {
            $('#outputDate').prop('value', eventDate);
            if(running)
            {
                $('#outputRunning').prop('value', 1);
            }
            else
            {
                $('#outputRunning').prop('value', 0);
            }
            if (retrying)
            {
                $('#outputRetrying').prop('value', 1);
            }
            {
                $('#outputRetrying').prop('value', 0);
            }
            return true;
		});

		$("#addInputForm").submit(function(event) {
		    $('#inputDate').prop('value', eventDate);
            if(running)
            {
                $('#inputRunning').prop('value', 1);
            }
            else
            {
                $('#inputRunning').prop('value', 0);
            }
            if (retrying)
            {
                $('#inputRetrying').prop('value', 1);
            }
            {
                $('#inputRetrying').prop('value', 0);
            }
            return true;
		});

		{% for item in process.non_work_requirements %}
		    $("#deleteForm{{ item.id }}").submit(function(event) {
		        $('#eventDate{{ item.id }}').prop('value', eventDate);
                if(running)
                {
                    $('#deleteRunning{{ item.id }}').prop('value', 1);
                }
                else
                {
                    $('#deleteRunning{{ item.id }}').prop('value', 0);
                }
                if (retrying)
                {
                    $('#deleteRetrying{{ item.id }}').prop('value', 1);
                }
                {
                    $('#deleteRetrying{{ item.id }}').prop('value', 0);
                }
                return true;
		    });
		{% endfor %}

        $("#addInput").click(function(event) {
            event.preventDefault();
		});

		$(".output-quantity").blur(function() 
		{
			var quantity = this.value;
			var id = this.id;
			var resourceId = this.name;
			var wholeNbrs = quantity;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				decimals = qtySplit[1];
			}
			
			if ($.isNumeric(quantity))
			{
				var combined = wholeNbrs.length + decimals.length;
				if (combined<=8 && decimals.length<=2)
				{
					var id = this.id;
					saveOutput(id, resourceId, quantity);
				}
				else
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = quantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = quantity;
			}
		});

		$(".used-quantity").blur(function() 
		{
			var quantity = this.value;
            var id = this.id;
            var resourceId = this.name;
            var prev = parseFloat(used[resourceId]);
            var onhandId = "#onhand-" + resourceId;
            var onhand = parseFloat($(onhandId).text());
            var avail = prev + onhand;
			var wholeNbrs = quantity;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				decimals = qtySplit[1];
			}
			
			if ($.isNumeric(quantity))
			{
				var combined = wholeNbrs.length + decimals.length;
				if (combined<=8 && decimals.length<=2)
				{
					if (quantity > avail)
					{
						alert(quantity + " is more than available quantity: " + avail);
						this.value = quantity;
					}
					else
					{
						var id = this.id;
						saveInput(id, resourceId, quantity);
					}
				}
				else
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = quantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = quantity;
			}
		});


		$(".time-used").blur(function() 
		{
			var quantity = this.value;
			var wholeNbrs = quantity;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				decimals = qtySplit[1];
			}
			
			if ($.isNumeric(quantity))
			{
				var combined = wholeNbrs.length + decimals.length;
				if (combined<=8 && decimals.length<=2)
				{
					var id = this.id;
					var resourceId = this.name;
					saveTimeInput(id, resourceId, quantity);
				}
				else
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = quantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = quantity;
			}
		});

	    function startTimer()
        {
            start = new Date();
		    running = true;
		    // updateTime every minute
            runTimer = setInterval(updateTime, 60 * 1000);
		    $("#start").attr("disabled", "disabled");
		    $("#stop").removeAttr("disabled");
        }

	}); // end document.ready



	function recomputeDuration()
	{
		duration = (daysValue * 1440) + (hoursValue * 60) + minutesValue;
	}


	function saveContribution()
	{

		var $form = $("#labnotesForm");

		var formData = $form.serialize();
		var ed = "&eventDate=" + eventDate;
		formData += ed;

		var url = "{%url save_past_work commitment_id=commitment.id %}";

		notifySaving();

		var jqxhr = $.post( url, formData,
			function( data ) {
				notifySaved();
				contributionSaved = true;
			})
			.fail(function() 
			{ 
				notifyProblem(); 
				contributionSaved = false;
				startRetrying();
			}
		);

	}

	function updateTime()
	{
        var stop = new Date();
		duration += Math.round((stop - start) / 60000);
        start = stop;
    	var days = Math.floor(duration / 1440);
    	var hours = Math.floor((duration - (days * 1440)) / 60);
        var mins = Math.round(duration - (days * 1440) - (hours * 60));
		$("#id_quantity_0").val(days);
		$("#id_quantity_1").val(hours);
		$("#id_quantity_2").val(mins);
		saveContribution();	
		retrySaving();		
	}

	function startRetrying()
	{
        if (!running)
		{
			if (!retrying)
			{
				retryTimer = setInterval(retrySaving, 30 * 1000);
                retrying = true;
			}
		}
	}

	function retrySaving()
	{
		if (!contributionSaved)
		{
			saveContribution();
		}

		if (!outputsSaved)
		{
			$(".output-quantity").each( function(){
				var id = this.id;
				var resourceId = this.name;
				var quantity = this.value;
				saveOutput(id, resourceId, quantity);
			});
		}

		if (!inputsSaved)
		{
			$(".used-quantity").each( function(){
				var id = this.id;
				var resourceId = this.name;
				var quantity = this.value;
			    saveInput(id, resourceId, quantity);
			});
		}

		if (!timeInputsSaved)
		{
			$(".time-used").each( function(){
				var id = this.id;
				var resourceId = this.name;
				var quantity = this.value;
			    saveTimeInput(id, resourceId, quantity);
			});
		}

		if (!failSaved)
		{
		    {% for item in process.outgoing_commitments %}
		        var itemId = {{ item.id }};	
			    var $form = $("#failForm{{ item.id }}");
			    var qty = $form.find( 'input[name="quantity"]' ).val();
			    var url = $form.attr( 'action' );
			    var formData = $form.serialize();
			    saveFail(qty, itemId, url, formData);
			{% endfor %}

		}

		if (!resourceSaved)
		{
		    {% for item in process.outgoing_commitments %}	
	            var $form = $("#detailForm{{ item.id }}");
                var itemId = {{ item.id }};
		        var qtyInputId = $form.find( 'input[name="itemId"]' ).val();
		        var identifier = $form.find( 'input[name*="identifier"]' ).val();
			    var url = $form.attr( 'action' );

		        var formData = $form.serialize();
		        saveResource(url, itemId, qtyInputId, identifier, formData); 
            {% endfor %}
		}

		if (contributionSaved 
		        && outputsSaved 
	            && inputsSaved 
	            && failSaved 
	            && resourceSaved
	        )
		{
			if (retrying)
			{
				clearInterval(retryTimer);
		    	retrying = false;
			}
		}
	}

	function notifySaving()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saving...");
	}

	function notifySaved()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saved");
	}

	function notifyProblem()
	{
		$("#saving").css("color","red"); 
		$("#saving").text("Problem saving");
	}

	function saveFail(qty, itemId, url, formData)
	{
		notifySaving();
		var modalID = "#failureForm" + itemId;
		var formID = "#failForm" + itemId;
		var divID = "#failDiv" + itemId;
		var failuresId = "#failures" + itemId;
		var jqxhr = $.post( url, formData,
			function( data ) {
				$(divID).show();
				$(failuresId).empty().append( data );
				$(modalID).modal('hide');
				notifySaved();
                $(formID).trigger( "reset" );
				failSaved = true;
			})
			.fail(function() 
			{ 
				$(modalID).modal('hide');
				notifyProblem(); 
				failSaved = false;
				startRetrying();
			}
		);

	}

	function saveResource(url, itemId, qtyInputId, identifier, formData)
	{
		notifySaving();
		var ed = "&eventDate=" + eventDate;
		formData += ed;
		var qtyInputId = "#" + qtyInputId;
		var modalID = "#detailModal" + itemId;
		var labelID = "#label" + itemId;
		var jqxhr = $.post( url, formData,
			function( data ) {
				$(modalID).modal('hide');
				notifySaved();
				resourceSaved = true;
				$(qtyInputId)[0].value = data;
				$(labelID).text(identifier);
			})
			.fail(function() 
			{ 
				$(modalID).modal('hide');
				notifyProblem(); 
				resourceSaved = false;
				startRetrying();
			}
		);

	}

	function saveOutput(id, resourceId, quantity)
	{
		notifySaving();
		var formId = "#detailForm" + id;
		var $form = $(formId);
		var detailQtyId = $form.find( 'input[name*="quantity"]' ).attr('id');
		detailQtyId = "#" + detailQtyId;
		var jqxhr = $.post("{% url production_event_for_commitment %}",  
		    { id: id, 
		    quantity: quantity, 
		    eventDate: eventDate
		    },
			function( data ) 
			{
				notifySaved();
				outputsSaved = true;
				$(detailQtyId)[0].value = quantity;
			})
			.fail(function() 
			{ 
				notifyProblem(); 
				outputsSaved = false;
				startRetrying();
			}
		);
	}

	function saveInput(id, resourceId, quantity)
	{
		notifySaving();
		var jqxhr = $.post("{% url consumption_event_for_commitment  %}",  
		    { id: id, 
		    resourceId: resourceId, 
		    quantity: quantity,
		    eventDate: eventDate 
		    },
			function( data ) 
			{
				notifySaved();
				inputsSaved = true;
		        var prev = parseFloat(used[resourceId]);
				var onhandId = "#onhand-" + resourceId;
		        var onhand = parseFloat($(onhandId).text());
		        var avail = prev + onhand;
				var newOnhand = avail - quantity;
				used[resourceId] = quantity;
				$(onhandId).text(newOnhand);
			})
			.fail(function() 
			{ 
				notifyProblem(); 
				inputsSaved = false;
				startRetrying();
			}
		);
	}

	function saveTimeInput(id, resourceId, quantity)
	{
		notifySaving();
		var jqxhr = $.post("{% url time_use_event_for_commitment  %}",  
		    { id: id, 
		    resourceId: resourceId, 
		    quantity: quantity, 
		    eventDate: eventDate 
		    },
			function( data ) 
			{
				notifySaved();
				timeInputsSaved = true;
			})
			.fail(function() 
			{ 
				notifyProblem(); 
				timeInputsSaved = false;
				startRetrying();
			}
		);
	}

	$(document).ajaxSend(function(event, xhr, settings) 
	{
		function getCookie(name) 
		{
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') 
			{
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) 
				{
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) 
					{
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
    	}

		function sameOrigin(url) 
		{
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}

		function safeMethod(method) 
		{
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) 
		{
		    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});
    </script>

{% endblock %}
