{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Maintain Patterns" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

li {
    list-style-type: none;
}
.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}
.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
}
.for, .req-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}

.section {
    color:     #008A2E;
    font-size: 1em;
}
.work, .deliverable, .material, .subline {
    font-weight: normal;

}
.taken {
    font-style: italic;
    font-weight: bold;
    color: #5C8A8A;
}

.btn {
	margin-right: 2em;
}

.schedule, .todos {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}

#todoModal textarea {
  width: 400px;
  height: 200px;
}

.changeModal textarea {
  width: 400px;
  height: 200px;
}


.entry-label {
    text-align: right;
    vertical-align: middle;
}

.entry-buttons {
    padding-top: 4px;
    text-align: left;
}
.btn-mini {
    margin-bottom: 3px;
    margin-right: 0;
}

.todo-input {
    vertical-align: bottom;
}

.todo-table {
    margin-top: 1em;
}

th, td {
    padding-left:10px;
    padding-right:10px;
}

.did {
    padding: 0;
}

.my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    background-color: #F9F9F7;
}

.not-my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.entry-row {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
    background-color: #F9F9F7;
}

.who {
    font-size: 90%;
    white-space:nowrap;
}
.input-mini {
    width: 2em;
}

.patternFacetHeader {
    margin-bottom: 8px;
}

.relationship {
    margin-top: 1em;
}

.odd {
    background-color: #F9F9F7;
}

.even {
    background-color: #EDEDE6;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	    <div>
		    <legend>
		        {% trans "Maintain Process Patterns" %} &nbsp;&nbsp;&nbsp;<a href="{% url resource_facet_table %}">{% trans "Change Resource Type Facets" %}</a> 
	        </legend>

	        <form id="useCaseForm" action="." method="POST" >
                {% csrf_token %}
                {% trans "Select Use Case" %}: 
                {{ use_case_form.use_case }}
                <input type="submit" name="submit" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Get Patterns' %}" />
	        </form>

            <div class="row-fluid">
  
	        {% if patterns %}
	            <div class="span6">
	            <h3>{% trans "Patterns for this Use Case" %}:</h3>
	            <ul>
	            {% for pattern in patterns %}
	                <li>
	                    <a href="{% url change_pattern pattern_id=pattern.id use_case_id=use_case.id %}">{{ pattern }}</a>
	                    <form
	                        style="display: inline;" 
                            class="remove-form" 
                            id="removeForm{{ pattern.id }}" 
                            action="{% url remove_pattern_from_use_case use_case_id=use_case.id pattern_id=pattern.id %}" 
                            method="POST" >
                            {% csrf_token %}
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Remove pattern from use case" >X</button>
                        </form>
                    </li>
	                {% if pattern.use_case_count > 1 %}
	                    <ul>
	                        <li>
	                            {% trans "Other use cases for this pattern" %}:
	                            {% for uc in pattern.use_cases.all %}
	                                {% if uc.use_case != use_case %}
	                                    {{ uc.use_case }}
	                                {% endif %}
	                            {% endfor %}
	                        </li>
	                    </ul>
	                
	                {% endif %}
                {% endfor %}
                </ul>
                </div>
	        {% endif %}

	        {% if use_case and use_case.allows_more_patterns %}
	            <div class="span6">

	                <form id="patternForm" action="{% url add_pattern_to_use_case use_case_id=use_case.id %}" method="POST" >
                        {% csrf_token %}
                        <input type="text" name="pattern-name" value="name" onfocus="this.value=''" maxlength="32" />
                        <input type="submit" name="new-pattern" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Create a new Pattern for this Use Case' %}" />
	                </form>

	                <form id="patternForm" action="{% url add_pattern_to_use_case use_case_id=use_case.id %}" method="POST" >
                        {% csrf_token %}
                        {{ pattern_form.pattern }}
                        <input type="submit" name="add-pattern" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Add an existing Pattern' %}" />
	                </form>


                    
	            </div>

	            </div>
            {% endif %}

{% comment %} LF commenting out: I don't see that this would ever occur.... ?
	        {% if selected_pattern %}

	            {% for slot in slots %}

                <div class="row-fluid relationship">

                    <div class="span8">
                        <div class="row-fluid">
                            <div class="span8 resourcesHeader">
                                <h4>{{ slot.label }} {% trans "Resource Types" %}</h4>
                            </div>
                            <div class="span4 facetsHeader">
                                <h4>{% trans "Resource Type Facets" %}</h4>
                            </div>
                        </div>
                        
                        {% for item in slot.resource_types %}
                            <div class="row-fluid {% cycle 'odd' 'even' %}">
                                <div class="span8 resources">
                                    <p>{{ item }}</p>
                                </div>
                                <div class="span4 facets">
                                    {% for facet in item.facets.all %}
                                        <p>{{ facet.facet_value }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% empty %}
                            <p>None</p>
                        {% endfor %}
                    </div>
                    <div class="span4">
                        <h4 class="patternFacetHeader" >{% trans "Pattern Facets" %}</h4>
                        {% for facet in slot.facets %}
                            <p>{{ facet.facet_value }}</p>
                        {% endfor %}
                    </div>
                    
                </div>

                {% endfor %}

                
	        {% endif %}
{% endcomment %}
	    </div>
    </div>
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$(".chzn-select").chosen();

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready
	
    </script>

{% endblock %}
