{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Freedom Coop Membership Requests" %}{% endblock %}

{% block extra_head %}
<style>
    .container div {
        margin-left: -5em;
    }
    
    tr.even td 
    {
        color:#000000;
        background-color:#EAF2D3;
    }

    th
    {
        background-color:#C8D6E8;
    }
    .action-form 
    {
        margin-top: 0;
        margin-bottom: 2px;
    }

    #stateForm ul
    {
        list-style-type: none;
        display: inline !important;
        margin: 0;
        padding: 0;
    }
    #stateForm li
    {
        display: inline !important;
        margin: 0;
        padding: 0;
    }
    #stateForm
    {
        font-size: 70%;
        display: inline !important;
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
    <div>
        <legend>
            {% trans "Freedom Coop Membership Requests" %} &nbsp;&nbsp;&nbsp;
            <form id="stateForm" action="." method="POST">{% csrf_token %}
                {% trans "State" %}: {{ state_form.state }}
            </form>
        </legend>
        
        <table style="width: 100%;" class="table table-bordered table-hover table-condensed" >
            <thead>
                {% if state != "accepted" %}
                    <th>{% trans "Actions" %}</th>
                {% endif %}
                <th>{% trans "Links" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Requested username" %}</th>
                <th>{% trans "Type" %}</th>
		<th>{% trans "Shares" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "Phone" %}</th>
                <th>{% trans "Address" %}</th>
		<th>{% trans "Website" %}</th>
                <th>{% trans "Languages" %}</th>
                <th>{% trans "FairNetwork" %}</th>
                <th>{% trans "UseFaircoin" %}</th>
                <th>{% trans "FairMarket" %}</th>
                <th>{% trans "References" %}</th>
                <th>{% trans "Comments" %}</th>                
            </thead>
            <tbody> 
                {% for req in requests %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        {% if state != "accepted" %}
                            <td>
                                {% if state == "declined" %}
                                    <form
                                        class="action-form" 
                                        id="undecline-form{{ req.id }}" 
                                        action="{% url "undecline_request" membership_request_id=req.id %}" 
                                        method="POST" >
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-mini btn-primary" name="submit" value='{% trans "Undecline" %}' />
                                    </form>
                                {% else %}
                                    <form
                                        class="action-form" 
                                        id="decline-form{{ req.id }}" 
                                        action="{% url "decline_request" membership_request_id=req.id %}" 
                                        method="POST" >
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-mini btn-warning" name="submit" value='{% trans "Decline" %}' />
                                    </form>
                                {% endif %}
                                {% comment %}
                                <form
                                    class="action-form" 
                                    id="delete-form{{ req.id }}" 
                                    action="{% url "delete_request" membership_request_id=req.id %}" 
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-mini btn-danger" name="submit" value='{% trans "Delete" %}' />
                                </form>
                                {% endcomment %}
                            </td>
                        {% endif %}
                        <td>
                            {% if req.agent %}
                                <a href="{{ req.agent.get_absolute_url }}">{{ req.agent.name }}</a>
                            {% endif %}
                            <a href="{% url 'membership_discussion' membership_request_id=req.id %}">Comments</a>
                        </td>
                        <td>{{ req.request_date }}</td>
                        <td>{{ req.name }} {{ req.surname }}  </td>
                        <td>{{ req.requested_username }}</td>
                        <td>{{ req.type_of_membership }}</td>
			<td>{{ req.number_of_shares }}</td>
                        <td>{{ req.description }}</td>
                        <td>{{ req.email_address }}</td>
                        <td>{{ req.phone_number }}</td>
                        <td>{{ req.address }}</td>
			<td>{{ req.website }}</td>
                        <td>{{ req.native_language }}</td>
                        <td>{{ req.fairnetwork }}</td>
                        <td>{{ req.usefaircoin }}</td>
                        <td>{{ req.fairmarket }}</td>
                        <td>{{ req.known_member }}</td>
                        <td>{{ req.comments_and_questions }}</td>
                    </tr>
                {% endfor %}
            </tbody>    
        </table>

{% comment %}
<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ events.number }} {% trans "of" %} {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>
{% endcomment %}

    </div>
    </div>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){

        //$('#inventory').addClass('active');
        //$("select").chosen();
        
        $(".tog").change(function() 
        {
            this.form.submit();
        });

    }); // end document.ready

    </script>
{% endblock %}
