{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Schedule for " %}{{ order }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.error {
    color: red;
}
.reskedForm {
    display: inline;
}
li {
    list-style-type: none;
}
textarea {
    width: 480px;
}
.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}
.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
    background-color: lightyellow;
    border: 1px solid gainsboro;
    padding: 1em;
}
.resource-type {
    font-weight: bold;
    font-size: 1.1em;
}
.for, .req-description p {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}
.section {
    color:     #008A2E;
    font-size: 1em;
}
.indent {
    margin-left: 1em;
}
.process-btn {
    margin-top: 10px;
}
.btn-warning {
    margin-top: 5px;
}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Schedule for " %}{{ order }}</legend>
		
            {% if order.description %}
                <div class="req-description">{{ order.description|urlize|linebreaks }}</div>
            {% endif %}

            <h3>
			    {% if order.order_type == "customer" %}
		            {% trans "Order Items" %}:
	            {% else %}
	                {% trans "Deliverables" %}:
	            {% endif %}
	        </h3>
        
			<ul>
			    {% for item in order.producing_commitments %}
					<li>
					    <span class="resource-type">
                            {{ item.resource_type }}
                            {% if item.stage %}
                                @{{ item.stage.name }}
                            {% endif %}
                        </span> {{ item.quantity }} {{ item.unit_of_quantity }}
                        {% if agent %}
                          {% if item.stage %}
                            <div style="display: inline;" >
                                <a href="#resourceQuantity" role="button" class="btn btn-primary btn-mini indent" data-toggle="modal">{% trans "Change Quantity" %}</a>
                            </div>
                          {% endif %}
                        {% endif %}
			            {% if item.description %}
			               <div class="req-description"> {{ item.description|urlize|linebreaks }}</div>
		                {% endif %}
				    </li>
                {% empty %}
                    None
				{% endfor %}
			</ul>

			{% if agent %}
			  <div class="modal hide fade" id="resourceQuantity" tabindex="-1" role="dialog" aria-labelledby="resource-qty-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="resource-qty-label">{% trans "Change resource quantity for workflow plan" %} </h3>
                </div>
                <div class="modal-body">
                    <form class="resource-qty-form validateMe" enctype="multipart/form-data" action="{% url change_commitment_quantities order_id=order.id %}" method="POST" >
                        {% csrf_token %}
                        {{ resource_qty_form }} {{ unit }}
                        <p>This will change all the planned quantities for the workflow resource on all processes for this order.</p>
                        <p>If work inputs also are using the same quantity and unit, they will also be changed.</p>
                        <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save changes" %}</button>
                        </div>
                    </form>
                </div>
			  </div>
			{% endif %}
			
			<div class="row-fluid">

				<div class="span12">
					<h3 style="margin-bottom: 4px;" >
					    {% trans "Production Schedule" %}:
					    <a class="indent" href="{% url processes_graph object_type='O' object_id=order.id %}">Process graph diagram</a>
				    </h3> 
					
					{% for process in processes %}
					
					    {% if agent %}
                          {% if process.to_be_changed_requirements %}
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#insertProcessForm{{ process.id }}" role="button" class="btn btn-info btn-mini process-btn" data-toggle="modal">
                                    {% blocktrans %}Insert a process here {% endblocktrans %}
                                    </a>
                                </div>
                                
                                <div class="modal hide fade processForm" id="insertProcessForm{{ process.id }}" tabindex="-1" role="dialog" aria-labelledby="process-insert-label" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="process-insert-label">{% blocktrans %}Insert process for {% endblocktrans %} {{ order }} </h3>
                                    </div>
                                    <div class="modal-body">
                                    <form class="process-form validateMe" action="{% url insert_process_for_streaming order_id=order.id process_id=process.id %}" method="POST">
                                            {% csrf_token %}
                                            
                                            {% with process.insert_process_form as processForm %}
                                                <table>
                                                    <tr><td>{{ processForm.name.label }}</td></tr>
                                                    <tr><td>{{ processForm.name }}</td></tr>
                                                    <tr><td>{{ processForm.context_agent.label }}</td></tr>
                                                    <tr><td>{{ processForm.context_agent }}</td></tr>
                                                    <tr><td>{{ processForm.process_pattern.label }}</td></tr>
                                                    <tr><td>{{ processForm.process_pattern }}</td></tr>
                                                    <tr><td>{{ processForm.process_type.label }}</td></tr>
                                                    <tr><td>{{ processForm.process_type }}</td></tr>
                                                    <tr><td>{{ processForm.new_process_type_name.label }}</td></tr>
                                                    <tr><td>{{ processForm.new_process_type_name }}</td></tr>
                                                    <tr><td>{{ processForm.start_date.label }}</td></tr>
                                                    <tr><td>{{ processForm.start_date }}</td></tr>
                                                    <tr><td>{{ processForm.end_date.label }}</td>
                                                    <tr><td>{{ processForm.end_date }}</td></tr></tr>
                                                    <tr><td>{{ processForm.notes.label }}</td></tr>
                                                    <tr><td>{{ processForm.notes }}</td></tr>
                                                </table>
                                            {% endwith %}
                                            
                                            <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>            
                            </div>
                          {% endif %}
					    {% endif %}
					
                        <div class="row-fluid">
                            <div class="span9">
                                <div class="process" >{% include  "valueaccounting/_process_for_order.html" %}</div>
                            </div>
                            
                            <div class="span3">
                              {% if agent %}
                              <a href="#processChangeForm{{ process.id }}" role="button" class="btn btn-primary btn-mini process-btn" data-toggle="modal">{% trans "Change process plan" %}</a>
                                
                                <div class="modal hide fade processForm" id="processChangeForm{{ process.id }}" tabindex="-1" role="dialog" aria-labelledby="process-change-label" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="process-change-label">{% trans "Change" %} {{ process.name }}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="process-change-form validateMe" action="{% url change_process_plan process_id=process.id %}" method="POST" >
                                            {% csrf_token %}
                                            {{ process.plan_change_form }}
                                            <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>  
                                
                                {% if order.is_workflow_order %}
                                 {% if process.is_deletable %}
                                  <form
                                    id="deleteProcessForm{{ process.id }}" 
                                    action="{% url delete_workflow_process order_id=order.id process_id=process.id %}" 
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" id="next" name="next" value="{% url order_schedule order_id=order.id %}" />
                                    <button class="btn btn-warning btn-mini" title="Delete this process" >Delete process</button>
                                  </form>    
                                {% endif %}
                               {% endif %}
                              {% endif %}
                            </div>
						 </div>

					{% endfor %}
					
					{% if agent %}
                        {% if order.is_workflow_order %}
                            <div class="row-fluid">
                                <div class="span12">
                                    <a href="#addProcessForm{{ process.id }}" role="button" class="btn btn-info process-btn" data-toggle="modal">
                                    {% blocktrans %}Add a process here {% endblocktrans %}
                                    </a>
                                </div>
                                
                                <div class="modal hide fade processForm" id="addProcessForm{{ process.id }}" tabindex="-1" role="dialog" aria-labelledby="process-add-label" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="process-add-label">{% blocktrans %}Add process for {% endblocktrans %} {{ order }} </h3>
                                    </div>
                                    <div class="modal-body">
                                    <form class="process-form validateMe" action="{% url create_process_for_streaming order_id=order.id %}" method="POST">
                                            {% csrf_token %}

                                            <table>
                                                <tr><td>{{ add_process_form.name.label }}</td></tr>
                                                <tr><td>{{ add_process_form.name }}</td></tr>
                                                <tr><td>{{ add_process_form.context_agent.label }}</td></tr>
                                                <tr><td>{{ add_process_form.context_agent }}</td></tr>
                                                <tr><td>{{ add_process_form.process_pattern.label }}</td></tr>
                                                <tr><td>{{ add_process_form.process_pattern }}</td></tr>
                                                <tr><td>{{ add_process_form.process_type.label }}</td></tr>
                                                <tr><td>{{ add_process_form.process_type }}</td></tr>
                                                <tr><td>{{ add_process_form.new_process_type_name.label }}</td></tr>
                                                <tr><td>{{ add_process_form.new_process_type_name }}</td></tr>
                                                <tr><td>{{ add_process_form.start_date.label }}</td></tr>
                                                <tr><td>{{ add_process_form.start_date }}</td></tr>
                                                <tr><td>{{ add_process_form.end_date.label }}</td>
                                                <tr><td>{{ add_process_form.end_date }}</td></tr></tr>
                                                <tr><td>{{ add_process_form.notes.label }}</td></tr>
                                                <tr><td>{{ add_process_form.notes }}</td></tr>
                                            </table>
                                            
                                            <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>            
                            </div>
                        {% endif %}
					{% endif %}
					
				</div>

			</div>

        </div>
    </div>
{% endblock %}
{% block extra_script %}
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}

{% block extra_body %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function(){
    
    //$('#demand').addClass('active');
    
    $( "#help" ).toggle( function(){
        $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
    })
            
    $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

    $('.validateMe').each( function(){
        var form = $(this);
        form.validate({
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');
                }
        });
    });

    jQuery.validator.setDefaults({ 
        success: function(label) {
            label
            .text('').addClass('valid')
            .closest('.control-group').addClass('success');
        }
    });
    
    jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 1000000 with no more than 2 decimal places"
        );
   jQuery.validator.addMethod("require_from_group", function(value, element, options) {
        var selector = options[1];
        var validOrNot = $(selector, element.form).filter(function() {
            return $(this).val();
        }).length >= options[0];

        if(!$(element).data('being_validated')) {
            var fields = $(selector, element.form);
            fields.data('being_validated', true);
            fields.valid();
            fields.data('being_validated', false);
        }
        return validOrNot;
    }, jQuery.format("Please fill at least {0} of these fields."));     

        
    $.validator.addClassRules("quantity", { 
            required: true, 
            quantity: true,
        });
    
    $.validator.addClassRules("date-entry", { required: true, date: true, });
    
    $.validator.addClassRules("name", { required: true, });
    
    $.validator.addClassRules("process-type", {require_from_group: [1,".process-info"]});
    $.validator.addClassRules("new-pt-name", {require_from_group: [1,".process-info"]});
        

});
</script>

{% endblock %}
