{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Schedule for " %}{{ order }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.error {
    color: red;
}

.reskedForm {
    display: inline;
}

li {
    list-style-type: none;
}
.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}

.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
    background-color: lightyellow;
    border: 1px solid gainsboro;
    padding: 1em;
}

.resource-type {
    font-weight: bold;
    font-size: 1.1em;
}

.for, .req-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}
.section {
    color:     #008A2E;
    font-size: 1em;
}
.indent {
    margin-left: 1em;
}
.process-btn {
    margin-top: 10px;
}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Schedule for " %}{{ order }}</legend>
		
            {% if order.description %}
                <p>{{ order.description|urlize|linebreaks }}</p>
            {% endif %}

            <h3>
			    {% if order.order_type == "customer" %}
		            {% trans "Order Items" %}:
	            {% else %}
	                {% trans "Deliverables" %}:
	            {% endif %}
	        </h3>
        
			<ul>
			    {% for item in order.producing_commitments %}
					<li>
					    <span class="resource-type">
                            {{ item.resource_type }}
                            {% if item.stage %}
                                @{{ item.stage.name }}
                            {% endif %}
                        </span> {{ item.quantity }} {{ item.unit_of_quantity }}
                        {% if item.stage %}
                            <div style="display: inline;" >
                                <a href="#resourceQuantity" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Change Quantity" %}</a>
                            </div>
                        {% endif %}
			            {% if item.description %}
			               <div class="req-description"> {{ item.description|urlize|linebreaks }}</div>
		                {% endif %}
				    </li>
				{% endfor %}
			</ul>

			<div class="modal hide fade" id="resourceQuantity" tabindex="-1" role="dialog" aria-labelledby="resource-qty-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="resource-qty-label">{% trans "Change resource quantity for workflow plan" %} </h3>
                </div>
                <div class="modal-body">
                    <form class="resource-qty-form validateMe" enctype="multipart/form-data" action="{% url change_commitment_quantities order_id=order.id %}" method="POST" >
                        {% csrf_token %}
                        {{ resource_qty_form }} {{ unit }}
                        <p>This will change all the planned quantities for the workflow resource on all processes for this order.</p>
                        <p>If work inputs also are using the same quantity and unit, they will also be changed.</p>
                        <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save changes" %}</button>
                        </div>
                    </form>
                </div>
			</div>
			
			<div class="row-fluid">

				<div class="span12">
					<h3 style="margin-bottom: 4px;" >
					    {% trans "Production Schedule" %}:
					    <a class="indent" href="{% url processes_graph object_type='O' object_id=order.id %}">Process graph diagram</a>
				    </h3> 
					
					{% for process in processes %}
                        <div class="row-fluid">
                            <div class="span9">
                                <div class="process" >{% include  "valueaccounting/_process_for_order.html" %}</div>
                            </div>
                            <div class="span3">
                                <a href="#processChangeForm{{ process.id }}" role="button" class="btn btn-primary process-btn" data-toggle="modal">{% trans "Change process plan" %}</a>
                                
                                <div class="modal hide fade processForm" id="processChangeForm{{ process.id }}" tabindex="-1" role="dialog" aria-labelledby="process-change-label" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3 id="process-change-label">{% trans "Change" %} {{ process.name }}</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="process-change-form validateMe" action="{% url change_process_plan process_id=process.id %}" method="POST" >
                                            {% csrf_token %}
                                            {{ process.plan_change_form }}
                                            <input type="hidden" name="next" value="{% url order_schedule order_id=order.id %}" />
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                                <button class="btn btn-primary">{% trans "Save changes" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>                                
                            </div>
						 </div>

					{% empty %}
					    <p class="text-error" >{{ error_message }}</p>
					{% endfor %}
				</div>

			</div>

        </div>
    </div>
{% endblock %}
{% block extra_script %}
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}

{% block extra_body %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function(){
    
    //$('#demand').addClass('active');
    
    $( "#help" ).toggle( function(){
        $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
    })
            
    $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

    $('.validateMe').each( function(){
        var form = $(this);
        form.validate({
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');
                }
        });
    });

    jQuery.validator.setDefaults({ 
        success: function(label) {
            label
            .text('').addClass('valid')
            .closest('.control-group').addClass('success');
        }
    });
    
    jQuery.validator.addMethod("quantity",
            function(value, element) {
                var isValidQuantity = /^\d{0,6}(\.\d{0,2})?$/.test(value);
                return this.optional(element) || isValidQuantity;
            },
            "Please enter a number less than 1000000 with no more than 2 decimal places"
        );
        
    $.validator.addClassRules("quantity", { 
            required: true, 
            quantity: true,
        });
    
    $.validator.addClassRules("date-entry", { required: true, date: true, });
        

});
</script>

{% endblock %}
