{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Schedule for " %}{{ order }}{% endblock %}

{% block extra_head %}

<style>

.error {
    color: red;
}

.reskedForm {
    display: inline;
}

li {
    list-style-type: none;
}
.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}

.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
}

.resource-type {
    font-weight: bold;
    font-size: 1.1em;
}

.for, .req-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}

.section {
    color:     #008A2E;
    font-size: 1em;
}


</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Schedule for " %}{{ order }}</legend>

			{% if order.order_type == "customer" %}
		        <h3>{% trans "Order Items" %}:</h3>
	        {% else %}
	            <h3>{% trans "Deliverables" %}:</h3>
	        {% endif %}	
        
			<ul>
			    {% for item in order.producing_commitments %}
					<li>
					    <span class="resource-type">{{ item.resource_type }}</span> {{ item.quantity }} {{ item.unit_of_quantity }}
			            {% if item.description %}
			               <div class="req-description"> {{ item.description|urlize|linebreaks }}</div>
		                {% endif %}
				    </li>
				{% endfor %}
			</ul>
			
			<div class="row-fluid">

				<div class="span12">
					<h3 style="margin-bottom: 4px;" >{% trans "Production Schedule" %}:</h3>
					
					{% for process in processes %}
					    {% comment %}
						<ul style="margin-left:{{ process.depth|add:"4" }}em" >
						{% endcomment %}
						<ul>
						    <li class="process" >{% include  "valueaccounting/_process_for_order.html" %}</li>
						 </ul>

					{% empty %}
					    <p class="text-error" >{{ error_message }}</p>
					{% endfor %}
				</div>

			</div>

	</div>
    </div>
{% endblock %}
