{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Production" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<style>


</style>
{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
      {% include "_messages.html" %}
	  <div>
		<legend>{% trans "Plan a Process for " %} {{ resource_type.name }} </legend>
		<form class="form-horizontal" id="processForm" method="POST" action=".">
	        {% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="submit" name="create-process" value="{% trans 'Save planned process' %}" class="btn btn-primary" />

		</form>
      </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

 	$(document).ready(function(){

	    $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        //$(".chzn-select").chosen();

        $( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_end_date" ).datepicker({ 
			dateFormat: "yy-mm-dd",
    		onClose: function() {
      			$( this ).valid();
			}
		 });

		jQuery.validator.addMethod("equalToOrGreaterThan", 
		function(value, element, params) {

			if (!/Invalid|NaN/.test(new Date(value))) {
				return new Date(value) >= new Date($(params).val());
			}

			return isNaN(value) && isNaN($(params).val()) 
				|| (Number(value) >= Number($(params).val())); 
		},'Must be equal to or greater than start date.');

		$( "#form" ).validate({
			rules: {
				start_date: {
					required: true,
					date: true
				},
				end_date: {
					date: true,
					equalToOrGreaterThan: '#id_start_date'
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

	}); // end document.ready

    </script>

{% endblock %}
