{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Work Order from Recipe" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<style>

.selected {
    font-size: 1.2em;
}

.select-buttons p {
    margin-top: 20px;
}
#div_id_start_date, #rts {
    margin-top: 20px
}

</style>
{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
      {% include "_messages.html" %}
	  <div>
		<legend>{% trans "Plan Work Order Using Recipe" %}</legend>
		<form class="form-horizontal" id="processForm" method="POST" action=".">
	      {% csrf_token %}
		  <div class="row-fluid">
			<div class="span12">
                {% if selected_context_agent %}
                    <p class="selected">
                    <i>Chosen:</i>&nbsp;&nbsp;
                    {% trans "Project " %} 
	                <input type="text" name="selected-context-agent~{{ selected_context_agent.id }}" value="{{ selected_context_agent }}"
                        readonly="readonly" /> 
                    </p>
                {% else %}
                    {% trans "Choose a project " %} {{ ca_form.context_agent }} &nbsp;&nbsp; 
	                <input type="submit" name="get-related" value="{% trans 'Get recipes' %}" class="btn btn-primary" />
                {% endif %}
            </div>
          </div>

		  {% if selected_context_agent %}

		    <div class="row-fluid">
			  <div class="span6">
                    <div id="rts">
                        {% for item in resource_types %}
	                        <p>
	                            <input type="radio" id="rt-{{ item.id }}" 
	                            {% if item.recipe_is_staged %} 
                                    name="workflow" 
                                {% else %}
                                    name="assembly" 
                                {% endif %}
                                value="{{ item.id }}" />
	                            {{ item }} ( {{ item.facet_values_list }} ) 
	                            {% if item.recipe_is_staged %} 
                                    Work Flow Recipe
                                {% else %}
                                    Assembly Recipe
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
              </div>
              <div class="span6">
                    <table>
                        <tr>
                            <td style="text-align: right;" >
                                <span id="dateLabel">Due date</span>
                            </td>
                            <td> {{ date_name_form.date }}</td>
                        </tr>
                        <tr id="date-choice" >
                            <td style="text-align: right;" >{{ date_name_form.start_date_or_due_date.label_tag }} </td>
                            <td>  {{ date_name_form.start_date_or_due_date }}</td>
                        </tr>
                        <tr>
                            <td style="text-align: right;" >{{ date_name_form.order_name.label_tag }}</td>
                            <td>  {{ date_name_form.order_name }}</td>
                        </tr>
                    </table>
                    <hr />                
                    <div class="select-buttons">
                            <p>
                                <input type="submit" name="create-order" value="{% trans 'Create plan from recipe' %}" class="btn btn-primary" />
                            </p>
                    </div>
               </div>
            </div>
   
	      {% endif %}

		</form>
      </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

 	$(document).ready(function(){

	    $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })
        
        $("#date-choice").hide();

        //$(".chzn-select").chosen();

        //$( "#id_start_date" ).datepicker({ dateFormat: "yy-mm-dd" });
        $( "#id_date" ).datepicker({ 
			dateFormat: "yy-mm-dd",
    		onClose: function() {
      			$( this ).valid();
			}
		 });

        $("[type=radio]").click(function() {
            var name = $(this).attr('name'); 
            if (name == "workflow")
            {
                $("#date-choice").show();
                $("#dateLabel").html('Date');
            }
        });

	}); // end document.ready


    </script>

{% endblock %}
