{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Process" %}: {{ process }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Process" %}: {{ process }} {% if process.started %} - {% trans "Started" %} {{ process.started }}{% endif %} 
			{% if user.is_authenticated %}
	            <a class="btn btn-info" href="{% url change_process process_id=process.id %}">{% trans "Change" %}</a>
{% comment %}
	            <a class="btn btn-info" href="{% url copy_process process_id=process.id %}">{% trans "Copy" %}</a>
{% endcomment %}
			{% endif %}
		</legend>
        {% if process.independent_demand %}
		    <p>
			    <b>{% trans "for" %}:</b> {{ process.independent_demand }}
		    </p>
	    {% endif %}

		{% if process.notes %}
		<h4>{% trans "Notes" %}:</h4>
		<p>
			{{ process.notes|urlize|linebreaks }}
		</p>
		{% endif %}

		<div class="row-fluid">

				<div class="span6">
				
					<h4>{% trans "Previous processes" %}</h4>
					{% for proc in process.previous_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>

				<div class="span6">

					<h4>{% trans "Next processes" %}</h4>
					{% for proc in process.next_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>
		</div>

		<h3 style="margin-bottom: 4px;" >{% trans "Outputs" %}:</h3>
		{% for item in process.outgoing_commitments %}
			<p>
				<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			</p>
			{% for event in item.fulfilling_events %}
				<p style="margin-left: 2em;">
					<b>{% trans "Completed" %}:</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}
				</p>
			{% endfor %}
		{% endfor %}

		{% if process.citation_requirements %}
			<h4>{% trans "Citations" %}:</h4>
			{% for item in process.citation_requirements %}
			<ul>
			    <li><b>{{ item.resource_type }}</b>
		        </li>
				<ul>
				{% if item.onhand %}
					{% for resource in item.onhand %}
						<li>
							<b>{% trans "Onhand" %}: <a href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a> 
							{% if resource.id in cited_ids %}
							    <span style="color: green; font-weight: bold;">{% trans "Cited" %}</span>
							{% endif %}
						</li>
					{% endfor %}
				{% endif %}
				
				</ul>
			</ul>
			{% endfor %}
						
				{% endif %}

        {% if process.material_requirements %}
		    <h3 style="margin-bottom: 4px;" >{% trans "Material Requirements" %}:</h3>
		    {% for item in process.material_requirements %}
			    <p>
				    <b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			    </p>
                {% if item.resource_type.onhand %}
                	{% for resource in item.resource_type.onhand %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Onhand" %}:</b> {{ resource.label }} {{ resource.quantity }} {{ resource.unit_of_quantity }}
                            {% if item.fulfilled_quantity %}
							    <p style="margin-left: 4em;">
								    <b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }}
							    </p>
						    {% endif %}
					    </p>
				    {% endfor %}
                {% elif item.fulfilled_quantity %}
				    <p style="margin-left: 2em;">
					    <b>{% trans "Onhand" %}:</b> 0 {{ item.unit_of_quantity }}
					    <p style="margin-left: 4em;">
						    <b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }}
					    </p>
				    </p>
			    {% elif item.resource_type.producing_commitments %}
                	{% for ct in item.resource_type.producing_commitments %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Scheduled" %}:</b> 
						    <a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }}  {{ ct.due_date }}</a>
					    </p>
				    {% endfor %}
			    {% else %}
				    {% for source in item.resource_type.producing_agent_relationships %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
					    </p>
				    {% endfor %}
			    {% endif %}
		    {% endfor %}    
		{% endif %}

        {% if process.work_requirements %}
		    <h3 style="margin-bottom: 4px;" >{% trans "Work Requirements" %}:</h3>
		    {% for item in process.work_requirements %}
			    <p>
				    <b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}

                {% if item.from_agent %}
					    {% trans "Taken by" %} {{ item.from_agent.nick }}
				    </p>
			    {% else %}
					    {% trans "Unassigned" %} 
					    {% if user.is_authenticated %}
						    <div style="display: inline;" >
							    <a href="#commitmentForm{{ item.id }}" role="button" class="btn btn-info" data-toggle="modal">
								    {% trans "Take this task" %}
							    </a>
						    </div>

						    <div class="modal hide fade commitmentForm" id="commitmentForm{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								    <h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
							    </div>
							    <div class="modal-body">

								    <form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
									    {% csrf_token %}
									    {{ item.commitment_form|as_bootstrap }}
									    <input type="hidden" name="next" value="{% url work %}" />
								      <div class="modal-footer">
									    <input type="cancel" class="btn" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
									    <input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
									    <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
								      </div>
								    </form>
							    </div>
						    </div>
					    {% endif %}
				    </p>
				    {% for source in item.resource_type.producing_agent_relationships %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Source" %}:</b> {{ source.agent.name }}
					    </p>
				    {% endfor %}
			    {% endif %}
		    {% endfor %}
		{% endif %}

		{% if labnotes %}
			<p>
				<a href="{% url labnotes process_id=process.id %}">Labnotes for this process</a>
			</p>
		{% endif %}

        {% if process.tool_requirements %}
		    <h3 style="margin-bottom: 4px;" >{% trans "Tool Requirements" %}:</h3>
		    {% for item in process.tool_requirements %}
			    <p>
				    <b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			    </p>
			    {% for source in item.resource_type.producing_agent_relationships %}
				    <p style="margin-left: 2em;">
					    <b>{% trans "Source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
				    </p>
			    {% endfor %}
		    {% endfor %}
	    {% endif %}

	    {% if process.space_requirements %}
		    <h3 style="margin-bottom: 4px;" >{% trans "Space Requirements" %}:</h3>
		    {% for item in process.space_requirements %}
			    <p>
				    <b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }}
			    </p>
			    {% if item.resource_type.onhand %}
                	{% for resource in item.resource_type.onhand %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Available" %}:</b> {{ resource.label }}
                            {% if item.fulfilled_quantity %}
							    <p style="margin-left: 4em;">
								    <b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }}
							    </p>
						    {% endif %}
					    </p>
				    {% endfor %}
			    {% endif %}

		    {% endfor %}
	    {% endif %}

	</div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#work').addClass('active');

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		$.validator.addClassRules("quantity", { required: true, number: true });

                jQuery.validator.setDefaults({ 
                    success: function(label) {
				        label
					        .text('').addClass('valid')
					        .closest('.control-group').addClass('success');
			        }
                });



		$('.commitmentForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
			});
		});


	}); // end document.ready
    </script>

{% endblock %}
