{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Process" %}: {{ process }}{% endblock %}

{% block body_class %}process{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Process" %}: {{ process }} {% if process.started %} - {% trans "Started" %} {{ process.started }}{% endif %} 
            <a class="btn btn-info" href="{% url change_process process_id=process.id %}">{% trans "Change" %}</a>
		</legend>

		<p>
			<b>{% trans "for order" %}:</b> {{ process.independent_demand }}
		</p>

		<div class="row-fluid">

				<div class="span6">
				
					<h4>{% trans "Previous processes" %}</h4>
					{% for proc in process.previous_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>

				<div class="span6">

					<h4>{% trans "Next processes" %}</h4>
					{% for proc in process.next_processes %}
						<p><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></p>
					{% endfor %}

				</div>
		</div>

		<h3 style="margin-bottom: 4px;" >{% trans "Outputs" %}:</h3>
		{% for item in process.outgoing_commitments %}
			<p>
				<b>{% trans "Scheduled" %}: {{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			</p>
			{% for event in item.fulfilling_events %}
				<p style="margin-left: 2em;">
					<b>{% trans "Completed" %}:</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}
				</p>
			{% endfor %}
		{% endfor %}

		<h3 style="margin-bottom: 4px;" >{% trans "Material Requirements" %}:</h3>
		{% for item in process.material_requirements %}
			<p>
				<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			</p>
            {% if item.resource_type.onhand %}
            	{% for resource in item.resource_type.onhand %}
					<p style="margin-left: 2em;">
						<b>{% trans "Onhand" %}:</b> {{ resource.quantity }} {{ resource.unit_of_quantity }}
                        {% if item.fulfilled_quantity %}
							<p style="margin-left: 4em;">
								<b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }}
							</p>
						{% endif %}
					</p>
				{% endfor %}
            {% elif item.fulfilled_quantity %}
				<p style="margin-left: 2em;">
					<b>{% trans "Onhand" %}:</b> 0 {{ item.unit_of_quantity }}
					<p style="margin-left: 4em;">
						<b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }}
					</p>
				</p>
			{% elif item.resource_type.producing_commitments %}
            	{% for ct in item.resource_type.producing_commitments %}
					<p style="margin-left: 2em;">
						<b>{% trans "Scheduled" %}:</b> 
						<a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }}  {{ ct.due_date }}</a>
					</p>
				{% endfor %}
			{% else %}
				{% for source in item.resource_type.producing_agent_relationships %}
					<p style="margin-left: 2em;">
						<b>{% trans "Source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
					</p>
				{% endfor %}
			{% endif %}
		{% endfor %}

		<h3 style="margin-bottom: 4px;" >{% trans "Work Requirements" %}:</h3>
		{% for item in process.work_requirements %}
			<p>
				<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}

            {% if item.from_agent %}
					{% trans "Taken by" %} {{ item.from_agent.nick }}
				</p>
			{% else %}
					{% trans "Unassigned" %} 
				</p>
				{% for source in item.resource_type.producing_agent_relationships %}
					<p style="margin-left: 2em;">
						<b>{% trans "Source" %}:</b> {{ source.agent.name }}
					</p>
				{% endfor %}
			{% endif %}
		{% endfor %}

		<h3 style="margin-bottom: 4px;" >{% trans "Tool Requirements" %}:</h3>
		{% for item in process.tool_requirements %}
			<p>
				<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
			</p>
			{% for source in item.resource_type.producing_agent_relationships %}
				<p style="margin-left: 2em;">
					<b>{% trans "Source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
				</p>
			{% endfor %}
		{% endfor %}

	</div>
    </div>
{% endblock %}
