{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Process" %}: {{ process }}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.use {
    margin-left: 4em;
    font-style: italic;
}

.event {
    margin-left: 2em; 
    margin-bottom: 4px;
}

.notes {
    margin-left: 1em;
    font-style: italic;
}

.error {
    color: red;
}

.reskedForm {
    display: inline;
}

#addCiteModal textarea {
  width: 400px;
  height: 200px;
}

#addConsumableModal textarea {
  width: 400px;
  height: 200px;
}

#addUsableModal textarea {
  width: 400px;
  height: 200px;
}

#addWorkModal textarea {
  width: 400px;
  height: 200px;
}

#addOutputModal textarea {
  width: 400px;
  height: 200px;
}

#createResourceModal textarea {
  width: 400px;
  height: 200px;
}

</style>

{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Process" %}: <span class="process" >{{ process }} {% if process.started %} - {% trans "Started" %} {{ process.started }}{% endif %} </span>
			{% if agent %}
	            <a class="btn btn-info" href="{% url change_process process_id=process.id %}">{% trans "Change" %}</a>
	            {% if logger %}
	                <a class="btn btn-primary" href="{% url process_finished process_id=process.id %}">
                        {% if process.finished %}
                            {% trans "Unfinish" %}
                        {% else %}
                            {% trans "Finish" %}
                        {% endif %}
                    </a>
                {% endif %}
			{% endif %}
		</legend>

		{% if labnotes %}
			<h4>
				<a href="{% url labnotes process_id=process.id %}">Labnotes for this process</a>
			</h4>
		{% endif %}

		<p>
		    {% trans "Pattern" %}: {{ process.process_pattern }}

        {% if process.independent_demand %}
		    <br />
		    {% trans "for" %}: <span class="rand-order" >{{ process.independent_demand }}</span>
	    {% endif %}
	    
		</p>

		{% if process.notes %}
		<h4>{% trans "Process Notes" %}:</h4>
		<p class="notes" >
			{{ process.notes|urlize|linebreaks }}
		</p>
		{% endif %}

		<div class="row-fluid">

				<div class="span6">
				
					<h4>{% trans "Previous processes" %}</h4>
					{% for proc in process.previous_processes %}
						<p><span class="process" ><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></span></p>
					{% endfor %}

				</div>

				<div class="span6">

					<h4>{% trans "Next processes" %}</h4>
					{% for proc in process.next_processes %}
						<p><span class="process" ><a href="{{ proc.get_absolute_url }}">{{ proc }}</a></span></p>
					{% endfor %}

				</div>
		</div>

		<h3 style="margin-bottom: 4px;" >
		    {% trans "Outputs" %}:  
		    {% if logger %}
		        <a href="#addOutputModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add an output requirement">
		            {% trans "Add an output requirement" %}
	            </a>
	         {% endif %}

	    </h3>
		{% for item in process.outgoing_commitments %}
			<p>
				<b>{% trans "Scheduled" %}: 
			    <span class="output-requirement" >
			        {{ item.resource_type.name }}</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }} 
		        </span>
		        {% if logger %}
		            <a href="#resourceModal" role="button" class="btn btn-info btn-mini" data-toggle="modal" title="Create a Resource" >{% trans "Log Resource" %}</a>
    
                    <div class="modal hide fade resourceModal" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="resource-label" aria-hidden="true">
	                    <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                    <h3 id="resource-label">{% trans "Create" %} {{ item.resource_type.name }} {% trans "Resource" %}</h3>
	                    </div>
	                    <div class="modal-body">
		                    <form class="resource-form" id="resourceForm" enctype="multipart/form-data" action="{% url log_resource_for_commitment commitment_id=item.id %}" method="POST" >
			                    {% csrf_token %}
			                    {{ item.resource_create_form|as_bootstrap }}
		                      <div class="modal-footer">
			                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
			                    <button class="btn btn-primary">{% trans "Save" %}</button>
		                      </div>


		                    </form>
                        </div>
                    </div>
			    {% endif %}
			</p>
				{% if item.description %}
			       <div class="notes"> {{ item.description|urlize|linebreaks }}</div>
		        {% endif %}
			
			{% for event in item.fulfilling_events %}
				<div class="event" >
					<b>{% trans "Completed" %}:</b> <span class="event" >{{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }} </span>
					{% if logger %}
					    <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
					    <form
					        style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="process" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                        </form>
					{% endif %}
					</br>
					{% trans "Resource" %}: <a href="{% url resource resource_id=event.resource.id  %}">{{ event.resource }}</a>
					
				</div>
			{% endfor %}
		{% endfor %}

		{% for event in process.uncommitted_production_events %}
			<div class="event" >
				<b>{% trans "Created" %}: <span class="event" >{{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}</span>
				{% if logger %}
				    <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
		            <form
				        style="display: inline;" 
                        class="delete-form" 
                        id="deleteForm{{ event.id }}" 
                        action="{% url delete_event event_id=event.id %}" 
                        method="POST" >
                        {% csrf_token %}
                    	<input type="hidden" id="next" name="next" value="process" />
                        <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                    </form>
		        {% endif %}
			</div>
		{% endfor %}

		        {% if process.work_requirements or process.uncommitted_work_events or "work" in slots %}
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Work" %}: 
		        {% if logger %}
			        <a href="#addWorkModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a work requirement">
		                {% trans "Add a work requirement" %}
	                </a>
                 {% endif %}
	        </h3>
		    {% for item in process.work_requirements %}
			    <p>
				    <span class="work-requirement" ><b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}</span>

                {% if item.from_agent %}
				    {% trans "Taken by" %}<span class="agent" > {{ item.from_agent.nick }}</span>
				    {% if agent == item.from_agent %} 
				        <button class="btn btn-info btn-mini" title="Log your work" >{% trans "Log work" %}</button>
			        {% elif super_logger %}
			            <button class="btn btn-info btn-mini" title="Log work for {{ item.from_agent }}" >{% trans "Log work" %}</button>
			        {% endif %}
			        
				    </p>
			    {% else %}
					    {% trans "Unassigned" %} 
					    {% if agent %}
						    <a href="#commitmentForm{{ item.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
							    {% trans "Take this task" %}
						    </a>

						    <div class="modal hide fade commitmentForm" id="commitmentForm{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
							    <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    <h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
							    </div>
							    <div class="modal-body">

								    <form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
									    {% csrf_token %}
									    {{ item.commitment_form|as_bootstrap }}
									    <input type="hidden" name="next" value="{% url work %}" />
								      <div class="modal-footer">
									    <input type="cancel" class="btn" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
									    <input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
									    <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
								      </div>
								    </form>
							    </div>
						    </div>
					    {% endif %}
				    </p>
				    {% if item.description and not item.fulfilling_events %}
			           <div class="notes"> {{ item.description|urlize|linebreaks }}</div>
		            {% endif %}
				    {% for source in item.resource_type.producing_agent_relationships %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Possible source" %}:</b><span class="agent" > {{ source.agent.name }}</span>
					    </p>
				    {% endfor %}
			    {% endif %}
		    {% endfor %}

		    {% for event in process.uncommitted_work_events %}
			    <div class="event" >
				    <b>{% trans "Done by" %}: <span class="event" >{{ event.from_agent.nick }} {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}</span>
				    {% if logger %}
				        <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
			            <form
				            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="process" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                        </form>
			        {% endif %}
			    </div>
		    {% endfor %}
		    {% if agent %}
		        <p>
		            <button class="btn btn-info btn-mini" title="Log unplanned work" >{% trans "Log unplanned work" %}</button>
		        </p>
		    {% endif %}
		{% endif %}

		{% if process.citation_requirements or process.uncommitted_citation_events or "cite" in slots %}
			<h3>
			    {% trans "Citations" %}: 
			    {% if logger %}
			        <a href="#addCiteModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a citation requirement">
		                {% trans "Add a citation requirement" %}
	                </a>
                 {% endif %}
		    </h3>
			{% for item in process.citation_requirements %}
			<ul>
			    <li><span class="citation-requirement" ><b>{{ item.resource_type }}</b></span>
			        {% if item.description %}
			            <div class="notes"> {{ item.description|urlize|linebreaks }}</div>
		            {% endif %}
		        </li>
				<ul>
				{% if item.onhand %}
					{% for resource in item.onhand %}
						<li>
							<b>{% trans "Onhand" %}:</b> <a class="resource" href="{% url resource resource_id=resource.id %}" target="_blank" >{{ resource.label }}</a>
							{% if resource.id in cited_ids %}
							    <span style="color: green; font-weight: bold;">{% trans "Cited" %}</span>
							    {% if logger %}
						            <a href="" class="btn btn-warning btn-mini" title="Delete" >X</a>
						        {% endif %}
						    {% else %}
						        {% if logger %}
						            <button class="btn btn-info btn-mini" title="Log citation" >{% trans "Log citation" %}</button>
						        {% endif %}
							{% endif %}
						</li>
					{% endfor %}
				{% endif %}
				
				</ul>
			</ul>
			{% endfor %}

            {% for event in process.uncommitted_citation_events %}
			    <div  class="event" >
				    <b>{% trans "Cited" %}: <span class="event" >{{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}</span>
				    {% if logger %}
					    <form
				            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="process" />
                        <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                    </form>
					{% endif %}
			    </div>
		    {% endfor %}
			
						
		{% endif %}

        {% if process.consumed_input_requirements or process.uncommitted_consumption_events or "consume" in slots %}
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Consumable Inputs" %}: 
		        {% if logger %}
		            <a href="#addConsumableModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a consumable input requirement">
		                {% trans "Add a consumable input requirement" %}
	                </a>
		        {% endif %}
	        </h3>
		    {% for item in process.consumed_input_requirements %}
			    <p>
				    <span class="consumable-requirement" ><b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}</span>
			    </p>
			    {% if item.description %}
			       <div class="notes"> {{ item.description|urlize|linebreaks }}</div>
		        {% endif %}
                {% if item.resource_type.onhand %}
                	{% for resource in item.resource_type.onhand %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Onhand" %}:</b> <span class="event" >{{ resource.label }} {{ resource.quantity }} {{ resource.unit_of_quantity }} </span>
						    {% if logger %}
						        <button class="btn btn-info btn-mini" title="Log consumption" >{% trans "Log consumption" %}</button>
					        {% endif %}						    
                            {% for event in resource.consuming_events %}
                                {% if event.commitment = item %}
							        <div class="use" >
								        <b>{% trans "Consumed" %}:</b> <span class="event" >{{ event.quantity }} {{ event.event_date }} </span>
								        {% if logger %}
								            <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
								            <form
				                                style="display: inline;" 
                                                class="delete-form" 
                                                id="deleteForm{{ event.id }}" 
                                                action="{% url delete_event event_id=event.id %}" 
                                                method="POST" >
                                                {% csrf_token %}
                                            	<input type="hidden" id="next" name="next" value="process" />
                                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                                            </form>
								        {% endif %}
							        </div>
							    {% endif %}
						    {% endfor %}
					    </p>
				    {% endfor %}
                {% elif item.fulfilled_quantity %}
				    <p style="margin-left: 2em;">
					    <b>{% trans "Onhand" %}:</b> 0 {{ item.unit_of_quantity }}
					    <p class="use" >
						    <b>{% trans "Consumed" %}:</b> {{ item.fulfilled_quantity }}
					    </p>
				    </p>
			    {% elif item.resource_type.producing_commitments %}
                	{% for ct in item.resource_type.producing_commitments %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Scheduled" %}:</b> 
						    <a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }}  {{ ct.due_date }}</a>
					    </p>
				    {% endfor %}
			    {% else %}
				    {% for source in item.sources %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Possible source" %}:</b> <span class="source" >{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}</span>
						    <br/>
						    {% comment %}
						    {% if source.too_late %}
						        <form class="reskedForm" id="reskedForm-{{ source.id }}" action="{% url forward_schedule_source commitment_id=item.id source_id=source.id %}" method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{% url process_details process_id=process.id %}" />
						            <span class="error" style="margin-left: 2em;">{% trans "Should have purchased" %} {{ source.order_release_date|timesince }} {% trans "ago" %}</span> &nbsp;
						            {% if super_logger %}
                                        <button class="btn btn-warning btn-mini" title="Reschedule forward from purchase release date" >{% trans "Reschedule forward" %}</button>
                                    {% endif %}
                                </form>
					        {% else %}
						        {% trans "Purchase by:" %}{{ source.order_release_date }}
					        {% endif %}
					        {% endcomment %}
					    </p>
				    {% endfor %}
			    {% endif %}
		    {% endfor %}

		    {% for event in process.uncommitted_consumption_events %}
			    <div class="event" >
				    <b>{% trans "Consumed" %}: <span class="event" >{{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}</span>
				    {% if logger %}
				        <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
			                <form
				            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="process" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                        </form>
			        {% endif %}
			    </div>
		    {% endfor %}
		{% endif %}

		{% if process.used_input_requirements or process.uncommitted_use_events  or "use" in slots %}
		    <h3 style="margin-bottom: 4px;" >
		        {% trans "Usable Inputs" %}:
		        {% if logger %}
		            <a href="#addUsableModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Add a usable input requirement">
		                {% trans "Add a usable input requirement" %}
	                </a>
		        {% endif %}
	        </h3>
		    {% for item in process.used_input_requirements %}
			    <p>
				    <span class="usable-requirement" ><b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}</span>
			    </p>
			    {% if item.description %}
			       <div class="notes"> {{ item.description|urlize|linebreaks }}</div>
		        {% endif %}
                {% if item.resource_type.onhand %}
                	{% for resource in item.resource_type.onhand %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Onhand" %}:</b> <span class="resource" >{{ resource.label }} {{ resource.quantity }} {{ resource.unit_of_quantity }} </span>
						    {% if logger %}
						        <button class="btn btn-info btn-mini" title="Log use" >{% trans "Log use" %}</button>
						    {% endif %}
                            {% for event in resource.using_events %}
                                {% if event.commitment = item %}
							        <div  class="use" >
								        <b>{% trans "Used" %}:</b> <span class="event" >{{ event.quantity }} {{ item.resource_type.unit_of_use }} {{ event.event_date }}</span>
								        {% if logger %}
								            <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
								            <form
				                                style="display: inline;" 
                                                class="delete-form" 
                                                id="deleteForm{{ event.id }}" 
                                                action="{% url delete_event event_id=event.id %}" 
                                                method="POST" >
                                                {% csrf_token %}
                                            	<input type="hidden" id="next" name="next" value="process" />
                                                <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                                            </form>
								        {% endif %}
							        </div>
							    {% endif %}
						    {% endfor %}
					    </p>
				    {% endfor %}
                {% elif item.fulfilled_quantity %}
				    <p style="margin-left: 2em;">
					    <b>{% trans "Onhand" %}:</b> 0 {{ item.unit_of_quantity }}
					    <p class="use" >
						    <b>{% trans "Used" %}:</b> {{ item.fulfilled_quantity }} {{ item.resource_type.unit_of_use }}
					    </p>
				    </p>
			    {% elif item.resource_type.producing_commitments %}
                	{% for ct in item.resource_type.producing_commitments %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Scheduled" %}:</b> 
						    <span class="scheduled-receipt" ><a href="{{ ct.process.get_absolute_url }}" target="_blank" >{{ ct.quantity }} {{ ct.unit_of_quantity }}  {{ ct.due_date }}</a></span>
					    </p>
				    {% endfor %}
			    {% else %}
				    {% for source in item.resource_type.producing_agent_relationships %}
					    <p style="margin-left: 2em;">
						    <b>{% trans "Possible source" %}:</b> <span class="source" >{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}</span>
					    </p>
				    {% endfor %}
			    {% endif %}
		    {% endfor %}

		    {% for event in process.uncommitted_use_events %}
			    <div class="event" >
				    <b>{% trans "Used" %}:<span class="event" > {{ event.resource_type.name }}</b> {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.event_date }}</span>
				    {% if logger %}
				        <a href="" class="btn btn-info btn-mini" title="Change" ><i class="icon-edit"></i></a>
			            <form
				            style="display: inline;" 
                            class="delete-form" 
                            id="deleteForm{{ event.id }}" 
                            action="{% url delete_event event_id=event.id %}" 
                            method="POST" >
                            {% csrf_token %}
                        	<input type="hidden" id="next" name="next" value="process" />
                            <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete!" >X</button>
                        </form>
			        {% endif %}
			    </div>
		    {% endfor %}
		{% endif %}

	</div>

	<div class="modal hide fade" id="addOutputModal" tabindex="-1" role="dialog" aria-labelledby="output-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="output-label">{% trans "Add an output requirement" %}</h3>
            
        </div>
        <div class="modal-body">
            <form class="output-form" enctype="multipart/form-data" id="addOutputForm" action="{% url add_process_output process_id=process.id %}" method="POST" >
	            {% csrf_token %}

                    <p class="modal-line">{% trans "Resource Type" %} </p>
                    <p>{{ add_output_form.resource_type }} 
                    <a href="#createResourceModal" role="button" class="add-another" data-toggle="modal">
                    {% comment %}
                        <img src="{% static 'admin/img/icon_addlink.gif' %}" title="add new"></img>
                    {% endcomment %}
                    </a> </p>                   
                    <p class="modal-line">{% trans "Quantity" %} </p>
                    <p>{{ add_output_form.quantity }} </p>
                    <p class="modal-line">{% trans "Unit of Quantity" %} </p>
                    <p>{{ add_output_form.unit_of_quantity }}</p>
                    <p class="modal-line">{% trans "Description" %} </p>
                    <p class="desc">{{ add_output_form.description }} </p>

              <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	            <button class="btn btn-primary">{% trans "Add output" %}</button>
              </div>


            </form>
        </div>
    </div>

    <div class="modal hide fade rtmodal" id="createResourceModal" tabindex="-1" role="dialog" aria-labelledby="resource-consumable-create-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="resource-consumable-create-label">{% trans "Create a new Resource Type" %}</h3>
        </div>
        <div class="modal-body">
            <form class="resource-create-form" id="resource-create-form" enctype="multipart/form-data" action="." method="POST" >
                {% csrf_token %}
                {{ resource_type_form|as_bootstrap }}
                {{ facet_formset.management_form }}
                <table>
                    {% for form in facet_formset %}
                        <tr><td class="facet-name"> {{ form.facet_name }} </td><td> {{ form.value }} {{ form.facet_id }} </td></tr>
                    {% endfor %}
                </table>

              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                <input type="submit" name="submit" id="save-resource-type" value="{% trans 'Save' %}" class="btn btn-primary save-resource-type" /> 
                <input type="hidden" name="slot" value="out" />
                <input type="hidden" name="pattern" value="{{ process.process_pattern.id }}" />
              </div>

            </form>

        </div>
    </div>

    <div class="modal hide fade" id="addCiteModal" tabindex="-1" role="dialog" aria-labelledby="cite-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="cite-label">{% trans "Add a citation requirement" %}</h3>
            
        </div>
        <div class="modal-body">
            <form class="cite-form" enctype="multipart/form-data" id="addCitationForm" action="{% url add_process_citation process_id=process.id %}" method="POST" >
	            {% csrf_token %}

                    {{ add_citation_form|as_bootstrap }}

              <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	            <button class="btn btn-primary">{% trans "Add citation" %}</button>
              </div>


            </form>
        </div>
    </div>

    <div class="modal hide fade" id="addConsumableModal" tabindex="-1" role="dialog" aria-labelledby="consumable-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="output-label">{% trans "Add a consumable input requirement" %}</h3>
            
        </div>
        <div class="modal-body">
            <form class="consumable-form" enctype="multipart/form-data" id="addConsumableForm" 
                action="{% url add_process_input process_id=process.id slot='c' %}" method="POST" >
	            {% csrf_token %}

                    {{ add_consumable_form|as_bootstrap }}

              <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	            <button class="btn btn-primary">{% trans "Add consumable" %}</button>
              </div>


            </form>
        </div>
    </div>

    <div class="modal hide fade" id="addUsableModal" tabindex="-1" role="dialog" aria-labelledby="use-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="output-label">{% trans "Add a usable input requirement" %}</h3>
            
        </div>
        <div class="modal-body">
            <form class="usable-form" enctype="multipart/form-data" id="addUsableForm" 
                action="{% url add_process_input process_id=process.id  slot='u' %}" method="POST" >
	            {% csrf_token %}

                    {{ add_usable_form|as_bootstrap }}

              <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	            <button class="btn btn-primary">{% trans "Add usable" %}</button>
              </div>


            </form>
        </div>
    </div>

    <div class="modal hide fade" id="addWorkModal" tabindex="-1" role="dialog" aria-labelledby="work-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h3 id="work-label">{% trans "Invite a helper" %}</h3>
            
        </div>
        <div class="modal-body">
            <form class="work-form" id="addWorkForm" action="{% url add_process_worker process_id=process.id %}" method="POST" >
	            {% csrf_token %}

                    {{ add_work_form|as_bootstrap }}

              <div class="modal-footer">
	            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
	            <button class="btn btn-primary">{% trans "Invite helper" %}</button>
              </div>


            </form>
        </div>
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#work').addClass('active');

		$(".chzn-select").chosen();

		//$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });


        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $.validator.addClassRules("quantity", { required: true, number: true, });
        $.validator.addClassRules("quality", { number: true, });
		$.validator.addClassRules("url", { url: true });

	    $(".resource-type-selector").change(getUnit);

		function getUnit(event)
		{
	        $(".chzn-select").trigger("liszt:updated");
		    var resourceId = event.target.value;
		    if (resourceId)
		    {
                var targetId = event.target.id;
			    if (targetId.search("usable") >= 0)
			    {
				    direction = "use";
			    }
			    else
			    {
				    direction = "other";
			    }
			    var prefix = targetId.split('-')[0];
			    var unitName = "#" + prefix + "-unit_of_quantity";
			    var jsonUrl = encodeURI("/accounting/json-directional-unit/" + resourceId + "/" + direction + "/");
			    $.get(jsonUrl,
				    function(data){
					    var unit = data["unit"];
                        $(unitName).val(unit);
				    });
		    }
	    }


        $( "#addOutputForm" ).validate({
			rules: {
			    'output-resource_type': {
                    required: true
				},
				'output-quantity': {
                    required: true,
					number: true,
					min: .01
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

		$( "#addConsumableForm" ).validate({
			rules: {
			    'input-resource_type': {
                    required: true
				},
				'input-quantity': {
                    required: true,
					number: true,
					min: .01
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

		$( "#addUsableForm" ).validate({
			rules: {
			    'input-resource_type': {
                    required: true
				},
				'input-quantity': {
                    required: true,
					number: true,
					min: .01
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

		$( "#addWorkForm" ).validate({
			rules: {
			    'input-resource_type': {
                    required: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});


		$('.commitmentForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},
			});
		});

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
        })


	}); // end document.ready
    </script>

{% endblock %}
