{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "R&D Production" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<style>

#id_notes
{
  width: 28em;
}

#id_url
{
  width: 28em;
}

.item-description
{
	width: 32em;
    height: 40px;
}
/*
.formset-top
{
	padding-top: 1em;
}

.formset-bottom
{
	border-bottom-style:solid;
	border-width:1px;
	border-color:lightgrey;
}*/
.selected {
    font-size: 1.2em;
}
.selected-display {
    font-weight: bold;
}
.section {
    color: firebrick;
}
.table-buttons td {
    padding: 1em;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
      {% include "_messages.html" %}
	  <div>
		<legend>{% trans "R&D Production" %}</legend>
		<form class="form-horizontal" id="processForm" method="POST" action=".">
	      {% csrf_token %}
		  <div class="row-fluid">
			<div class="span12">

                {% if selected_pattern %}
                    <p class="selected">
                    <i>Chosen:</i>&nbsp;
                    {% trans " process pattern " %} <span class="selected-display"> {{ selected_pattern }} </span>
                    {% trans " project " %} <span class="selected-display"> {{ selected_project }} </span>
                    </p>
                {% else %}
                    {% trans "Choose a process pattern " %} {{ pattern_form.pattern }} &nbsp; 
                    {% trans "Choose a project " %} {{ project_form.project }} &nbsp;&nbsp; 
	                <input type="submit" name="get-related" value="{% trans 'Get resource types' %}" class="btn btn-primary" />
                {% endif %}
            </div>
          </div>

		  {% if selected_pattern %}

		    <div class="row-fluid">
			  <div class="span6">
			            

	              {% for slot in slots %}

                    <legend class="section"> {{ slot }} </legend>
                    <div>
                        {% for item in slot.resource_types %}
                            <div>
		                        <p>
		                            <input type="checkbox" class="{{ slot }}" id="{{ slot }}-{{ item.id }}" name="{{ slot }}-{{ item.name }}" value="{{ item.id }}" /> 
		                            {{ item }}
	                            </p>
                            </div>
                        {% endfor %}
                    </div>

                  {% endfor %}
              </div>
              <div class="span6">

{% comment %}
			
				    <legend class="section">{% trans "recipes" %}:</legend>

			        {% if related_recipes %}

				        {% for recipe in related_recipes %}

				            <p>
				                {% if use_radio %}
        		                    <input type="radio" class="recipe" id="recipe-{{ recipe.id }}" name="recipe-{{ recipe.name }}" value="{{ recipe.id }}" /> 
			                        {{ recipe.name }} - {% trans "makes" %} {{ recipe.main_produced_resource_type }}
			                    {% else %}
			                        <input type="checkbox" class="recipe" id="recipe-{{ recipe.id }}" name="recipe-{{ recipe.name }}" value="{{ recipe.id }}" /> 
			                        {{ recipe.name }} - {% trans "makes" %} {{ recipe.main_produced_resource_type }}
			                    {% endif %}
		                    </p>
				            

				        {% endfor %}

			        {% endif %}
{% endcomment %}
               </div>
            </div>
			<div class="row-fluid">
	            <div class="span12">
	                <div class="form-actions">

                      <table class="table-buttons">
                        <tr>
                            <td>
	                            <input type="submit" name="create-process" value="{% trans 'Create order' %}" class="btn btn-primary" />
	                            </br>Create R&D planned work from the above selections.
                            </td>
                            <td>
	                            <input type="submit" name="edit-process" value="{% trans 'Change order' %}" class="btn btn-primary" />
	                            </br>Create R&D plan and add to the planned process.
                            </td>
                            <td id="fastpath">
                                <span style="color: red;">
                                    To access the fast path buttons to labnotes, you must select a type of work.
                                </span>
                            </td>
                            <td id="startNow" >
	                            <input type="submit" name="labnotes" value="{% trans 'Start now' %}" class="btn btn-primary" />
	                            </br>Go to Labnotes for working now.
                            </td>
                            <td id="pastWork" >
	                            <input type="submit" name="past" value="{% trans 'Log past work' %}" 
	                            class="btn btn-primary" />
	                            </br>Go to Labnotes for past work.
                            </td>
	                    </tr>

	                  </table>
	                </div>
                </div>
	        </div>
				    
	      {% endif %}

		</form>
      </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    var gotWork = false;
    var gotRecipe = false;
    var gotProject = false;

	$(document).ready(function(){

	    //var resourceNames = []
	    //{% for rname in resource_names %}
        //    resourceNames.push("{{ rname }}");
	    //{% endfor %}
	    //$( "#resourceName" ).autocomplete({source: resourceNames});
	    //$( "#resourceName2" ).autocomplete({source: resourceNames});

	    $('#startNow').hide();
	    $('#pastWork').hide();

	    $("#id_type_of_work").change(workChanged);

	    function workChanged(event)
		{
            var typeOfWork = event.target.value;
            if (typeOfWork)
            {
	            gotWork = true;                
            }
            else
            {
	            gotWork = false;
            }
            resetButtons();
        }

        $("#id_project").change(projectChanged);

	    //function projectChanged(event)
		//{
         //   var project = event.target.value;
         //   if (project)
         //   {
	     //       gotProject = true;                
         //   }
         //   else
         //   {
	     //       gotProject = false;
         //   }
         //   resetButtons();
        //}

        {% for recipe in related_recipes %}
            $("#recipe-{{ recipe.id }}").click(function() {
                gotRecipe = true;
                resetButtons();
            });
        {% endfor %}



	}); // end document.ready

    function resetButtons()
	{
        if (gotWork)
        {
            $('#startNow').show();
            $('#pastWork').show();
            $('#fastpath').hide();               
        }
        else
        {
            $('#startNow').hide();
            $('#pastWork').hide(); 
            $('#fastpath').show(); 
        }

    }
	
    </script>

{% endblock %}
