{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log resource production" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<style>

#id_notes
{
  width: 28em;
}

#id_url
{
  width: 28em;
}

.item-description
{
	width: 32em;
    height: 40px;
}

.formset-top
{
	padding-top: 1em;
}

.formset-bottom
{
	border-bottom-style:solid;
	border-width:1px;
	border-color:lightgrey;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Log resource production" %}</legend>
		<form class="form-horizontal" id="processForm" method="POST" action=".">
			{% csrf_token %}
		<div class="row-fluid">
			<div class="span10 offset2">
			    {% trans "Resource Family Name" %} <input type="text" id="resourceName" name="resourceName" value="{{ selected_name }}" 
			        {% if  selected_name %} disabled="disabled" {% endif %} /> 
			    {% if selected_name %} 

			        {% if related_outputs %}

			            <legend>{% trans "Related Outputs" %}:</legend>

			            {% for output in related_outputs %}

    		                <p>
    		                    <input type="checkbox" class="output" id="output-{{ output.id }}" name="output-{{ output.name }}" value="{{ output.id }}" /> 
			                    {{ output.label }}
		                    </p>

			            {% endfor %}

		            {% endif %}

			        {% if related_inputs %}
			        
				        <legend>{% trans "Related Inputs" %}:</legend>

				        {% for inp in related_inputs %}

				            <p>
    		                    <input type="checkbox" class="input" id="input-{{ inp.id }}" name="input-{{ inp.name }}" value="{{ inp.id }}" /> 
			                    {{ inp.label }}
		                    </p>

				        {% endfor %}

			        {% endif %}

			        {% if work_form %}
			            <div style="margin-top: 2em; margin-bottom: 2em;" >
    			            {% trans "My type of work" %} {{ work_form.type_of_work }}
			            </div>
			        {% endif %}

			        {% if related_recipes %}
				
				        <legend>{% trans "Related Recipes" %}:</legend>

				        {% for recipe in related_recipes %}

				            <p>
				                {% if use_radio %}
        		                    <input type="radio" class="recipe" id="recipe-{{ recipe.id }}" name="recipe-{{ recipe.name }}" value="{{ recipe.id }}" /> 
			                        {{ recipe.name }} - {% trans "makes" %} {{ recipe.main_produced_resource_type }}
			                    {% else %}
			                        <input type="checkbox" class="recipe" id="recipe-{{ recipe.id }}" name="recipe-{{ recipe.name }}" value="{{ recipe.id }}" /> 
			                        {{ recipe.name }} - {% trans "makes" %} {{ recipe.main_produced_resource_type }}
			                    {% endif %}
		                    </p>
				            

				        {% endfor %}

			        {% endif %}
			        <div class="row-fluid">
			            <div class="span8">
			                <div class="form-actions">

                            <table class="table" >
                                <tr>
                                    <td>
			                            <input type="submit" name="edit-process" value="{% trans 'Edit process' %}" class="btn btn-primary" />
			                            </br>Create new resource types or change process info.
		                            </td>
		                            <td id="startNow" >
			                            <input type="submit" name="labnotes" value="{% trans 'Start now' %}" class="btn btn-primary" />
			                            </br>Go to Labnotes for working now.
		                            </td>
		                            <td id="pastWork" >
			                            <input type="submit" name="past" value="{% trans 'Log past work' %}" 
			                            class="btn btn-primary" />
			                            </br>Go to Labnotes for past work.
		                            </td>
			                    </tr>

			                </table>
			                </div>
		                </div>
	                </div>

				    
			    {% else %}

				    <input type="submit" name="get-related" value="{% trans 'Get relatives' %}" class="btn btn-primary" />
			    {% endif %}

			</div>
		</div>
		</form>
    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

	    var resourceNames = []
	    {% for rname in resource_names %}
            resourceNames.push("{{ rname }}");
	    {% endfor %}
	    $( "#resourceName" ).autocomplete({source: resourceNames});

	    $('#startNow').hide();
	    $('#pastWork').hide();

	    $("#id_type_of_work").change(resetButtons);

	    function resetButtons(event)
		{
            var typeOfWork = event.target.value;
            if (typeOfWork)
            {
	            $('#startNow').show();
	            $('#pastWork').show();                
            }
            else
            {
	            $('#startNow').hide();
	            $('#pastWork').hide(); 
            }

        }

	}); // end document.ready


	
    </script>

{% endblock %}
