{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Organization" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}
.indent {
    margin-left: 1.5em;
}
.assoc_group {
    color: green;
    font-weight: bold;
    margin-left: 1em;
}
.showhide {
    color: gray;
    margin-left: 4px;
}

.showhide:hover {
    cursor: pointer;
}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>

	    <legend>
	        {% trans "Organization" %} 
{% comment %}
	        {% if agent %}
                <div style="display: inline;" >
                <a href="#createProjectForm" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Create new Project" %}</a>
				</div>
			


            <div class="modal hide fade" id="createProjectForm" tabindex="-1" role="dialog" aria-labelledby="project-create-label" aria-hidden="true">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			        <h3 id="project-create-label">{% trans "Create a new Project" %}</h3>
		        </div>
		        <div class="modal-body">
			        <form class="project-create-form" id="projectCreateForm" enctype="multipart/form-data" action="{% url create_project %}" method="POST" >
				        {% csrf_token %}
				        {{ project_create_form|as_bootstrap }}

			          <div class="modal-footer">
				        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
				        <button class="btn btn-primary">{% trans "Save changes" %}</button>
			          </div>

			        </form>

	            </div>
            </div>

            {% endif %}
{% endcomment %}

            <a class="indent" href="{% url agents %}">{% trans "All Agents" %}</a>
            <a class="indent" href="{% url all_contributions %}">{% trans "All contributions" %}</a>
{% comment %}
            <a class="indent" href="{% url sales_and_distributions %}">{% trans "All sales and distributions" %}</a>
{% endcomment %}
            <a class="indent" href="{% url project_network %}">{% trans "Network diagram" %}</a>
            <a class="indent" href="{% url cash_report %}">{% trans "Cash Report" %}</a>
                
        </legend>
        
        {% for root in roots %}
        
            {% for node in root.nodes %}
            
                {% if not node.open and not node.close %}
                    </li>
                {% endif %}
                
                {% if node.open %}
                    <ul>
                {% endif %}
                
                <li>
                    <b><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></b> 
                    <a class="indent" href="{% url contributions project_id=node.id %}">{% trans "Contributions" %}: {{ node.contributions_count }}</a>
                    {% if node.wip %}
                        <a class="indent" href="{% url project_wip project_id=node.id %}">{% trans "Work in process" %}: {{ node.wip.count }}</a>
                    {% endif %}
                    <a class="indent" href="{% url sales_and_distributions agent_id=node.id %}">{% trans "Sales and Distributions" %}: {{ node.sales_and_distributions_count }}</a>
{% comment %}
                    <a class="indent" href="{% url value_equation project_id=node.id %}"><b>{% trans "Value Equation" %}</b></a>
{% endcomment %}
                    {% if node.description %}
                        <div class="description" >{{ node.description|urlize|linebreaks }}</div>
                    {% endif %}
                    {% for aat in node.aats %}
                        {% if aat.identifier != "child" %}
                            <div class="assoc_group"> {{ aat.plural_name }}: {{ aat.assoc_count }} 
                                <span class="showhide" id="sh-{{ node.id }}{{ aat.id }}" >(Show)</span>
                            </div>
                            <div class="list" id="list-{{ node.id }}{{ aat.id }}" >
                                <ul>
                                    {% for assoc in aat.assoc_list %}
                                        <li class="indent"><a href="{{ assoc.get_absolute_url }}">{{ assoc.name }} </a>
                                        {% if assoc.state == "potential" %} (potential) {% endif%} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif%}
                    {% endfor %}
                </li>
                
                {% for close in node.close %}
                    </ul>
                {% endfor %}
                
            {% endfor %}
            
        {% endfor %}
        

	</div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#projects').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
        $(".list").hide();
        
        $(".showhide").click(function(event)
        {
            var id = event.target.id;
            var listId = '#list-' + id.split('-')[1];
            $(listId).slideToggle(200);
            $(this).text($(this).text() == '(Show)' ? '(Hide)' : '(Show)');
        });

	}); // end document.ready

    </script>
{% endblock %}

