{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Projects" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>

	    <legend>
	        {% trans "Projects" %} 
	        {% if agent %}
				<div style="display: inline;" >
					<a href="#createProjectForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Create new Project" %}</a>
				</div>
			


            <div class="modal hide fade" id="createProjectForm" tabindex="-1" role="dialog" aria-labelledby="project-create-label" aria-hidden="true">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			        <h3 id="project-create-label">{% trans "Create a new Project" %}</h3>
		        </div>
		        <div class="modal-body">
			        <form class="project-create-form" id="projectCreateForm" enctype="multipart/form-data" action="{% url create_project %}" method="POST" >
				        {% csrf_token %}
				        {{ project_create_form|as_bootstrap }}

			          <div class="modal-footer">
				        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
				        <button class="btn btn-primary">{% trans "Save changes" %}</button>
			          </div>

			        </form>

	            </div>
            </div>

            {% endif %}
            &nbsp;&nbsp;&nbsp;<a href="{% url agents %}">{% trans "All Agents" %}</a>
            &nbsp;&nbsp;&nbsp;<a href="{% url all_contributions %}">{% trans "All contributions" %}</a>
            &nbsp;&nbsp;&nbsp;<a href="{% url project_network %}">{% trans "Project network diagram" %}</a>
                
        </legend>
        
        {% for root in roots %}
        
            {% for node in root.nodes %}
            
                {% if not node.open and not node.close %}
                    </li>
                {% endif %}
                
                {% if node.open %}
                    <ul>
                {% endif %}
                
                <li>
                    <b><a href="{{ node.get_absolute_url }}">{{ node }}</a></b> 
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url contributions project_id=node.id %}">{% trans "Contributions" %}: {{ node.contributions_count }}</a>
                    {% if node.wip %}
                        &nbsp;&nbsp;&nbsp;<a href="{% url project_wip project_id=node.id %}">{% trans "Work in process" %}: {{ node.wip.count }}</a>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;<a href="{% url value_equation project_id=node.id %}"><b>{% trans "Value Equation" %}</b></a>
                    {% if node.description %}
                        <div class="description" >{{ node.description|urlize|linebreaks }}</div>
                    {% endif %}
                
                {% for close in node.close %}
                    </li>
                    </ul>
                {% endfor %}
                
            {% endfor %}
            
        {% endfor %}
        

	</div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}


{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#projects').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready

    </script>
{% endblock %}

