{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Resource" %}: {{ resource }}{% endblock %}

{% block extra_head %}

<style>

.labnote {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}
.btn-info {
    margin-left: 10px;
}


</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Resource" %}: {{ resource }} 
		</legend>

		<div class="row-fluid">
		
			<div class="span6 resource">
			
		        <table class="table table-bordered" >
		            <tr>
	                    <th style="text-align: right;">{% trans "Quantity" %}</th>
	                    <td>{{ resource.quantity }} {{ resource.unit_of_quantity }}</td>
                    </tr>
                    <tr>
	                    <th style="text-align: right;">{% trans "Quality" %}</th>
	                    <td>{{ resource.quality }}</td>
                    </tr>
{% comment %}
                    {% if resource.author %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Author" %}</th>
		                    <td>{{ resource.author.name }}</td>
                        </tr>
                    {% endif %}
{% endcomment %}
                    <tr>
	                    <th style="text-align: right;">{% trans "Record created date" %}</th>
	                    <td>{{ resource.created_date }}</td>
                    </tr>
                    <tr>
	                    <th style="text-align: right;">{% trans "Record created by" %}</th>
	                    <td>{{ resource.created_by }}</td>
                    </tr>
		            {% if resource.url %}
		                <tr>
		                    <th style="text-align: right;">{% trans "URL" %}</th>
		                    <td>{{ resource.url|urlize }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.notes %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Notes" %}</th>
		                    <td>{{ resource.notes|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.photo %}
		            	<tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
		                    <td><img src="{% thumbnail resource.photo photo_size %}" /></td>
                        </tr>
	            	{% elif resource.photo_url %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
		                    <td><img src="{{ resource.photo_url }}" width="128" height="96" /></td>
                        </tr>
		            {% endif %}

		        </table>
		    
		    </div>

		    <div class="span6 info">

		        {% if resource.demands %}
		            <h4>{% trans "Demands" %}:</h4>
		            <ul>
		            {% for ct in resource.demands %}
		                <li><a href="{{ ct.process.get_absolute_url }}">{{ ct }}</a></li>
		            {% endfor %}
		            </ul>
		        {% endif %}

		    </div>

		</div>
        {% if resource.producing_events %}
		    <div style="margin-top: 1em;" >
		        <h4>{% trans "History" %}:</h4>
		        <ul>
		            {% for event in resource.producing_events %}
		            <li><b>{% trans "Event" %}:</b> {{ event.event_type }} {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
		            {% if event.process %}
		            <ul>
		                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=event.process.id %}">{{ event.process.name }}</a>

			            <div style="display: inline;" >
				            <a href="#citeForm" role="button" class="btn btn-info" data-toggle="modal">
					            {% trans "Add citation" %}
				            </a>
			            </div>

			            <div class="modal hide fade" id="citeForm" tabindex="-1" role="dialog" aria-labelledby="cite-label" aria-hidden="true">
			              <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				            <h3 id="cite-label">{% trans "Add a Citation" %}</h3>
			              </div>
			              <div class="modal-body">
					            <form class="cite-form" action="" method="POST" >
					              {% csrf_token %}
                                  {{ cite_form }}  
						          <div class="modal-footer">
						            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						            <button class="btn btn-primary" name="cite-save" value="cite">{% trans "Save" %}</button>
					              </div>

					            </form>
			              </div>
			            </div>


                        </li>
		                <ul>
		                    {% for req in event.process.work_requirements %}
		                        <li><b>{% trans "Workers" %}:</b> {{ req.resource_type }} {% trans "from" %}: {{ req.from_agent }} </li>
	                            {% if req.description %}
	                                <div class="labnote" ><span class="label">{% trans "Labnotes" %}:</span> {{ req.description|urlize|linebreaks }}</div>
	                            {% endif %}

		                    {% endfor %}
		                    {% for inp in event.process.citations %}
		                        {% if inp.resource %}
		                            <li>{% trans "Event" %}: <b>{{ inp.event_type }}</b> {{ event.event_date }}</li>
	                                <ul>
	                                    <li><b>{% trans "Resource" %}:</b> {{ inp.resource }}</li>
	                                    <ul>
	                                        {% for pe in inp.resource.producing_events %}
	                                            <li><b>{% trans "Event" %}:</b> {{ pe.event_type }} {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
	                                            <ul>
	                                                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=pe.process.id %}">{{ pe.process.name }}</a></li>
	                                                <ul>
	                                                    {% for i in pe.process.inputs %}
	                                                        {% if i.resource %}
	                                                        <li><b>{% trans "Event" %}:</b> {{ i.event_type }} {{ event.event_date }}</li>
	                                                            <ul>
	                                                                <li><b>{% trans "Resource" %}:</b> {{ i.resource }}</li>
	                                                            </ul>
	                                                        
	                                                        {% endif %}
	                                                    {% endfor %}
	                                                </ul>
	                                            </ul>
	                                        {% endfor %}
	                                    </ul> 
	                                </ul>
	                            {% endif %}
		                    {% endfor %}
		                    {% for inp in event.process.inputs %}
		                        {% if inp.resource %}
		                            <li>{% trans "Event" %}: <b>{{ inp.event_type }}</b> {{ event.event_date }}</li>
	                                <ul>
	                                    <li><b>{% trans "Resource" %}:</b> {{ inp.resource }}</li>
	                                    <ul>
	                                        {% for pe in inp.resource.producing_events %}
	                                            <li>{% trans "Event" %}: <b>{{ pe.event_type }}</b> {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
	                                            <ul>
	                                                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=pe.process.id %}">{{ pe.process.name }}</a></li>
	                                                <ul>
	                                                    {% for i in pe.process.inputs %}
	                                                        {% if i.resource %}
	                                                        <li><b>{% trans "Event" %}:</b> {{ i.event_type }} {{ event.event_date }}</li>
	                                                            <ul>
	                                                                <li><b>{% trans "Resource" %}:</b> {{ i.resource }}</li>
	                                                            </ul>
	                                                        
	                                                        {% endif %}
	                                                    {% endfor %}
	                                                </ul>
	                                            </ul>
	                                        {% endfor %}
	                                    </ul> 
	                                </ul>
	                            {% endif %}
		                    {% endfor %}
		                </ul>
		            </ul>

		            {% endif %}
		            {% endfor %}
                   
		        </ul>	
		    </div> 
        {% else %}

            <div >
				<a href="#processAddForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Add process that created resource" %}</a>
			</div>
			<div class="modal hide fade" id="processAddForm" tabindex="-1" role="dialog" aria-labelledby="process-add-label" aria-hidden="true">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="process-add-label">{% trans "Add Process" %}</h3>
			  </div>
			  <div class="modal-body">
					<form class="process-add-form" action="" method="POST" >
						{% csrf_token %}
						{{ process_add_form }}
						
					  <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						<button class="btn btn-primary" name="process-save" value="process">{% trans "Save" %}</button>
					  </div>
					</form>
			  </div>
			</div>
	    {% endif %}
	    
	</div>
    </div>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    function getResources()
	{
        var selectedRT = document.getElementById('id_cite-resource_type').value; 
        var jsonUrl = encodeURI("/accounting/json-resourcetype-resources/" + selectedRT + "/");
        $("#id_cite-resource").empty();
	    $.get(jsonUrl,
		    function(data){
                for(var i=0 ; i<data.length ; i++)
                {
                    var id = data[i]['pk'];
                    var name = data[i].fields['identifier']; 
                    $("#id_cite-resource").append('<option value="' + id + '">' + name + '</option>') 
                }
		    });
	}

    </script>
    
{% endblock %}
