{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Resource" %}: {{ resource }}{% endblock %}

{% block extra_head %}

<style>

.labnote {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}



</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Resource" %}: {{ resource }} 
		</legend>

		<div class="row-fluid">
		
			<div class="span6 resource">
			
		        <table class="table table-bordered" >
		            <tr>
	                    <th style="text-align: right;">{% trans "Quantity" %}</th>
	                    <td>{{ resource.quantity }} {{ resource.unit_of_quantity }}</td>
                    </tr>
                    <tr>
	                    <th style="text-align: right;">{% trans "Quality" %}</th>
	                    <td>{{ resource.quality }}</td>
                    </tr>
                    {% if resource.author %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Author" %}</th>
		                    <td>{{ resource.author.name }}</td>
                        </tr>
                    {% endif %}
                    <tr>
	                    <th style="text-align: right;">{% trans "Created date" %}</th>
	                    <td>{{ resource.created_date }}</td>
                    </tr>
                    <tr>
	                    <th style="text-align: right;">{% trans "Created by" %}</th>
	                    <td>{{ resource.created_by }}</td>
                    </tr>
		            {% if resource.url %}
		                <tr>
		                    <th style="text-align: right;">{% trans "URL" %}</th>
		                    <td>{{ resource.url|urlize }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.notes %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Notes" %}</th>
		                    <td>{{ resource.notes|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.photo %}
		            	<tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
		                    <td><img src="{% thumbnail resource.photo photo_size %}" /></td>
                        </tr>
	            	{% elif resource.photo_url %}
                        <tr>
		                    <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
		                    <td><img src="{{ resource.photo_url }}" width="128" height="96" /></td>
                        </tr>
		            {% endif %}

		        </table>
		    
		    </div>

		    <div class="span6 info">

		        {% if resource.demands %}
		            <h4>{% trans "Demands" %}:</h4>
		            <ul>
		            {% for demand in resource.demands %}
		                <li>{{ demand }}</li>
		            {% endfor %}
		            </ul>
		        {% endif %}

		    </div>

		</div>
        {% if resource.producing_events %}
		    <div style="margin-top: 1em;" >
		        <h4>{% trans "History" %}:</h4>
		        <ul>
		            {% for event in resource.producing_events %}
		            <li><b>{% trans "Event" %}:</b> {{ event.event_type }} {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
		            {% if event.process %}
		            <ul>
		                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=event.process.id %}">{{ event.process.name }}</a></li>
		                <ul>
		                    {% for req in event.process.work_requirements %}
		                        <li><b>{% trans "Workers" %}:</b> {{ req.resource_type }} {% trans "from" %}: {{ req.from_agent }} </li>
	                            {% if req.description %}
	                                <div class="labnote" ><span class="label">{% trans "Labnotes" %}:</span> {{ req.description|urlize|linebreaks }}</div>
	                            {% endif %}

		                    {% endfor %}
		                    {% for inp in event.process.citations %}
		                        {% if inp.resource %}
		                            <li>{% trans "Event" %}: <b>{{ inp.event_type }}</b> {{ event.event_date }}</li>
	                                <ul>
	                                    <li><b>{% trans "Resource" %}:</b> {{ inp.resource }}</li>
	                                    <ul>
	                                        {% for pe in inp.resource.producing_events %}
	                                            <li><b>{% trans "Event" %}:</b> {{ pe.event_type }} {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
	                                            <ul>
	                                                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=pe.process.id %}">{{ pe.process.name }}</a></li>
	                                                <ul>
	                                                    {% for i in pe.process.inputs %}
	                                                        {% if i.resource %}
	                                                        <li><b>{% trans "Event" %}:</b> {{ i.event_type }} {{ event.event_date }}</li>
	                                                            <ul>
	                                                                <li><b>{% trans "Resource" %}:</b> {{ i.resource }}</li>
	                                                            </ul>
	                                                        
	                                                        {% endif %}
	                                                    {% endfor %}
	                                                </ul>
	                                            </ul>
	                                        {% endfor %}
	                                    </ul> 
	                                </ul>
	                            {% endif %}
		                    {% endfor %}
		                    {% for inp in event.process.inputs %}
		                        {% if inp.resource %}
		                            <li>{% trans "Event" %}: <b>{{ inp.event_type }}</b> {{ event.event_date }}</li>
	                                <ul>
	                                    <li><b>{% trans "Resource" %}:</b> {{ inp.resource }}</li>
	                                    <ul>
	                                        {% for pe in inp.resource.producing_events %}
	                                            <li>{% trans "Event" %}: <b>{{ pe.event_type }}</b> {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
	                                            <ul>
	                                                <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=pe.process.id %}">{{ pe.process.name }}</a></li>
	                                                <ul>
	                                                    {% for i in pe.process.inputs %}
	                                                        {% if i.resource %}
	                                                        <li><b>{% trans "Event" %}:</b> {{ i.event_type }} {{ event.event_date }}</li>
	                                                            <ul>
	                                                                <li><b>{% trans "Resource" %}:</b> {{ i.resource }}</li>
	                                                            </ul>
	                                                        
	                                                        {% endif %}
	                                                    {% endfor %}
	                                                </ul>
	                                            </ul>
	                                        {% endfor %}
	                                    </ul> 
	                                </ul>
	                            {% endif %}
		                    {% endfor %}
		                </ul>
		            </ul>
		            {% endif %}
		            {% endfor %}
		        </ul>	
		    </div> 
	    {% endif %}
	    
	</div>
    </div>
{% endblock %}
