{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Resource Flow" %}{% endblock %}

{% block extra_head %}
<style>

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}

	th
	{
		background-color:#C8D6E8;
	}

.hdg {
    color:  #7D1818;
}
.pex {
    color:  darkgreen;
    font-weight: bold;
}
.event {
    margin-left: 1em;
}
.desc {
    font-style: italic;
    font-size: .9em;
}
li {
    list-style-type: none;
    margin: o;
    padding:0;
}
ul {
    margin: 0;
    padding: 0;
}
</style>

{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Resource Flows for " %}{{ rt.name }}</legend>
{% comment %}
        <form id="sort" enctype="multipart/form-data" method="POST" >
            {{ sort_form|as_bootstrap }}
        </form>
{% endcomment %}
		<table style="width: 100%;" class="table table-bordered table-hover table-condensed" >
			<thead>
				<th>{% trans "Onhand or Sold" %}</th>
				<th>{% trans "Type" %}</th>
				{% comment %}
				<th>{% trans "Owners" %}</th>
				{% endcomment %}
                {% for stage in stages %}
                    <th>{{ stage.name }}</th>
				{% endfor %}
                <th>{% trans "Sales" %}</th>
            </thead>
			<tbody>	
				{% for lot in lots %}
                  {% if lot.lot_process_exchange_flow or lot.lot_receipt or lot.sales %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>
                            {% trans "Lot" %} 
                            <a href="{{ lot.get_absolute_url }}">{{ lot.identifier }}</a>
                        </td>
						<td>{{ lot.resource_type }}</td>
						{% comment %}
						<td>{% for own in lot.all_owners %} {{ own }}, {% endfor %}</td>
						{% endcomment %}
                        {% for lot_stage in lot.lot_stages %}
                            <td>{% if lot_stage.stage_pex %}
                                {% for pex in lot_stage.stage_pex %}
                                    <ul>
                                    {% if pex.type == "Process" %}
                                        {% for event in pex.incoming_events %}
                                            <li><span class="hdg">Input: </span>{{ event.shorter_label }}
                                            {% if event.resource %} 
                                                <a href="{{ event.resource.get_absolute_url }}">({{ event.resource.identifier }})</a>
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                        
                                        <li><span class="pex">Process:</span>
                                        <a href="{{ pex.get_absolute_url }}">{{ pex.shorter_label }}</a>
                                        {% if pex.notes %}<br /><span class="desc">{{ pex.notes|urlize }}</span> {% endif%}</li>
                                        {% for event in pex.production_events %}
                                            <li><span class="hdg">Output: </span>{{ event.shorter_label }}
                                                <a href="{{ event.resource.get_absolute_url }}">({{ event.resource.identifier }})</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if pex.type == "Exchange" %}
                                        <li><span class="pex">Exchange:</span>
                                        <a href="{{ pex.get_absolute_url }}">{{ pex.exchange_type }} {{ pex.start_date }}</a>
                                        {% for xfer in pex.transfers.all %}
                                            <li><span class="hdg"> {{ xfer.transfer_type }}: </span>{{ xfer }}
                                            {% if xfer.resource %} 
                                                <a href="{{ xfer.resource.get_absolute_url }}">({{ xfer.resource.identifier }})</a>
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                    </ul>
                                {% endfor %}
                           {% endif %}
                           </td>
                        {% endfor %}
                        <td>
                            {% for sale in lot.sales %} 
                            <li>
                                <a href="{{ sale.get_absolute_url }}">{{ sale.exchange_type.name }} {{ sale.start_date }}</a>
                                {% for evt in sale.events.all %}
                                    <li><span class="hdg"> {{ evt.event_type }}: </span>{{ evt.shorter_label }}
                                    {% if evt.resource %} 
                                        <a href="{{ evt.resource.get_absolute_url }}">({{ evt.resource.identifier }})</a>
                                    {% endif %}
                                    </li>
                                {% endfor %}
                                <br /> 
                            {% endfor %}
                        </td>
					</tr>
                   {% endif %}
				{% endfor %}
			</tbody>	
		</table>
<div class="pagination">
    <span class="step-links">
        {% if lots.has_previous %}
            <a href="?page={{ lots.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ lots.number }} {% trans "of" %} {{ lots.paginator.num_pages }}.
        </span>

        {% if lots.has_next %}
            <a href="?page={{ lots.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span>
</div>

	</div>
    </div>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#inventory').addClass('active');

	}); // end document.ready

    </script>
{% endblock %}
