{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Resource Type Facets" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'css/jquery.handsontable.full.css' %}">

<style>

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}

	th
	{
		background-color:#C8D6E8;
	}

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	    <div>
		    <legend>{% trans "Resource Type Facets" %}</legend>

		    <div id="resourceFacetsTable" style="height: 600px; overflow: scroll;">
		    </div>

        </div>
    </div>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
	<script src="{% static 'js/jquery.handsontable.full.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){
	
        var headings = [];
        var rows = [];
        var columns = [];

        {% for heading in headings %}
	        {% if forloop.first %}
	            headings.push("{{ heading }}");
	            columns.push({ readonly: true });
            {% else %}
		        headings.push("{{ heading.name }}");
		        var sources = [];
		        {% for fv in heading.values.all %}
		            sources.push("{{ fv.value }}");
	            {% endfor %}
	            columns.push({ 
	                type: 'autocomplete',
                    source: sources
                });
	        {% endif %}
        {% endfor %}

        {% for row in rows %}
            var row = [];
		    {% for cell in row %}
		        {% if forloop.first %}
			        row.push("{{ cell }}");
		        {% else %}
		            {% if cell.facet_value %}
		                row.push("{{ cell.facet_value.value }}");
	                {% else %}
	                    row.push("{{ cell }}");
                    {% endif %}
	            {% endif %}
            {% endfor  %}
            rows.push(row);
		{% endfor %}

		var $container = $("#resourceFacetsTable");

        $container.handsontable({
            data: rows,
            rowHeaders: false,
            colHeaders: headings,
            columns: columns,
            columnSorting: true,
            fixedRowsTop: 2,
            fixedColumnsLeft: 2,
            stretchH: 'all',
            contextMenu: false,
            cells: function (row, col, prop) {
                var cellProperties = {}
                if(col === 0) {
                  cellProperties.readOnly = true;
                }
                return cellProperties;
              }
        });

        $container.handsontable('render');

	}); // end document.ready

    </script>
{% endblock %}
