{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Resource Type" %}:  {{ resource_type.name }}{% endblock %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
{% block extra_head %}

<style>

.name {
	font-size: 1.3em;
	font-weight: bold;
}

.description {
    font-style: italic;
}

container li {
	padding: 3px;
}
/*ul {
    list-style-type: none;
}*/
.facet {
    font-weight: bold;
    font-size: 1.1em;
}
.facet-name {
    padding-right: 1em;
    text-align: right;
}

</style>
{% endblock %}

{% block body_class %}resource-types{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
		
		<legend>
		    {% trans "Resource Type" %}:  {{ resource_type.name }}
		    {% if user.is_authenticated %}
		        <div style="display: inline;" >
				    <a href="#resourceChangeForm{{ resource_type.id }}" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>
			    </div>
			    {% if resource_type.is_deletable %}
			        <div style="display: inline;" >
				        <a href="{% url delete_resource_type_confirmation resource_type_id=resource_type.id %}" role="button" class="btn btn-warning" >{% trans "Delete" %}</a>
			        </div>
		        {% endif %}

		    {% endif %}
	   
            {% if resource_type.producing_process_type_relationships %}
                <a href="{% url extended_bill resource_type_id=resource_type.id %}" role="button" class="btn btn-info" >{% trans "View Recipe" %}</a>
            {% endif %}
            {% if user.is_authenticated %}
                {% if resource_type.is_process_output %}
			        <a href="{% url edit_extended_bill resource_type_id=resource_type.id %}" role="button" class="btn btn-info" >
				        {% if resource_type.producing_process_type_relationships %}
					        {% trans "Change Recipe" %}
				        {% else %}
					        {% trans "Create Recipe" %}
				        {% endif %}
			        </a>
		        {% endif %}
		        
		    {% endif %}

		</legend>

        

        <div class="facets" >{{ resource_type.facet_list }}</div>

        <div class="description" >{{ resource_type.description|urlize|linebreaks }}</div>

	    {% if resource_type.photo %}
            <img src="{% thumbnail resource_type.photo photo_size %}" />
        {% elif resource_type.photo_url %}
    	    <img src="{{ resource_type.photo_url }}" width="128" height="96" />
        {% endif %}

			

			<div class="modal hide fade" id="resourceChangeForm{{ resource_type.id }}" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="resource-change-label">{% trans "Change" %} {{ resource_type }}</h3>
				</div>
				<div class="modal-body">
					<form class="resource-change-form" enctype="multipart/form-data" action="{% url change_resource_type resource_type_id=resource_type.id %}" method="POST" >
						{% csrf_token %}
						{{ resource_type.change_form|as_bootstrap }}
						<input type="hidden" name="next" value="{% url resource_types %}" />
					  <div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
						<button class="btn btn-primary">{% trans "Save changes" %}</button>
					  </div>


					</form>
			  </div>

			</div>


{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

	$(document).ready(function(){

		$('#resource-types').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
        })

		var selectedVals = "{{ selected_values }}";

		$('.category').each(function()
		{
			var val = $(this)[0];
            if (selectedVals.indexOf(val.name) > -1)
			{
				$(this).prop('checked', true);
			}
		});

                jQuery.validator.setDefaults({ 
                    success: function(label) {
				        label
					        .text('').addClass('valid')
					        .closest('.control-group').addClass('success');
			        }
                });

		$('.category').click(function() 
		{
			var checkedVals = [];
			var checkedBox = $(this)[0];
			var allBox = $('#all')[0];
			if (checkedBox == allBox)
			{
				$('.category').each(function()
				{
		            $(this).prop('checked', false);
				});
				$('#all').prop('checked', true);
				checkedVals.push('all');
			}
			else
			{
				$('#all').prop('checked', false);
				$('.category').each(function()
				{
					var val = $(this)[0];
		            if (val.checked)
					{
						checkedVals.push(val.value);
					}
				});
			}
			$('#categories').prop('value', checkedVals);
		});

		$('.resource-create-form').validate(
		{
			rules: {
				name: {
					required: true
				},
				url: {
					url: true
				},
				rate: {
					number: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			}

		});

		$('.resource-change-form').each( function(){
			var form = $(this);
			form.validate({
				rules: {
					name: {
						required: true
					},
					url: {
						url: true
					},
					rate: {
						number: true
					}
				},
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}

			});
		});


	}); // end document.ready

    </script>
{% endblock %}
