{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Resource" %}: {{ resource }}{% endblock %}

{% block extra_head %}

<style>

.labnote {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}
.btn-info {
    margin-left: 10px;
}
.hdg {
    color: firebrick;
}
.btn {
    margin-top: 1px;
    margin-bottom: 1px;
}
#id_notes, #id_access_rules {
  width: 500px;
  height: 100px;    
}
.modal {
    width: 600px;
}
</style>

{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

		<legend>
			{% trans "Resource" %}: {{ resource }} &nbsp;
			{% if agent %}
		        <a href="#resourceChangeForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Change" %}</a>&nbsp;&nbsp;
	        {% endif %}
            <a href="{% url incoming_value_flows resource_id=resource.id %}">{% trans "Incoming Value Flow" %}</a>
		</legend>
		
        {% if agent %}
		    <div class="modal hide fade" id="resourceChangeForm" tabindex="-1" role="dialog" aria-labelledby="resource-change-label" aria-hidden="true">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="resource-change-label">{% trans "Change" %} {{ resource }}</h3>
			    </div>
			    <div class="modal-body">
				    <form enctype="multipart/form-data" action="{% url change_resource resource_id=resource.id %}" method="POST" >
					    {% csrf_token %}
					    {{ resource.change_form|as_bootstrap }}
                        {{ role_formset.management_form }}
                        Resource access roles<br />
	                    {% for form in role_formset %}
	                        <tr>
                                <td class="hidden">{{ form.id }}</td>
	                            <td>{{ form.role }}</td>
	                            <td>{{ form.agent }}</td>
	                            <td>{{ form.is_contact }} Is contact</td>
	                        </tr>
                       	{% endfor %}
				      <div class="modal-footer">
					    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
					    <button class="btn btn-primary">{% trans "Save changes" %}</button>
				      </div>
				    </form>
		      </div>

		    </div>
	    {% endif %}

		<div class="row-fluid">
		
		    <div class="span6 resource">
		
	            <table class="table table-bordered" >
	                <tr>
                        <th style="text-align: right;">{% trans "Quantity" %}</th>
                        <td>{{ resource.quantity }} {{ resource.unit_of_quantity }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Quality" %}</th>
                        <td>{{ resource.quality }}</td>
                    </tr>
{% comment %}
                    {% if resource.author %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Author" %}</th>
	                        <td>{{ resource.author.name }}</td>
                        </tr>
                    {% endif %}
{% endcomment %}
	                {% if resource.url %}
	                    <tr>
	                        <th style="text-align: right;">{% trans "URL" %}</th>
	                        <td>{{ resource.url|urlize }}</td>
                        </tr>
                    {% endif %}
	                {% if resource.current_location %}
	                    <tr>
	                        <th style="text-align: right;">{% trans "Current Location" %}</th>
	                        <td>{{ resource.current_location }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.notes %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Notes" %}</th>
	                        <td>{{ resource.notes|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.access_rules %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Access Rules" %}</th>
	                        <td>{{ resource.access_rules|urlize|linebreaks }}</td>
                        </tr>
                    {% endif %}
                    {% if resource.photo %}
	                	<tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
	                        <td><img src="{% thumbnail resource.photo photo_size %}" /></td>
                        </tr>
                	{% elif resource.photo_url %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Photo" %}</th>
	                        <td><img src="{{ resource.photo_url }}" width="128" height="96" /></td>
                        </tr>
	                {% endif %}
                    {% if resource.agent_resource_roles.all %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Assignments" %}</th>
	                        <td>{% for item in resource.agent_resource_roles.all %}
                                {{ item.role.name }} : {{ item.agent.nick }} <br />
                            {% endfor %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="text-align: right;">{% trans "Record created date" %}</th>
                        <td>{{ resource.created_date }}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right;">{% trans "Record created by" %}</th>
                        <td>{{ resource.created_by }}</td>
                    </tr>

	            </table>
	        
	        </div>

	        <div class="span6 info">

	            {% if resource.demands %}
	                <h4 class="hdg">{% trans "Demands" %}:</h4>
	                <ul>
	                {% for ct in resource.demands %}
	                    <li><a href="{{ ct.process.get_absolute_url }}">{{ ct }}</a></li>
	                {% endfor %}
	                </ul>
	            {% endif %}

	        </div>

		</div>

        <div class="row-fluid" tyle="margin-top: 1em;">
            <div class="span6">           
                <h3 class="hdg">{% trans "Where from" %}:</h3>  
                {% if resource.producing_events %}
                    <ul>
                        {% for event in resource.producing_events %}
                            <li><b>{% trans "Event" %}:</b> {{ event.event_type }} {{ event.event_date }} {{ event.quantity }} {% trans "from" %}: {{ event.from_agent }}</li>

                            {% if event.process %}
                                <ul>
                                    <li><b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=event.process.id %}">{{ event.process.name }}</a>

                                    </li>

                                </ul>
                            {% endif %}
                        {% endfor %}
	                            
              
	                </ul> 

                {% else %}
                    {% if agent %}
                        <p>We don't know!  Create it here!</p>
                        <div >
		                    <a href="#processAddForm" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Add process that created resource" %}</a>
	                    </div>
	                    <div class="modal hide fade" id="processAddForm" tabindex="-1" role="dialog" aria-labelledby="process-add-label" aria-hidden="true">
	                      <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                    <h3 id="process-add-label">{% trans "Add Process" %}</h3>
	                      </div>
	                      <div class="modal-body">
			                    <form class="process-add-form" action="" method="POST" >
				                    {% csrf_token %}
				                    {{ process_add_form }}
				
			                      <div class="modal-footer">
				                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
				                    <button class="btn btn-primary" name="process-save" value="process">{% trans "Save" %}</button>
			                      </div>
			                    </form>
	                      </div>
                        </div>
                    {% else %}
                        <p>We don't know.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div class="span6">
              <h3 class="hdg">{% trans "Where to" %}:</h3>

              {% if resource.all_usage_events %}
                <ul>
                    {% for event in resource.all_usage_events %}
                        <li><b>{% trans "Event" %}:</b> {{ event.resource.label }} {{ event.event_type }}
                             {% if event.event_type.relationship != "cite" %}
                                {{ event.quantity }} {{ event.unit_of_quantity.abbrev }}
                             {% endif %}
                             {{ event.event_date }} {% trans "from" %}: {{ event.from_agent }}</li>
                        {% if event.process %}
                            <ul>
                                <li>
                                    <b>{% trans "Process" %}:</b> <a href="{% url process_details process_id=event.process.id %}">{{ event.process.name }}</a>
                               </li>
                                <ul>
                                    {% for req in event.process.work_requirements %}
                                        <li><b>{% trans "Workers" %}:</b> {{ req.resource_type }} {% trans "from" %}: {{ req.from_agent }} </li>
                                        {% if req.description %}
                                            <div class="labnote" ><span class="label">{% trans "Labnotes" %}:</span> {{ req.description|urlize|linebreaks }}</div>
                                        {% endif %}

                                    {% endfor %}
                                </ul>
                                {% for op in event.process.outputs %}
                                    {% if op.resource %}
                                        <li>{% trans "Event" %}: <b>{{ op.event_type }}</b>  {{ op.resource_type.name }} {{ event.quantity }} {{ event.unit_of_quantity.abbrev }} {{ event.event_date }}</li>
                                        <ul>
                                            <li><b>{% trans "Resource" %}:</b> <a href="{% url resource resource_id=op.resource.id %}">{{ op.resource.label }}</a></li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Not yet!</p>

            {% endif %}

	    </div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}


{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

		$('#inventory').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

    }); // end document.ready

    function getResources()
	{
        var selectedRT = document.getElementById('id_cite-resource_type').value; 
        var jsonUrl = encodeURI("/accounting/json-resourcetype-resources/" + selectedRT + "/");
        $("#id_cite-resource").empty();
	    $.get(jsonUrl,
		    function(data){
                for(var i=0 ; i<data.length ; i++)
                {
                    var id = data[i]['pk'];
                    var name = data[i].fields['identifier']; 
                    $("#id_cite-resource").append('<option value="' + id + '">' + name + '</option>') 
                }
		    });
	}

		$('.resource-change-form').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}

			});
		});

    </script>
    
{% endblock %}
