{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "My Work" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

/*
.commitmentModal {
	max-height: 800px;
}

.commitmentModal {
	width: 900px;
}
*/

.btn {
	margin-right: 2em;
}
.my-work {
    background-color: whitesmoke;

}
.my-skills {
    background-color: #FAFAEE;
}
.other-unassigned, .unassigned-todos {
    background-color: #FAFAEE;
}
.todos {
    background-color: whitesmoke;
}
.my-work, .my-skills, .other-unassigned, .todos, .unassigned-todos {
    padding: 2px 6px 3px 6px;
    margin-bottom: 12px;
    border: 1px solid gainsboro;
}

.work-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
}

#todoModal textarea {
  width: 400px;
  height: 200px;
}

.changeModal textarea {
  width: 400px;
  height: 200px;
}

.commitmentModal textarea {
  width: 400px;
  height: 200px;
}

.entry-label {
    text-align: right;
    vertical-align: middle;
}

.entry-buttons {
    padding-top: 4px;
    text-align: left;
}

.btn-mini {
    margin-bottom: 3px;
}

.todo-input {
    vertical-align: bottom;
}

.todo-table {
    margin-top: 1em;
}

th, td {
    padding-left:10px;
    padding-right:10px;
}

.did {
    padding: 0;
    height: 46px;
}

.my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
}

.odd {
    background-color: #F9F9F7;
}

.even {
    background-color: #EDEDE6;
}

.not-my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.entry-row {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.who {
    font-size: 90%;
    white-space:nowrap;
}
.input-mini {
    width: 2em;
    margin-right: 0;
}
.top-buttons a {
    margin-right: 30px;
}
.cancel {
    width: 80px;
}
.description {
    color: firebrick;
    font-weight: bold;
}
.date {
    font-weight: bold;
}
.deleteForm {
    margin-bottom: 0;
    margin-right: 0;
}
.edit-button {
    margin-right: 2px;
    display: inline;
    margin-top: 0;
}
.del-button {
    margin-right: 0;
}
*/
</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	
		<legend>
		    {% trans "My Work" %} 
		    {% if agent %}
		        &nbsp;&nbsp;&nbsp;<a href="{% url contribution_history agent_id=agent.id %}">{% trans "My contributions" %}</a>
		        &nbsp;&nbsp;&nbsp;<a href="{% url agent_stats agent_id=agent.id %}">{% trans "Comparative stats" %}</a>
	        {% endif %}
	    </legend>

			<p class="top-buttons">
				{% if agent %}
{% comment %}
				    <a href="{% url process_selections %}" role="button" class="btn btn-primary" 
				        title="Log time and create resources." >
				        {% trans "Create a production process" %}
			        </a>
{% endcomment %}
					<a href="{% url unscheduled_time %}" role="button" class="btn btn-primary" 
					    title="When you are not creating resources." >
					    {% trans "Log non-production work" %}
				    </a>
					 
				{% endif %}
				
				
			</p>

		<div class="row-fluid">
		
          <div class="span6">
            <div class="my-work">
				<h3 style="margin-bottom: 4px;" >{% trans "My unfinished production work" %}:</h3>

				{% if my_work %}
						<ul>
							{% for item in my_work %}
								<li>
									<b>Task: {{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
								</li>
								{% if item.description %}
                                    <ul>
                                        <li class="work-description">
                                            {{ item.description|urlize|linebreaks }}
                                        </li>
                                    </ul>
                                {% endif %}
								<div style="margin-left: 1em; margin-bottom: 0;">
                                    {% trans "Project" %}: {{ item.context_agent }}</br>
                                    {% trans "Order" %}: {{ item.independent_demand }}</br>
                                    {% trans "Process" %}: {{ item.process }}
                                    {% if item.process.started %} <b>{% trans "Started" %} {{ item.process.started }}</b> {% endif %} </br>
                                    {% if work_now %}
                                        <a href="{% url work_now process_id=item.process.id commitment_id=item.id %}" role="button" class="btn btn-info btn-mini" >{% trans "Work Now" %}</a>
                                    {% endif %}
                                    <a href="{{ item.process.get_absolute_url }}" role="button" class="btn btn-info btn-mini">Log work on process</a>
                                    <form
                                        style="display: inline;" 
                                        class="finish-form" 
                                        id="finishForm{{ item.id }}" 
                                        action="{% url commitment_finished commitment_id=item.id %}" 
                                        method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" id="next" name="next" value="start" />
                                        <button style="display: inline;"  class="btn btn-primary btn-mini" title="Close" >Close task</button>
                                    </form>
                                    <form
                                        style="display: inline;" 
                                        class="uncommit-form" 
                                        id="uncommitForm{{ item.id }}" 
                                        action="{% url uncommit commitment_id=item.id %}" 
                                        method="POST" >
                                        {% csrf_token %}
                                        <input type="hidden" id="next" name="next" value="start" />
                                        <button style="display: inline;"  class="btn btn-warning btn-mini" title="Uncommit" >Unassign</button>
                                    </form>
								</div>


							{% endfor %}
						</ul>
				{% else %}
				None
				{% endif %}

			</div>

            <div class="my-skills">

                <h3 style="margin-bottom: 4px;" >{% trans "Unassigned tasks using my skills" %}:</h3>

                {% if my_skillz %}
                        <ul>
                            {% for item in my_skillz %}
                                <li>
                                    <b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
                                    {% if agent %}
                                        <div style="display: inline;" >
                                            <a href="#commitmentModal{{ item.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
                                                {% trans "Take this task" %}
                                            </a>
                                        </div>

                                        <div class="modal hide fade commitmentModal" id="commitmentModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
                                            </div>
                                            <div class="modal-body">

                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
                                                            {% csrf_token %}
                                                            {{ item.commitment_form|as_bootstrap }}
                                                            <input type="hidden" name="next" value="{% url start %}" />
                                                          <div class="modal-footer">
                                                            <input type="cancel" class="btn cancel" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
                                                            <input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
                                                            {% if work_now %}
                                                                <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
                                                            {% endif %}
                                                          </div>
                                                        </form>
                                                    </div>
                                                    {% comment %}
                                                    <div class="span7">
                                                        <h4>
                                                            {{ item.resource_type.name }}: {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
                                                        </h4>
                                                        <p style="margin-left: 1em; margin-bottom: 0;">
                                                            {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
                                                        </p>
                                                        <p style="margin-left: 1em;">
                                                            {% trans "for order" %}: {{ item.independent_demand }}
                                                        </p>
                                                        <h4>{% trans "Consumable requirements" %}:</h4>
                                                        {% for reqmt in item.process.consumed_input_requirements %} 
                                                            <p style="margin-left: 1em;">
                                                                {{ reqmt.resource_type.name }}: {{ reqmt.quantity }} {{ reqmt.unit_of_quantity }}
                                                            </p>
                                                            {% if reqmt.resource_type.onhand %}
                                                                {% for resource in reqmt.resource_type.onhand %}
                                                                    <p style="margin-left: 2em;">
                                                                        <b>{% trans "Onhand" %}:</b> {{ resource.quantity }} {{ resource.unit_of_quantity }}
                                                                    </p>
                                                                {% endfor %}
                                                            {% elif reqmt.resource_type.active_producing_commitments %}
                                                                {% for ct in reqmt.resource_type.active_producing_commitments %}
                                                                    <p style="margin-left: 2em;">
                                                                        <b>{% trans "Scheduled" %}:</b> {{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}
                                                                    </p>
                                                                {% endfor %}
                                                            {% else %}
                                                                {% for source in reqmt.resource_type.producing_agent_relationships %}
                                                                    <p style="margin-left: 2em;">
                                                                        <b>{% trans "Possible source" %}:</b> {{ source.agent.name }} 
                                                                        {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
                                                                    </p>
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <h4>{% trans "Usable Requirements" %}:</h4>
                                                        {% for reqmt in item.process.used_input_requirements %} 
                                                            <p style="margin-left: 1em;">

                                                                {{ reqmt.resource_type.name }}: {{ reqmt.quantity }}{{ reqmt.unit_of_quantity }}
                                                            </p>
                                                            <ul>
                                                                {% for source in reqmt.resource_type.producing_agent_relationships %}
                                                                    <li>
                                                                        <b>{% trans "Possible source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                    {% endcomment %}
                                                </div>
                                          </div>

                                        </div>

                                    {% endif %}
                                    {% if item.description %}
                                        <ul>
                                            <li class="work-description">{{ item.description|urlize|linebreaks|truncatewords_html:15 }}</li>
                                        </ul>
                                    {% endif %}
                                </li>
                                <p style="margin-left: 1em; margin-bottom: 0;">
                                    {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
                                </p>
                                <p style="margin-left: 1em; margin-bottom: 0;">
                                    {% trans "for order" %}: {{ item.independent_demand }}
                                </p>


                            {% endfor %}
                        </ul>
                {% else %}
                None
                {% endif %}

            </div>

            <div class="other-unassigned">

				<h3 style="margin-bottom: 4px;" >{% trans "Other unassigned tasks" %}:</h3>

				{% if other_unassigned %}
						<ul>
							{% for item in other_unassigned %}
								<li>
									<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
									{% if agent %}
										<div style="display: inline;" >
											<a href="#commitmentModal{{ item.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
												{% trans "Take this task" %}
											</a>
										</div>

										<div class="modal hide fade commitmentModal" id="commitmentModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="commitment-label" aria-hidden="true">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												<h3 id="commitment-label">{% trans "Take this task" %}: {{ item.resource_type.name }}</h3>
											</div>
											<div class="modal-body">

												<div class="row-fluid">
													<div class="span12">
														<form class="commitmentForm" enctype="multipart/form-data" action="{% url commit_to_task commitment_id=item.id %}" method="POST" >
															{% csrf_token %}
															{{ item.commitment_form|as_bootstrap }}
															<input type="hidden" name="next" value="{% url start %}" />
														  <div class="modal-footer">
															<input type="cancel" class="btn cancel" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
															<input type="submit" class="btn btn-primary" name="commit" value='{% trans "Commit to this task" %}' />
															{% if work_now %}
															    <input type="submit" class="btn btn-primary" name="start" value='{% trans "Start now" %}' />
														    {% endif %}
														  </div>
														</form>
													</div>
													{% comment %}
													<div class="span7">
														<h4>
															{{ item.resource_type.name }}: {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
														</h4>
														<p style="margin-left: 1em; margin-bottom: 0;">
															{% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
														</p>
														<p style="margin-left: 1em;">
															{% trans "for order" %}: {{ item.independent_demand }}
														</p>
														<h4>{% trans "Consumable Requirements" %}:</h4>
														{% for reqmt in item.process.consumed_input_requirements %}	
															<p style="margin-left: 1em;">
																{{ reqmt.resource_type.name }}: {{ reqmt.quantity }} {{ reqmt.unit_of_quantity }}
															</p>
															{% if reqmt.resource_type.onhand %}
																{% for resource in reqmt.resource_type.onhand %}
																	<p style="margin-left: 2em;">
																		<b>{% trans "Onhand" %}:</b> {{ resource.quantity }} {{ resource.unit_of_quantity }}
																	</p>
																{% endfor %}
															{% elif reqmt.associated_producing_commitments %}
																{% for ct in reqmt.associated_producing_commitments %}
																	<p style="margin-left: 2em;">
																		<b>{% trans "Scheduled" %}:</b> {{ ct.quantity }} {{ ct.unit_of_quantity }} {{ ct.due_date }}
																	</p>
																{% endfor %}
															{% else %}
																{% for source in reqmt.resource_type.producing_agent_relationships %}
																	<p style="margin-left: 2em;">
																		<b>{% trans "Possible source" %}:</b> {{ source.agent.name }} 
																		{% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
																	</p>
																{% endfor %}
															{% endif %}
														{% endfor %}
														<h4>{% trans "Usable Requirements" %}:</h4>
														{% for reqmt in item.process.used_input_requirements %}	
															<p style="margin-left: 1em;">

																{{ reqmt.resource_type.name }}: {{ reqmt.quantity }}{{ reqmt.unit_of_quantity }}
															</p>
															<ul>
																{% for source in reqmt.resource_type.producing_agent_relationships %}
																	<li>
																		<b>{% trans "Possible source" %}:</b> {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
																	</li>
																{% endfor %}
															</ul>
														{% endfor %}
													</div>
													{% endcomment %}
												</div>
										  </div>

										</div>

									{% endif %}
									{% if item.description %}
									    <ul>
				                            <li class="work-description">{{ item.description|urlize|linebreaks|truncatewords_html:15 }}</li>
			                            </ul>
			                        {% endif %}

								</li>
								<p style="margin-left: 1em; margin-bottom: 0;">
									{% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
								</p>
								<p style="margin-left: 1em; margin-bottom: 0;">
									{% trans "for order" %}: {{ item.independent_demand }}
								</p>
		                        <ul>
									{% for source in item.resource_type.producing_agent_relationships %}
										<li>
											<b>{% trans "Possible source" %}:</b> {{ source.agent.name }}
										</li>
									{% endfor %}
								</ul>
							{% endfor %}
						</ul>
				{% else %}
				None
				{% endif %}

			</div>
          </div>

          <div class="span6">
            <div class="todos">
                <h3>
                    {% trans "My todo list:" %}
                    {% if agent %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="display: inline;" >
                            <a href="#todoModal" role="button" class="btn btn-primary" data-toggle="modal">
                                {% trans "Add a todo" %}
                            </a>
                        </div>

                        <div class="modal hide fade todoModal" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todo-label" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="todo-label">{% trans "Add a todo" %}</h3>
                            </div>
                            <div class="modal-body">

                                <form class="todoForm" id="todoForm" action="{% url add_todo %}" method="POST" >
                                    {% csrf_token %}
                                    {{ todo_form|as_bootstrap }}
                                    <input type="hidden" name="next" value="{% url start %}" />
                                  <div class="modal-footer">
                                    <input type="cancel" class="btn cancel" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
                                    <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Add" %}' />
                                  </div>
                                </form>
                          </div>
                        </div>
                    {% endif %}
                </h3>
                <table class="todo-table" >
                    <thead>
                        <tr>
                            <th>{% trans "Due" %}</th>
                            <th>{% trans "Who" %}</th>
                            <th>&nbsp;</th>
                            <th>{% trans "What" %}</th>
                            <th>&nbsp;</th>
                            {% comment %}
                            <th>{% trans "Project" %}</th>
                            {% endcomment %}
                            <th>{% trans "Url" %}</th>
                            {% comment %}
                            <th>{% trans "Poster" %}</th>
                            {% endcomment %}
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todo in todos %}
                            {% if agent == todo.from_agent %}
                                <tr class="my-row {% cycle 'odd' 'even' as rowcolors %}" >
                            {% else %}
                                <tr class="not-my-row" >
                            {% endif %}
                                <td class="date">
                                    {{ todo.due_date|date:"Y-m-d"  }}
                                </td>
                                <td class="who">
                                    Poster: {{ todo.to_agent }}
                                </td>
                                <td colspan="3" class="description">
                                    {{ todo.description|urlize|linebreaks }}
                                </td>
                                {% comment %}
                                <td>
                                    {{ todo.context_agent }}
                                </td>
                                {% endcomment %}
                                <td>
                                    {% if todo.url %}
                                        <a href="{{ todo.url }}" target="_blank">Open</a>
                                    {% endif %}
                                </td>
                                {% comment %}
                                <td>
                                    {{ todo.to_agent }}
                                </td>
                                {% endcomment %}
                                <td>
                                    
                                    {% if agent == todo.to_agent %}
                                        <div class="entry-buttons" >
                                            <a href="#changeModal-{{ todo.id }}" role="button" class="btn btn-info btn-mini edit-button" data-toggle="modal">
                                                <i class="icon-edit"></i>
                                            </a>
                                            {% if todo.is_deletable %}
                                                <form style="display: inline;" class="deleteForm" id="deleteForm-{{ todo.id }}" action="{% url todo_delete todo_id=todo.id %}" method="POST" >
                                                    {% csrf_token %}
                                                    <input type="hidden" name="next" value="{% url start %}" />
                                                    <button style="display: inline;" class="btn btn-warning btn-mini del-button" title="Delete" >X</button>
                                                </form>
                                            {% endif %}
                                        </div>

                                        <div class="modal hide fade changeModal" id="changeModal-{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="change-label" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h3 id="change-label">{% trans "Change todo" %}</h3>
                                            </div>
                                            <div class="modal-body">

                                                <form class="changeForm" id="changeForm-{{ todo.id }}" action="{% url todo_change todo_id=todo.id %}" method="POST" >
                                                    {% csrf_token %}
                                                    {{ todo.todo_change_form|as_bootstrap }}
                                                    <input type="hidden" name="next" value="{% url start %}" />
                                                  <div class="modal-footer">
                                                    <input type="cancel" class="btn cancel" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
                                                    <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Change" %}' />
                                                  </div>
                                                </form>
                                          </div>
                                        </div>

                                    {% else %}
                                        {% if todo.is_deletable %}
                                            <div class="entry-buttons">
                                                <form class="declineForm" id="declineForm-{{ todo.id }}" action="{% url todo_decline todo_id=todo.id %}" method="POST" >
                                                    {% csrf_token %}
                                                    <input type="hidden" name="next" value="{% url start %}" />
                                                    <input type="submit" name="submit" class="btn btn-warning btn-mini"  title="Decline" value="{% trans 'Decline' %}" />
                                                </form>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>   
                            
                
                            {% if agent == todo.from_agent %}
                                {% with todo.todo_event as event %}
                                <tr class="entry-row {{ rowcolors }}" >
                                    <th class="entry-label" >{% trans "Did" %}:</td>
                                    <td colspan="3" class="did" >
                                        <textarea class="input-block-level did" id="{{ todo.id }}-didId" name="{{ todo.id }}-did" rows="3" 
                                        />{% if event %}{{ event.description }}{% endif %}</textarea>
                                    </td>
                                    <th class="entry-label">
                                        {% trans "Hours" %}:
                                    </th>
                                    <td class="todo-input" >
                                        <form class="timeForm"id="timeForm-{{ todo.id }}" action="{% url todo_time %}" method="POST" >
                                            {% csrf_token %}
                                            <input class="input-mini optional-quantity" id="{{ todo.id }}-timeId" name="{{ todo.id }}-time" type="text" size="6" 
                                                {% if event %} value="{{ event.quantity }}" {% else %} value="0" {% endif %}
                                            />
                                        </form>
                                    </td>
                                    <td>
                                        <form class="doneForm" id="timeForm-{{ todo.id }}" action="{% url todo_done todo_id=todo.id %}" method="POST" >
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{% url start %}" />
                                            <input type="submit" name="submit" class="btn btn-info btn-mini"  title="Done" value="{% trans 'Done' %}" />
                                        </form>
                                    </td>
                                </tr>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
      
            <div class="unassigned-todos">
                <h3>
                    {% trans "Other unassigned todos:" %}

                </h3>
                (not working yet)
            </div>

          </div>
        </div>
   
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#my-work').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		$(".chzn-select").chosen();
		$("textarea").resizable();

		jQuery.validator.setDefaults({ 
		    success: function(label) {
					label
						.text('').addClass('valid')
						.closest('.control-group').addClass('success');
				}
		});


		$.validator.addClassRules("quantity", { 
		    required: true, 
		    number: true,
		    max: 999999.99 
	    });
	    $.validator.addClassRules("optional-quantity", { 
		    number: true,
		    max: 999999.99 
	    });
		$.validator.addClassRules("url", { url: true });

		$('.commitmentForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},

			});
		});

		$('.timeForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},

			});
		});

		$('#todoForm').validate({
		    rules: {
			    'due_date': {
			        date: true,
                    required: true
				}
			},
			highlight: function(label) {
				$(label).closest('.control-group').addClass('error');
			},
		});

        {% for todo in todos %}
		    $('#changeForm-{{ todo.id }}').validate({
		        rules: {
			        'CT-{{  todo.id }}-due_date': {
			            date: true,
                        required: true
				    }
			    },
			    highlight: function(label) {
				    $(label).closest('.control-group').addClass('error');
			    },
		    });
        {% endfor %}

		$('.optional-quantity').blur(saveTime);
		$('.did').blur(saveDescription);

	}); // end document.ready

	function saveTime(event)
	{
        var timeInput = event.target;
        var id = timeInput.id.split('-')[0];;
        formId = "#timeForm-" + id;
        var fieldSelector = "#" + id + "-timeId";
        var isValid = $(formId).validate().element(fieldSelector);
        if (isValid)
        {
            var hours = timeInput.value;
            notifySaving();
		    var jqxhr = $.post("{% url todo_time  %}",  { todoId: id, hours: hours },
			    function( data ) 
			    {
				    notifySaved();
			    })
			    .fail(function() 
			    { 
				    notifyProblem(); 
			    }
		    );
        }      
	}
	
    function saveDescription(event)
	{
        var didInput = event.target;
        var id = didInput.id.split('-')[0];;
        var did = didInput.value;
        notifySaving();
	    var jqxhr = $.post("{% url todo_description  %}",  { todoId: id, did: did },
		    function( data ) 
		    {
			    notifySaved();
		    })
		    .fail(function() 
		    { 
			    notifyProblem(); 
		    }
	    );   
	}

	function notifySaving()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saving...");
	}

	function notifySaved()
	{
		$("#saving").css("color","green"); 
		$("#saving").text("Saved");
	}

	function notifyProblem()
	{
		$("#saving").css("color","red"); 
		$("#saving").text("Problem saving");
	}

	$(document).ajaxSend(function(event, xhr, settings) 
	{
		function getCookie(name) 
		{
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') 
			{
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) 
				{
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) 
					{
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
    	}

		function sameOrigin(url) 
		{
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}

		function safeMethod(method) 
		{
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url)) 
		{
		    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});

      
    </script>

{% endblock %}
