{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Supply" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.reqs-supplier {
    background-color: lightyellow;
}
.matl-reqx {
    background-color: beige;
}
.tool-reqs {
    background-color: whitesmoke;
}
.reqs-supplier, .matl-reqs, .tool-reqs {
    padding: 2px 6px 3px 6px;
    margin-bottom: 12px;
    border: 1px solid gainsboro;
}
.btn {
    margin-left: 10px; 
    margin-top: 1px;
    margin-bottom: 1px;
}

</style>

{% endblock %}

{% block body_class %}supply{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
            {% trans "Supply" %}
		    {% if agent %} &nbsp;&nbsp;&nbsp;
                <a class="btn btn-info" href="{% url create_exchange use_case='purch_contr' %}">{% trans "Purchase contribution" %}</a>
                <a class="btn btn-info" href="{% url create_exchange use_case='exp_contr' %}">{% trans "Expense contribution" %}</a>
                <a class="btn btn-info" href="{% url create_exchange use_case='res_contr' %}">{% trans "Resource contribution" %}</a>
                <a class="btn btn-info" href="{% url create_exchange use_case='cash_contr' %}">{% trans "Cash contribution" %}</a>
            {% endif %}
        </legend>
        <div class="reqs-supplier">
		    <h3 style="margin-bottom: 4px;" >{% trans "Requirements by Supplier" %}:</h3>

            <ul>
                {% for agent, sources in suppliers.items %}
                    <li><a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
                        <b>{{ agent.name }}</b> {% trans "Combined Score" %}: {{ agent.score }}
                    </li>
                    <ul>
                        {% for source, requirements in sources.items %}
                            <li>
                                <b>{{ source.resource_type.name }}</b>  {% trans "Total required" %} {{ source.total_required }} 
                                {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
                            </li>
                            <ul>
                                {% for item in requirements %}
                                    <li>
						                <b>{{ item.resource_type.name }}:</b> {{ item.unfilled_quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }} 
						                {% trans "for demand" %}: {{ item.independent_demand }}
					                </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
		

		<div class="row-fluid">

			{% if mreqs %}
			    <div class="span6 matl-reqs">
		            <h3 style="margin-bottom: 4px;" >{% trans "Open Purchase Requirements" %}:</h3>
					    <ul>
						    {% for item in mreqs %}
							    <li>
								    <b>{{ item.resource_type.name }}:</b> {{ item.unfilled_quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
							    </li>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
							    </p>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for demand" %}: {{ item.independent_demand }}
							    </p>
                                <ul>
								    {% for source in item.resource_type.producing_agent_relationships %}
									    <li>
										    <a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
										    {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
									    </li>
								    {% endfor %}
							    </ul>
						    {% endfor %}
					    </ul>
				    </div>
			{% endif %}
			
	    	{% if treqs %}
    	        <div class="span6 tool-reqs">

		            <h3 style="margin-bottom: 4px;" >{% trans "Open Tool Requirements" %}:</h3>
					    <ul>
						    {% for item in treqs %}
							    <li>
								    <b>{{ item.resource_type.name }}:</b> {{ item.unfilled_quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
							    </li>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
							    </p>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for demand" %}: {{ item.independent_demand }}
							    </p>
                                <ul>
								    {% for source in item.resource_type.producing_agent_relationships %}
									    <li>
										    <a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
										    {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
									    </li>
								    {% endfor %}
							        </ul>
						        {% endfor %}
					        </ul>
	                 </div>
			    {% endif %}
 
		</div>

	</div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#supply').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })

	}); // end document.ready
    </script>

{% endblock %}

