{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Supply" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.reqs-supplier {
    background-color: whitesmoke;
    margin-top: 10px;
}
.matl-reqx {
    background-color: beige;
    margin-top: 10px;
}
.tool-reqs {
    background-color: whitesmoke;
}
.reqs-supplier, .matl-reqs, .tool-reqs {
    padding: 2px 6px 3px 6px;
    margin-bottom: 12px;
    border: 1px solid gainsboro;
}
.btn {
    margin-left: 10px; 
    margin-top: 1px;
    margin-bottom: 1px;
}
.modal {
    width: 600px;
}
h3 {
    color: firebrick;
}
.report {
    margin-left: 2em;
}
</style>

{% endblock %}

{% block body_class %}supply{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
            {% trans "Supply" %}
{% comment %}
		    {% if agent %} &nbsp;&nbsp;&nbsp;
                <a href="#create-supplier" role="button" class="btn btn-primary" data-toggle="modal">
	               Create Supplier
                </a>
                <div class="modal hide fade" id="create-supplier" tabindex="-1" role="dialog" aria-labelledby="supplier-label" aria-hidden="true">
	                <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <h3 id="supplier-label">{% trans "Create a New Supplier" %}</h3>
	                </div>
	                <div class="modal-body">
		                <form class="validateMe" id="supplierForm" enctype="multipart/form-data" action="{% url create_supplier %}" method="POST" >
			                {% csrf_token %}
			                {{ supplier_form|as_bootstrap }}
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Save" %}' />
                            </div>
		                </form>
	                </div>
                </div>
            {% endif %}
{% endcomment %}
            <a class="report" href="{% url exchanges %}">{% trans "Exchange List" %}</a>
        </legend>

        {% if agent %}
          <div>
            <form id="exchangeForm" method="POST" action="">
                {% csrf_token %}
                Choose which type to create a new exchange: {{ nav_form.exchange_type }}
                <input style="display: inline; vertical-align: top;" type="submit" name="submit" value="{% trans 'Create Exchange' %}" class="btn btn-primary" /> 
            </form>
          </div>
        {% endif %}
        
        <div class="row-fluid">
        
            <div class="span6 reqs-supplier">
                <h3 style="margin-bottom: 4px;" >{% trans "Requirements by Supplier" %}:</h3>

                <ul>
                    {% for agent, sources in suppliers.items %}
                        <li><a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
                            <b>{{ agent.name }}</b> {% trans "Combined Score" %}: {{ agent.score }}
                        </li>
                        <ul>
                            {% for source, requirements in sources.items %}
                                <li>
                                    <b>{{ source.resource_type.name }}</b>  {% trans "Total required" %} {{ source.total_required }} 
                                    {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
                                </li>
                                <ul>
                                    {% for item in requirements %}
                                        <li>
                                            <b>{{ item.resource_type.name }}:</b> {{ item.quantity_to_buy }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }} 
                                            {% trans "for demand" %}: {{ item.independent_demand }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            </div>
		

		

			{% if mreqs %}
			    <div class="span6 matl-reqs">
		            <h3 style="margin-bottom: 4px;" >{% trans "Open Purchase Requirements" %}:</h3>
					    <ul>
						    {% for item in mreqs %}
							    <li>
								    <b>{{ item.resource_type.name }}:</b> {{ item.quantity_to_buy }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
							    </li>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
							    </p>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for demand" %}: {{ item.independent_demand }}
							    </p>
                                <ul>
								    {% for source in item.resource_type.producing_agent_relationships %}
									    <li>
										    <a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
										    {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
									    </li>
								    {% endfor %}
							    </ul>
						    {% endfor %}
					    </ul>
				    </div>
			{% endif %}
			
	    	{% if treqs %}
    	        <div class="span6 tool-reqs">

		            <h3 style="margin-bottom: 4px;" >{% trans "Open Tool Requirements" %}:</h3>
					    <ul>
						    {% for item in treqs %}
							    <li>
								    <b>{{ item.resource_type.name }}:</b> {{ item.quantity_to_buy }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
							    </li>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
							    </p>
							    <p style="margin-left: 1em; margin-bottom: 0;">
								    {% trans "for demand" %}: {{ item.independent_demand }}
							    </p>
                                <ul>
								    {% for source in item.resource_type.producing_agent_relationships %}
									    <li>
										    <a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
										    {{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %} {% trans "Score" %}: {{ source.score }}
									    </li>
								    {% endfor %}
							        </ul>
						        {% endfor %}
					        </ul>
	                 </div>
			    {% endif %}
			    
 
		</div>

	</div>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#supply').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow"); 
            $( "#help" ).text("Show Help");
        })

        $.validator.addClassRules("required-field", { required: true});

        jQuery.validator.setDefaults({ 
            success: function(label) {
		        label
			        .text('').addClass('valid')
			        .closest('.control-group').addClass('success');
	        }
        });

        $('.validateMe').each( function(){
			var form = $(this);
			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				}
			});
		});
/*
        $('#supplierForm').click(function (event) {
            var isValid = $("#supplierForm").validate();
            if (!isValid) {
                event.preventDefault();
            }
        });
*/
	}); // end document.ready
    </script>

{% endblock %}

