{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Supply" %}{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>{% trans "Supply" %}</legend>

			{% if reqs %}
		        <h3 style="margin-bottom: 4px;" >{% trans "Material Requirements" %}:</h3>
					<ul>
						{% for item in reqs %}
							<li>
								<b>{{ item.resource_type.name }}:</b> {{ item.quantity }} {{ item.unit_of_quantity }} {% trans "due" %} {{ item.due_date }}
							</li>
							<p style="margin-left: 1em; margin-bottom: 0;">
								{% trans "for process" %}: <a href="{{ item.process.get_absolute_url }}">{{ item.process }}</a>
							</p>
							<p style="margin-left: 1em; margin-bottom: 0;">
								{% trans "for order" %}: {{ item.independent_demand }}
							</p>
                            <ul>
								{% for source in item.resource_type.producing_agent_relationships %}
									<li>
										<a href="" role="button" class="btn btn-info" >{% trans "Buy from" %}</a>
										{{ source.agent.name }} {% trans "Lead time" %}: {{ source.lead_time }} {% trans "days" %}
									</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</ul>
			{% endif %}


	</div>
    </div>
{% endblock %}
