{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "Today" %}{% endblock %}
{% block extra_head %}

<style>
li {
    list-style-type: none;
}

.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}
.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
}
.for, .req-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}

.section {
    color:     #008A2E;
    font-size: 1em;
}
.work, .deliverable, .material, .subline {
    font-weight: normal;

}
.taken {
    font-style: italic;
    font-weight: bold;
    color: #5C8A8A;
}

.btn {
	margin-right: 2em;
}

.schedule, .todos, .events {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}

.events {
    margin-top: 2em;
    background-color: whitesmoke;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
}

#todoModal textarea {
  width: 400px;
  height: 200px;
}

.changeModal textarea {
  width: 400px;
  height: 200px;
}


.entry-label {
    text-align: right;
    vertical-align: middle;
}

.entry-buttons {
    padding-top: 4px;
    text-align: left;
}
.btn-mini {
    margin-bottom: 3px;
    margin-right: 0;
}

.todo-input {
    vertical-align: bottom;
}

.todo-table {
    margin-top: 1em;
}

th, td {
    padding-left:10px;
    padding-right:10px;
}

.did {
    padding: 0;
}

.my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    background-color: #F9F9F7;
}

.not-my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.entry-row {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
    background-color: #F9F9F7;
}

.who {
    font-size: 90%;
    white-space:nowrap;
}
.input-mini {
    width: 2em;
}

.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
}

.section {
    color:     #008A2E;
    font-size: 1em;
}

.deliverable {
    font-weight: normal;
    margin-left: 1em;

}

.labnote {
    background-color: beige;
    padding: 2px 6px 3px 6px;
    border: 1px solid gainsboro;
    margin-left: 1em;
}

.name {
    font-weight: bold;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	<div>
		<legend>
			{% trans "Today" %}
		</legend>
         <div class="row-fluid">
			    <div class="span6 schedule">
			        <h3>
			            {% trans "Work in process today" %}
		            </h3>
		            
                    {% if context_agents %}
                        <ul>
			                {% for project, processes in context_agents.items %}
			                    <li class="project-line"> {% trans "Context" %}: {% if project %} {{ project.name }} {% else %} No project {% endif %}</li>
			                    <ul>
			                        {% for process in processes %}
			                            <li class="process" >{% include  "valueaccounting/_process_for_sked.html" %}</li>
			                        {% endfor %}
			                    </ul>			                
			                {% endfor %}
			            </ul>
		            {% else %}
		                None
	                {% endif %}
			        
			    </div>

			    <div class="span6 todos">
			        <h3>
			            {% trans "Todos due today" %}
		            </h3>
		            {% if todos %}
		            <table class="todo-table" >
		                <thead>
		                    <tr>
		                        <th>{% trans "Due" %}</th>
		                        <th>{% trans "Who" %}</th>
		                        <th>&nbsp;</th>
		                        <th>{% trans "What" %}</th>
		                        <th>&nbsp;</th>
		                        {% comment %}
		                        <th>{% trans "Project" %}</th>
		                        {% endcomment %}
		                        <th>{% trans "Url" %}</th>
		                        {% comment %}
		                        <th>{% trans "Poster" %}</th>
		                        {% endcomment %}
		                        <th>&nbsp;</th>
		                    </tr>
		                </thead>
		                <tbody>
		                    {% for todo in todos %}
		                        {% if agent == todo.from_agent %}
	                                <tr class="my-row" >
                                {% else %}
                                    <tr class="not-my-row" >
                                {% endif %}
	                                <td>
	                                    {{ todo.due_date|date:"Y-m-d"  }}
	                                </td>
	                                <td class="who">
	                                    {% if todo.from_agent %}
	                                        Doer: {{ todo.from_agent }}
                                        {% else %}
                                            Doer:?
                                        {% endif %}
                                        </br>Poster: {{ todo.to_agent }}
	                                </td>
	                                <td colspan="3" >
	                                    {{ todo.description|urlize|linebreaks }}
	                                </td>
	                                {% comment %}
	                                <td>
	                                    {{ todo.project }}
	                                </td>
	                                {% endcomment %}
	                                <td>
						                {% if todo.url %}
							                <a href="{{ todo.url }}" target="_blank">Open</a>
						                {% endif %}
					                </td>
					                {% comment %}
	                                <td>
	                                    {{ todo.to_agent }}
	                                </td>
	                                {% endcomment %}
	                                <td>
	                                    
                                        {% if agent == todo.from_agent %}
                                            {% if todo.is_deletable %}
                                                {% if agent != todo.to_agent %}
                                                    <div class="entry-buttons" >
                                                        <form class="declineForm" id="declineForm-{{ todo.id }}" action="{% url todo_decline todo_id=todo.id %}" method="POST" >
							                                {% csrf_token %}
							                                <input type="hidden" name="next" value="{% url work %}" />
                                                            <input type="submit" name="submit" class="btn btn-warning btn-mini"  title="Decline" value="{% trans 'Decline' %}" />
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if agent == todo.to_agent %}
                                            <div class="entry-buttons" >
                                                <a href="#changeModal-{{ todo.id }}" role="button" class="btn btn-info btn-mini" data-toggle="modal">
					                                {% trans "Change" %}
				                                </a>
				                                {% if todo.is_deletable %}
                                                    <form class="deleteForm" id="deleteForm-{{ todo.id }}" action="{% url todo_delete todo_id=todo.id %}" method="POST" >
					                                    {% csrf_token %}
					                                    <input type="hidden" name="next" value="{% url work %}" />
                                                        <button class="btn btn-warning btn-mini" title="Delete" >{% trans "Delete" %}</button>
                                                    </form>
                                                {% endif %}
                                            </div>

                                            <div class="modal hide fade changeModal" id="changeModal-{{ todo.id }}" tabindex="-1" role="dialog" aria-labelledby="change-label" aria-hidden="true">
				                                <div class="modal-header">
					                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					                                <h3 id="change-label">{% trans "Change todo" %}</h3>
				                                </div>
				                                <div class="modal-body">

					                                <form class="changeForm" id="changeForm-{{ todo.id }}" action="{% url todo_change todo_id=todo.id %}" method="POST" >
						                                {% csrf_token %}
						                                {{ todo.todo_change_form|as_bootstrap }}
						                                <input type="hidden" name="next" value="{% url work %}" />
					                                  <div class="modal-footer">
						                                <input type="cancel" class="btn" data-dismiss="modal" aria-hidden="true" value='{% trans "Cancel" %}'/>
						                                <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Change" %}' />
					                                  </div>
					                                </form>
			                                  </div>
                                            {% elif not todo.from_agent %}
                                                <form class="mineForm" id="mineForm-{{ todo.id }}" action="{% url todo_mine todo_id=todo.id %}" method="POST" >
							                        {% csrf_token %}
                                                    <input type="submit" name="submit" class="btn btn-info btn-mini"  title="Mine" value="{% trans 'Mine!' %}" />
                                                </form>
                                            {% endif %}
	                                    </td>
                                </tr>   
                                {% if agent == todo.from_agent %}
                                    {% with todo.todo_event as event %}
                                    <tr class="entry-row" >
                                        <th class="entry-label" >{% trans "Did" %}:</td>
	                                    <td colspan="3" class="did" >
	                                        <textarea class="input-block-level did" id="{{ todo.id }}-didId" name="{{ todo.id }}-did" rows="3" 
	                                        />{% if event %}{{ event.description }}{% endif %}</textarea>
	                                    </td>
	                                    <th class="entry-label">
	                                        {% trans "Hours" %}:
	                                    </th>
	                                    <td class="todo-input" >
	                                        <form class="timeForm"id="timeForm-{{ todo.id }}" action="{% url todo_time %}" method="POST" >
								                {% csrf_token %}
	                                            <input class="input-mini optional-quantity" id="{{ todo.id }}-timeId" name="{{ todo.id }}-time" type="text" size="6" 
	                                                {% if event %} value="{{ event.quantity }}" {% else %} value="1" {% endif %}
	                                            />
                                            </form>
	                                    </td>
	                                    <td>
	                                        <form class="doneForm" id="timeForm-{{ todo.id }}" action="{% url todo_done todo_id=todo.id %}" method="POST" >
								                {% csrf_token %}
								                <input type="hidden" name="next" value="{% url work %}" />
	                                            <input type="submit" name="submit" class="btn btn-info btn-mini"  title="Done" value="{% trans 'Done' %}" />
                                            </form>
	                                    </td>
	                                </tr>
	                                {% endwith %}
	                            {% endif %}
		                    {% endfor %}
		                </tbody>
		            </table>
		            {% else %}
		                None
	                {% endif %}
			    </div>

		    </div>
            <div class="events" >
                <h3>
		            {% trans "Today's events" %}
	            </h3>
	            {% if events %}
	                <ul>
                        {% for event in events %}
                            <li><span class="name">
                                    {% if event.does_todo %}
                                        Todo 
                                    {% endif %}
                                    {{ event.event_type }} 
                                </span>
                                {{ event.doer }} {{ event.quantity }} {{ event.unit_of_quantity }} {{ event.resource_type }}
                                {% if event.process %}
                                    <div class="deliverable" >{% trans "Process" %}: <a href="{{ process.get_absolute_url }}">{{ event.process }}</a></div>
                                {% endif %}
                                {% if event.resource %}
                                    <div class="deliverable" >{% trans "Resource" %}: <a href="{% url resource resource_id=event.resource.id %}">{{ event.resource }}</a></div>
                                {% endif %}
                                {% if event.does_todo %}
                                    <div class="deliverable"> {% trans "Todo" %}: {{ event.commitment.description|urlize }}</div>
                                {% endif %}
                                {% if event.description %}
                                    <div class="labnote" >{{ event.description|urlize|linebreaks }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
	                None
                {% endif %}
            </div>

	</div>
    </div>
{% endblock %}
