{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "NRP Tutorials" %}{% endblock %}

{% block extra_head %}


<style>

</style>

{% endblock %}

{% block body_class %}tutorials{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
    <div>
        <legend>{% trans "NRP Tutorials" %}</legend>
        <div style="text-align: center; margin-bottom: 1em;" >
            Your first job is to create a model of your network, how it's organized, what it creates, and what it needs to do that. 
            The first 4 slide decks below should help. </br>
            {% comment %}For extra awesomeness, try the 5th. {% endcomment %}
            Or <a href="mailto:info@mikorizal.org">send an email</a> for even more help.
        </div>
        
        <div>
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script 
                            async class="speakerdeck-embed" data-id="3cf51566e9754ebd986acc767df2d1b8" 
                            data-ratio="1.77777777777778" src="https://speakerdeck.com/assets/embed.js">
                        </script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="ee7065a1d61a4f9787d4209de7bd8aa1" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="b0faa0fb346842a09db7a38f26a30d8b" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="667b2bbdd1e24a9791f4845658aca4a0" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="a658eaf444af4918a1a868ebf593b7b2" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="06b42067ff59444891b7826c4170398f" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="b7bfe030d99148bca8dd0232a11ecfdb" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="178be326c45b42bcb9e74b80cb748d88" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="c8d2a01b31bd4ec9a479acd0a704c77d" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="24d2c288ecc64262a55b3fc539f90564" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                <li class="span4">
                    <a href="#" class="thumbnail">
                        <script async class="speakerdeck-embed" data-id="a9a3be6149594d2491286f1888286d89" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
                    </a>
                </li>
                
            </ul>
            
        </div>
        
    </div>
    </div>
{% endblock %}

