{% extends "site_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Unfold" %} {{ process.name }}{% endblock %}

{% block extra_head %}

<style>
.title {
    color: firebrick;
}
.emph {
    font-weight: bold;
}
#focus {
    border: solid 1px gainsboro;
    background-color: beige; 
    padding: 4px;
    margin-bottom: 7px;   
}
.prevnext {
    border: solid 1px gainsboro;
    background-color: whitesmoke; 
    padding: 4px;
    margin-bottom: 7px;  
    width: 80%;
    }
.description {
    font-style: italic;
    font-size: 8pt;
}
.explain {
    color: #9EA6AE;
}
.et {
    color: forestgreen;
    font-weight: bold;
}
.section {
    border: solid 1px gainsboro;
    margin-top: 10px;
    padding: 5px;
}
.this {
    color: firebrick;
    font-weight: bold;
    background-color: #FFFFD6;
}
.thisblock {
    background-color: #FFFFD6;
}
.details {
    margin-top: 10px;
}

</style>
{% endblock %}

{% block body_class %}unfold{% endblock %}

{% block body_base %}
<div class="container">
        {% include "_messages.html" %}
    <div class="row-fluid">  
        <div class="span3">    
            <div class="explain">
                <p>A Process takes inputs and transforms them into outputs, 
                and may be connected to other Processes in process flows.
                {% if commitment %}
                    The work of <span class="this">{{ commitment.resource_type.name }}</span> 
                    contributes to This Process. </p>
                {% endif %}
            </div>
        </div>    
        <div class="span6">
            <div>
                <span class="explain">A Process happens in an organizational Context.</span></br>
                <span class="emph" >{% trans "Context" %}:</span> The {{ process.context_agent.agent_type }} 
                <a href="{{ process.context_agent.get_absolute_url }}">{{ process.context_agent.name }}</a> 
                {% if process.context_agent.description %}
                    <div class="description">{{ process.context_agent.description|urlize|linebreaks }}</div>
                {% endif %} 
            </div>
            {% if process.independent_demand %}
                <div><span class="explain">
                    {% if process.next_processes or process.previous_processes %}
                        This process is connected to other processes to fulfill a {{ process.independent_demand.get_order_type_display }}.</br>
                    {% else %}
                        This process fulfills a {{ process.independent_demand.get_order_type_display }}.</br>
                    {% endif %}</span>
                    <span class="emph" >{% trans "Order" %}:</span> 
                    <a href="{% url order_schedule order_id=process.independent_demand.id %}">{{ process.independent_demand }}</a>
                    {% if process.independent_demand.description %}
                        <div class="description">{{ process.independent_demand.description|urlize|linebreaks }}</div>
                    {% endif %}
                    
                </div>
            {% endif %}
        </div>
        <div class="span3">
            <div><a href="{% url projects %}">{% trans "All Contexts" %}</a></div>
            {% if process.independent_demand %}
                <div><a href="{% url demand %}">{% trans "All Orders" %}</a></div>
            {% endif %}
        </div>
    </div>
    <div class="section">
        <div class="row-fluid">      
            <div class="span3">
              <div class="prevnext pull-left">
                <h4 class="title">{% trans "Previous processes" %}:</h4>
                {% for proc in process.previous_processes %}
                    <p><span class="process" ><a href="{% url unfold_process process_id=proc.id %}">{{ proc }}</a></span></p>
                {% endfor %}
              </div>
              <img class="pull-left" src="{% static 'img/right.png' %}" />
            </div>
            <div class="span6" id="focus" >
                <h4 class="title">{% trans "This Process" %}:</h4>
                <a href="{{ process.get_absolute_url }}">{{ process }}</a>
                {% if process.notes %}
                    <div class="description">{{ process.notes|urlize|linebreaks }}</div>
                {% endif %}
                <div class="row-fluid">
                    <div class="span6 details">
                        <h4>{% trans "Input requirements" %}:</h4>
                        {% for item in process.incoming_commitments %}
                            <div{% if item.id == commitment.id %} class="thisblock"{% endif %}>
                                <span class="et">{{ item.event_type }}</span> 
                                {% if item.id == commitment.id %}<span class="this">{% endif %}
                                {{ item.resource_type }}
                                {% if item.id == commitment.id %}</span>{% endif %}
                                {% if item.event_type.name != "Citation" %}
                                    {{ item.quantity }} {{ item.unit_of_quantity }}
                                {% endif %}
                            </div>
                            {% if item.description %}
                                <div class="description{% if item.id == commitment.id %} thisblock{% endif %}">{{ item.description|urlize|linebreaks }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="span6 details">
                        <h4>{% trans "Output plans" %}:</h4>
                        {% for item in process.outgoing_commitments %}
                            <div>{{ item.resource_type }} {{ item.quantity }} {{ item.unit_of_quantity }}</div>
                            {% if item.description %}
                                <div class="description">{{ item.description|urlize|linebreaks }}</div>
                            {% endif %}
                        {% endfor %}
                        {% if process.production_events %}
                            <h4>{% trans "Resources created" %}:</h4>
                            {% for item in process.production_events %}
                                <div>
                                <a href="{{ item.resource.get_absolute_url }}">
                                {{ item.resource }}
                                </a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="span3">
              <img class="pull-left" src="{% static 'img/right.png' %}" />
              <div class="prevnext pull-left">
                <h4 class="title">{% trans "Next processes" %}:</h4>
                {% for proc in process.next_processes %}
                    <p><span class="process" ><a href="{% url unfold_process process_id=proc.id %}">{{ proc }}</a></span></p>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>

</div>
    
{% endblock %}
{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
    {{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

    $("#connections").on( "click", "button", connect );

    }); // end document.ready

    function connect(event)
    {
        var target = event.target;
        var li = target.parentNode;
        var nbr = parseInt(target.id[1]);
        nbr += 1;
        var lid = "#" + li.id;
        var nextLid = 'l' + nbr;
        nextLid = '"' + nextLid + '"';
        var nextBid = 'c' + nbr;
        nextBid = '"' + nextBid + '"';
        var insert = '<ul><li id=' + nextLid + '>Something else <button id='+ nextBid + ' class="btn btn-info btn-mini" >Connections</button></li></ul>';
        $(lid).after(insert);
        
    }
      
    </script>

{% endblock %}
