{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_tags %}


{% block head_title %}{% trans "Log Unscheduled Time Contributions" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.days, .hours, .minutes 
{
	width: 18px;
}

.item-description
{
	width: 20em;
    height: 40px;
}
.item-date
{
	width: 70px;
}

.headings
{
    background: lightgrey;
}

</style>

{% endblock %}

{% block body_class %}log{% endblock %}

{% block body_base %}
<div class="container">
	<legend>{% trans "Log Unscheduled Time Contributions for " %} {{ member.name }}</legend>
	<p>Both Date and Time spent are required for a contribution to be saved.</p>

    <form id="contributionsForm" method="POST" action=".">
	    {% csrf_token %}
	    {{ time_formset.management_form }}
	    <table class="table table-bordered table-condensed table-hover">
	        <thead>
	            <tr class="headings">
	                <th>{% trans "Date" %}</th>
	                <th>{% trans "Type of work" %}</th>
	                <th>{% trans "Project" %}</th>
	                <th>{% trans "Time spent" %}</th>
	                <th>{% trans "Credit for value equations" %}</th>
	                <th>{% trans "Description" %}</th>
	                <th>{% trans "URL" %}</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for form in time_formset %}
	            <tr>
	                <td>{{ form.event_date }}</td>
	                <td>{{ form.resource_type }}</td>
	                <td>{{ form.context_agent }}</td>
	                <td style="white-space:nowrap;" >
	                    {{ form.quantity }}</br>
	                    {{ form.quantity.help_text }}
                    </td>   
                    <td>{{ form.is_contribution }}</td>
	                <td>{{ form.description }}</td>
	                <td>{{ form.url }}</td>
	            </tr>
           	{% endfor %}
           	<tr>
           	    <td>&nbsp;</td><td>&nbsp;</td><td style="text-align: right;" >{% trans 'Total' %}:</td>
           	    <td style="text-align: right;" ><span id="total"></span> {% trans 'hours' %}</td>
           	    <td>&nbsp;</td><td>&nbsp;</td>
           	</tr>
            </tbody>
        </table>
        <div class="row-fluid">
            <div class="span9">
            </div>
            <div class="span3" >
			    <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary" /> 
			    <input type="submit" name="keep-going" value="{% trans 'Save and add more' %}" class="btn btn-primary" />
			</div>
	   	</div>

    </form>

</div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){
    
        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
    
        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });
        
        $.validator.addClassRules("url", { url: true, maxlength: 255 });
        
        $( "#contributionsForm" ).validate({
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');
            },
        });

        $('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });
        $(".chzn-select").chosen();

        $('.date-entry').change(function(event) 
		{
		    var field = event.target;
		    var id = field.id;
		    var value = field.value;
		    var prefix = id.slice(0,8);
		    var nbr = parseInt(id.slice(8,9));
		    start = nbr + 1;
		    for (i=nbr+1;i<8;i++)
		    {
                nextId = "#" + prefix + i + "-event_date";
                $(nextId).val(value);
		    }

		});

        $('.hours').blur(sumTime);
        $('.minutes').blur(sumTime);


    }); // end document.ready

    function sumTime(event)
	{
	    var prefix = "id_form-";
	    var total = 0.0;
	    for (i=0;i<8;i++)
	    {
            var hourId = "#" + prefix + i + "-quantity_0";
            var hours = parseInt($(hourId).val());
            var minuteId = "#" + prefix + i + "-quantity_1";
            var minutes = parseInt($(minuteId).val());
            var duration = hours; 
            duration += (minutes / 60);
            total += duration; 
	    }
        $("#total").text(Math.round(total*100)/100);
	}

    </script>
    
{% endblock %}
