{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Value Equations" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    margin-left: 1em;
}
.using {
    margin-left: 1em;
}
.heading {
    margin: 1em .5em 0 .5em;
    color: firebrick;
    font-size: 1.5em;
    font-weight: bold;
}
.ve {
    font-size: 1.2em;
    font-weight: bold;
}
.btn-primary, .btn-info {
    margin-left: 1em;
}
.live {
    color: firebrick;
    font-weight: normal;
}
.link {
    margin-left: 1em;
    font-weight: normal;
    font-size: 1em;
}

</style>

{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
      <div>

        <legend>
            {% trans "Value Equations" %}  
            {% if agent %}
                <a class="btn btn-info" href="{% url edit_value_equation %}">{% trans "Create Value Equation" %}</a>
            {% endif %}
            &nbsp;&nbsp;
            <a href="{% url virtual_accounts %}">{% trans "Virtual Accounts" %}</a>
            &nbsp;&nbsp;
            <a href="{% url distributions %}">{% trans "Distributions" %}</a>
        </legend>

        <div class="ves" >
            {% for ve in value_equations %}

                <div class="ve"><a href="{{ ve.get_absolute_url }}">{{ ve.name }}</a>
                    <span class="live">({% if ve.live %}{% trans "Live" %}{% else %}{% trans "Test Only" %}{% endif%})</span>
                    {% if user = ve.created_by or user.is_superuser %}
                        <form
                            style="display: inline;"  
                            action="{% url edit_value_equation value_equation_id=ve.id %}" 
                            method="GET" >
                            <button style="display: inline;"  class="btn btn-primary" title="Change" >Change</button>
                        </form>
                        {% if ve.is_deletable %}
                            <form
                                style="display: inline;"  
                                action="{% url delete_value_equation value_equation_id=ve.id %}" 
                                method="POST" >
                                {% csrf_token %}
                                <button style="display: inline;"  class="btn btn-warning" title="Delete" >Delete</button>
                            </form>
                        {% endif %}
{% comment %}
                        <form
                            style="display: inline;"  
                            action="{% url value_equation_sandbox value_equation_id=ve.id %}" 
                            method="GET" >
                            <button style="display: inline;"  class="btn btn-info" title="Change" >Experiment in the Sandbox</button>
                        </form>
{% endcomment %}
                    {% endif %}
                    <a class="link" href="{% url value_equation_sandbox value_equation_id=ve.id %}">Value Equation Sandbox</a> 
                    {% if agent %}
                      {% if ve.live and user.is_staff %}
                        <a class="link" href="{% url create_distribution_using_value_equation agent_id=ve.context_agent.id value_equation_id=ve.id %}">Distribute Income</a>
                      {% endif %}
                    {% endif %}
                </div> 
                <div class="using">For: <b>
                    {% if ve.context_agent %}
                        {{ ve.context_agent.nick }}
                    {% else %}
                        None
                    {% endif %}</b>
                </div>
                {% if ve.description %}
                    <div class="description" >{{ ve.description|urlize|linebreaks }}</div>
                {% endif %}

            {% endfor %}
        </div>
     </div>
    </div>

{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){

        $('#distribution').addClass('active');

        $( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })
        
    }); // end document.ready
    
    </script>
{% endblock %}

