{% extends "site_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Work" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<style>

li {
    list-style-type: none;
}
.project-line {
    font-size: 1.2em;
    color: brown;
    font-weight: bold;
    margin-top: 1.5em;
}
.process {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: .8em;
}
.for {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}
.section {
    color:     #008A2E;
    font-size: 1em;
}
.work, .deliverable, .material, .subline {
    font-weight: normal;

}
.taken {
    font-style: italic;
    font-weight: bold;
    color: #5C8A8A;
}

.btn {
	margin-right: 2em;
}
.my-work {
    background-color: lightyellow;

}
.my-skills {
    background-color: beige;
}
.other-unassigned {
    background-color: whitesmoke;
}
.other-work {
    background-color: whitesmoke;
}
.my-work, .my-skills, .other-unassigned, .other-work {
    padding: 2px 6px 3px 6px;
    margin-bottom: 12px;
    border: 1px solid gainsboro;
}

</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
	    <div>
		    <legend>
		        {% trans "Work" %} &nbsp;&nbsp;&nbsp;<a href="{% url timeline %}">{% trans "Timeline" %}</a>&nbsp;&nbsp;&nbsp;&nbsp;
		        {% if agent %}
					<a class="btn btn-primary" href="{% url process_selections rand=1 %}">{% trans "Create R&amp;D Order" %}</a>
			    {% endif %}
	        </legend>

	        <form id="dateForm" action="." method="POST" >
                {% csrf_token %}
                <div id="div_id_start_date" class="control-group" style="display: inline;" >     
                    <label for="id_start_date" class="control-label required-field" style="display: inline; vertical-align: text-bottom;" >
                        Start date
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ date_form.start_date }}
                    </div>
                </div>
                <div id="div_id_end_date" class="control-group" style="display: inline;" >     
                    <label for="id_end_date" class="control-label required-field" style="display: inline;  vertical-align: text-bottom; " >
                        End date
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ date_form.end_date }}
                    </div>
                </div>
                <input type="submit" name="submit" class="btn btn-info" style="display: inline; vertical-align: top;" value="{% trans 'Reload' %}" />
	        </form>

	        <div class="row-fluid">
			    <div class="span12 schedule">
			        <h3>{% trans "Work in process" %}</h3>
                    {% if projects %}
                        <ul>
			                {% for project, processes in projects.items %}
			                    <li class="project-line"> {% trans "Project" %}: {% if project %} {{ project.name }} {% else %} No project {% endif %}</li>
			                    <ul>
			                        {% for process in processes %}
			                            <li class="process" >{% include  "valueaccounting/_process_for_sked.html" %}</li>
			                        {% endfor %}
			                    </ul>			                
			                {% endfor %}
			            </ul>
		            {% else %}
		                None
	                {% endif %}
			        
			    </div>

		    </div>

	    </div>
    </div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#work').addClass('active');

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		jQuery.validator.setDefaults({ 
		    success: function(label) {
					label
						.text('').addClass('valid')
						.closest('.control-group').addClass('success');
				}
		});


		$.validator.addClassRules("quantity", { required: true, number: true });


		$('.commitmentForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},

			});
		});


	}); // end document.ready
    </script>

{% endblock %}
