{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}

<style>

h1, h2 {
    text-align: center;
}

</style>

{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Freedom COOP</h1>
        <h2>Welcome to the Online Collaborative Platform</h2>
        <br /><br />
        <p><b>To start using the OCP:</b></p>
        <ul>
        <li>First, you need an account on the system. Talk to a Freedom Coop administrator if you don't have one.</li>
        <li>You should go to the My Profile page and update your information and register your skills.</li>  
        <li>You can also add yourself to the Map page.</li>
        <li>After you are set up, you can log your work in either the Non-process Logging or the Process Logging page, depending on the type of work or project you are involved with.</li>
        </ul>
        
        <p>You can also find help on each page, in the upper right corner.</p>
    </div>
{% endblock %}

{% block extra_script %}
	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="{% static 'js/jquery.maphilight.min.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#home').addClass('active');
		
		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" ); 
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

        $('.map').maphilight();

	}); // end document.ready
    </script>

{% endblock %}

