[main]
# This data is for jsonrpc communication between processes.
password = XXX
host = localhost
port = 8069

[electrum]
# This data is for electrum-fair wallet.
wallet_path = /home/ocp/.electrum-fair/wallets/ocp_wallet
seed = XXX
password = XXX 
gap_limit = 5
use_change = False


[network]
server = chain.fair-coin.org:51002:s
proxy = None
fee = 1000

