/*  M A I N   M E N U   */

.dropdown-menu a {
	padding: 4px 15px 5px;
}
ul.subnavsub li {
	list-style-type: disc;
	/*list-style-position: inside;*/
}
ul.subnavsub {
	margin: 0 0 0px 16px;
  list-style: inside;
}
ul.subnavsub a {
	display: inline-block;
	padding: 2px 7px 4px 7px;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	color: #aaa;
	background-color: #fff;
}

/*   G E N E R A L   */

div.pull-right {
	margin-top: 5px;
}
a {
	color: #734279;
}
a:hover {
	color: #a372a9;
}
legend {
  color: #476B6B;
  font-weight: bold;
  border-bottom: 2px solid #678B8B;
}
h3, h4 {
  color: #476B6B;
}
ul h4 {
  color: inherit;
}

li > h4 {
  display: inline-block;
}

th {
  background-color: #f0f0da
}

legend .subnav {
  float: right;
}
legend .subnav .indent {
  margin-left: 30px;
  font-size: 85%;
}

span.error {
  color: #944;
  font-weight: bold;
}

.btn-primary {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.btn-primary:hover {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}

/*   M E M B E R S H I P   P R O C E S S   P A G E   */

#member-request-block th, #agent-table-block th {
	text-align: right;
	background-color: #f0f0da;
}
#member-request-block td {
	padding: 5px 8px 4px 10px;
	max-width: 960px;
	width: 100%;
	overflow: auto;
}

#member-request-block, #member-request-comments {
	/*max-width: 1024px;*/
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #ddd;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 99%;
	margin-top: 8px;
	font-weight: normal;
}


/*   M Y   T A S K S   P A G E   */

div#my_tasks, div#take-new-task {
  width: 100%;
  margin-left: 0;
}

div#my_tasks table, div#take-new-task table {
  width: 100%;
}

/*   H O M E - D A S H B O A R D   */

.home-block {
  background-color: #f0f0da;
  padding: 7px 15px;
  max-width: 540px;
  float: left;
  margin-right: 13px;
  margin-top: 13px;

  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.home-block li {
  margin-top: 8px;
}


/*   Y O U R   P R O J E C T S   P A G E   */

.modal-body {
  color: #333;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  max-height: 450px;
}
.modal-body p.help-block {
  padding-bottom: 9px;
}

.modal {
  width: 580px;
}

legend a.btn {
  margin-bottom: 9px;
}


/*   J O I N   R E Q U E S T S   P A G E   */

ul#id_state {
  list-style: none;
  display: inline-block;
}
ul#id_state li {
  display: inline-block;
  margin-right: 20px;
  color: #734279;
}
ul#id_state li label {
  font-weight: bold;
  text-transform: capitalize;
}
form#stateForm {
  margin-bottom: 0;
}
.join_requests form.action-form {
  margin: 5px;
}

/*   I N T E R N A L   J O I N   R E Q U E S T   */

#joinForm {
  max-width: 650px;
}
#joinForm label.control-label {
  font-weight: bold;
  margin-bottom: 8px;
}
#joinForm textarea {
  width: 100%;
}
#joinForm div.control-group {
  margin-bottom: 20px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 0px;
}
#joinForm input[type="textarea"], #joinForm input[type="text"], #joinForm input[type="email"], #joinForm input[type="url"], #joinForm textarea {
	width: 98%;
}
