/*  M A I N   M E N U   */
ul.subnavsub li {
	list-style-type: disc;
	list-style-position: inside;
}
ul.subnavsub {
	margin: 0 0 9px 0px;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	color: #aaa;
	background-color: #fff;
}


/*  M E M B E R S H I P   P R O C E S S   P A G E   */

#member-request-block th {
	text-align: right;
	background-color: #f5f7f7;
}
#member-request-block td {
	padding: 5px 8px 4px 10px;
	max-width: 960px;
	width: 100%;
	overflow: auto;
}

#member-request-block, #member-request-comments {
	/*max-width: 1024px;*/
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #ddd;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 99%;
	margin-top: 8px;
	font-weight: normal;
}

div.pull-right {
	margin-top: 5px;
}
a.help-link {
	color: #476B6B;
}
a.help-link:hover {
	color: #333;
}
