#member-request-block th {
	text-align: right;
	background-color: #eeefef;
}
#member-request-block td {
	padding: 3px 8px;
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #eee;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 100%;
}
