/*  M A I N   M E N U   */

.dropdown-menu a {
	padding: 4px 15px 5px;
}
ul.subnavsub li {
	list-style-type: disc;
	/*list-style-position: inside;*/
}
ul.subnavsub {
	margin: 0 0 0px 16px;
  list-style: inside;
}
ul.subnavsub a {
	display: inline-block;
	padding: 2px 7px 4px 7px;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	color: #aaa;
	background-color: #fff;
}

/*   G E N E R A L   */

div.pull-right {
	margin-top: 5px;
}
a {
	color: #375B5B;
}
a:hover {
	color: #666;
}

li > h4 {
  display: inline-block;
}


/*   M E M B E R S H I P   P R O C E S S   P A G E   */

#member-request-block th, #agent-table-block th {
	text-align: right;
	background-color: #f3f5f5;
}
#member-request-block td {
	padding: 5px 8px 4px 10px;
	max-width: 960px;
	width: 100%;
	overflow: auto;
}

#member-request-block, #member-request-comments {
	/*max-width: 1024px;*/
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #ddd;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 99%;
	margin-top: 8px;
	font-weight: normal;
}


/*   M Y   T A S K S   P A G E   */

div#my_tasks, div#take-new-task {
  width: 100%;
  margin-left: 0;
}
