/*  M A I N   M E N U   */

.dropdown-menu a {
	padding: 4px 15px 5px;
}
ul.subnavsub li {
	list-style-type: disc;
	/*list-style-position: inside;*/
}
ul.subnavsub {
	margin: 0 0 0px 16px;
  list-style: inside;
}
ul.subnavsub a {
	display: inline-block;
	padding: 2px 7px 4px 7px;
}
a.disabled {
	color: #aaa;
}
a.disabled:hover {
	color: #aaa;
	background-color: #fff;
}

/*   G E N E R A L   */

div.pull-right {
	margin-top: 5px;
}
a {
	color: #734279;
}
a:hover {
	color: #a372a9;
}
legend {
  color: #476B6B;
  font-weight: bold;
}
h3, h4 {
  color: #476B6B;
}
ul h4 {
  color: inherit;
}

li > h4 {
  display: inline-block;
}

.btn-primary {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.btn-primary:hover {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}

/*   M E M B E R S H I P   P R O C E S S   P A G E   */

#member-request-block th, #agent-table-block th {
	text-align: right;
	background-color: #f3f5f5;
}
#member-request-block td {
	padding: 5px 8px 4px 10px;
	max-width: 960px;
	width: 100%;
	overflow: auto;
}

#member-request-block, #member-request-comments {
	/*max-width: 1024px;*/
}

#member-request-comments > .row-fluid {
	font-size: 1.1em;
	font-weight: bold;
}
#member-request-comments dt {
	font-size: 0.9em;
	font-weight: normal;
	color: #666;
	margin-top: 13px;
	/*width: 170px;*/
}
#member-request-comments dd {
	border: solid 1px #ddd;
	padding: 8px 10px 2px 12px;
  margin: 5px 0;
  font-size: 1em;
	font-weight: normal;
  background-color: #f8fafa;
}
textarea#id_comment {
	width: 99%;
	margin-top: 8px;
	font-weight: normal;
}


/*   M Y   T A S K S   P A G E   */

div#my_tasks, div#take-new-task {
  width: 100%;
  margin-left: 0;
}

div#my_tasks table, div#take-new-task table {
  width: 100%;
}

/*   H O M E - D A S H B O A R D   */

.home-block {
  background-color: #f0f0da;
  padding: 7px 15px;
  max-width: 540px;
  float: left;
  margin-right: 13px;
  margin-top: 13px;

  border: 1px solid #CACAC6;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}

.home-block li {
  margin-top: 8px;
}
