body { /*p, a, h1, h2, h3, h4, h5 {*/
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif !important;
	font-size: 0.9em !important;
	text-align: center;
	line-height: 20px !important;
}

table.landing {
	max-width: 650px;
	width: 90%;
}

form#lang-switch {
	position: absolute;
	top: 0;
	right: 0;
}

div.base-form {
	display: inline-block;
	max-width: 650px;
	width: 90%;
  color: #fff;
}
form#membershipForm, form#joinForm {
	background-color: rgba(255,255,255,0.2);
	padding: 20px;
	text-align: center;
}
#membershipForm > div, #joinForm > div {
	text-align: left;
}
.base-form .control-group {
	margin-bottom: 18px;
}
.help-block {
	color: #ddd;
	margin-top: -5px !important;
	font-size: 0.9em;
}
.control-label {
	color: #fff;
	font-size: 1em;
}
.base-form .control-label {
	font-weight: bold;
}
h1 {
	font-size: 35px !important;
}
h1, h2, h4, h5 {
	color: #fff !important;
}
h3 {
	color: #734279 !important;
	margin-top: 0;
	text-align: left;
	font-size: 1.4em !important;
}
p {
	color: #fff;
	text-align: left;
	margin: 15px 0 !important;
}
li {
	text-align: left;
	margin: 10px 0;
}
a, a:visited {
	color: #a03;
	text-decoration: none;
}
a:hover {
	color: #c03;
	text-decoration: none;
}

input[type="checkbox"] {
	width: 30px !important;
}
input {
	width: 190px !important;
}

.landing .btn-primary, body .btn {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}
.landing .btn-primary:hover, body .btn:hover {
  background-color: #a372a9;
  background-image: -ms-linear-gradient(top, #c392c9, #a372a9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c392c9), to(#a372a9));
  background-image: -webkit-linear-gradient(top, #c392c9, #a372a9);
  background-image: -o-linear-gradient(top, #c392c9, #a372a9);
  background-image: -moz-linear-gradient(top, #c392c9, #a372a9);
  background-image: linear-gradient(top, #c392c9, #a372a9);
}

.landing .btn, .btn {
	padding: 10px 20px 10px;
  text-shadow: none;
}
body .btn, body .btn:hover {
	color: inherit;
}
.landing h4 a.btn, .btn {
	font-size: 1em;
}
.base-form input[type="textarea"], .base-form input[type="text"], .base-form input[type="email"], .base-form textarea {
	width: 98% !important;
}
.base-form input[type="submit"] {
	width: 150px !important;
	clear: both;
}
.base-form #div_id_captcha input {
	width: 130px !important;
	margin-left: 20px;
}

div.home-text {
	margin: 10px 6em;
	color: #fff;
}
table.landing {
	border-spacing: 10px;
	color: #fff;
	border-collapse: separate;
}
td.login-block, td.register-block {
	background-color: rgba(250,250,250,0.2);
	height: 200px;
	padding: 20px;
	vertical-align:top;
	width: 50%;
}
td.login-block div.log {
	/*padding: 0 20px 20px;*/
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
	display: none !important;
}
.form-actions:before, .form-actions:after {
    display: none !important;
}

.login-block div > label {
	float: left;
	width: auto !important;
	/*padding: 10px 0;
	font-size: 0.8em;*/
}
.login-block #div_id_username label {
	width: 80px !important;
  text-align: left;
}
.login-block div.control-group {
	padding: 20px 0;
	margin-bottom: 0;
	margin-top: 10px;
}
.login-block .controls {
	float: right;
	margin-left: 0 !important;
}
.login-block .form-actions {
	padding: 17px 0 20px !important;
	background: none;
	border: 0;
	margin-top: 0;
}
.login-block .form-actions a, .login-block .form-actions a:visited {
	font-size: 0.9em;
	font-weight: normal;
	float: left;
	color: #fff;
}
.login-block .form-actions a:hover {
	color: #c03;
	text-decoration: none;
}
.login-block .form-actions button {
	float: right;
}
