
{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% if request.user.is_authenticated %}

  {% block head_title %}{% trans "Request to join a project" %}{% endblock %}

  {% block extra_head %}

  <!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" /> -->

  <style>

  </style>

  {% endblock %}

  {% block body_class %}request_to_join{% endblock %}

  {% block body_base %}
  <div class="container">
          {% include "_messages.html" %}
     <div>

        <legend>
            {% trans "Request to join:" %} {{ project.agent.name }}

            {% if user.agent.agent.is_active_freedom_coop_member or user.is_staff %}


            {% endif %}

            <div class="subnav">

              <a class="indent" href="{% url 'members_agent' agent_id=project.agent.id %}">{% trans "View Project" %}</a>
              <a class="indent" href="{% url "your_projects" %}">{% trans "Your Projects" %}</a>
              <a class="indent" href="{% url "project_work" %}">{% trans "Projects Tasks" %}</a>

              <!-- <a class="indent" href="{% url "demand_exchanges" %}">{% trans "All demand exchanges" %}</a>
              <a class="indent" href="{% url "project_network" %}">{% trans "Network diagram" %}</a>
              <a class="indent" href="{% url "cash_report" %}">{% trans "Cash Flow Report" %}</a>
              <a class="indent" href="{% url "value_equations" %}">{% trans "Value Equations" %}</a> -->

             </div>
        </legend>

        <div>
          {% if user.agent.agent in project.agent.members %}
            <p>
              {% trans "You already are an active participant of this project!" %}
            </p>
          {% else %}
            <form id="joinForm" class="validateMe" action="." method="POST" >
              {% csrf_token %}
              {{ join_form|as_bootstrap }}
              {{ fobi_form|as_bootstrap }}

              <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
            </form>
          {% endif %}
       </div>
    </div>
  </div>
  {% endblock %}
  {% block extra_script %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}

{% else %}
  <div>
    ERROR
  </div>
{% endif %}
