{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load comments %}

{% block head_title %}{% trans "My Dashboard" %}{% endblock %}

{% block extra_head %}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

/*
.commitmentModal {
	max-height: 800px;
}

.commitmentModal {
	width: 900px;
}
*/

.btn {
	margin-right: 2em;
}
.my-work {
    background-color: whitesmoke;

}
.my-skills {
    background-color: #FAFAEE;
}
.other-unassigned, .unassigned-todos {
    background-color: #FAFAEE;
}
.todos {
    background-color: whitesmoke;
}
.my-work, .my-skills, .other-unassigned, .todos, .unassigned-todos {
    padding: 2px 6px 3px 6px;
    margin-bottom: 12px;
    border: 1px solid gainsboro;
}

.work-description {
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
}

#todoModal textarea {
  width: 400px;
  height: 200px;
}

.changeModal textarea {
  width: 400px;
  height: 200px;
}

.commitmentModal textarea {
  width: 400px;
  height: 200px;
}

.entry-label {
    text-align: right;
    vertical-align: middle;
}

.entry-buttons {
    padding-top: 4px;
    text-align: left;
}

.btn-mini {
    margin-bottom: 3px;
}

.todo-input {
    vertical-align: bottom;
}

.todo-table {
    margin-top: 1em;
}

th, td {
    padding-left:10px;
    padding-right:10px;
}

.did {
    padding: 0;
    height: 46px;
}

.my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
}

.odd {
    background-color: #F9F9F7;
}

.even {
    background-color: #EDEDE6;
}

.not-my-row {
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.entry-row {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgrey;
}

.who {
    font-size: 90%;
    white-space:nowrap;
}
.input-mini {
    width: 2em;
    margin-right: 0;
}
.top-buttons a {
    margin-right: 30px;
}
.cancel {
    width: 80px;
}
.description {
    color: firebrick;
    font-weight: bold;
}
.date {
    font-weight: bold;
}
.deleteForm {
    margin-bottom: 0;
    margin-right: 0;
}
.edit-button {
    margin-right: 2px;
    display: inline;
    margin-top: 0;
}
.del-button {
    margin-right: 0;
}
.error {
    color: red;
    font-size: 70%;
}
*/
</style>
{% endblock %}

{% block body_class %}work{% endblock %}

{% block body_base %}
<div class="container">
  {% include "_messages.html" %}

	<legend>
      {% if agent.is_active_freedom_coop_member %}
		    {% trans "Welcome to the Freedom Coop!" %}
      {% else %}
        {% trans "Welcome to the Open Collaborative Platform!" %}
      {% endif %}
  </legend>

	<div class="row-fluid">
  {% if agent.is_active_freedom_coop_member %}
    <p>
      {% trans "This are the available tools for members:" %}
    </p>
  {% else %}
    {% if agent.membership_request %}
      <p>
        {% trans "As you already received your login information you are currently a membership candidate:" %}
      </p>
      <p>
        {% trans "To become a full member <b>the next step</b> is send enough Faircoins to your new OCP Faircoin account, to pay for the number of shares mentioned in your membership register form. Please transfer at least the equivalent amount of Faircoins to your new online Faircoin address in the <b>Faircoin account</b> page." %}
      </p>
      <p>
        {% trans "When you have enough Faircoins in your new online account, you will see a button to make the transaction for your shares. Once pushed you'll become a full member of Freedom Coop and will have more tools available." %}
      </p>
    {% elif agent.is_participant %}
      <p>
        {% trans "As a <b>participant</b> in a project, you can collaborate doing tasks." %}
      </p>
    {% elif agent.is_participant_candidate %}
      <p>
        {% trans "As a <b>participant candidate</b> in a project, you should be accepted by the project coordinators before you can collaborate doing project tasks." %}
      </p>
    {% endif %}
    <p>
      {% trans "The options you already have in OCP are:" %}
    </p>
  {% endif %}

  {% if agent.is_active_freedom_coop_member %}
    <div id="home-projects" class="home-block" >
      <h3>
        {% trans "Projects:" %}
      </h3>
      <ul>
        <li><h3><a href="{% url 'your_projects' %}">{% trans 'Your projects' %}</a></h3>
          {% trans "Here you can see the projects you are involved in and their structure. If you are a project coordinator you can manage your project also here." %}
        </li>
        <li><h3><a href="{% url 'project_work' %}">{% trans 'Your project tasks' %}</a></h3>
          {% trans "A complet list of tasks related to the projects you are involved in." %}
        </li>
        <li><h3><a href="#">{% trans 'Plan project proceses' %}</a> <small><em>{% trans "(coming soon)" %}</em></small></h3>
          {% trans "Here you can define a work plan for your managed project and setup the needed process with work orders and tasks." %}
        </li>
        <li><h3><a href="#">{% trans "OCP project's tutorial" %}</a> <small><em>{% trans "(coming soon)" %}</em></small></h3>
          {% trans "To learn how to use OCP and structure your project and create process plans for it" %}
        </li>
      </ul>
    </div>
  {% endif %}

    <div id="home-tasks" class="home-block" >
      <h3>
        {% trans "Tasks:" %}
      </h3>
      <ul>
        <li><h3><a href="{% url 'my_tasks' %}">{% trans "Your tasks" %}</a></h3>
          {% trans "The list of active tasks assigned to you by project proceses or simple tasks that you can also create by yourself. Here you can log the work you are doing." %}
        </li>
        <li><h3><a href="{% url 'take_new_tasks' %}">{% trans "Take a new task" %}</a></h3>
          {% trans "Here a list of unassigned tasks using your skills, so you can take some of them if you want. After that, these tasks will be assigned to you in 'your tasks' page." %}
        </li>
        <li><h3><a href="{% url 'non_process_logging' %}">{% trans "Log extra tasks" %}</a></h3>
          {% trans "Here you can log other tasks you did related to a project, but are not part of a defined project process." %}
        </li>
        <li><h3><a href="{% url 'my_history' %}">{% trans "History of tasks" %}</a></h3>
          {% trans "The list of all the tasks you already did and log in the platform." %}
        </li>
      </ul>
    </div>

    {% if agent.joinaproject_requests %}
      <div id="joinaprojects" class="home-block">
        <h3>
          {% trans "Joining Projects:" %}
        </h3>
        <ul>
        {% for req in agent.joinaproject_requests %}
          <li><h4><a href="{% url 'project_feedback' agent_id=req.project.agent.id join_request_id=req.id %}">
            {% trans "Feedback with" %} {{ req.project.agent.name }}</a>
          </h4></li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if request.user.agent.agent.faircoin_resource and not agent.joinaproject_requests %}
    <div id="home-account" class="home-block" >
      <h3><a href="{% url "manage_faircoin_account" resource_id=request.user.agent.agent.faircoin_resource.id %}">{% trans "Faircoin Account" %}</a></h3>
      <p>{% trans "Here you can manage your online Faircoin account in the OCP. In this account you will receive internal payments for the tasks you did. You can see your Faircoin address and you can send here external Faircoins from your personal wallet (or from Euros using <a href='https://getfaircoin.net' target='_blank'>https://getfaircoin.net</a>) if you need to pay something in OCP and have not earned enough Faircoins doing tasks." %}
      </p>
    </div>
    {% endif %}

    {% with request.user.agent.agent.membership_request as mreq %}
    {% if mreq %}
    <div id="home-membership" class="home-block" >
      <h3>
            <a href="{% url 'membership_discussion' membership_request_id=mreq.id %}">{% trans "Membership" %}</a>
            {% get_comment_count for mreq as comment_count %}
            {% if comment_count %}
                <span class="comments">
                    - {{ comment_count }} 
                    {% if comment_count == 1 %}
                        {% trans "comment" %}
                    {% else %}
                        {% trans "comments" %}
                    {% endif %}
                </span>
            {% endif %}
      </h3>
      <p>{% trans "Your FreedomCoop membership request data and a comments thread to comunicate with the Welcome Team about your particular case or project." %}
      </p>
    </div>
    {% endif %}
    {% endwith %}

    <div id="home-profile" class="home-block" >
      <h3><a href="{% url "profile" %}">{% trans "Profile" %}</a></h3>
      <p>{% trans "In this page you can see and edit your personal data and image, see your relations to projects, and also define your working skills." %}
      </p>
    </div>


  </div>

</div>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

		$('#my-work').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
        })

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

		$(".chzn-select").chosen();
		$("textarea").resizable();

		jQuery.validator.setDefaults({
		    success: function(label) {
					label
						.text('').addClass('valid')
						.closest('.control-group').addClass('success');
				}
		});


		$.validator.addClassRules("quantity", {
		    required: true,
		    number: true,
		    max: 999999.99
	    });
	    $.validator.addClassRules("optional-quantity", {
		    number: true,
		    max: 999999.99
	    });
		$.validator.addClassRules("url", { url: true });

		$('.commitmentForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},

			});
		});

		$('.timeForm').each( function(){
			var form = $(this);

			form.validate({
				highlight: function(label) {
					$(label).closest('.control-group').addClass('error');
				},

			});
		});

//		$('#todoForm').validate({
//		    rules: {
//			    'due_date': {
//			        date: true,
  //                  required: true
//				}
//			},
//			highlight: function(label) {
//				$(label).closest('.control-group').addClass('error');
//			},
//		});

//        {% for todo in todos %}
//		    $('#changeForm-{{ todo.id }}').validate({
//		        rules: {
//			        'CT-{{  todo.id }}-due_date': {
//			            date: true,
  //                      required: true
	//			    }
	//		    },
//			    highlight: function(label) {
//				    $(label).closest('.control-group').addClass('error');
//			    },
//		    });
  //      {% endfor %}

		$('.optional-quantity').blur(saveTime);
		$('.did').blur(saveDescription);

	}); // end document.ready

	function saveTime(event)
	{
        var timeInput = event.target;
        var id = timeInput.id.split('-')[0];;
        formId = "#timeForm-" + id;
        var fieldSelector = "#" + id + "-timeId";
        var isValid = $(formId).validate().element(fieldSelector);
        if (isValid)
        {
            var hours = timeInput.value;
            notifySaving();
		    var jqxhr = $.post("{% url "work_todo_time"  %}",  { todoId: id, hours: hours },
			    function( data )
			    {
				    notifySaved();
			    })
			    .fail(function()
			    {
				    notifyProblem();
			    }
		    );
        }
	}

    function saveDescription(event)
	{
        var didInput = event.target;
        var id = didInput.id.split('-')[0];;
        var did = didInput.value;
        notifySaving();
	    var jqxhr = $.post("{% url "work_todo_description"  %}",  { todoId: id, did: did },
		    function( data )
		    {
			    notifySaved();
		    })
		    .fail(function()
		    {
			    notifyProblem();
		    }
	    );
	}

	function notifySaving()
	{
		$("#saving").css("color","green");
		$("#saving").text("Saving...");
	}

	function notifySaved()
	{
		$("#saving").css("color","green");
		$("#saving").text("Saved");
	}

	function notifyProblem()
	{
		$("#saving").css("color","red");
		$("#saving").text("Problem saving");
	}

	$(document).ajaxSend(function(event, xhr, settings)
	{
		function getCookie(name)
		{
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '')
			{
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++)
				{
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '='))
					{
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
    	}

		function sameOrigin(url)
		{
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}

		function safeMethod(method)
		{
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		if (!safeMethod(settings.type) && sameOrigin(settings.url))
		{
		    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
		}
	});


    </script>

{% endblock %}
