{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load comments %}

{% block head_title %}
    {% trans "Not permitted" %}
{% endblock %}

{% block extra_head %}

<style>

</style>

{% endblock %}

{% block body_base %}
<div class="container">
        {% include "_messages.html" %}

  <div class="row">
    <div class="span5">
         <p>{% trans "Sorry, you do not have permission to access the requested page." %}</p>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script %}
{% endblock %}

{% block extra_body %}
{% endblock %}
