{% extends "work_base.html" %}


{% load i18n %}

{% block extra_head %}

<style>

/*body {
    font-family: Arial, sans-serif;
    width: 600px;
    margin: 0 auto;
}

.btn {
    padding-top: 2px;
    padding-bottom: 3px;
    font-weight: bold;
}

.log {
    padding: 0;

}
legend {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 15px;
}*/

</style>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="span12">
            <form method="POST" action="{% url "account_logout" %}" class="">
                <legend>{% trans "Log out of OCP" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to log out?" %}</p>
                    <div class="">
                        <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
